<div class="by_address_wrap">
    <div class="col-md-12" ng-repeat="address in pickupPoints track by $index" format-address="address.address">
        <div class="by_address_user">
            {{address.firstName}}
            <span ng-if="address.lastName">{{' '+ address.lastName}}</span>
        </div>
        <div class="by_address_text">
            <span ng-if="address.address.fullAddress">
                <strong>Address:&nbsp;</strong>
                <span>{{address.address.fullAddress}}</span>
            </span><br/>
        </div>
        <form name="pickupAddressForm" novalidate>
            <div class="by_editAdress_wrap">

                <div class="col-md-12 margin-bottom-20 marginRightMinus5">
                    <div class="col-md-5 required">
                        First Name
                    </div>
                    <div class="col-md-7 no-padding-right register-page">
                        <input type="text" ng-model="pickupDetails.firstName" class="username-textbox textbox"
                               name="firstName"
                               placeholder="Please enter a name of your company"
                               required/>
                        <span ng-show="pickupAddressForm.firstName.$invalid && submitted" class="errorRed">Please enter your name</span>
                    </div>
                </div>

                <div class="col-md-12 margin-bottom-20 marginRightMinus5">
                    <div class="col-md-5">
                        Last Name
                    </div>
                    <div class="col-md-7 no-padding-right register-page">
                        <input type="text" class="username-textbox textbox name-textbox" ng-model="pickupDetails.lastName"
                               name="lastName"/>
                    </div>
                </div>

                <div class="col-md-12 margin-bottom-20 marginRightMinus5" style="padding-left: 15px">
                    <div class="col-md-5 required">
                        Phone Number
                    </div>
                    <div class="col-md-7 no-padding-right register-page">
                        <input type="text" class="username-textbox textbox" name="phoneNumber"
                               ng-model="pickupDetails.phoneNumber"
                               placeholder="Telephone number" ng-pattern="/^[+\d-]*\d[\d-]$/" maxlength="17"
                               minlength="10" required>
                        <span ng-show="(pickupAddressForm.phoneNumber.$invalid || pickupAddressForm.phoneNumber.$error.pattern) && submitted"
                              class="errorRed">Not a valid number!</span>
                    </div>
                </div>


                <div class="col-md-12 margin-bottom-20 marginRightMinus5" style="padding-left: 15px">
                    <div class="col-md-5 required">
                        Email ID
                    </div>
                    <div class="col-md-7 no-padding-right register-page">
                        <input type="email" class="username-textbox textbox" name="email" ng-model="pickupDetails.email"
                               placeholder="Email" required/>
                        <span ng-show="(pickupAddressForm.email.$invalid || pickupAddressForm.email.$error.email) && submitted" class="errorRed">
                            Not valid Email!
                        </span>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="col-md-12 form-header-content margin-bottom-25 margin-top-20">
                <input type="button" value="Select &amp; Continue" class="btn btn-success pull-right register-btn by_btn_submit" ng-click="pickupFromAddress($index, pickupAddressForm)" style="padding:5px 40px;"/>
                <!--<button class="btn btn-success pull-right by_address_btn" style="margin-left:5px;"-->
                        <!--ng-click="pickupFromAddress(address)">-->
                    <!--Select this address-->
                <!--</button>-->
            </div>
        </form>

        <div class="clearfix"></div>
    </div>
</div>