<div class="clearfix" ></div>
<div class="col-md-12 white-gray" style="border:0px;">
    <div class="by_cart_head">
        <div class="by_cart_head_product">Product</div>
        <div class="by_cart_head_quantity by_cart_mobileHide">Quantity</div>
        <div class="by_cart_head_pricce by_cart_mobileHide">Price</div>
        <div class="by_cart_head_delivery by_cart_mobileHide">Delivery Charges</div>
        <div class="by_cart_head_subTotal by_cart_mobileHide">Sub Total</div>
        <div class="by_cart_head_delete by_cart_mobileHide"></div>
        <div class="clearfix"></div>
    </div>
    <div class="by_cart_desc" ng-repeat="cartItem in uiData.cartItems">
        <div class="by_cart_head_product text-capitalize">
            <img ng-src="{{cartItem.primaryMedia.url}}">
            <span>{{cartItem.name.toLowerCase()}}</span>

            <div class="clearfix"></div>
        </div>
        <div class="by_cart_head_quantity">
            <span class="by_cart_desc_mobile">Quantity: </span>

            <form name="f1" class="divLeft by_productDetail_contentQuantity">
                <button type="button" class="by_productDetail_contentQuantityButton" name="add" value="-"
                        ng-click="updateProductQuantity(cartItem, cartItem.quantity-1)">-
                </button>
                <input type="number" min="1" ng-blur="updateProductQuantity(cartItem, $event)"
                       class="by_productDetail_contentQuantityFeild" name="qty" ng-model="cartItem.quantity" id="qty"
                       required>
                <button type="button" class="by_productDetail_contentQuantityButton" name="add" value="+"
                        ng-click="updateProductQuantity(cartItem, cartItem.quantity+1)">+
                </button>
            </form>
            <div class="clearfix"></div>

            <div ng-show="cartItem.enterProperInput">
                <div class="error-message error-message-width">Enter Proper Input</div>
            </div>
            <div ng-if="cartItem.inventoryType === 'CHECK_QUANTITY'">
                <div class="error-message error-message-width" ng-if="cartItem.quantityAvailable === 0">Sorry! We are
                    Out Of Stock!
                </div>
                <div class="error-message error-message-width"
                     ng-if="cartItem.quantityAvailable > 0 && cartItem.quantity > cartItem.quantityAvailable">Available
                    quantity is {{cartItem.quantityAvailable}},<br>Enter less or equal quantity
                </div>
            </div>
            <div class="error-message error-message-width"
                 ng-if="cartItem.outOfStock || cartItem.inventoryType === 'UNAVAILABLE' || cartItem.inventoryType === null">
                Sorry! We are Out Of Stock!
            </div>
        </div>
        <div class="by_cart_head_pricce">
            <span class="by_cart_desc_mobile">Price: </span>
            <b>Rs.{{cartItem.salePrice.amount}}</b>
        </div>
        <div class="by_cart_head_delivery">
            <span class="by_cart_desc_mobile">Delivery details: </span>
            <span>
                <b>Rs.{{cartItem.productDeliveryCharges}}</b><br/>
                <!--<span class="color">Delivery by {{deliveryDate | date:"EEE, dd MMM"}} </span>-->
            </span>
        </div>
        <div class="by_cart_head_subTotal">
            <span class="by_cart_desc_mobile">Sub Total: </span>
            <b>Rs.{{cartItem.orderItemPriceDetails[0].totalAdjustedPrice.amount+cartItem.productDeliveryCharges}}</b>
        </div>
        <div class="by_cart_head_delete">
            <span class="close-delete-text" ng-click="removeItemFromCart(cartItem.id)">X</span>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="col-md-12 amount-payble margin-bottom-15"
         ng-if="uiData.orderAdjustments.length && uiData.cartItems.length">
        <ul class="pull-right list-inline aligned-list">
            <li class="margin-right-20">SubTotal</li>
            <li class="margin-right-20"><strong>Rs.
                {{uiData.subTotalAmount+uiData.totalProductDeliveryCharges}}</strong>
            </li>
        </ul>
    </div>
    <div class="col-md-12 amount-payble margin-bottom-15"
         ng-if="uiData.orderAdjustments.length && uiData.cartItems.length">
        <ul class="pull-right list-inline aligned-list" ng-repeat="discount in uiData.orderAdjustments"
            ng-if="discount.discountType === discountType.amountOff">
            <li class="margin-right-20"><span style="">(<span
                    style="color:rgb(0, 175, 80);">{{discount.promoCode}}</span> Promo Code Applied) </span>Discount
            </li>
            <li class="margin-right-20"><strong>- Rs. {{discount.discountAmount.toFixed(2)}}</strong>
            </li>
        </ul>
        <ul class="pull-right list-inline aligned-list" ng-repeat="discount in uiData.orderAdjustments"
            ng-if="discount.discountType === discountType.percentOff">
            <li class="margin-right-20"><span style="">(<span
                    style="color:rgb(0, 175, 80);">{{discount.promoCode}}</span> Promo Code Applied) </span>Discount:Percentage
                Off
            </li>
            <li class="margin-right-20"><strong>- {{discount.discountAmount.toFixed(2)}} %</strong>
            </li>
        </ul>
    </div>
    <div class="col-md-12 by_cart_desc">
        <div class="by_cart_desc_payble">
            Payable :
        </div>
        <div class="by_cart_desc_paybleRs">
            <strong>Rs. {{uiData.totalAmount}}</strong>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="col-md-12 no-padding by_cart_desc" style="margin-top:0px; padding-top:10px !important;">
        <form name="promoCodeForm" class="pull-left edit-address" novalidate="novalidate"
              ng-show="uiData.cartItems.length">
            <input type="text" name="promoCode" class="textbox textItalic by_promoCode_width" ng-model="promoCode"
                   required placeholder="PromoCode">
            <button class="btn-u button-apply by_cart_button" ng-click="validatePromoCode()">
                Apply
            </button>
            <span class="error-message" ng-if="promoCodeIsValid === 'invalid'"
                  role="alert">Entered promocode is invalid</span>
            <span class="error-message" ng-if="promoNotApplicable">This promoCode can not apply for this order</span>
        </form>
        <button type="button" class="btn-u pull-right by_cart_button" ng-click="selectAddress()" di-href="#!selectAddress/"
                ng-disabled="!uiData.cartItems.length" style="padding: 3px 30px;">
            Next
        </button>
    </div>
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="col-md-12 prodocutdetail paddingZero  ">
    <div class="line"></div>
</div>
<div class="clearfix"></div>

<div class="by_cart_call"></div>