<div class="by_registerLogin" ng-controller="LoginController">
	<div class="by_registerLogin_left" ng-class="{'by_registerLogin_left_full': storedUserEmail}" >
		<form class="" name="loginForm" ng-submit="loginUser(user)"  novalidate>
			<div class="by_registerLogin_head"><!--Login-->&nbsp;</div>

			<div ng-show="error">
				<span class='redColor'>{{error}}</span>
			</div>
			<div ng-show="message">
				<span class='greenColor'>{{message}}</span>
			</div>

			<div class=" col-md-12 no-padding margin-bottom-10 register-page">
				<input type="text" class="username-textbox textbox"
					placeholder="Please enter e-mail ID" ng-model="uniqueLoginId.id">
			</div>

			<span>
				<p ng-show="loginForm.email.$invalid && loginForm.email.$pristine"
					class="help-block">Email is required.</p>
			</span>

			<div class=" col-md-12 no-padding margin-bottom-10 register-page">
				<input type="password" class="username-textbox textbox"
					placeholder="Please enter your password" ng-model="user.password" required>
			</div>
			<span>
				<p ng-show="loginForm.password.$invalid && loginForm.password.$pristine"
					class="help-block">Password is required.</p>
			</span>
			<div class="col-md-12 no-padding form-header-content margin-bottom-20">
				<button class="btn btn-success pull-right login-btn by_btn_submit"
					ng-disabled="!loginForm.$valid" type="submit" style="margin-top:10px; border-radius:3px !important; width:100%;">LOGIN</button>
			</div>
			<div class="clearfix" style="height:10px;" ng-if="$root.windowWidth < 720"></div>
			<div class="by_registerLogin_center" style="text-align:left !important;">
				 <div ng-click="showForm(2)">Forgot password?</div>
			</div>
			<div class="clearfix" style="height:20px;"></div>

		</form>
	</div>

	<xyz ng-if="!storedUserEmail || storedUserEmail.trim().length === 0">
		<div class="or-divider mobileSite"></div>
		<div class="by_registerLogin_right">
			Use your social network <br/>account to login<br/>
			<div class="clearfix" style="height: 20px;"></div>
			<div class="dp-inline-block" ng-click="fbLogin()">
				<img src="assets/img/icons/fb-login.png" width="97" height="23"
					 class="post-text">
			</div>
			<div class="dp-inline-block padding-left-5" ng-click="ggLogin()">
				<img src="assets/img/icons/googleplus-login.png" width="82"
					 height="23" class="post-text">
			</div>
			<div class="clearfix" style="height: 20px;"></div>
			<span class="lock-icon"><img src="assets/img/icons/lock.png" width="8" height="11"></span>
			<span class="by_registerLogin_center2">BeautifulYears do not share your information</span>
			<div class="by_registerLogin_center by-register-button" style="margin-top:18px;">
				New user? 
				<button ng-click="by_RegisterPage();" class="btn btn-success pull-right register-btn by_btn_submit margin-top-10"
                        style="width:100%; border-radius:3px !important;">REGISTER NOW
                </button>
			</div>
		</div>

		
		
	</xyz>

	<div class="or-divider desktopSite" ng-if="!uniqueLoginId.id || uniqueLoginId.id.trim().length === 0"></div>

	<div class="clearfix"></div>
	
</div>

<div class="clearfix" style="height:20px;"></div>