<div class="row indvspacing" ng-controller="modifySignUpCtrl" ng-init="changePwd = true">
    <form  ng-if="showSuccessMsg == false" class="third-register-page grayRegisterBgLight" novalidate style="background:transparent;">
        <div class="col-md-12 whiteBg register-page padding20 borderShadow margin-bottom-20">
			<div class="addBasicInfo">&nbsp;</div>

            <div ng-if="userCredential.signUpErorr && userCredential.signUpErorr!=''">
                <span class='redColor'>{{userCredential.signUpErorr}}</span>
            </div>
            
            <div class="row margin-bottom-20  register-page">
                <div class="col-md-5">
                   Change password
                </div>
                <div class="col-md-7 no-padding-right register-page">
                    <input type="password" class="username-textbox textbox" 
                           class="name-textbox textbox grayBg" ng-model="userCredential.password"/>
                </div>
            </div>

			<div class="row margin-bottom-0  register-page">
				<input type="button" value="Submit" class="nextButton by_btn_submit" ng-click="modifyUserCredential()"/>
				<input type="button" value="Cancel" class="returnButton" ng-click="exit()">
				<div class="clearfix"></div>
			</div>
		</div>
    </form>

    <div ng-if="showSuccessMsg == true" class="third-register-page grayRegisterBgLight" style="background:transparent;">
        <div class="col-md-12 whiteBg register-page padding20 borderShadow margin-bottom-20">
            <div>
                Password changed successfully.
            </div>

            <div class="row margin-bottom-0  register-page">
                <input type="button" value="Return" class="returnButton" ng-click="exit()">
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
