<div class="by_directoryBannerTop"  style="position:relative; border-bottom:4px solid #008000"  >
  <div class="by_productList_banner" >
    <div class="headerHeightNoBreadCrumb margin-bottom-0"></div>
    <div class="">
           <div class="by_productList_bannerText">
             <h1> 
             <strong style=" padding-bottom:7px;">CLASSES & ACTVITIES</strong>
             <span >for Senior Citizens in Bangalore  </span>
              </h1>
              <div class="clearfix margin-bottom-40"></div>
         </div>
    </div>   
    <div class="clearfix"></div>
  </div>
  <div class="by_whiteBg">
       <div class="by_clAc_BannerTopText">
        <div class="by_productList_bannerTextWrap" style="padding:30px 0px; width:100%; ">
        <span>
            Technology, legal, creative, and more.  
                <div class="clearfix" style="height:5px;"></div>
            To register, <a href="tel:{{telNo}}" ng-if="$root.windowWidth < 721"><div class="by_callToActionButton" ><img src="assets/img/home/call.png?versionTimeStamp=1459503470417" alt="BeautifulYears Call"> Call
          </div></a> <xyz ng-if="$root.windowWidth > 720">call</xyz> <b>{{telNo}}</b>
        </span>
        </div><div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>

<div class="by_clAc_bannerImg">
 <img src="assets/img/classesActivities/community.png?versionTimeStamp=%PROJECT_VERSION%" width="100%" alt="Product Banner" />
</div>
</div>
<div class="by_grayBg" style="border-bottom:1px solid #008000">
    <div class="by_container">
        <div class="by_homeSection" style="padding: 20px 0px;">        
            <div class="by_homeSectionInside">
                <!-- <div class="by_clAc_eventHead">
                    Upcoming Events
                </div>
                <div class="by_clAc_eventThumb">
                    <a>
                    <div class="by_clAc_eventThumbImage">
                        <img src="assets/img/classesActivities/projecthappiness.png?versionTimeStamp=%PROJECT_VERSION%" alt="project happiness" width="100%"  />
                    </div>
                    <div class="by_clAc_eventThumbText">
                        April 24th "How to spank grandchildren"
                    </div>
                    </a>
                </div>
                <div class="by_clAc_eventThumb">
                    <a>
                    <div class="by_clAc_eventThumbImage">
                        <img src="assets/img/classesActivities/unprojecthappiness.png?versionTimeStamp=%PROJECT_VERSION%" alt="Un happiness project " width="100%"  />
                    </div>
                    <div class="by_clAc_eventThumbText">
                        April 29th "The Unhappiness project"
                    </div>
                    </a>
                </div>
                <div class="by_clAc_eventThumbRight">
                    <a>
                    <div class="by_clAc_eventThumbImage">
                        <img src="assets/img/classesActivities/robbanks.png?versionTimeStamp=%PROJECT_VERSION%" alt="rob banks " width="100%"  />
                    </div>
                    <div class="by_clAc_eventThumbText">
                        April 24th "How to rob banks"
                    </div>
                    </a>
                </div>
                <div class="clearfix"></div> -->

                <div class="by_homeModiWhy">                
                    <img src="assets/img/experience_store/book_full.png?versionTimeStamp=%PROJECT_VERSION%" width="" alt="Events" ng-if="$root.windowWidth > 830" />
                    <img src="assets/img/experience_store/book_full.png?versionTimeStamp=%PROJECT_VERSION%" width="690" alt="Events" ng-if="$root.windowWidth > 720 && $root.windowWidth < 831" />
                    <img src="assets/img/experience_store/book_mobile.png?versionTimeStamp=%PROJECT_VERSION%"  alt="Events" ng-if="$root.windowWidth > 440 && $root.windowWidth < 721" />
                    <img src="assets/img/experience_store/book_mobile.png?versionTimeStamp=%PROJECT_VERSION%" width="100%"  alt="Events" ng-if="$root.windowWidth < 441" />
                </div>
            </div>
        </div>
    </div>
</div>



<div class="by_whiteBg">
    <div class="by_container">
        <div class="by_homeSection" style="padding: 20px 0px;">        
            <div class="by_homeSectionInside">
                <div class="by_clAc_eventHead">
                    Past Events
                </div>
                <div class="by_clAc_eventThumb2">
                    <a href="https://www.beautifulyears.com/#!/communities/when-the-gurus-came-to-learn/?id=56f4ee4ee4b01f97c9bd730d">
                    <div class="by_clAc_eventThumbImage">
                        <img src="assets/img/classesActivities/photograph_1.png?versionTimeStamp=%PROJECT_VERSION%" alt="Smart phone for seniors" width="100%"  />
                    </div>
                    </a>
                </div>
                <div class="by_clAc_eventThumb2">
                    <a href="https://www.beautifulyears.com/#!/communities/where-theres-a-will-theres/?id=56ff28aee4b0ab2c2bef3a87">
                    <div class="by_clAc_eventThumbImage">
                        <img src="assets/img/classesActivities/photograph_2.png?versionTimeStamp=%PROJECT_VERSION%" alt="Inheritance laws and wills " width="100%"  />
                    </div>
                    </a>
                </div>
                <div class="by_clAc_eventThumb2">
                    <a href="https://www.beautifulyears.com/#!/communities/are-you-game/?id=570b9d47e4b05ba537c6208f">
                    <div class="by_clAc_eventThumbImage">
                        <img src="assets/img/classesActivities/photograph_3.png?versionTimeStamp=%PROJECT_VERSION%" alt="Time travel with fun and games " width="100%"  />
                    </div>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="by_container by_borderBottomGreen by_sallulatesOne">
    </div>
</div>

<div class="by_grayBg" style="border-bottom:1px solid #008000">
    <div class="by_container" style="position:relative; text-align:center;">
        <div class="by_homeSection" style="padding: 20px 0px;">        
            <div class="by_homeSectionInside">
                <div class="by_clAc_participants">
                    We are ready to conduct an event at any place, if there are 12 or more confirmed participants. <br/>
                    Please <a href="#!/contactUs">contact us  </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <img src="assets/img/classesActivities/event_pic.png?versionTimeStamp=%PROJECT_VERSION%" alt="participants" class="by_clAc_participantsImg" ng-if="$root.windowWidth > 720" />
        <img src="assets/img/classesActivities/community2.png?versionTimeStamp=%PROJECT_VERSION%" alt="participants" class="by_clAc_participantsImg" ng-if="$root.windowWidth < 721" />
    </div>
</div>

<div class="by_whiteBg" style="border-bottom:1px solid #008000">
    <div class="by_container" style="position:relative; text-align:center;">
        <div class="by_homeSection" style="padding: 20px 0px;">        
            <div class="by_homeSectionInside">
                <div class="by_clAc_volunteer">
                    Want to volunteer with us to conduct classes, workshops or activities for senior citizens?<br/>
                    Please <a href="#!/contactUs">contact us  </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <img src="assets/img/classesActivities/volunteer_pic.png?versionTimeStamp=%PROJECT_VERSION%" alt="volunteer" class="by_clAc_volunteerImg" />
    </div>
</div>


<div ng-include="'app/shared/footer/contactUsText.html?versionTimeStamp=%PROJECT_VERSION%'"></div>