

<div class="by_container ">

    <div class="headerHeightNoBreadCrumb margin-bottom-0"></div>
        <img src="assets/img/classesActivities/banner.png?versionTimeStamp=%PROJECT_VERSION%" alt="Classes and activites for senior citizens" width="100%"   />
       
   </div>
<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="by_whiteBg "  style="border-bottom:1px solid #008000">
    <div class="by_container">
        <div class="by_homeSection" style="padding: 20px 0px;">        
            <div class="by_homeSectionInside">
                <div class="by_clAcHeader">
                    <b>Only in Bangalore</b> - workshops on technology, legal, creative, and more!  <br/>
                    <b>Call +91 80694 00 333</b> to register and to ask about event schedule
                </div>
            </div>
        </div>    
    </div>
</div>
<div class="by_grayBg" style="border-bottom:1px solid #008000">
    <div class="by_container">
        <div class="by_homeSection" style="padding: 20px 0px;">        
            <div class="by_homeSectionInside">
                <div class="by_clAc_eventHead">
                    Upcoming Events
                </div>
                <div class="by_clAc_eventThumb">
                    <a>
                    <div class="by_clAc_eventThumbImage">
                        <img src="assets/img/classesActivities/projecthappiness.png?versionTimeStamp=%PROJECT_VERSION%" alt="project happiness" width="100%"  />
                    </div>
                    <div class="by_clAc_eventThumbText">
                        April 24th "How to spank grandchildren"
                    </div>
                    </a>
                </div>
                <div class="by_clAc_eventThumb">
                    <a>
                    <div class="by_clAc_eventThumbImage">
                        <img src="assets/img/classesActivities/unprojecthappiness.png?versionTimeStamp=%PROJECT_VERSION%" alt="Un happiness project " width="100%"  />
                    </div>
                    <div class="by_clAc_eventThumbText">
                        April 29th "The Unhappiness project"
                    </div>
                    </a>
                </div>
                <div class="by_clAc_eventThumbRight">
                    <a>
                    <div class="by_clAc_eventThumbImage">
                        <img src="assets/img/classesActivities/robbanks.png?versionTimeStamp=%PROJECT_VERSION%" alt="rob banks " width="100%"  />
                    </div>
                    <div class="by_clAc_eventThumbText">
                        April 24th "How to rob banks"
                    </div>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div class="by_contactUsGreen" >
    <b>Call us {{telNo}}</b> to register and ask about other events
</div>

<div class="by_whiteBg">
    <div class="by_container">
        <div class="by_homeSection" style="padding: 20px 0px;">        
            <div class="by_homeSectionInside">
                <div class="by_clAc_eventHead">
                    Past Events
                </div>
                <div class="by_clAc_eventThumb2">
                    <a>
                    <div class="by_clAc_eventThumbImage">
                        <img src="assets/img/classesActivities/photograph_1.png?versionTimeStamp=%PROJECT_VERSION%" alt="Smart phone for seniors" width="100%"  />
                    </div>
                    </a>
                </div>
                <div class="by_clAc_eventThumb2">
                    <a>
                    <div class="by_clAc_eventThumbImage">
                        <img src="assets/img/classesActivities/photograph_2.png?versionTimeStamp=%PROJECT_VERSION%" alt="Inheritance laws and wills " width="100%"  />
                    </div>
                    </a>
                </div>
                <div class="by_clAc_eventThumb2">
                    <a>
                    <div class="by_clAc_eventThumbImage">
                        <img src="assets/img/classesActivities/photograph_3.png?versionTimeStamp=%PROJECT_VERSION%" alt="Time travel with fun and games " width="100%"  />
                    </div>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="by_container by_borderBottomGreen by_sallulatesOne">
    </div>
</div>

<div class="by_grayBg" style="border-bottom:1px solid #008000">
    <div class="by_container" style="position:relative; text-align:center;">
        <div class="by_homeSection" style="padding: 20px 0px;">        
            <div class="by_homeSectionInside">
                <div class="by_clAc_participants">
                    We are ready to conduct an event at any place, if there are 12 or more confirmed participants. <br/>
                    Please <a href="#!/contactUs">contact us  </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <img src="assets/img/classesActivities/event_pic.png?versionTimeStamp=%PROJECT_VERSION%" alt="participants" class="by_clAc_participantsImg" />
    </div>
</div>

<div class="by_whiteBg" style="border-bottom:1px solid #008000">
    <div class="by_container" style="position:relative; text-align:center;">
        <div class="by_homeSection" style="padding: 20px 0px;">        
            <div class="by_homeSectionInside">
                <div class="by_clAc_volunteer">
                    Want to volunteer with us to conduct classes, workshops or activities for senior citizens?<br/>
                    Please <a href="#!/contactUs">contact us  </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <img src="assets/img/classesActivities/volunteer_pic.png?versionTimeStamp=%PROJECT_VERSION%" alt="volunteer" class="by_clAc_volunteerImg" />
    </div>
</div>


<div ng-include="'app/shared/footer/contactUsText.html?versionTimeStamp=%PROJECT_VERSION%'"></div>