<div class="by_headerTopBg">
    <div class="by_container">
        <div class="by_homeSection no-padding">
            <div class="by_homeSectionInside">  
                <h1 class="by_headerHomeModiText">
                    <span class="by_headerOne">
                        CLASSES & ACTIVITIES
                    </span>
                    <span class="by_headerTwo">
                        for Senior Citizens in Bangalore
                    </span>
                </h1>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="by_whiteBg" >
    <div class="by_container by_headerBorder3">
        <div class="by_homeSection" style="padding:15px 0px;">        
            <div class="by_homeSectionInside" style="position:relative;">
                <h2 class="by_headerBelowBlack" style="max-width:585px;">
                    Master smartphones, understand laws, get creative, and more. Visit our <a href="#!/experience-center">Experience Centre </a>
                </h2>
                 <img src="assets/img/home/home-classes-and-activities.png?versionTimeStamp=%PROJECT_VERSION%" width="100%" alt="Classes &amp; activities Banner"  class="by_clAc_bannerImg" style="bottom:-15px;" />
            </div>
        </div>    
    </div>
</div>
<div class="clearfix"></div>




<div class="by_grayBg" style="border-bottom:1px solid #008000">
    <div class="by_container">
        <div class="by_homeSection" style="padding: 20px 0px;">        
            <div class="by_homeSectionInside">
                <div class="by_clAc_eventHead">
                    Upcoming Events
                </div>
                <div class="by_clAc_eventThumb">
                    <div class="by_clAc_eventThumbImage">
                        <img src="assets/img/classesActivities/yoga.jpg?versionTimeStamp=%PROJECT_VERSION%" alt="Hatha Yoga for Seniors" width="100%"  />
                    </div>
                    <div class="by_clAc_eventThumbText">
                        May 7th, "Hatha Yoga for Seniors"
                    </div>
                </div>
                <div class="by_clAc_eventThumb">
                    <div class="by_clAc_eventThumbImage">
                        <img src="assets/img/classesActivities/security.jpg?versionTimeStamp=%PROJECT_VERSION%" alt="Security for Seniors" width="100%"  />
                    </div>
                    <div class="by_clAc_eventThumbText">
                        May 19th, "Security for Seniors"
                    </div>
                </div>

                <div class="by_clAc_eventThumbRight">
                    <div class="by_clAc_eventThumbImage">
                        <img src="assets/img/classesActivities/advanced-tech-class.jpg?versionTimeStamp=%PROJECT_VERSION%" alt="Tech Class for Seniors" width="100%"  />
                    </div>
                    <div class="by_clAc_eventThumbText">
                        May 31st, "Tech Class for Seniors"
                    </div>
                </div>
                <div class="clearfix"></div>

                <!-- <div class="by_homeModiWhy">                
                    <img src="assets/img/experience_store/book_full.png?versionTimeStamp=%PROJECT_VERSION%" width="" alt="Events" ng-if="$root.windowWidth > 830" />
                    <img src="assets/img/experience_store/book_full.png?versionTimeStamp=%PROJECT_VERSION%" width="690" alt="Events" ng-if="$root.windowWidth > 720 && $root.windowWidth < 831" />
                    <img src="assets/img/experience_store/book_mobile.png?versionTimeStamp=%PROJECT_VERSION%"  alt="Events" ng-if="$root.windowWidth > 440 && $root.windowWidth < 721" />
                    <img src="assets/img/experience_store/book_mobile.png?versionTimeStamp=%PROJECT_VERSION%" width="100%"  alt="Events" ng-if="$root.windowWidth < 441" />
                </div> -->
            </div>
        </div>
    </div>
    <div class="by_container  by_sallulatesOne">
    </div>
</div>


<div class="by_container by_homeCallBg">
    <div class="by_homeSection" style="padding: 10px 0px;">
        <div class="by_homeSectionInside">
            <div class="by_homeModiWhy by_homeModiWhiteColor">
                For registration <a title="{{telNo}}" href="tel:{{telNo}}" ng-if="$root.windowWidth < 721"> 
                    <div class="by_callToActionButton">
                        <img src="assets/img/home/call.png?versionTimeStamp=1459503470417" alt="BeautifulYears Call"> 
                        call 
                    </div>
                </a> 
                <xyz ng-if="$root.windowWidth > 720"> Call </xyz> <b>{{telNo}}</b>
                or <u><a href="#!/contactUs" style="color:#fff;">contact us</a></u>
            </div>
        </div>
    </div>
</div>


<div class="by_whiteBg">
    <div class="by_container">
        <div class="by_homeSection" style="padding: 20px 0px;">        
            <div class="by_homeSectionInside">
                <div class="by_clAc_eventHead">
                    Past Events
                </div>
                <div class="by_clAc_eventThumb">
                    <a href="https://www.beautifulyears.com/#!/communities/are-you-game/?id=570b9d47e4b05ba537c6208f">
                    <div class="by_clAc_eventThumbImage">
                        <img src="assets/img/classesActivities/time_travel.jpg?versionTimeStamp=%PROJECT_VERSION%" alt="Wills & Inheritance " width="100%"  />
                    </div>
                    <div class="by_clAc_eventThumbImageText">
                        Are you game?
                    </div>
                    </a>
                </div>
                <div class="by_clAc_eventThumb">
                    <a href="https://www.beautifulyears.com/#!/communities/where-theres-a-will-theres/?id=56ff28aee4b0ab2c2bef3a87">
                    <div class="by_clAc_eventThumbImage">
                        <img src="assets/img/classesActivities/inheritance.jpg?versionTimeStamp=%PROJECT_VERSION%" alt="Where theres a will theres" width="100%"  />
                    </div>
                    <div class="by_clAc_eventThumbImageText">
                        Where there's a will, there's
                    </div>
                    </a>
                </div>

                <div class="by_clAc_eventThumbRight">
                        <a href="https://www.beautifulyears.com/#!/communities/when-the-gurus-came-to-learn/?id=56f4ee4ee4b01f97c9bd730d">
                        <div class="by_clAc_eventThumbImage">
                            <img src="assets/img/classesActivities/tech_class.jpg?versionTimeStamp=%PROJECT_VERSION%" alt="when the gurus came to learn" width="100%"  />
                        </div>
                        <div class="by_clAc_eventThumbImageText">
                            When the gurus came to learn...
                        </div>
                        </a>
                    </div>

                <div class="clearfix"></div>

                <button id="morePastEvents"  class="nextButton by_btn_submit" ng-click="showAll()">More...
                </button>
                <span id="morePastEventsShow">
                    
                    <div class="by_clAc_eventThumb">
                        <a href="https://www.beautifulyears.com/#!/communities/money-matters-workshop/?id=5721ecdce4b02928f2cf3487">
                        <div class="by_clAc_eventThumbImage">
                            <img src="assets/img/classesActivities/money_matters.jpg?versionTimeStamp=%PROJECT_VERSION%" alt="money matters" width="100%"  />
                        </div>
                        <div class="by_clAc_eventThumbImageText">
                            Money matters workshop
                        </div>
                        </a>
                    </div>
                    <div class="by_clAc_eventThumb">
                        <a href="https://www.beautifulyears.com/#!/communities/the-happiness-project-again/?id=570ccda1e4b05ba537c6288f">
                        <div class="by_clAc_eventThumbImage">
                            <img src="assets/img/classesActivities/happiness_project.jpg?versionTimeStamp=%PROJECT_VERSION%" alt="the happiness project again" width="100%"  />
                        </div>
                        <div class="by_clAc_eventThumbImageText">
                            The happiness projest, Again
                        </div>
                        </a>
                    </div>


                    <div class="clearfix"></div>
                </span>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="by_container by_borderBottomGreen by_sallulatesOne">
    </div>
</div>

<div class="by_grayBg" style="border-bottom:1px solid #008000">
    <div class="by_container" >
        <div class="by_homeSection" style="padding: 20px 0px;">        
            <div class="by_homeSectionInside" style="position:relative; text-align:center;">
                <div class="by_clAc_participants">
                    We are ready to conduct an event at any place, if there are 12 or more confirmed participants. <br/>
                    Please <a href="#!/contactUs">contact us  </a>
                </div>
                <div class="clearfix"></div>
                <img src="assets/img/classesActivities/event.png?versionTimeStamp=%PROJECT_VERSION%" alt="participants" class="by_clAc_participantsImg"  />
            </div>
        </div>        
    </div>
</div>

<div class="by_whiteBg" style="border-bottom:1px solid #008000">
    <div class="by_container" >
        <div class="by_homeSection" style="padding: 20px 0px;">        
            <div class="by_homeSectionInside" style="position:relative; text-align:center;">
                <div class="by_clAc_volunteer">
                    Want to volunteer with us to conduct classes, workshops or activities for senior citizens?<br/>
                    Please <a href="#!/contactUs?subject=2">contact us  </a>
                </div>
                <div class="clearfix"></div>
                <img src="assets/img/classesActivities/volunteer_pic.png?versionTimeStamp=%PROJECT_VERSION%" alt="volunteer" class="by_clAc_volunteerImg" />
            </div>
        </div>        
    </div>
</div>


<div ng-include="'app/shared/footer/contactUsText.html?versionTimeStamp=%PROJECT_VERSION%'"></div>