<!--<div style="display: none;">
    <h1>{{selectedMenu.displayMenuName}}</h1>

    <h2>Elder care products, Senior care products</h2>
</div>-->
<!--Desktop Menu-->
<div class="by_subMenuPlus" ng-if="$root.windowWidth > 720" ng-init="expandParent()" element-resize
     callback="setContentHeight">
    <div class="clearfix"></div>
    <div class="by_menuHeadFind  margin-top-10">
        Find Products
    </div>
    <div class="by_menuHeadFindArrow"></div>
    <div class="clearfix"></div>
    <ul class="nav nav-list" ng-init="smartScroll();">
        <li ng-repeat="menu in $root.menuCategoryMapByName['Products'].children" id="{{menu.id}}" class="byTreeMenu-wrapper"
            ng-if="menu.module == menuConfig.modules['product'].moduleId">
            <a ng-if="menu.children.length === 0" class="by_treeMenuText"
               ng-href="{{menuConfig.moduleConfig[menu.module].baseUrl}}/{{getSlug(menu.displayMenuName)}}/{{menu.id}}"
               style="display: inline-block; width:100%;"
               
               ng-class="{'by_treeMenuTextActive': (menu.id == selectedParent.id) || (menu.id == selectedMenuId)}">
                {{menu.displayMenuName}}
            </a>

            <a ng-if="menu.children.length > 0" class="by_treeMenuText tree-toggler nav-header" ng-href="{{menuConfig.moduleConfig[menu.module].baseUrl}}/{{getSlug(menu.displayMenuName)}}/{{menu.id}}"
               ng-click="toggleMenu($event);" style="display: inline-block; width:calc(100% - 40px);"
               ng-class="{'by_treeMenuTextActive': (menu.id == selectedParent.id) || (menu.id == selectedMenuId)}">
                {{menu.displayMenuName}}
            </a>
            <a ng-if="menu.children.length > 0" class="by_treeMenuIcon tree-toggler nav-header"
               ng-click="toggleMenu($event);"
               style="display: inline-block; width:30px;"></a>

            <ul ng-if="menu.children.length > 0" class="nav nav-list tree by_treeSubMenu_Wrapper"
                ng-init="expandParent(menu.id)">
                <li ng-repeat="submenu1 in menu.children" id="{{submenu1.id}}" ng-init="expandParent(submenu1.id)">
                    <a class="by_treeSubMenu"
                       ng-class="{'by_treeSubMenu_active': submenu1.id == selectedMenuId}"

                       ng-href="{{menuConfig.moduleConfig[menu.module].baseUrl}}/{{getSlug(submenu1.displayMenuName)}}/{{submenu1.id}}">{{submenu1.name}}</a>
                </li>
            </ul>
        </li>
    </ul>

    <div class="clearfix"></div>
    <!--<div class="by_editorButtonWrap">
        <div class="col-md-12 col-xs-12 col-sm-12  by_editorButtonWrap_thumb"
             ng-click="showEditorPage()" ng-init="initScroll()" >
            <i class="sprite sprite-question divLeft"></i>
            <span class="divLeft by_editorButtonHead">Ask our experts</span>

            <div class="clearfix"></div>
            <div class="by_editorButtonText col-md-12">
                Type any question about {{selectedMenu.displayMenuName}}
            </div>

        </div>
        <div class="clearfix"></div>

        <div class="col-md-12 by_editorButtonViews" ng-repeat="menu in $root.menuCategoryMapByName['E-Shop'].children"
             ng-if="menu.module == menuConfig.modules['discuss'].moduleId">
            <a href="#!/products/review/{{menu.id}}/">
                View previous<br/> question &amp; overviews
            </a>
        </div>
        <div class="clearfix"></div>
    </div>-->
    <div class="col-md-12 menuDivider">
        <img src="assets/img/home/line.png?versionTimeStamp=%PROJECT_VERSION%" width="100%" height="1"
             alt="Menu Divider"/>
    </div>
   <!--  <div class="col-md-12 by_editorButtonViews" ng-repeat="menu in $root.menuCategoryMapByName['Products'].children"
         ng-if="menu.module == menuConfig.modules['discuss'].moduleId && showContact.showContactNumber == false">
        <a href="#!/shop/review/{{menu.id}}/">
            Questions &amp; Reviews
        </a>
    </div> -->
    <!--<div ng-if="selectedMenu.id != $root.byTopMenuId">
        <div class="col-md-12">Can't find what you need? Want to rent?</div>
        <div class="clearfix"></div>
        <div class="by_menuContactNumber">
            <i class="fa fa-phone2"></i> {{telNo}}
        </div>
    </div>-->
    <div class="clearfix"></div>
</div>


<!--Mobile Menu-->
<div class="by_mobile_leftPanel_hide" ng-if="$root.windowWidth < 720">
    <div class="by_mobile_leftPanel">
        <div class="by_subMenuPlus" style="max-width:100%; height:100%; overflow-y:auto;">
            <div class="clearfix"></div>
            <div class="by_menuHeadFind  margin-top-10">
                Find Products
            </div>
            <div class="by_menuHeadFindArrow"></div>
            <div class="clearfix"></div>
            <ul class="nav nav-list">
                <li ng-repeat="menu in $root.menuCategoryMapByName['Products'].children" id="{{menu.id}}"
                    class="byTreeMenu-wrapper" ng-if="menu.module == menuConfig.modules['product'].moduleId">
                    <a ng-if="menu.children.length === 0"
                       ng-href="{{menuConfig.moduleConfig[menu.module].baseUrl}}/{{getSlug(menu.displayMenuName)}}/{{menu.id}}"
                       class="by_treeMenuText"
                       style="display: inline-block; width:100%;"
                       ng-class="{'by_treeMenuTextActive': (menu.id == selectedParent.id) || (menu.id == selectedMenuId)}">
                        {{menu.displayMenuName}}
                    </a>

                    <a ng-if="menu.children.length > 0" class="by_treeMenuText tree-toggler nav-header" ng-href="{{menuConfig.moduleConfig[menu.module].baseUrl}}/{{getSlug(menu.displayMenuName)}}/{{menu.id}}"
                       ng-click="toggleMenu($event)"
                       style="display: inline-block; width:calc(100% - 40px);"
                       ng-class="{'by_treeMenuTextActive': (menu.id == selectedParent.id) || (menu.id == selectedMenuId)}">
                        {{menu.displayMenuName}}
                    </a>
                    <a ng-if="menu.children.length > 0" class="by_treeMenuIcon tree-toggler nav-header"
                       ng-click="toggleMenu($event)"
                       style="display: inline-block; width:30px;"></a>

                    <ul ng-if="menu.children.length > 0" class="nav nav-list tree by_treeSubMenu_Wrapper"
                        ng-init="expandParent(menu.id)">
                        <li ng-repeat="submenu1 in menu.children" id="{{submenu1.id}}"
                            ng-init="expandParent(submenu1.id)">
                            <a class="by_treeSubMenu"
                               ng-class="{'by_treeSubMenu_active': submenu1.id == selectedMenuId}"
                               ng-href="{{menuConfig.moduleConfig[menu.module].baseUrl}}/{{getSlug(submenu1.displayMenuName)}}/{{submenu1.id}}">{{submenu1.name}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!--<div class="by_editorButtonWrap">
                <div class="col-md-12 col-xs-12 col-sm-12  by_editorButtonWrap_thumb"
                     ng-click="showEditorPage()" ng-init="initScroll()">
                    <i class="sprite sprite-question divLeft"></i>
                    <span class="divLeft by_editorButtonHead">Ask our experts</span>

                    <div class="clearfix"></div>
                    <div class="by_editorButtonText col-md-12">
                        Type any question about {{selectedMenu.displayMenuName}}
                    </div>

                </div>
                <div class="clearfix"></div>

                <div class="col-md-12 by_editorButtonViews" ng-repeat="menu in $root.menuCategoryMapByName['E-Shop'].children"
                     ng-if="menu.module == menuConfig.modules['discuss'].moduleId">
                    <a href="#!/products/review/{{menu.id}}/">
                        View previous<br/> question &amp; overviews
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>-->
            <div class="col-md-12 menuDivider">
                <img src="assets/img/home/line.png?versionTimeStamp=%PROJECT_VERSION%" width="100%" height="1"
                     alt="Menu Divider"/>
            </div>
            <!-- <div class="col-md-12 by_editorButtonViews" ng-repeat="menu in $root.menuCategoryMapByName['Products'].children"
                 ng-if="menu.module == menuConfig.modules['discuss'].moduleId && showContact.showContactNumber == false">
                <a href="#!/shop/review/{{menu.id}}/">
                    Questions &amp; Reviews
                </a>
            </div> -->
            <!--<div ng-if="showContact.showContactNumber == true">
                <div class="col-md-12">Can't find what you need? Want to rent?</div>
                <div class="clearfix"></div>
                <a ng-href="{{'tel:'+telNo}}">
                    <div class="by_menuContactNumber">
                        <i class="fa fa-phone2"></i> {{telNo}}
                    </div>
                </a>
            </div>-->
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="by_mobile_leftPanel_image" ng-click="subMenuTabMobileShow();"></div>
</div>

