<div class="col-md-12">
<ul class="pagination" ng-init="initPageArray()">
    <!--<li ng-click="firstPageSet()"><a>First</a></li>-->
    <li ng-click="previousPageSet(selectedPageNo-1)" ng-class="{disabled:prevDisabled}"><a><i class="fa fa-angle-left by_moreArrowPagination"></i></a></li>
    <li ng-repeat="page in pageArray track by $index"
        ng-class="{true:'active'}[page===selectedPageNo]"
        ng-click="selectPage(page)">
        <a>{{page+1}}</a>
    </li>
    <li>... of &nbsp;{{contentPagination.noOfPages}} &nbsp;</li>
    <li ng-click="nextPageSet(selectedPageNo+1)" ng-class="{disabled:nextDisabled}"><a><i class="fa fa-angle-right by_moreArrowPagination"></i></li>
    <!--<li ng-click="lastPageSet()" ng-class="{disable:lastDisabled}"><a>Last</a></li>-->
    <div class="clearfix"></div>
</ul>
</div>