<div class="col-md-12">
    <div class="by_viewMoreButton" align="center">
        <a ng-href="{{getPageLocation(selectedPageNo+1)}}">More <i class="fa fa-angle-right by_moreArrowView"></i></a>
    </div>
    <ul class="pagination discussPagination" ng-init="initPageArray()" ng-class="{'discussPagination2': maxPageSize > pageArray.length}">
        <!--<li ng-click="firstPageSet()"><a>First</a></li>-->
        <li ng-class="{disabled:prevDisabled}">
            <a ng-href="{{getPageLocation(selectedPageNo-1)}}"><i class="fa fa-angle-left by_moreArrowPagination"></i></a>
        </li>
        <li ng-repeat="page in pageArray track by $index"
            ng-class="{true:'active'}[page===selectedPageNo]"
            ng-click="selectPage(page)">
            <a ng-href="{{getPageLocation(page)}}">{{page+1}}</a>
        </li>
        <li>... of &nbsp;{{totalNoPages}} &nbsp;</li>
        <li ng-class="{disabled:nextDisabled}">
            <a ng-href="{{getPageLocation(selectedPageNo+1)}}"><i class="fa fa-angle-right by_moreArrowPagination"></i></a>
        </li>
        <!--<li ng-click="lastPageSet()" ng-class="{disable:lastDisabled}"><a>Last</a></li>-->
        <div class="clearfix"></div>
    </ul>
</div>