<div class="by_productHome_newArrivalWrap">
    <div class="by_productHome_newArrivalThumb">
        <a href="#!/magnifying-lens-stand-with-nail-cutter/pd/10431">
            <div class="by_productHome_newArrivalThumbImage">
                <img src="assets/img/product/magnifying1.png?versionTimeStamp=%PROJECT_VERSION%"/>
            </div>
            <div class="by_productHome_newArrivalThumbTitle">
                Nail Cutter With Magnifying Lens
            </div>
            <div class="by_productHome_newArrivalThumbOffer">
                <del>Rs <b>428.00</b></del>
                <span>(19.6% off)</span>
            </div>
            <div class="by_productHome_newArrivalThumbPrice">
                Rs <b>344.00</b>
            </div>
        </a>
    </div>
    <div class="by_productHome_newArrivalThumb">
        <a href="#!/easy-gripper/pd/10417">
            <div class="by_productHome_newArrivalThumbImage">
                <img src="assets/img/product/na_02.jpg?versionTimeStamp=%PROJECT_VERSION%"/>
            </div>
            <div class="by_productHome_newArrivalThumbTitle">
                Easy Gripper
            </div>
            <div class="by_productHome_newArrivalThumbOffer">
                <del>Rs <b>129.00</b></del>
                <span>(10.8% off)</span>
            </div>
            <div class="by_productHome_newArrivalThumbPrice">
                Rs <b>115.00</b>
            </div>
        </a>
    </div>
    <div class="by_productHome_newArrivalThumb">
        <a href="#!/shoe-horn-large/pd/10439">
            <div class="by_productHome_newArrivalThumbImage">
                <img src="assets/img/product/na_03.jpg?versionTimeStamp=%PROJECT_VERSION%"/>
            </div>
            <div class="by_productHome_newArrivalThumbTitle">
                Shoe Horn (Large)
            </div>
            <div class="by_productHome_newArrivalThumbOffer">
                <del>Rs <b>730.00</b></del>
                <span>(10.5% off)</span>
            </div>
            <div class="by_productHome_newArrivalThumbPrice">
                Rs <b>653.00</b>
            </div>
        </a>
    </div>
    <div class="by_productHome_newArrivalThumb">
        <a href="#!/magnifying-lens-with-led/pd/10432">
            <div class="by_productHome_newArrivalThumbImage">
                <img src="assets/img/product/magnifying2.png?versionTimeStamp=%PROJECT_VERSION%"/>
            </div>
            <div class="by_productHome_newArrivalThumbTitle">
                Magnifying Lens with LED
            </div>
            <div class="by_productHome_newArrivalThumbOffer">
                <del>Rs <b>730.00</b></del>
                <span>(10.5% off)</span>
            </div>
            <div class="by_productHome_newArrivalThumbPrice">
                Rs <b>653.00</b>
            </div>
        </a>
    </div>
    <div class="by_productHome_newArrivalThumb">
        <a href="#!/talking-clock/pd/10442">
            <div class="by_productHome_newArrivalThumbImage">
                <img src="assets/img/product/na_05.jpg?versionTimeStamp=%PROJECT_VERSION%"/>
            </div>
            <div class="by_productHome_newArrivalThumbTitle">
                Talking Clock
            </div>
            <div class="by_productHome_newArrivalThumbOffer">
                <del>Rs <b>966.00</b></del>
                <span>(8.6% off)</span>
            </div>
            <div class="by_productHome_newArrivalThumbPrice">
                Rs <b>882.00</b>
            </div>
        </a>
    </div>

    <div class="clearfix"></div>
</div>

<div class="by_productAll">
    <a href="#!/shop/all/55bcad7be4b08970a736784b">
        View All Products
    </a>
</div>
<div class="clearfix"></div>