<div style="overflow-x:hidden;" cg-busy="{promise:promise,backdrop:true,templateUrl:'app/shared/common/template/preloader.html'}" >



<div class="by_productVideoThumb1 divLeft" >
  <div class="by_productVideoThumbHead">
    <a href="elder-care-products/mobility/10212">Mobility</a>
  </div>
  <div class="by_productVideoThumbVideo">
    <div class="by_expVideoShow4" >
      <a href="elder-care-products/mobility/10212"><img src="assets/img/product/mobility.png?versionTimeStamp=%PROJECT_VERSION%" alt="Mobility Video" width="100%"  /></a>
      <div class="by_expVideoShowVideoIconVideo" ng-click="showVideo4();">
        Watch our video <img src="assets/img/product/Play.png?versionTimeStamp=%PROJECT_VERSION%" alt="Mobility Video" width="33" />
      </div>
    </div>
    <iframe id="by_expVideoFrame4" width="100%" height="" src="https://www.youtube.com/embed/W_OtlOhf0i8?rel=0&showinfo=0&autoplay=0" frameborder="0" allowfullscreen ></iframe>
  </div>
</div>

<div class="by_productVideoThumb2 divLeft">
  <div class="by_productVideoThumbHead">
    <a href="elder-care-products/bed-&-bedroom/10213">Bed and Bedroom</a>
  </div>
  <div class="by_productVideoThumbVideo">
    <div class="by_expVideoShow1" >
      <a href="elder-care-products/bed-&-bedroom/10213"><img src="assets/img/product/bed-and-bedroom.png?versionTimeStamp=%PROJECT_VERSION%" alt="Bed and Bedroom Video" width="100%"  /></a>
      <div class="by_expVideoShowVideoIconVideo" ng-click="showVideo1();">
        Watch our video <img src="assets/img/product/Play.png?versionTimeStamp=%PROJECT_VERSION%" alt="Bed and Bedroom Video" width="33" />
      </div>
    </div>
    <iframe id="by_expVideoFrame1" width="100%" height="" src="https://www.youtube.com/embed/G7iQyQM9o78?rel=0&showinfo=0&autoplay=0" frameborder="0" allowfullscreen ></iframe>
  </div>
</div>

<div class="by_productVideoThumb3 divLeft">
  <div class="by_productVideoThumbHead">
    <a href="elder-care-products/daily-aids/10225">Daily Aids</a>
  </div>
  <div class="by_productVideoThumbVideo">
    <div class="by_expVideoShow2" >
      <a href="elder-care-products/daily-aids/10225"><img src="assets/img/product/daily-aids.png?versionTimeStamp=%PROJECT_VERSION%" alt="Daily Aids Video" width="100%"  /></a>
      <div class="by_expVideoShowVideoIconVideo" ng-click="showVideo2();">
        Watch our video <img src="assets/img/product/Play.png?versionTimeStamp=%PROJECT_VERSION%" alt="Daily Aids Video" width="33"/>
      </div>
    </div>
    <iframe id="by_expVideoFrame2" width="100%" height="" src="https://www.youtube.com/embed/pE8EShECqmA?rel=0&showinfo=0&autoplay=0" frameborder="0" allowfullscreen ></iframe>
  </div>
</div>

<div class="by_productVideoThumb4 divLeft">
  <div class="by_productVideoThumbHead">
    <a href="elder-care-products/washing-&-toileting/10214">Washing &amp; Toileting</a>
  </div>
  <div class="by_productVideoThumbVideo">
    <div class="by_expVideoShow3">
      <a href="elder-care-products/washing-&-toileting/10214"><img src="assets/img/product/washing-and-toileting.png?versionTimeStamp=%PROJECT_VERSION%" alt="Washing &amp; Toileting Video" width="100%"  /></a>
      <div class="by_expVideoShowVideoIconVideo"  ng-click="showVideo3();">
        Watch our video <img src="assets/img/product/Play.png?versionTimeStamp=%PROJECT_VERSION%" alt="Washing &amp; Toileting Video"  width="33"/>
      </div>
    </div>
    <iframe id="by_expVideoFrame3" width="100%" height="" src="https://www.youtube.com/embed/hPR5Wf3MlTc?rel=0&showinfo=0&autoplay=0" frameborder="0" allowfullscreen ></iframe>
  </div>
</div>
<div class="by_productVideoThumb5 divLeft">
  <div class="by_productVideoThumbHead">
    <a href="elder-care-products/medical-conditions/10200">Medical Conditions</a>
  </div>
  <div class="by_productVideoThumbImage">
    <a href="elder-care-products/medical-conditions/10200">
      <img src="assets/img/section_headers/medical-conditions.png?versionTimeStamp=%PROJECT_VERSION%" alt="Medical Conditions" width="82%"  />
    </a>
  </div>
</div>
<div class="by_productVideoThumb6 divLeft">
  <div class="by_productVideoThumbHead">
    <a href="elder-care-products/fitness-&-rehab/10231">Fitness &amp; Rehab</a>
  </div>
  <div class="by_productVideoThumbImage">
    <a href="elder-care-products/fitness-&-rehab/10231">
      <img src="assets/img/section_headers/fitness-rehab.png?versionTimeStamp=%PROJECT_VERSION%" alt="Fitness &amp; Rehab" width="82%"  />
    </a>
  </div>
</div>
<div class="by_productVideoThumb7 divLeft">
  <div class="by_productVideoThumbHead">
    <a href="elder-care-products/orthopaedic-support/10219">Orthopaedic Support</a>
  </div>
  <div class="by_productVideoThumbImage">
    <a href="elder-care-products/orthopaedic-support/10219">
      <img src="assets/img/section_headers/ortho.png?versionTimeStamp=%PROJECT_VERSION%" alt="Orthopaedic Support" width="82%"  />
    </a>
  </div>
</div>
<div class="by_productVideoThumb8 divLeft">
  <div class="by_productVideoThumbHead">
    <a href="elder-care-products/gift-ideas/10700">Gift Ideas</a>
  </div>
  <div class="by_productVideoThumbImage">
    <a href="elder-care-products/gift-ideas/10700">
      <img src="assets/img/section_headers/gift-idea.png?versionTimeStamp=%PROJECT_VERSION%" alt="Gift Ideas" width="82%"  />
    </a>
  </div>
</div>

<div class="by_productVideoThumb9 divLeft" ng-if="$root.windowWidth > 920">
  <div class="by_productVideoThumbHead">
    <a href="elder-care-products/all/55bcad7be4b08970a736784b" style="text-decoration:none; border-bottom:5px solid transparent;">&nbsp;</a>
  </div>
  <div class="by_productVideoThumbImage" style="background:#008000">
    <a href="elder-care-products/all/55bcad7be4b08970a736784b">
      <img src="assets/img/section_headers/view-all-products.jpg?versionTimeStamp=%PROJECT_VERSION%" alt="All products" width="82%"  />
    </a>
  </div>
</div>
<div class="clearfix"></div>
<div class="by_productAllHome" ng-if="$root.windowWidth < 921">
    <a href="elder-care-products/all/55bcad7be4b08970a736784b">
        View All Products
    </a>
</div>


<div class="clearfix"></div>



<div class="by_productHome_title">Featured Products</div>

<div class="by_featuredProduct_wrapper" >
  <div class="by_featuredProduct_prevBtn" ng-click="slideGallery('l')">
    <img src="assets/img/icons/arrow_left_over.png?versionTimeStamp=%PROJECT_VERSION%" width="100%" />
  </div>
  <div class="by_featuredProduct_nextBtn" ng-click="slideGallery('r')">
     <img src="assets/img/icons/arrow_right_over.png?versionTimeStamp=%PROJECT_VERSION%" width="100%" />
  </div>
  <div class="by_featuredProduct_middle">
  <div class="by_featuredProduct_wrapperInside" ng-style="{'width': products.length*byFeaWidSpace + 'px'}">

    <div ng-repeat="product in products"  class="fpInline">

      <div class="by_featuredProductCard col-md-6" ng-init="feWidth();">
      <!--  ng-click="openProductDescription(product.id, product.name)"-->
      <a href="{{productUrl(product.id, product.name, product.categoryName)}}" ng-click="$event.stopPropagation();">
      <div class="by_productCard_Image" ng-init="getDiscountPercentage(product)">
        <img ng-if="product.primaryMedia != null" ng-src="{{product.primaryMedia.url || ''}}"
        fallback-src='["assets/img/by.png"]' alt="{{product.name}}">
        <div class="clearfix"></div>
        <div class="by_productCard_ImageOffer" ng-if="product.discountPercentage && product.discountPercentage >= 5">{{product.discountPercentage}}% <br/><small>off</small></div>
      </div>
      <div class="by_productCard_title ellipsisHead" style="height:50px;">{{product.name}}</div>
      </a>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
</div>


</div>

 
<div class="clearfix margin-top-20">&nbsp;</div>

<div class="by_homeCallBg">
  <div class="by_homeModiWhy by_homeModiWhiteColor">
    <a href="app/components/product/product-catalog.pdf" target="_blank" style="color:#fff; padding:2px 15px;"> <img src="assets/img/logo_symbol.png?versionTimeStamp=%PROJECT_VERSION%" alt="Logo" width="35" /> Click to download our Product catalogue in PDF format</a>
  </div>
</div>

<div class="clearfix margin-top-20">&nbsp;</div>
