<div style="overflow-x:hidden;" cg-busy="{promise:promise,backdrop:true,templateUrl:'app/shared/common/template/preloader.html'}">

<div class="by_product_twoRow" ng-if="$root.windowWidth > 980">
  <div class="by_product_twoRowThumb divLeft">
    <a href="#!/shop/medical-conditions/10200">
    <img src="assets/img/product/medical_conditions.jpg?versionTimeStamp=%PROJECT_VERSION%" width="100%" alt="Medical Conditions" />
    <div class="clearfix"></div>
    <div class="by_product_rowText">
      Medical Conditions
      <div class="clearfix"></div>
    </div>
    </a>
  </div>
  <div class="by_product_twoRowThumb divRight">
    <a href="#!/shop/orthopaedic-support/10219">
    <img src="assets/img/product/orthopaedics_support.jpg?versionTimeStamp=%PROJECT_VERSION%" width="100%" alt="Orthopaedics Support" />
    <div class="clearfix"></div>
    <div class="by_product_rowText">
      Orthopaedics Support
      <div class="clearfix"></div>
    </div>
    </a>
  </div>
  <div class="clearfix"></div>
</div>

<div class="by_product_threeRow" ng-if="$root.windowWidth > 980"> 
    <div class="by_product_threeRowOne divLeft">
      <div class="by_product_threeRowThumb">
        <a href="#!/shop/bedroom/10213">
        <img src="assets/img/product/bedroom.jpg?versionTimeStamp=%PROJECT_VERSION%" width="100%" alt="Bedroom" />
        <div class="clearfix"></div>
        <div class="by_product_rowText">
          Bedroom
          <div class="clearfix"></div>
        </div>
        </a>
      </div>
      <div class="by_product_threeRowThumb margin-top-20">
        <a href="#!/shop/fitness-&-rehab/10231">
        <img src="assets/img/product/fitness_rehab.jpg?versionTimeStamp=%PROJECT_VERSION%" width="100%" alt="Fitness Rehab" />
        <div class="clearfix"></div>
        <div class="by_product_rowText">
          Fitness &amp; Rehab
          <div class="clearfix"></div>
        </div>
        </a>
      </div>
    </div>
    <div class="by_product_threeRowTwoM divLeft">
      <div class="by_product_threeRowThumb">
        <a href="#!/shop/mobility/10212">
        <img src="assets/img/product/mobility.jpg?versionTimeStamp=%PROJECT_VERSION%" width="100%"alt="Mobility" />
        <div class="clearfix"></div>
        <div class="by_product_rowText">
          Mobility
          <div class="clearfix"></div>
        </div>
        </a>
      </div>
    </div>
    <div class="by_product_threeRowThree divRight">
      <div class="by_product_threeRowThumb">
        <a href="#!/shop/daily-aids/10225">
        <img src="assets/img/product/daily_aids.jpg?versionTimeStamp=%PROJECT_VERSION%" width="100%" alt="Daily Aids" />
        <div class="clearfix"></div>
        <div class="by_product_rowText">
          Daily Aids
          <div class="clearfix"></div>
        </div>
        </a>
      </div>
      <div class="by_product_threeRowThumb margin-top-20">
        <a href="#!/shop/washing-&-toileting/10214">
        <img src="assets/img/product/washing_toilets.jpg?versionTimeStamp=%PROJECT_VERSION%" width="100%" alt="Washing &amp; Toileting" />
        <div class="clearfix"></div>
        <div class="by_product_rowText">
          Washing &amp; Toileting
          <div class="clearfix"></div>
        </div>
        </a>
      </div>
    </div>
    <div class="clearfix"></div>
</div>


<div ng-if="$root.windowWidth < 981">
  <div class="by_product_home_mobile">
    <a href="#!/shop/medical-conditions/10200">
      <div class="by_product_rowText">
        Medical Conditions
        <div class="clearfix"></div>
      </div>
      <img src="assets/img/product/medical_conditions_m.jpg?versionTimeStamp=%PROJECT_VERSION%" width="100%" alt="Medical Conditions" />
      <div class="clearfix"></div>
    </a>
  </div>
  <div class="by_product_home_mobile">
    <a href="#!/shop/orthopaedic-support/10219">
      <div class="by_product_rowText">
        Orthopaedics Support
        <div class="clearfix"></div>
      </div>
      <img src="assets/img/product/orthopaedics_support_m.jpg?versionTimeStamp=%PROJECT_VERSION%" width="100%" alt="Orthopaedics Support" />
      <div class="clearfix"></div>
    </a>
  </div>
  <div class="by_product_home_mobile">
    <a href="#!/shop/bedroom/10213">
      <div class="by_product_rowText">
        Bedroom
        <div class="clearfix"></div>
      </div>
      <img src="assets/img/product/bedroom_m.jpg?versionTimeStamp=%PROJECT_VERSION%" width="100%" alt="Bedroom" />
      <div class="clearfix"></div>
    </a>
  </div>
  <div class="by_product_home_mobile">
    <a href="#!/shop/mobility/10212">
      <div class="by_product_rowText">
        Mobility
        <div class="clearfix"></div>
      </div>
      <img src="assets/img/product/mobility_m.jpg?versionTimeStamp=%PROJECT_VERSION%" width="100%"alt="Mobility" />
      <div class="clearfix"></div>
    </a>
  </div>
  <div class="by_product_home_mobile">
    <a href="#!/shop/daily-aids/10225">
      <div class="by_product_rowText">
        Daily Aids
        <div class="clearfix"></div>
      </div>
      <img src="assets/img/product/daily_aids_m.jpg?versionTimeStamp=%PROJECT_VERSION%" width="100%" alt="Daily Aids" />
      <div class="clearfix"></div>
    </a>
  </div>
  <div class="by_product_home_mobile">
    <a href="#!/shop/fitness-&-rehab/10231">
      <div class="by_product_rowText">
        Fitness &amp; Rehab
        <div class="clearfix"></div>
      </div>
      <img src="assets/img/product/fitness_rehab_m.jpg?versionTimeStamp=%PROJECT_VERSION%" width="100%" alt="Fitness Rehab" />
      <div class="clearfix"></div>
    </a>
  </div>
  <div class="by_product_home_mobile">
    <a href="#!/shop/washing-&-toileting/10214">
      <div class="by_product_rowText">
        Washing &amp; Toileting
        <div class="clearfix"></div>
      </div>
      <img src="assets/img/product/washing_toilets_m.jpg?versionTimeStamp=%PROJECT_VERSION%" width="100%" alt="Washing &amp; Toileting" />
      <div class="clearfix"></div>
    </a>
  </div>
</div>


<div class="by_productHome_title">Featured Products</div>

<div class="by_featuredProduct_wrapper" >
  <div class="by_featuredProduct_prevBtn" ng-click="slideGallery('l')">
    <img src="assets/img/product/left_arrow.png?versionTimeStamp=%PROJECT_VERSION%" width="100%" />
  </div>
  <div class="by_featuredProduct_nextBtn" ng-click="slideGallery('r')">
     <img src="assets/img/product/right_arrow.png?versionTimeStamp=%PROJECT_VERSION%" width="100%" />
  </div>
  <div class="by_featuredProduct_wrapperInside" ng-style="{'width': products.length*byFeaWidSpace + 'px'}">

    <div ng-repeat="product in products"  class="fpInline">

      <div class="by_featuredProductCard col-md-6" ng-init="feWidth();">
      <!--  ng-click="openProductDescription(product.id, product.name)"-->
      <a href="{{productUrl(product.id, product.name)}}" ng-click="$event.stopPropagation();">
      <div class="by_productCard_Image" ng-init="getDiscountPercentage(product)">
        <img ng-if="product.primaryMedia != null" ng-src="{{product.primaryMedia.url || ''}}"
        fallback-src='["assets/img/by.png"]' alt="{{product.name}}">
        <div class="clearfix"></div>
        <div class="by_productCard_ImageOffer" ng-if="product.discountPercentage && product.discountPercentage >= 5">{{product.discountPercentage}}% <br/><small>off</small></div>
      </div>
      <div class="by_productCard_title ellipsisHead" style="height:50px;">{{product.name}}</div>
      </a>
    </div>
  </div>
  <div class="clearfix"></div>
</div>


</div>

 <div class="by_productAll">
    <a href="#!/shop/all/55bcad7be4b08970a736784b">
        View All Products
    </a>
</div>
<div class="clearfix"></div>