<div style="overflow-x:hidden;" cg-busy="{promise:promise,backdrop:true,templateUrl:'app/shared/common/template/preloader.html'}">

<div class="container by_productHome_tabSlider" ng-init="tabbedSlider();">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
    
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
      
        <div class="item active">
          <a href="#!/silver-guard-socks-diabetic-socks/pd/10771"><img src="assets/img/product/Diabetic_Shock_2.jpg?versionTimeStamp=%PROJECT_VERSION%" width="100%" /></a>
        </div><!-- End Item -->
 
         <div class="item">
         <a href="#!/hot-and-cold-soft-pack/pd/10500"><img src="assets/img/product/hot-ColdPack.jpg?versionTimeStamp=%PROJECT_VERSION%" width="100%" /></a>
        </div><!-- End Item -->
        
        <div class="item">
         <a href="#!/pill-organiser/pd/10451"><img src="assets/img/product/Tablet_Organiser.jpg?versionTimeStamp=%PROJECT_VERSION%" width="100%" /></a>
        </div><!-- End Item -->
        
      
      </div><!-- End Carousel Inner -->

        <ul class="nav nav-pills nav-justified" ng-if="$root.windowWidth > 850">
          <li data-target="#myCarousel" data-slide-to="0" class="active"><a>Diabetic Socks</a></li>
          <li data-target="#myCarousel" data-slide-to="1"><a>Hot & Cold Pack</a></li>
          <li data-target="#myCarousel" data-slide-to="2"><a>Tablet Organizer</a></li>
        </ul>
        <ul class="nav nav-pills nav-justified" ng-if="$root.windowWidth < 851">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ul>

    </div><!-- End Carousel -->
</div>

<div class="by_callHome" >
  <img src="assets/img/home/call.png?versionTimeStamp=%PROJECT_VERSION%" width="20"/>
  Need Help? <span ng-if="$root.windowWidth > 720">{{telNo}}</span> <span ng-if="$root.windowWidth < 721"><a ng-href="{{'tel:'+telNo}}">{{telNo}}</a></span>
</div>

<div class="by_productHome_title">Featured Products</div>

<div class="by_featuredProduct_wrapper" >
  <div class="by_featuredProduct_prevBtn" ng-click="slideGallery('l')">
    <img src="assets/img/product/left_arrow.png?versionTimeStamp=%PROJECT_VERSION%" width="100%" />
  </div>
  <div class="by_featuredProduct_nextBtn" ng-click="slideGallery('r')">
     <img src="assets/img/product/right_arrow.png?versionTimeStamp=%PROJECT_VERSION%" width="100%" />
  </div>
  <div class="by_featuredProduct_wrapperInside" ng-style="{'width': products.length*byFeaWidSpace + 'px'}">

    <div ng-repeat="product in products"  class="fpInline">

      <div class="by_featuredProductCard col-md-6" ng-init="feWidth();">
      <!--  ng-click="openProductDescription(product.id, product.name)"-->
      <a href="{{productUrl(product.id, product.name)}}" ng-click="$event.stopPropagation();">
      <div class="by_productCard_Image">
        <img ng-if="product.primaryMedia != null" ng-src="{{product.primaryMedia.url || ''}}"
        fallback-src='["assets/img/by.png"]' alt="{{product.name}}">
        <div class="clearfix"></div>
        <div class="by_productCard_ImageOffer" ng-if="product.salePrice.amount && (product.retailPrice.amount - product.salePrice.amount) > 0">{{((product.retailPrice.amount - product.salePrice.amount)/product.retailPrice.amount * 100).toFixed(0)}}% <br/><small>off</small></div>
      </div>
      <div class="by_productCard_title ellipsisHead" style="height:50px;">{{product.name}}</div>
      </a>
    </div>
  </div>
  <div class="clearfix"></div>
</div>


</div>

    

<div class="by_productHome_title">New Arrivals</div>    
<div ng-include="'app/components/product/productHome/product-home-newArrivals.html?versionTimeStamp=%PROJECT_VERSION%'"></div>
</div>