<div class="clearfix"></div>
<div class="col-md-12 by_productBreadCrumb text-right no-padding">
    <a ng-if="productParentCategory" ng-href="#!/shop/{{removeSpecialChars(productParentCategory.displayMenuName)}}/{{productParentCategory.id}}">{{productParentCategory.displayMenuName}}</a><span ng-if="productParentCategory">&nbsp; / &nbsp;</span><a ng-href="#!/shop/{{removeSpecialChars(uiData.categoryName)}}/{{uiData.categoryId}}">{{uiData.categoryName}}</a> &nbsp; / &nbsp; {{uiData.name}}
</div>
<div class="clearfix"></div>
<div class="col-md-12 product-main margin-bottom-15 by_pruductDetailed_bgWhite" style="border:0px;">

    <div class="col-md-5" style="padding:0px;">
        <div class="main-image" style="text-align:center;">
            <!--<img style="float:none;" class="by_productMainImage" alt="{{uiData.name}}" ng-elevate-zoom-->
            <!--ng-src="{{uiData.primaryMedia.url}}" zoom-image="{{uiData.primaryMedia.url}}">-->


            <img style="float:none;" ng-src="{{uiData.primaryMedia.url}}" class="by_productMainImage" alt="{{uiData.name}}" ng-elevate-zoom data-imagezoom="true" data-magnification="2" ng-if="$root.windowWidth > 982" alt="{{uiData.name}}">

            <img style="float:none;" ng-src="{{uiData.primaryMedia.url}}" class="by_productMainImage" alt="{{uiData.name}}" ng-if="$root.windowWidth < 983" alt=" {{uiData.name}}">

            <div class="clearfix"></div>
        </div>
        <div class="col-md-12 by-imageGallery margin-top-20 row" style="padding-left:0px; border:0px;">
            <div id="arrow_left" ng-click="slideGallery('l')">
                <img src="assets/img/icons/arrow_left.gif" style=" height: 40px;  margin-top:10px;" usemap="#Map" border="0" alt="Product Gallery Left Arrow">
            </div>
            <div class="by-gallery-container" style="left:20px;">
                <a ng-repeat="media in uiData.mediaItems" on-finish-render="ngRepeatFinished">
                    <div ng-if="media.type === 'image' " class="by-imageGallery-item">
                        <img class="small-width" ng-init="galleryClickHover();" ng-src="{{media.url}}" alt="Product Gallery Thumbnail Image" style="height:70px;">
                    </div>
                    <!-- Set image of video -->
                    <div ng-if="media.type === 'video'" class="by-imageGallery-item">
                        <img src="{{media.poster}}" style="opacity: 0.5;width:60px;" ng-click="playVideo(media.url)" id="posterImage">
                        <video src="{{media.url | handleInterpolate}}" crossorigin="anonymous" controls autoplay class="set-video-frame" video-image id="video">
                        </video>
                        <canvas id="thecanvas"></canvas>
                    </div>
                    <!-- End image video -->
                    <!--<div ng-if="media.type === 'notSupportedMedia'" class="by-imageGallery-item">
                        <img data-toggle="tooltip" data-placement="top"
                        title="Unsupported video file! Application supported only mp4, webm, ogg video files!"
                        ng-src="{{media.poster}}" style="opacity: 0.5;width:60px;">
                    </div>-->
                </a>
            </div>
            <div id="arrow_right" ng-click="slideGallery('r')">
                <img src="assets/img/icons/arrow_right.gif" alt="Product Gallery Right Arrow" style=" height: 40px;  margin-top:10px;">
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-md-7 by_productDetail_contentNoPadding">
        <h1 class="by_productDetail_contentHead by_productDetail_mobileSpace text-capitalize" ng-if="uiData.name">
            {{uiData.name.toLowerCase()}}
        </h1>

        <div class="by_productDetail_contentAuthor">
            <span ng-if="uiData.manufacturer">Manfactured by {{uiData.manufacturer}}</span>
        </div>
        <div class="by_productDetail_contentModelNumber">
            Product ID: {{uiData.id}}
        </div>
        <div class="by_productDetail_contentAvilable">
            <span ng-if="quantityAvailable == 0">Not available in stock</span>
            <span ng-if="undefined !== inventoryType && inventoryType !== constant.alwaysAvailable && quantityAvailable > 0">
                Available in stock  | Only <strong>{{quantityAvailable}}</strong> Left
            </span>
        </div>
        <div class="by_productDetail_devider"></div>
        <div class="by_productDetail_contentPrice" ng-if="!adjustedPrice">
            <span ng-if="uiData.salePrice && uiData.salePrice.amount">Our price: <strong>Rs
                {{uiData.salePrice.amount}}</strong></span>
            <span ng-if="!uiData.salePrice || !uiData.salePrice.amount">Our price: <strong>Rs
                {{uiData.retailPrice.amount}}</strong></span>
            <!--Our price : -->
            <!--<strong>Rs. {{uiData.salePrice.amount}}</strong> -->
            <small ng-if="uiData.retailPrice != null && uiData.salePrice != null && uiData.retailPrice.amount != uiData.salePrice.amount">
                <del>Rs {{uiData.retailPrice.amount}}</del>
            </small>
            <!--<del><small>Rs. {{uiData.retailPrice.amount}}</small></del>-->
            <!--<span class="by_productDetail_contentPriceOffer"><strong>5% Off</strong></span>-->
        </div>

        <div class="by_productDetail_contentPrice" ng-if="adjustedPrice">
            Our price :
            <strong>Rs. {{adjustedPrice}}</strong>
        </div>
        <div class="by_productDetail_devider"></div>


        <div class="clearfix" style="height:6px;"></div>

        <div class="pincode-available">
            <div class="pincode-form-wrap pincode-availableContent">
                <div class="Cash-check-pin divLeft">
                    <div class="singleinline">
                        <img src="assets/img/product/location.png" alt="Pincode" width="12">
                    </div>
                    Check availability at
                </div>
                <div class="pincode-form divLeft">
                    <form name="pincode-form" class="pinCheck">
                        <input type="number" minlength="6" maxlength="6" placeholder="Pincode" autocomplete="off" name="pincode" id="pincode" ng-model="pincode" class="pincode  textbox-nowidth" min="1" style="width:95px;">
                        <input type="submit" href="javascript:void(0)" class="btn btn-sm btn-default pull-right grayBg" value="Check" style="height:26px; background:#004f24; color:#fff; padding-right:15px; padding-left:15px;" ng-disabled="!pincode-form.pincode.$valid" ng-click="checkLogisticAvailability(pincode)">
                    </form>
                </div>
            </div>
            <div>
                <div ng-show="pincodeAvailablity === 1">
                    <div class="success-message">
                        Available with Seller at {{availablePincode}}
                    </div>
                </div>
                <div ng-show="pincodeAvailablity === 0">
                    <div class="error-message">
                        Not Available with any Seller at {{availablePincode}}
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix" style="height:6px;"></div>
        <div ng-if="logisticInfo.deliveryDetail === 'NA'">
            <span class='redColor'>Sorry! we do not deliver to this pincode.</span>
        </div>

        <div class="by_productDetail_contentCOD" ng-if="logisticInfo.deliveryDetail && logisticInfo.deliveryDetail==='standard'">
            <div class="clearfix" style="height:8px;"></div>
            Delivered within: 7 - 10 business days
            <!-----------------------------------Code to be added once integrated with Ecom Express ------------------>
            <!--<strong ng-show="rateServiceSeverity === 'SUCCESS'">-->
            <!--{{estimatedDays}} - {{estimatedDays + 2}} business days-->
            <!--</strong>-->
            <!--<strong ng-show="rateServiceSeverity === 'ERROR'">-->
            <!--{{rateServiceMessage}}-->
            <!--</strong>-->
        </div>
        <div class="by_productDetail_contentCOD" ng-if="logisticInfo.cashOnDelivery && logisticInfo.cashOnDelivery==='eligible'">
            Cash on Delivery : Eligible
            <!--<span ng-if="logisticInfo.cashOnDelivery  === 'eligible'">-->
            <!--<strong>Eligible</strong>-->
            <!--</span>-->
            <!--<span ng-if="logisticInfo.cashOnDelivery === 'NA'">-->
            <!--<strong>Not Eligible</strong>-->
            <!--</span>-->
        </div>
        <div ng-if="addToCartFailedMsg.length > 0">
            <span class='redColor'>{{addToCartFailedMsg}}</span>
        </div>
        <div class="by_productDetail_optionColor margin-bottom-10 margin-top-10">
            <div ng-repeat="productColor in uiData.productOptions" ng-if="productColor.attributeName.toLowerCase() == 'productoption.color'">
                <div class="divLeft">Color:</div>
                <span ng-repeat="color in productColor.allowedValues" ng-init="activeProductColor();">              
                        <div class="divLeft by_productDetail_optionColor_size"
                             data-color="{{color.attributeValue}}"
                             title="{{color.attributeValue.substr(color.attributeValue.lastIndexOf('-') + 1)}}"
                             style="background: {{color.attributeValue.substring(0,7)}}"
                             ng-click="productOptionSelected(productColor, color)">
                        </div>
                    </span>

                <div class="clearfix"></div>
            </div>
        </div>

        <div class="by_productDetail_optionColor margin-bottom-10">
            <div ng-repeat="productSize in uiData.productOptions" ng-if="productSize.attributeName.toLowerCase() == 'productoption.size'">
                <div class="divLeft">Size:</div>
                <span ng-repeat="size in productSize.allowedValues" ng-init="activeProductSize();">             
                        <div class="divLeft by_productDetail_optionSize_size"
                             data-size="{{size.attributeValue}}" ng-click="productOptionSelected(productSize, size)">
                            {{size.attributeValue}}
                        </div>
                    </span>

                <div class="clearfix"></div>
            </div>
        </div>

        <!--<div class="by_productDetail_contentCall" ng-if="$root.windowWidth > 720">-->
        <!--<b>Call for assistance</b>-->
        <!--<span ng-if="(uiData.salePrice.amount && uiData.salePrice.amount > 4999) || (uiData.retailPrice.amount && uiData.retailPrice.amount > 4999)"><b>-->
        <!--or rent &nbsp;</b></span>-->
        <!--<span class="by_menuContactNumber">-->
        <!--{{telNo}}-->
        <!--</span>-->
        <!--</div>-->
        <div class="by_productDetail_contentCall">
            <b>Call for assistance</b>
            <span ng-if="(uiData.salePrice.amount && uiData.salePrice.amount > 4999) || (uiData.retailPrice.amount && uiData.retailPrice.amount > 4999)"><b>
                or rent &nbsp;</b></span>
            <a ng-href="{{'tel:'+telNo}}" ng-if="$root.windowWidth < 720" class="by_moreArrowPagination">
                <i class="fa fa-phone2"></i> {{telNo}}
            </a>
            <span ng-if="$root.windowWidth > 720" class="by_moreArrowPagination">
                <i class="fa fa-phone2"></i> {{telNo}}
            </span>
        </div>
        <div class="clearfix"></div>
        <div class="qty-cart-buy margin-bottom-20">
            <span class="added-to-cart-message" ng-show="checkLogisticDetail">
            <!--<span class="redColor" ng-if="logisticInfo.deliveryDetail === 'NA'">Please enter your pincode to check availabiity of the product</span>-->
            <span class="redColor" ng-if="!logisticInfo.deliveryDetail">Please enter your pincode to check availabiity of the product</span>
            </span>
            <br/>

            <span class="added-to-cart-message" ng-show="productAddSuccess">
            <span class="greenColor">Product is successfully added to cart!</span>
            </span>
            <br/>

            <form name="f1" class="divLeft by_productDetail_contentQuantity">
                <button class="by_productDetail_contentQuantityButton" type="button" name="add" ng-disabled="userRequiredQuantity === 1" ng-click="updateRequiredQuantity(userRequiredQuantity - 1)">
                    -
                </button>
                <input type="number" min="1" class="by_productDetail_contentQuantityFeild" name="qty" id="qty" value="{{userRequiredQuantity}}" ng-model="userRequiredQuantity" required ng-disabled="addToCartDisable || quantityAvailable === 0">
                <button class="by_productDetail_contentQuantityButton" style="float:right !important;" type="button" name="add" ng-click="updateRequiredQuantity(userRequiredQuantity + 1)" ng-disabled="addToCartDisable || quantityAvailable === 0">
                    +
                </button>
            </form>
            <button type="button" class="btn-u by_productDetail_buttonBg" ng-if="inventoryType === 'CHECK_QUANTITY' || inventoryType === 'UNAVAILABLE' || inventoryType === null" ng-disabled="userRequiredQuantity > quantityAvailable || addToCartDisable || f1.qty.$invalid || logisticInfo.deliveryDetail==='NA'" ng-click="addProductToCart(productId)">
                <span class="cart-icon">
            <img class="cart-icon-img" alt="Cart" src="assets/img/product/cart.png" width="19" height="13"/>
        </span> Add to Cart
            </button>
            <button type="button" class="btn-u buy-product by_productDetail_buttonBg" ng-if="inventoryType === 'CHECK_QUANTITY' || inventoryType === 'UNAVAILABLE' || inventoryType === null" ng-disabled="userRequiredQuantity > quantityAvailable || addToCartDisable || f1.qty.$invalid || logisticInfo.deliveryDetail==='NA'" di-href="#!cart/" ng-click="addProductToCart(productId, 'selectAddress')">
                <span class="cart-icon">
            <img class="buy-icon-img" alt="Buy" src="assets/img/product/buy.png" width="19" height="13"/></span> Buy Now
            </button>
            <button type="button" class="btn-u by_productDetail_buttonBg" ng-if="inventoryType === 'ALWAYS_AVAILABLE'" ng-disabled="addToCartDisable || f1.qty.$invalid || logisticInfo.deliveryDetail==='NA'" ng-click="addProductToCart(productId)">
                <span class="cart-icon">
            <img class="cart-icon-img" alt="Cart" src="assets/img/product/cart.png" width="19" height="13">
        </span> Add to Cart
            </button>
            <button type="button" class="btn-u buy-product by_productDetail_buttonBg" ng-if="inventoryType === 'ALWAYS_AVAILABLE'" ng-disabled="addToCartDisable || f1.qty.$invalid || logisticInfo.deliveryDetail==='NA'" di-href="#!cart/" ng-click="addProductToCart(productId, 'selectAddress')">
                <span class="cart-icon">
            <img class="buy-icon-img" alt="Buy" src="assets/img/product/buy.png" width="19" height="13">
        </span> Buy Now
            </button>
            <span ng-if="inventoryType === 'CHECK_QUANTITY' || inventoryType === 'UNAVAILABLE' || inventoryType === null">
            <span class="error-message" style="color:red;"
                  ng-if="userRequiredQuantity > quantityAvailable || inventoryType === 'UNAVAILABLE'">
                Sorry! We are Out Of Stock!
            </span>
            </span>
            <span ng-show="f1.qty.$invalid">
            <span class="error-message">Enter Proper Input</span>
            </span>
            <span class="added-to-cart-message" ng-show="addToCartDisable">The product is already added
            in cart!
        </span>

            <div class="clearfix" style="height:20px;"></div>
        </div>
    </div>

</div>


<div class="by_productDetail_contentHead" ng-if="uiData.longDescription || uiData.productDetails || uiData.productDescription">
    Item Details
</div>
<div class="by_productDetail_contentBg">

    <div ng-if="uiData.productDescription">
        <div class="by_productDetail_contentDescHead">Product Description</div>
        <div class="by_productDetail_contentDescText" ng-bind-html="uiData.productDescription"></div>
    </div>
    <div ng-if="uiData.longDescription">
        <div class="by_productDetail_contentDescHead">Usage</div>
        <div class="by_productDetail_contentDescText" ng-bind-html="uiData.longDescription"></div>
    </div>
    <div ng-if="uiData.productDetails">
        <div class="by_productDetail_contentDescHead">Specifications</div>
        <div class="by_productDetail_contentDescText" ng-bind-html="uiData.productDetails"></div>
    </div>
</div>

<div class="clearfix margin-top-20"></div>
<div class="by_productDetail_contentBg ">
    <div style="clear:both;" id="userReviews"></div>
    <div ng-if="reviews && reviews.length > 0" class="row">
        <div class="col-md-12  margin-bottom-20 review-rate-header" style="padding-left:21px; padding-right:21px;">
            <div class="col-md-12 no-padding dp-block " style="border-bottom:1px solid #ccc;">
                <b>Reviews</b>
            </div>
            <div class="col-md-12 no-padding">
                <div class="bg-green-h2" style="width: 75px;"></div>
            </div>
        </div>
        <div ng-repeat="review in reviews" data-index="discussion-articles" data-link="articles.html" ng-include="'app/components/product/product-rate-review/profileReviewCard.html?versionTimeStamp=%PROJECT_VERSION%'" ng-if="review.text && review.text.trim().length > 0">
        </div>
    </div>
    <div class="row" ng-include="'app/components/product/product-rate-review/reviewRate.html?versionTimeStamp=%PROJECT_VERSION%'"></div>
</div>

<div ng-if="$root.windowWidth < 720">
    <div class="by_productDetail_leftSimilarTitle col-md-12 no-padding margin-top-20">
        <span ng-if="uiData.similarProductLength > 0">Similar Products</span>
        <span ng-if="uiData.similarProductLength === 0">No Similar Products Available</span>
    </div>

    <div class="col-md-12 no-padding" ng-repeat="product in uiData.similarProduct">
        <div>
            <a href="{{productUrl(product.id, product.name)}}" ng-click="$event.stopPropagation();">
                <div class="by_productDetail_leftSimilarThumb">
                    <div class="by_productDetail_leftSimilarThumbImage">
                        <img ng-src="{{product.primaryMedia.url}}" alt="{{product.name}}">
                    </div>
                    <div class="by_productDetail_leftSimilarThumbContent">
                        <div class="by_productDetail_leftSimilarThumbContentName text-capitalize">
                            {{product.name.substring(0, 25).toLowerCase()}}<span ng-if="product.name.length > 25">...</span>
                        </div>
                        <div class="by_productDetail_leftSimilarThumbContentPrice">
                            <strong ng-if="product.salePrice && product.salePrice.amount">Rs.
                                {{product.salePrice.amount}}</strong>
                            <br/>
                            <strong ng-if="!product.salePrice || !product.salePrice.amount">Rs.
                                {{product.retailPrice.amount}}</strong>
                            <br/>

                            <small ng-if="product.retailPrice != null && product.salePrice != null && product.retailPrice.amount != product.salePrice.amount">
                                <del>Rs {{product.retailPrice.amount}}</del>
                            </small>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <!--<div class="by_profileDetailed_menuIcon" ng-click="gotoHref('userReviews')">
            <i class="review-Icon_rate"></i> <span>Rate & Review</span>
            <div class="clearfix"></div>
        </div>-->
</div>

<div class="clearfix" style="height:20px;"></div>