.by-discuss-card
{
	position: relative;
	min-height:60px;
	cursor: pointer;
	width: 100%;
    border: 1px solid #d8d8d8;
    margin-bottom: 20px;
    padding:0px;
    /*max-width: 720px;*/
    border-radius: 2px !important;
    overflow-wrap: break-word;
    word-break: break-word;
    background:#fff;
}
.by-discuss-card a
{
    color: #000;
}
.by_discuss_img
{
	margin-top: 15px;
    margin-left: 21px;
    border-radius: 2px;
    width: 43px;
    float: left;
    height: auto;
    margin-right: 20px
}
.by_discuss_info
{
	font-size: 13.963px;
    font-weight: 400;
    margin-top: 14px;
    display: table;
}
.by_discuss_infoList
{
	font-size: 13px;
    font-weight: 400;
    margin-bottom: 12px;
    line-height: 12px;
}
.by_discuss_title
{
	font-size: 16.181px;
    font-weight: bold;
    line-height: 25.901px;
    margin-top: 2px;
}
.by_discuss_image img
{
	width: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    float: none;
}
.by_discuss_desc
{
	font-weight: 400;
    padding: 0px 15px 8px 15px;
    color: #000;
    font-size: 16px;
    line-height: 26px;
}
.by_discuss_desciption {
    padding-left: 0px;
    padding-top: 5px;
    overflow: hidden;
    font-weight: 400;
    color: #000 !important;
    font-size: 16px !important;
    line-height: 26px;
    margin-bottom: 3px;
}
.by_discuss_desciption img
{
	max-width:100%;
}
.by_discuss_desciption a
{
    color: #004f24 !important;
}
.by_border
{
	border-top: 1px solid #ececec;
    padding-top: 10px;
    margin-top: 0px;
}
.by_discuss_share .post-shares
{
	padding:0px;
	margin:0px;
	width:100%;
}
.by_discuss_share .post-shares .add-comment
{
	list-style:none;
}
.by_questionLetter
{
    font-size: 20px;
    font-weight: bold;
    color: #08522A;
    display: inline-block;
}
.by_commentSpan
{
    margin-left: -80px !important;
}
.by_answerSpan
{
    margin-left: -66px !important;
}
.by_shareSpan
{
    margin-left: -51px !important;
}
.by_likeSpan
{
    margin-left: -41px !important;
}

.by_commFeaturedHead
{
    width: 100%;
    height: auto;
    font-size: 18px;
    color: #000;
    border-bottom: 1px solid #e4e4e4;
    padding: 2px 0px;
}
.by_commFeaturedItem
{
    width: 100%;
    height: auto;
    font-size: 15px;
    color: #08522A;
    padding: 10px 10px;
    line-height: 17px;
}
.by_commFeaturedItem a, .by_commFeaturedItem p, .by_commFeaturedItem strong, .by_commFeaturedItem span
{
    text-decoration: none;
    color: #000;
    font-weight: normal;
    word-wrap: break-word;
}
.by_commFeaturedItem a:hover, .by_commFeaturedItem p:hover, .by_commFeaturedItem strong:hover, .by_commFeaturedItem span:hover, .by_commFeaturedItem .by_featuredTextWidth:hover 
{
    color: #00af50;
    text-decoration: underline;
}
.curatedProfile
{
    width: 50%;
    height: auto;
    float: left;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
    line-height: 18px;
    font-size: 15px;
}
.curatedProfileOne
{
    width: 100% !important;
}
.curatedProfile img
{
    margin-bottom: 5px;
    display: block;
    max-width: 90px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    border-radius: 50% !important;
    height: auto;
    line-height: 90px;
    border: 1px solid transparent;
}
.curatedProfile:hover img
{
    border: 1px solid #004f24;
}
.curatedProfile a
{
    color: #000;
}
.by_featuredImgWidth
{
    margin-right: 5px;
    width: 43px;
}
.by_featuredTextWidth
{
    width: calc(100% - 55px);
}
.by_discussFilters a{
    font-size: 18px;
    color: #4A7B1E !important;
}
.by_discussFilters a:hover
{
    text-decoration: none !important;
    border-bottom: 1px solid #4A7B1E;
}
.by_discussFilters a.selected
{
    border-bottom: 1px solid #4A7B1E;
}
.communityGridWidth
{
    width: calc(100%  +  10px);
}
.grid-boxes-in-two
{
    width: calc(100% - 10px) !important;
}
@media ( max-width : 720px){
    .curatedProfile
    {
        width: 25%;
    }
    .communityGridWidth, .grid-boxes-in-two
    {
        width: 100% !important;
    }
}