
.by_homeModiWhyBorder
{
    border-bottom:1px solid #ccc;
}
.by_homeSecurityThumb
{
    width: 45%;
    float: left;
    margin-left: 15%;
}
.by_homeSecurityThumb2
{
    width: 40%;
    float: left;
}
.by_homeModiWhy
{
    text-align: center;
    font-size: 22px;
}
.by_homeModiListNumberTop
{
    width: 100%;
    height: auto;
}
.by_homeModiListNumberTop ol
{
    padding: 0px;
    margin: 0px;
    width: 100%;
    text-align: left;
}
.by_homeModiListNumberTop ol li
{
    line-height: 32px;
    padding-bottom: 10px;
    padding-top: 7px;
    font-size: 23px;
    margin-left: 23px;
    list-style-image: url('../../img/home-modification/arrow.png?versionTimeStamp=%PROJECT_VERSION%');
}
.by_homeModiListDisc, .by_homeModiListNumber
{
    width: 100%;
    height: auto;
}
.by_homeModiListDisc ul, .by_homeModiListNumber ol, .by_homeModiListDisc ol
{
    padding: 0px;
    margin: 0px;
    width: 100%;
}
.by_homeModiListNumber ol li
{
    line-height: 23px;
    padding-bottom: 3px;
    padding-top: 3px;
    font-size: 19px;
    margin-left: 23px;
    list-style-image: url('../../img/home-modification/arrow.png?versionTimeStamp=%PROJECT_VERSION%');
}
.by_homeModiListDisc ul
{
    margin-top: 4px;
}
.by_homeModiListDisc ol li
{
    line-height: 25px;
    padding-bottom: 7px;
    padding-top: 7px;
    font-size: 19px;
    margin-left: 23px;
}

.by_homeModiListDisc ul li
{
    list-style-image: url('../../img/home-modification/arrow.png?versionTimeStamp=%PROJECT_VERSION%') !important;
    line-height: 20px;
    padding-bottom: 7px;
    padding-top: 3px;
    font-size: 18px;
    margin-left: 23px;
}
.custom-counter li {
    counter-increment: step-counter;
    list-style: none;
    margin-left: 0px !important;
}
.custom-counter li::before {
    content: counter(step-counter);
    margin-right: 5px;
    font-size: 80%;
    background-color: rgb(158, 156, 156);
    color: #000;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 15px;
}
.by_homeModiListNumber ol li  li
{
    list-style-image: url('../../img/home-modification/ellipse-grey.png?versionTimeStamp=%PROJECT_VERSION%') !important;
}
.by_homeModiListDisc a
{
    text-decoration: underline;
    font-style: italic;
}
.by_homeModiHowBg
{
    background: #ccc;
}
.by_homeModiTopBg
{
    background: url('../../img/home-modification/header_2_BG.png?versionTimeStamp=%PROJECT_VERSION%') no-repeat top;
    background-size: cover;
    position: relative;
}
.by_homeModiTopBg .by_homeModiListDisc
{
    width: calc(100% - 250px);
}
.by_homeModiHowBg .by_homeModiListDisc
{
    width: calc(100% - 150px);
}
.by_homeModiTopBgImage
{
    width: 250px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.by_homeCallBg
{
    background: #008000 ;
}
.by_homeModiWhiteColor
{
    color: #fff;
}
.by_homeModibBlackColor
{
    color: #000;
}
.by_homeModibGreenColor
{
    color: #1A3C0C;
}
.by_homeModiFontBold
{
    font-weight: bold;
}
.by_homeModiSafComBg
{
    background: url('../../img/home-modification/safe_sec.png?versionTimeStamp=%PROJECT_VERSION%') no-repeat bottom;
     background-size: cover;
    margin-bottom: 4px;
}
.by_homeModiSafBg
{
    background: url('../../img/home-modification/safety_bg.png?versionTimeStamp=%PROJECT_VERSION%') no-repeat bottom;
    background-size: cover;
    margin-bottom: 4px;
}
.by_homeModiComBg
{
    background: url('../../img/home-modification/confort_bg.png?versionTimeStamp=%PROJECT_VERSION%') no-repeat bottom;
    background-size: cover;
    margin-bottom: 4px;
}
.by_homeModiSafComLeft
{
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
}
.by_homeModiSafComLeft2
{
    width: 30%;
    margin-left: 20%;
    float: right;
}
.by_homeModiTopLi li
{
    font-size: 20px !important;
}
.by_headerBoderHome
{
    border-bottom: 1px solid #3B5246;   
}
.by_whiteBg .by_contact_worksLeftText 
{
    line-height: 28px;
    font-size: 18px;
    padding-top: 0px;
}
@media ( max-width: 720px){
    .by_homeSecurityThumb
    {
        width: 100%;
        float: none;
        margin-left: 0%;
    }
    .by_homeSecurityThumb2
    {
        width: 100%;
        float: none;
    }
    .by_homeModiSafComLeft, .by_homeModiSafComLeft2
    {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        float: none;
    }    
    .by_homeModiTopBgImage
    {
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        position: relative;
        margin-bottom: -42px;
    }
    .by_homeModiTopBg .by_homeModiListDisc, .by_homeModiHowBg .by_homeModiListDisc
    {
        width: 100%;
    }
    .by_homeModiListNumberTop ol li
    {
        padding-bottom: 10px;
        line-height: 24px;
        font-size: 18px;
    }    
    .by_whiteBg .by_contact_worksRight
    {
        margin-bottom: -40px;
    }
}
@media ( max-width: 600px){
    .by_homeModiBanner
    {
        height: auto;
    }
}