.by_headerBoder
{
    border-bottom: 1px solid #0AB95A;
}
.by_productBanner {
    width: 100%;
    height: 161px;
    padding: 0px 2%;
    background: url('../../img/product/product_bg_withoutText.jpg?versionTimeStamp=%PROJECT_VERSION%') no-repeat bottom right;
}
.by_productBanner_title {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 24px;
    line-height: 24px;
    padding-top: 45px;
}
.by_productBanner_desc {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    padding-top: 15px;
}
.by_commSectionHeader {
    width: 100%;
    height: auto;
    font-size: 20px;
    text-align: center;
}
.by_commSectionHeader h1
{
    font-size: 20px;
    color: #000;
    font-family: century_gothic !important;
}
.by_sectionHeader {
    width: 100%;
    height: auto;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.by_sectionHeader h2 {
    font-size: 20px;
    text-align: center;
    font-family: century_gothic !important;
    color: #000;
}
.by_directoryBanner {
    width: 100%;
    height: auto;
    background: url('../../img/section_headers/directory_banner.png?versionTimeStamp=%PROJECT_VERSION%') no-repeat center;
    background-size: none;
    padding-top: 50px;
}
.by_directoryHeaderImage
{
    background: url(../../img/section_headers/directory_banner.png?versionTimeStamp=%PROJECT_VERSION%) no-repeat  center;
    background-size: none;
}
.by_directoryBannerImg {
    width: 360px;
    float: left;
    margin-right: 8%;
    margin-top: -71px;
    margin-left: -55px;
}
.by_directoryBannerText {
    width: 195px;
    float: left;
    color: #fff;
    font-size: 18px;
    line-height: 34px;
    margin-top: 9px;
}
.by_directoryBannerText h1 {
    color: #fff;
    font-size: 18px;
}
.by_directoryBannerText h1 strong,
.by_directoryBannerText strong {
    display: block;
    text-transform: uppercase;
    font-size: 35px;
}
.by_directoryBannerText h1 span,
.by_directoryBannerText span {
    font-weight: normal;
    font-size: 18px;
    color: #fff;
}
.by_directoryBannerDivider {
    width: 1px;
    height: 80px;
    background: #fff;
    float: left;
    margin-top: 22px;
    margin-right: 8%;
    margin-left: 8%;
}
.by_directoryBanner_title {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 24px;
    padding-top: 45px;
    line-height: 29px;
}
.by_directoryBanner_desc {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    padding-top: 15px;
}
.by_productBanner_desc a,
.by_directoryBanner_desc a,
.by_productBanner_desc a:hover,
.by_directoryBanner_desc a:hover,
.by_productBanner_desc span,
.by_directoryBanner_desc span {
    color: #fff;
    text-decoration: none;
}
.by_productList_banner {
    width: 100%;
    height: auto;
    background: url('../../img/product/products_banner.png?versionTimeStamp=%PROJECT_VERSION%') no-repeat center;
    background-size: none;
}
.by_productHeaderImage
{
    background: url(../../img/product/products_banner.png?versionTimeStamp=%PROJECT_VERSION%) no-repeat  center;
    background-size: none;
}
.by_productList_bannerText {    
    font-size: 18px;
    line-height: 34px;
    color: #fff;
    z-index: 20;
    width: 360px;
    font-weight: bold;
    float: left;
    margin-top: 100px;
}
.by_productList_bannerText h1 {
    color: #fff;
    font-size: 18px;
}
.by_productList_bannerText h1 strong {
    display: block;
    text-transform: uppercase;
    font-size: 35px;
}
.by_productList_bannerText h1 span{
    font-weight: normal;
    font-size: 18px;
    color: #fff;
}
.by_productList_bannerImg {
    float: right;
    width: 300px;
    margin-top: 70px;
}
.by_aboutUsBanner
{
    width: 100%;
    height: 280px;
    background: url('../../img/aboutUs/header_d.jpg?versionTimeStamp=%PROJECT_VERSION%') no-repeat right;
    background-size: none;
}
.by_aboutUsHeaderImage
{
    background: url(../../img/aboutUs/header_d.jpg?versionTimeStamp=%PROJECT_VERSION%) no-repeat  right;
    background-size: none;
}
.by_aboutUsBannerText
{
    font-size: 35px;
    color: #fff;
    z-index: 20;
    width: 340px;
    font-weight: bold;
    padding-top: 55px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.by_aboutUsBannerText h1
{
    color: #fff;
    font-size: 35px;
    line-height: 39px;
    text-transform: uppercase;
}
.by_aboutUsBannerText span
{
    font-weight: normal;
    font-size: 18px;
    color: #fff;
    display: block;
    text-transform: lowercase;
    margin-top: -7px;
}
.by_categorySectionHeader
{
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #E0CDC1;
}
.by_categorySectionHeaderText
{
    width:calc(100% - 330px);
    padding: 10px 15px 20px 15px;
    height: auto;
    color:#000;
    float: left;
    max-width: 700px;
}
.by_categorySectionHeaderText1 h1
{
    font-size: 40px;
    line-height: 45px;
    color:#000;font-family: century_gothic !important;
}
.by_categorySectionHeaderText2 h2
{
    font-size: 18px;
    line-height: 26px;
    color:#000;font-family: century_gothic !important;
}
.by_categorySectionHeaderImage
{
    width:300px;
    float: right;
}
.by_categorySectionHeaderImage img
{
    width: 100%;
}
@media ( max-width: 1100px) {
    .by_directoryBannerDivider {
        margin-left: 5%;
        margin-right: 5%;
    }
    .by_directoryBannerImg {
        margin-right: 5%;
    }
}
@media ( max-width: 950px) {
    .by_directoryBannerDivider {
        margin-left: 3%;
        margin-right: 3%;
    }
    .by_directoryBannerImg {
        margin-right: 3%;
    }
}
@media ( max-width: 840px) {
    .by_directoryBannerText {
        width: 50% !important;
        margin-top: -44px;
    }
    .by_directoryBannerText2 {
        margin-top: 0px;
    }
    .by_directoryBannerDivider {
        margin-left: 0;
        margin-right: 0;
        height: 1px;
        width: 250px;
        margin-top: -3px;
    }
    .by_directoryBannerImg
    {
        margin-top: -57px;
    }
}
@media ( max-width: 720px) {
    .by_directoryBanner {
        padding-top: 20px;
    }
    .by_directoryBannerDivider
    {
        margin-left: auto;
        margin-right: auto;
        float: none; clear: both;
    }
    .by_directoryBannerText {
        width: 100% !important;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .by_directoryBannerImg {
        width: 50%;
        margin-right: auto;
        margin-left: auto;
    }
    .by_productList_banner {
        margin-top: 0px;
    }
    .by_productList_bannerText {
        width: 100%;
        height: auto;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 30px;
    }
    .by_productList_bannerImg {
        width: 100%;
        margin-top: 10px;
    }
    .by_productList_banner, .by_aboutUsBanner, .by_directoryBanner
    {
        background-size: cover;
    }
    .by_productHeaderImage, .by_aboutUsHeaderImage, .by_directoryHeaderImage
    {
        background-size: none;
    }
    .by_header .greenColor 
    {
        color: #fff;
    }
    .by_categorySectionHeaderText
    {
        width:100%;
        padding: 20px 15px;
        height: auto;
        color:#000;
        float: none;
        text-align: center;
    }
    .by_categorySectionHeaderImage
    {
        width:300px;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    .by_categorySectionHeaderImage img
    {
        width: 100%;
    }
}
@media ( max-width: 594px) {
    .by_directoryBanner_title {
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 20px;
        padding-top: 45px;
        line-height: 24px;
    }
}
@media ( max-width: 440px) {
    .by_directoryBanner_title {
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 20px;
        padding-top: 25px;
        line-height: 24px;
    }
}