.blog_masonry_3col .by_discuss_listing .grid-boxes-in
{
	margin-bottom:0px;
	border:0px;
}
.by_discuss_listing a
{
	color: #000;
}
.by_discuss_listing  .by_blog_author .col-md-12 {
    padding-left: 15px;
    padding-right: 15px;
}
.by_discuss_listing  .by_blog_author>img
{
	margin-left:15px !important;
}
.by_discuss_listing  .news-v3 .post-shares
{
	padding-left: 15px;
    padding-right: 15px;
}
.by_discuss_listing  .by_blog_author .news-v3 .post-shares li {
    margin-left: 5px !important;
    float:left;
}
.by_discuss_listing  li.add-comment-FC
{
	max-width:123px;
}
.by_discuss_listing  .add-comment-FC .text
{
	float:right;
	width:81px;
}
.by_discuss_listing  .news-v3 .post-shares li span
{
	width:19px;
}
.by_discuss_listing  .news-v3 .post-shares li div.text
{
	margin-left:3px;
	line-height:14px;
}
.by_discuss_listing  .by-card-shareInfo
{
	margin-left:15px;
	margin-right:15px;
}
.by_discuss_listing  .blog-author
{
	margin-bottom:15px !important;
}

.by_discuss_listing  .shareInfo-content
{
	height:auto;
}
.by_discuss_listing  .linkUrl
{
	position:static;
}
.by_discuss_listing  .by-card-shareInfo .shareInfo-generalImage
{
	height:auto;
	background:transparent;
	max-height:200px;
}
.by_discuss_listing  .by-card-shareInfo .shareInfo-generalImage img
{
	max-height:200px;
	height:auto;
}
.by_discuss_listing  .shareInfo-generalImage iframe
{
	margin-top:0px;
	margin-bottom:0px;
}