.by_homeSectionExpText
{
    margin-right: 4%;
    margin-top: 10px;
}
.by_exp_sectionsThumb
{
    width: 29%;
    margin-right: 6.5%;
    float: left;
    margin-bottom: 20px;
}
.by_exp_sectionsThumbLast
{
    width: 29%;
    float: left;
    margin-bottom: 20px;
}
.by_exp_sectionsThumbText
{
    font-size: 19px;
    font-family: century_gothic !important;
    line-height: 31px;
    width: 100%;
    text-align: justify;
}
.by_exp_sectionsThumbText a, .by_exp_sectionsThumbText a:hover
{
    color: #008000;
    text-decoration: underline !important;
}
.by_exp_sectionsThumbImg
{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
}
.by_exp_sectionsThumbTitle
{
    width: 100%;
    height: auto;
    background: #008000;
    margin-bottom: 10px;
}
.by_exp_sectionsThumbTitle a
{
    display: block;
    padding: 2px 5px;
    text-align: center;
    color: #fff;
    font-size: 22px;
}
.by_exp_sectionsThumbTitle a:hover
{
    color: #fff;
}
.by_exp_sectionsThumbTitle a small
{
    font-size: 15px;
    display: block;
}
.by_expVideoLeft
{
    width: 350px;
    height: auto;
    float: left;
}
.by_expVideoLeftLink
{
    width: 100%;
    height: 70px;
    line-height: 70px;
    color: #fff;
    font-size: 27px;
    background: #05300e;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.by_expVideoLeftLink a
{
    display: block;
    padding-left: 20px;
    color: #fff;
}
.by_expVideoLeftLink a:hover
{
    color: #fff;
}
.by_expVideoLeftRent
{
    width: 100%;
    padding: 10% 10px;
    text-align: center;
    background: #72c02c;
    font-size: 30px;
    line-height: 45px;
    color: #fff;
}
.by_expVideo
{
    width: calc(100% - 400px);
    margin-left: auto;
    margin-right: auto
    float: right;
}
.by_expVideoShow, .by_expVideoShow1
{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.by_expVideoGrad
{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1px;
    left: 0px;
    top: 0px;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
#by_expVideoFrame, #by_expVideoFrame1, #by_expVideoFrame2, #by_expVideoFrame3, #by_expVideoFrame4
{
    display: none;
}
.by_expVideoShow1, .by_expVideoShow2, .by_expVideoShow3, .by_expVideoShow4
{
    position: relative;
    cursor: pointer;
}
.by_expVideoShowVideoIcon
{
    width: 58px;
    height: 40px;
    background: url(../../img/product/Play.png?versionTimeStamp=%PROJECT_VERSION%) center no-repeat;
    left: calc(50% - 28px);
    top: calc(50% - 20px);
    position: absolute;
}
.by_expStoreHeaderImage
{
    background: url(../../img/home-modification/header_1_BG.png?versionTimeStamp=%PROJECT_VERSION%) right no-repeat;
    background-size: cover;
}
.by_homeExpmage
{
    width: 250px;
    height: auto;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
@media ( max-width: 1030px){
    
    .bannerHeightExp
    {
        height: 345px;
    }
}
@media ( max-width: 720px){
    
    .bannerHeightExp
    {
        height: auto;
    }
    .by_homeExpmage
    {
        width: 250px;
        height: auto;
        position: relative;
        right: 0px;
        bottom: 0px;
        float: none;
        margin-right: auto;
        margin-left: auto;
        margin-top: 20px;
    }
    .by_expVideo
    {
        width: calc(100% - 30px);
        max-width: 100% !important;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }
    .by_expVideoLeft
    {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    .by_exp_sectionsThumb, .by_exp_sectionsThumbLast
    {
        width: 100%;
        margin-right: 0%;
        float: left;
        margin-bottom: 20px;
    }
    .by_exp_sectionsThumbText
    {
        text-align: center;
    }
    .by_exp_sectionsThumbTitle
    {
        width: 260px; 
        margin-left: auto;
        margin-right: auto;
    }
}