.by_header
{
	width: 100%;
	padding:5px 3% 5px 3%;
	position: fixed;
	z-index: 110;
	top: 0px;
	left: 0px;
}
.by_header_image
{
	background: url(../../img/Header1.jpg?versionTimeStamp=%PROJECT_VERSION%) no-repeat bottom center;
	background-size: cover;
}
.by_logo
{
	width:180px;
	height:auto;
}
.by_header_right
{
	width:auto;
	height:auto;
	margin-top: 0px;
	text-align: right;
}
.by_header_rightScroll
{
	float: right;
	margin-top: -1px !important;
	margin-left: 10px;
}
.by_header_right a
{
	font-size: 16px;
	color:#fff;
}
.by_header_right_divider
{
	margin-left: 2px;
	margin-right: 2px;
	font-size: 14px;
	color:#fff;
}
.by_header_right a:hover
{
	color:#fff;
}
.by_header_contact
{
	width: auto;
	height: auto;
	color:#fff;
	font-size: 16px;
	font-weight: bold;
	margin-top: 2px;
	letter-spacing: 1px;
}
.by_header_right_s
{
	margin-top: 6px;
	height: 30px;
}
.by_header_right_search
{
	width: 150px;
	height: auto;
	margin-top: 5px;
}
.by_header_right_search input
{
	border: 0px;
	border-bottom:1px solid #fff;
	outline: none;
	font-family: century_gothic !important;
	font-style: italic;
	font-size: 14px;
	color: #fff;
	background: transparent;
}
.by_header_right_search_image
{
	color: #fff;
	margin-top: 6px;
}

.by_header_right_search
{
	display: none;
}
.by_header_right_other
{
	width:auto;
	height:auto;
	margin-top: 0px;
	text-align: right;
	font-size: 14px;
	margin-top: -4px;
}
.by_header_right_other a, .by_header_right_other a:hover
{
	color: #fff;
}
.menuPipeline:after
{
	content:' |';
	color:#fff;
}
.by_header_right_search_other
{
	width: 100%;
	height: 25px;
	margin-top: 4px;
}
.by_header_right_search_other_left
{
	width: calc(100% - 50px);
	height: 23px;
	border: 1px solid #ccc;
	border-right:0px;
}
.by_header_right_search_other_left input
{
	border: 0px;
	outline: none;
	font-family: century_gothic !important;
	font-style: italic;
	font-size: 13px;
	color: #fff;
	width: calc(100% - 10px);
	line-height: 23px;
	padding:0px 5px 5px;
	background: transparent;
}
.by_header_right_search_other_image
{
	width: 50px;
	height: 23px;
	line-height: 10px;
	padding:5px;
	background-color: #FF850F;
	cursor: pointer;
	color: #fff;
	font-size: 10px;
	text-align: center;
	border:1px solid #FF850F;
	border-left: 0px;
}
.by_header_right_search_other_cart
{
	width: calc(100% - 112px);
	margin-top: 4px;
}
.by_mobile_header
{
	margin-top: 54px;
	width: 100%;
	padding: 5px 2%;
	height: 50px;
}
.by_header_right_mobile
{
	height: 30px;
	width: 30%;
	border-bottom:1px solid #999;
}
.by_header_right_mobile_search
{
	width: calc(100% - 15px);
	height: auto;
	margin-top: 5px;
}
.by_header_right_mobile_search input
{
	border: 0px;
	outline: none;
	font-family: century_gothic !important;
	font-size: 15px;
	color: #999;
	width: 100%;
	background: transparent;
}
.by_header_right_mobile_search_image
{
	color: #FF850F;
	margin-top: 6px;
}
.by_mobile_header_profile
{
	margin-right: 10px;
	margin-top: 5px;
	font-size: 15px;
}
.by_mobile_call_wrap
{
	width: 100%;
	height: 41px;
	padding: 7px 10px 10px;
	font-size: 18px;
	background:url('../../img/community/mobile/Callnow.jpg?versionTimeStamp=%PROJECT_VERSION%') no-repeat center center;
	color: #fff ;
}
.by_mobile_call_wrap  a
{
	background-color: #004f24;
	border-radius: 10px !important;
	color: #fff;
	padding: 5px 10px;
}
.by_mobile_call_wrap  a:hover
{
	text-decoration: none;
}
.headerHeightNoBreadCrumb 
{
	height: 57px;
}
@media ( max-width : 720px){
	.by_logo
	{
		width: 150px;
	}
	.by_mobile_left_hide_panel
	{
		width: 90%;
		height: 100%;
		left: 0%;
		top: 0px;
		position: fixed;
		z-index: 1;
		overflow-y:auto;
		background: #fff;
	}
	.by_header_right_divider
	{
		color: #000;
	}
	.by_header
	{
		height: 54px;
	}
	.headerHeightNoBreadCrumb 
	{
		height: 0px;
	}
}