.by_header
{
	width: 100%;
	padding:5px 15px 0px 15px;
	position: fixed;
	z-index: 90;
	top: 0px;
	left: 0px;
}
.by_header_image
{
	background: url(../../img/home/home-banner-bg.png?versionTimeStamp=%PROJECT_VERSION%) no-repeat bottom center;
	background-size: cover;
}
.by_logo
{
	width:220px;
	height:auto;
}
.by_header_right
{
	width:auto;
	height:auto;
	margin-top: 0px;
	text-align: right;
}
.by_header_rightScroll
{
	float: right;
	margin-top: -1px !important;
	margin-left: 10px;
}
.by_header_right a
{
	font-size: 16px;
	color:#fff;
}
.by_header_right_divider
{
	margin-left: 2px;
	margin-right: 2px;
	font-size: 14px;
	color:#fff;
}
.by_header_right a:hover
{
	color:#fff;
}
.by_header_contact
{
	width: auto;
	height: auto;
	color:#fff;
	font-size: 16px;
	font-weight: bold;
	margin-top: 2px;
	letter-spacing: 1px;
}
.by_header_right_s
{
	margin-top: 3px;
	height: 30px;
}
.by_header_right_search
{
	width: 130px;
	height: auto;
	margin-top: 5px;
}
.by_header_right_search input
{
	border: 0px;
	border-bottom:1px solid #fff;
	outline: none;
	font-family: century_gothic !important;
	font-style: italic;
	font-size: 14px;
	color: #fff;
	background: transparent;
}
.by_header_right_search_image
{
	color: #fff;
	margin-top: 0px;
	font-size: 21px;
}

.by_header_right_search
{
	display: none;
}
.by_header_right_other
{
	width:266px;
	height:auto;
	text-align: right;
	font-size: 14px;
	margin-top: 7px;
}
.by_header_right_other a, .by_header_right_other a:hover
{
	color: #fff;
}
.menuPipeline:after
{
	content:' |';
	color:#fff;
}
.by_header_right_search_other
{
	width: 100%;
	height: 25px;
	margin-top: 4px;
}
.by_header_right_search_other_left
{
	width: calc(100% - 50px);
	height: 23px;
	border: 1px solid #ccc;
	border-right:0px;
}
.by_header_right_search_other_left input
{
	border: 0px;
	outline: none;
	font-family: century_gothic !important;
	font-style: italic;
	font-size: 13px;
	color: #fff;
	width: calc(100% - 10px);
	line-height: 23px;
	padding:0px 5px 5px;
	background: transparent;
}
.by_header_right_search_other_image
{
	width: 50px;
	height: 23px;
	line-height: 10px;
	padding:5px;
	background-color: #FF850F;
	cursor: pointer;
	color: #fff;
	font-size: 10px;
	text-align: center;
	border:1px solid #FF850F;
	border-left: 0px;
}
.by_header_right_search_other_cart
{
	width: calc(100% - 112px);
	margin-top: 4px;
}
.by_mobile_header
{
	width: 100%;
	padding: 5px 15px;
	height: 50px;
	margin-top: 57px;
}
.by_header_right_mobile
{
	height: 47px;
	width: 23px;
	margin-right: 4px;
	margin-top: 2px;
}
.by_header_right_mobile_search, .by_header_right_mobile_search2
{
	width: calc(100% - 25px);
	height: auto;
	margin-top: 12px;
	border-bottom:1px solid #fff;
}
.by_header_right_mobile_search{	
	display: none;
}
.by_header_right_mobile_search input, .by_header_right_mobile_search2 input
{
	border: 0px;
	outline: none;
	font-family: century_gothic !important;
	font-size: 15px;
	color: #fff;
	width: 100%;
	background: transparent;
}
.by_header_right_mobile_search_image
{
	color: #fff;
    margin-top: 17px;
    cursor: pointer;
    font-size: 17px;
    padding: 0px 4px 0px 4px;
    height: 23px;
    line-height: 22px;
    background: #FF850F;
    border-radius: 6px !important;
}
.by_mobile_header_profile
{
	margin-right: 10px;
	margin-top: 9px;
	font-size: 15px;
}
.by_mobile_call_wrap
{
	width: 100%;
	height: 41px;
	padding: 7px 10px 10px;
	font-size: 18px;
	background:url('../../img/community/mobile/Callnow.jpg?versionTimeStamp=%PROJECT_VERSION%') no-repeat center center;
	color: #fff ;
}
.by_mobile_call_wrap  a
{
	background-color: #004f24;
	border-radius: 10px !important;
	color: #fff;
	padding: 5px 10px;
}
.by_mobile_call_wrap  a:hover
{
	text-decoration: none;
}
.headerHeightNoBreadCrumb 
{
	height: 57px;
}
.by_headerProfileText
{
	position: absolute;
	right: 21px;
    width: 110px;
    color: #fff;
    font-size: 15px;
    top: 0px;
    text-align: right;
}
.by_headerProfileText a
{
	color: #fff;
	text-decoration: none;
}
.by_headerProfileText a:hover
{
	text-decoration: underline;
	color: #fff;
}
@media ( max-width : 720px){
	.by_headerProfileText
	{
		top: 20px;
	}
	.by_logo
	{
		width: 150px;
	}
	.by_mobile_left_hide_panel
	{
		width: 90%;
		height: 100%;
		left: 0%;
		top: 0px;
		position: fixed;
		z-index: 1;
		overflow-y:auto;
		background: #fff;
	}
	.by_header_right_divider
	{
		color: #000;
	}
	.by_mobileHeaderHeight
	{
		height: 100px;
	}
	.headerHeightNoBreadCrumb 
	{
		height: 90px;
	}
}
@media ( max-width : 590px){
	.by_mobile_header_profile
	{
		width: 100%;
		text-align: center;
		margin-top: 1px;
	}
}
.by_menuMore2
{
	font-weight: bold;
}
.by_menuMore:after
{
	content: '+';
    /*width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-top: 10px solid #FF850F;
    border-right: 5px solid transparent;*/
    display: inline-block;
    margin-left: 3px;
    color: #FF850F;
    font-weight: bold;
    font-size: 28px;
    line-height: 19px;
    vertical-align: middle;
    margin-top: -4px;
}
.by_menuMore2:after
{
	content: '-';
    /*width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-bottom: 10px solid #FF850F;
    border-right: 5px solid transparent;*/
    display: inline-block;
    margin-left: 6px;
    color: #FF850F;
    font-weight: bold;
    font-size: 28px;
    line-height: 19px;
    vertical-align: middle;
    margin-top: -6px;
}
.by_headerMoreMenu
{
	width: 100%;
	position: fixed;
	z-index: 90;
	left: 0px;
	display: none;	
}
.by_headerMoreMenuMask
{
	width: 100%;
	height: auto;
	background: rgba(8, 60, 8, 0.78);
}
.by_menuMoreLeft
{
	width: calc(48% - 55px);
	height: auto;
	float: left;
	margin-right: 2%;
}
.by_menuMoreThumb
{
	width: 100%;
	padding-bottom: 10px;
	height: auto;
}
.by_menuMoreThumbImg
{
	width: 35px;
	height: auto;
	margin-top: 1px;
	float: left;
}
.by_menuMoreThumbText
{
	width: calc(100% - 35px);
	height: auto;
	font-size: 18px;
	line-height: 20px;
	color: #000;
	font-weight: bold;
}
.by_menuMoreThumbText:hover
{
	text-decoration: underline;
}
.by_menuMoreThumbText span
{
	font-size: 15px;
	display: block;
	color: #A09E9E;
	font-weight: normal;
}
.by_menuMoreThumbText:hover span, .by_menuMoreThumbText span:hover 
{
	text-decoration: none !important;
}
.by_menuMoreRight
{
	width: 110px;
	height: auto;
	float: left;
}
.by_menuMoreRightThumb
{
	font-size: 17px;
	line-height: 20px;
	color: #000;
	padding-bottom: 20px;
	font-weight: bold;
	width: 100%;
}
.by_menuMoreRightThumb a
{
	color: #000;
	display: block;
}
.by_menuMoreRightThumb a:hover
{
	color: #000;
	text-decoration: underline !important;
}
.by_menuMoreRightThumb a:after
{
	content: '';
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 10px solid #FF850F;
    border-bottom: 5px solid transparent;
    display: inline-block;
    float: right;
    margin-top: 6px;
}
.by_menuMoreRightThumb span
{
	font-size: 13px;
	font-weight: normal;
}
.by_menuMoreRightThumb span a:after
{
	content: '';
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-left: 0px solid transparent;
    border-bottom: 0px solid transparent;
    display: inline-block;
    float: none;
    margin-top: 0px; 
}
.by_headerPhoneNumber, .by_headerPhoneNumber a
{
	color: #fff;
	font-size: 21px;
	text-decoration: none;
	margin-right: 8px;
	margin-top: 15px;
}
.by_headerPhoneNumber a:hover
{
	text-decoration: none;
}
.by_headerPhoneNumber img
{
	width: 20px;
	margin-top: -3px;
}

@media ( max-width : 700px){
	.by_headerMoreMenu  .by_container
	{
		max-height: calc(100vh - 101px);
		overflow-y:auto; 
	}
	.by_menuMoreLeft
	{
		width: 300px;
		float: none;
		margin-right: 0px;
	}
	.by_menuMoreRight
	{
		float: none;
		width: 300px;
		border-top: 1px solid #777575;
		margin-top: 10px;
		padding-top: 18px;
	}
	.by_menuMoreRightThumb a:after
	{
		float: left;
		margin-right: 26px;
	}
	.by_menuMoreRightThumb
	{
		font-size: 18px;
	}
}
@media ( max-width : 420px){
	.by_menu
	{
		font-size: 13px !important;
	}
}