.by_directoryRegister
{
	width: calc(100% - 30px);
	margin: 10px 15px;
	color: #000;
	font-size: 15px;
	line-height: 22px;
}
.by_directoryRegister a
{
	font-size: 19px;
	font-weight: bold;
	text-decoration: underline;
	color: #004f24 ;
}
.by_housingCard
{
	position: relative;
	min-height:60px;
	cursor: pointer;
	width: 100%;
    border: 1px solid #d8d8d8;
    margin-bottom: 20px;
    padding:0px;
    max-width: 100%;
    border-radius: 2px !important;
    overflow-wrap: break-word;
    word-break: break-word;
    background:#f9f9f9;
    margin-bottom:20px;
}
.by_housingCard_profileImage
{
	width:228px;
	min-height:228px;
	text-align:center;
	line-height:228px;
	float:left;
	background-repeat:no-repeat;
	background-size:contain;	
	background-position:center;
	max-height:100%;
	height:30px;
    background-color: #f9f9f9;
}
.by_housingCard_content
{
	width:calc(100% - 228px);
	float:left;
	height:auto;
	padding-left:2%;
	padding-top:15px;
	position:relative;
	background-color:#fff;
}
.by_housingCard_contentHead
{
	width:calc(100% - 80px);
	height:auto;
	font-size: 16.181px;
    font-weight: bold;
    line-height: 25.901px;
    color: #000000;
    padding-bottom:6px;
}
.by_housingCard_contentLeft
{
	width:47%;
	float:left;
	margin-right:3%;
	position:relative;
	min-height:140px;
}
.by_housingCard_contentRight
{
	width:47%;
	margin-right:3%;
	float:left;
	float:left;
}
.by_housingCard_contentIconWrap
{
	padding-bottom:6px;
}
.by_housingCard_contentIconWrap .divLeft
{
	width:30px;
	height:auto;
}
.by_housingCard_contentIconWrap .divRight
{
	width: calc(100% - 30px);
	height:auto;
	float:left;
}
.by_housingCard_contentIconWrap .divRight:first-child span
 {
	margin-left: -5px;
}
.by_housingCard_contentIconWrap .fa-map-marker:before
{
	color: #A9A9A9;
    font-size: 20px;
}
.by_housingCard_contentIconWrap a
{
	color: #00A24A;
}
.rateValue
{
	width: 21px;
    text-align: center;
    font-size: 12px;
    height: 21px;
    padding: 1px 4px 4px 3px;
    margin-right: 5px;
    color: #000;
    font-family: helvetica_narrow;
    display: inline-block;
    font-style: normal;
    letter-spacing: -0.5px;
}
.by_housingCard_readmore
{
	margin-right:15px;	
	padding-bottom:10px;
}
 a.by_housingCard_readmore
{
	color: #00A24A;
}
.by_housingCard_address
{
	margin-left:-10px;
}
.by_housingCard_contentIconWrapAddHeight
{
	min-height:25px;
}
.by_housingCard_contentIconWrap i.profileStar
{
	width: 34px !important;
    height: 34px !important;
    border-radius: 0% !important;
    padding: 9px 2px 0px 1px;   
    font-size: 12px;
    margin-left: -6px;
    margin-top: -6px;
    letter-spacing: -1px;
    background-image: url('../../img/profile/star_ratingIcons.png?versionTimeStamp=%PROJECT_VERSION%');
}
@media screen and (max-width: 780px){
	.by_housingCard_profileImage {
		width: 30%;
	}
	.by_housingCard_content {
		width: 70%;
	}
	.by_housingCard_contentHead {
		font-size:20px;
	}
	.by_housingCard_contentIconWrap .divRight{
		font-size:15px;
	}
}
@media screen and (max-width: 600px){
	.by_housingCard
	{
		border: 1px solid #908D8D;
	}
	.by_housingCard_profileImage {
		width: 100%;
		text-align: center;
		line-height: 100% !important;
		min-height: auto;
		height: auto;
	}
	.by_housingCard_profileImage img
	{
		max-width: 100%;
		max-height: 200px;
		min-height: 100px;
	}
	.by_housingCard_content {
		width: 100%;
	}
	.by_housingCard_contentLeft {
		width: 98%;
		margin-right: 2%;
		position: relative;
		height: auto;
	}
	.by_housingCard_contentRight {
		width: 98%;
		margin-right: 2%;
	}
	.by_housingCard_contentVerified {
		position: relative;
		bottom: 0px;
		margin-bottom: 10px;
	}
	.by_housingCard_readmore {
		margin-right: 15px;
		position: relative;
		bottom: 0px;
		z-index: 10;
		right: 0px;
		padding-bottom:10px;
	}
	.by_housingCard_contentIconWrapAddHeight, .by_housingCard_contentLeft {
		min-height: 10px;
	}
}