.by_menu
{
	width: 327px;
	margin-top: 10px;
	height: auto;
	font-size: 18px;
	color: #fff;
	margin-left: auto;
	margin-right: auto;
	margin-top: -32px;
}
.by_menu a
{
	color: #fff;
	margin-left: 11px;
	margin-right: 10px;
}
.by_menu a:hover
{
	color: #fff;
	text-decoration: none;
	border-bottom:1px solid #fff;
}
.by_menu_Active
{
	border-bottom:1px solid #fff;
	font-weight: bold;
}
.by_subMenu
{
	width: 100%;
	height: auto;
	padding: 80px 0px 0px 0px;
	background: #000 url('../../img/community/desktop/communitiesBg.jpg?versionTimeStamp=%PROJECT_VERSION%') no-repeat top right;
	background-size: cover;
}
.by_subMenu_head
{
	width: 90%;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	max-width: 960px;
}
.by_subMenu_headThumb
{
	width: 32%;
	margin-left: 0.5%;
	margin-right: 0.5%;
	border: 1px solid #fff;
	border-bottom: 0px;
	border-top-right-radius: 4px !important;
	border-top-left-radius: 4px !important;
	text-align: center;
	height: 50px;
	line-height: 20px;
	color: #fff;
	cursor: pointer;
	float: left;
	font-size: 20px;
	font-weight: bold;
	background: rgba(5, 48, 14, 0.7);
}
.by_subMenu_headThumb:hover
{
	background: #12852d;
}
.by_subMenu_headThumb a
{
	color: #fff;
	padding: 15px 0px;
	display: block;
	width: 100%;
	height: 100%;
}
.by_subMenu_headThumb a:hover
{
	color: #fff;
	text-decoration: none;
}
.by_subMenu_headThumb_active, .by_subMenu_headThumb_active:hover
{
	background: #fff;
	color: #004f24;
	cursor: inherit;
}
.by_subMenu_headThumb_active a, .by_subMenu_headThumb_active a:hover
{
	color: #004f24; 
	background: #fff;
}
.by_subMenu_content
{
	width: 100%;
	height: auto;
	padding: 0px 3%;
	border-top: 1px solid #fff;	
}
.by_subMenu_contentThumb
{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	margin-bottom: 10px;
	padding-top: 10px;
	max-width: 1000px;
}
.by_subMenu_contentItem
{
	width: 18%;
	height: 100px;
	margin-right: 1%;
	margin-left: 1%;
	float: left;
	text-align: center;
	line-height: 18px;
	opacity: 0.5;
	text-transform: capitalize;
}
.by_subMenu_contentItemMore
{
	opacity:1;
	color:#FF850F;
	cursor: pointer;
	margin-top: 30px;
	font-size: 16px;
	height: 75px !important;
}
.by_subMenu_contentItemMore:hover
{
	color:#FFB70F;
}
.by_subMenu_contentItemMore img
{
	margin-bottom: 10px;
}
.by_subMenu_contentItem_active, .by_subMenu_contentItem:hover
{
	opacity:1;
}
.by_subMenu_contentItem_active a
{
	font-weight: bold;
	color:#fff !important;
}
.by_subMenu_contentItem2
{
	width: 14%;
}
.by_subMenu_contentItem a, .by_subMenu_contentItem2 a
{
	font-size: 16px;
	color: #fff;
}
.by_subMenu_contentItem a:hover, .by_subMenu_contentItem2 a:hover
{
	text-decoration: none;
	color: #fff;
}
.by_mobile_leftPanel_hide
{
	width: 100%;
	height: calc(100% - 28px);
	top: 54px;
	z-index: 90;
	position: fixed;
	left: -90%;
}
.by_mobile_leftPanel
{
	width: 90%;
	height: 100%;
	float: left;
	background: #fff;
	overflow: hidden;
	overflow-y:auto;
}
.by_mobile_leftPanel_image
{
	width: 28px;
	height: 80px;
	background: url('../../img/community/mobile/humburgerG.png?versionTimeStamp=%PROJECT_VERSION%');
	float: left;
	margin-top: calc(50% - 40px);
	position: fixed;
	left: 0;
}
.by_subMenu_headMobile
{
	width: 98%;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
}
.by_subMenu_headMobileThumb
{
	width: 33%;
	border: 1px solid #004f24;
	border-bottom: 0px;
	border-top-right-radius: 4px !important;
	border-top-left-radius: 4px !important;
	text-align: center;
	height: 51px;
	line-height: 17px;
	color: #004f24;
	cursor: pointer;
	float: left;
	font-size: 16px;
	font-weight: bold;
	word-wrap:break-word;
}
.by_subMenu_headMobileThumb a
{
	display: block;
	width: 100%;
	height: 100%;
	padding: 10px 8%;
}
.by_subMenu_headMobileThumb_active, .by_subMenu_headMobileThumb_active a
{
	background: #004f24;
	color: #fff;
	cursor: inherit;
}
.by_subMenu_contentMobile
{
	width: 100%;
	height: auto;
	padding: 0px 3%;
	border-top: 2px solid #004f24;
}
.by_subMenu_contentMobileThumb
{
	width: 96%;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	margin-bottom: 20px;
	padding-top: 20px;
}
.by_subMenu_contentMobileItem
{
	width: 31%;
	height: 100px;
	margin-right: 1%;
	margin-left: 1%;
	float: left;
	text-align: center;
	line-height: 18px;
	opacity:0.6;
}
.by_subMenu_contentMobileItem_active, .by_subMenu_contentMobileItem:hover
{
	font-weight: bold;
	opacity:1;
}
.by_subMenu_contentMobileItem a
{
	font-size: 15px;
	color: #004f24;
}
.by_subMenu_contentMobileItem a:hover
{
	text-decoration: none;
}

.by_subMenuPlus, .by_menuDetailed
{
	width: 100%;
	padding-bottom: 57px;
	max-width: 250px;
	box-shadow: 5px 0px 8px rgba(4, 4, 4, 0.15);
	background: #eee;
}
.by_menuDetailed{
	overflow-y:auto;
}
/*
.by_subMenuPlus_head
{
	width: 90%;
	padding: 3px 5%;
	font-size: 15px;
}
.by_subMenuPlus_head .divRight
{
	cursor: pointer;
}
.by_subMenuPlus_content
{
	width: 100%;
	height: auto;
}
.by_subMenuPlus_content a
{
	display: block;
	padding: 3px;
}*/
.nav>li> a.by_treeMenuText, .nav>li> a.by_treeMenuText:hover
{
	color: #000 !important;
	font-size: 15px;
	background: transparent;
	padding: 6px 15px;
	font-weight: normal;
}
.nav>li> a.by_treeMenuText:hover
{
	font-weight: bold;
}
.nav>li> a.by_treeMenuIcon:after
{
	content : '+';
	top: 4px;
    font-size: 22px;
    font-weight: bold;
}
.nav>li> a.by_treeMenuIconMinus:after
{
	content : '-';
	top: 4px;
    font-size: 22px;
    font-weight: bold;
}
.nav>li> a.by_treeMenuIcon
{
	font-size: 15px;
	color: #999 !important;
	padding: 0px 15px;
}
.nav>li> a.by_treeMenuIcon:hover
{
	background: transparent;
}
.nav>li> a.by_treeMenuTextActive
{
	font-weight: bold !important;
	color: #004f24 !important;
}
.nav>li> a.by_treeSubMenu
{
	margin-left: 8px;
	margin-right: 8px;
}
.nav>li> a.by_treeSubMenu, .nav>li> a.by_treeSubMenu:hover
{
	color: #000;
	background: transparent;
	padding: 3px 15px;
}
.nav>li> a.by_treeSubMenu_active, .nav>li> a.by_treeSubMenu:hover
{
	font-weight: bold;
}

.nav>li> a.by_treeSubMenu_active
{
	font-size: 16px !important;
}

.by_treeSubMenu_Wrapper{
	display: none;
}
.by_menuHousingBorderTop
{
	width: calc(100% - 30px);
	margin: 1px 15px;
	height:1px;
	background: #ccc;
	margin-top:20px;
}
.by_menuHousingBorderBottom
{
	width: calc(100% - 30px);
	margin: 1px 15px;
	height:1px;
	background: #ccc;
	margin-bottom: 20px;
}
.by_menu_cityFilter
{
	width: calc(100% - 32px);
	height: auto;
	border: 1px solid #004f24;
	margin: 0px 15px;
}
.by_menu_cityFilterLeft
{
	font-size: 20px;
	margin: 5px;
}
.by_menu_cityFilterRight
{
	width: calc(100% - 40px);
	margin-top: 4px;
	margin-right: 10px;
}
.by_menu_cityFilterRight input
{
	border: 0px;
	outline: none;
	background: transparent;
}
.by_profileDetailed_menu
{
	font-size: 16px;
	margin-top: 10px;
	color: #000;
	width: 100%;
	margin-bottom: 10px;
	cursor: pointer;
}
.by_profileDetailed_menu:hover, .by_profileDetailed_menuIcon span:hover
{	
	font-weight: bold;
}
.by_profileDetailed_menuActive a
{
	color:#005326;
	text-decoration: underline;
}
.by_profileDetailed_menuIcon
{
	font-size: 16px;
	margin-top: 10px;
	color: #000;
	width: 100%;
	margin-bottom: 10px;
	cursor: pointer;
	padding-left: 15px;
	padding-right: 15px;
}
.by_profileDetailed_menuIcon i 
{
	display: block;
	float: left;
}
.by_profileDetailed_menuIcon span{
	display: block;
	float: left;
}
.by_faAlign
{
    margin: 4px 10px 0px 3px;
}
@media ( max-width : 1000px){
	.by_subMenu_contentItem
	{
		width: 23%;
		height: 100px;
		margin-right: 1%;
		margin-left: 1%;
	}
	.by_subMenu_contentItem2
	{
		width: 18%;
	}
	.by_menu
	{		
		margin-left: 27%;
		width: 264px;
		font-size: 16px;
		margin-top: -30px;
	}	
	.by_menu a
	{
		margin-left: 5px;
		margin-right: 5px;
	}
}
@media ( max-width : 900px){
	.by_menu
	{		
		margin-left: 25%;
		font-size: 15px;
		margin-top: -28px;
	}
	.by_header_right_other
	{
		font-size: 13px;
	}
	.by_subMenuPlus .collapse
	{
		display: block !important;
		visibility: visible !important
	}
	.by_subMenuPlus .header-v7 .navbar-collapse {
		padding: 0;
		background: #fff;
		border-bottom: 0px solid #eee;
	}
	.by_subMenuPlus .header-v7 .navbar-default .navbar-nav {
		padding: 0px 0;
	}
	.by_subMenuPlus .header-v7 .menu-container
	{
		padding-left: 10px;
		padding-right: 10px;
	}
	.by_subMenuPlus .navbar-default .navbar-nav .open .dropdown-menu>li>a
	{
		color: #000 !important;
	}
}
@media (max-width: 767px){
	.header-v7 .navbar-default .navbar-nav > li > a {
		border-bottom: 0px;
	}
}
@media ( max-width : 720px){
	#homeMenuScroll
	{
		display: none !important;
	}
	.by_menu
	{
		float: none;
		margin-right: 0px;    
		text-transform: uppercase;
		margin-top: 2px;
		padding-bottom: 10px;
		width: 100%;
		margin-left: 0px;
	}
	.by_menu a
	{
		margin-right: 5px;
		margin-left: 5px;
	}
}
@media ( max-width : 560px){
	.by_subMenu_headMobileThumb a{
		padding:10px 6%;
	}
	.by_subMenu_contentMobileItem
	{
		width: 45%;
	}
}
@media ( max-width : 450px){
	.by_subMenu_headMobileThumb a{
		padding:10px 4%;
	}
}
@media ( max-width : 385px){
	.by_subMenu_headMobileThumb a{
		padding:10px 2%;
	}
}
@media ( max-width : 320px){
	.by_menu a
	{
		font-size: 13px;
	}
}

.smartScroll-wrapper{
	position: static;
}

@media ( max-width : 720px) and (orientation:landscape){
	.by_mobile_leftPanel_image
	{	
		margin-top: calc(15% - 40px);
	}
}
.menuDivider
{
	width: 100%;
	height: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
.by_menuContactNumber
{
	background: #666;
	height: auto;
	width: 100%;
	padding: 3px 8px;
	margin-top: 5px;
	color: #fff;
	font-size: 20px;
}
.fa-phone2:before {
    content: "\f095";
}
.by_menuHeadFind
{
	width: 100%;
	height: auto;
	padding: 2px 15px;
	margin-bottom: 10px;
	color: #fff;
	font-size: 18px;
	background-color: #FF850F;	
}
.by_menuHeadFindArrow
{
	margin-top: -12px;
    margin-left: 20px;
    display: inline-block !important;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #FF850F;
    float: left;
    padding: 0px !important;
    background: none !important;
}