.replyCard {
    height:auto;
    min-height: 50px;
    padding: 0px ;
    font-family: century_gothic !important;
    overflow-wrap: break-word;
    background: #F9F9F9;
    margin-bottom: 20px;
    border-radius: 0px !important;
    border:1px solid #ccc;
    /*max-width: 720px;*/
}
.replyCard .replyCard
{
	background:#F7F7F7;
	border-right:0px;
	border-bottom:0px;
	border-left:0px;
}
.by-commment-bg-gray
	{
	min-height: 50px !important;
}

.replyCardImg{
    max-height: 168px;
    margin-top: 9px ;
    margin-left: 9px;
    margin-left: 12px ;
    width:43px; 
    float:left;
}
.replyCard_right
{
	width:calc(100% - 66px);
	 float:left;
	 margin-left:10px;
	 margin-top:15px;
}
.replyCard_list
{
	padding:0px;
	margin:0px 0px 10px 0px;
}
.replyCard_list li
{
	list-style:none;
	display:inline-block;
}
.replyCardShare
{
	padding:0px 15px;
	text-align:right;
}
.replyCardShareList li
{
	list-style:none;
	display:inline-block;
	margin-left:10px;
	position:relative;
}
.replyCardShareList li i, .replyCardShareList li span, .replyCardShareList li div
{
	float:left;
}
.replyCardShareList li span{
	position:absolute;
	    font-size: 11px;
    padding: 0px 1px 1px 1px;
    display: inline-block;
    float: left;
    height: auto;
    border-radius: 7px !important;
    color: #000;
    width: 20px;
    background-color: #E6E6E6;
    position: static;
    margin-top: -3px;
    margin-left: -6px;
    line-height: 11px;
    text-align:center;
}
.replyCardShareList li div
{
	margin-left:3px;
	margin-top:-2px;
	cursor:pointer;
}
.replyCardInsideComment
{
	margin-top: 10px;
    background-color: #F2F2F2;
    margin: 10px;
    border:1px solid #ccc;
    padding:0px 10px 10px 10px;
}

/*  reviews card css */
.by_reviewsCard
{
    widows: 100%;
    padding-bottom: 10px;
}
.by_reviewsCardUser
{
    width: calc(30% - 53px);
    float: left;
    margin-left: 10px;
    margin-top: 9px;
}
.by_reviewsCardText
{
    width: calc(63% - 10px);
    float: left;
    margin-left: 10px;
    margin-top: 9px;
}
.by_reviewsCardUser i.profileStar {
    width: 34px !important;
    height: 34px !important;
    border-radius: 0% !important;
    padding: 5px 2px 0px 1px;
    line-height: 29px;
    font-size: 12px;
    margin-left: -6px;
    display: block;
    text-align: center;
    letter-spacing: -1px;
    background-image: url('../../img/profile/star_ratingIcons.png?versionTimeStamp=%PROJECT_VERSION%');
}
.by_proReviewButton
{
    background: #103E10;
    width:80px;
    text-align: center;
    padding: 5px 15px;
    line-height: 20px;
    color: #fff;
    font-size: 15px;
    float: right;
    margin-right: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}
.rateReviewDivider
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    background: #000;
    margin-top: 20px;
    margin-bottom: 10px;
}
@media screen and (max-width: 980px){
    .rateReviewDivider
    {
        display: none;
    }
}
.editCommentEditor
{
    display: none;
}