<div class="by_homeModiBanner bannerHeightExp by_headerBoderHome" style="position:relative;">
<div class="headerHeightNoBreadCrumb margin-bottom-0"></div>
    <div class="container">
      <div class="by_homeModiBannerText">
         <h1>
            <span class="by_homeModiBannerText1">Experience Store in Kormangala</span>
            <span class="by_homeModiBannerText2">Solutions &amp; Activities</span>
            <span class="by_homeModiBannerText3">for the seniors and for those who take care of them </span>
         </h1>
     </div>
   </div>
   <div class="divRight by_homeExpmage">
    <img src="assets/img/experience_store/exp_profile.png?versionTimeStamp=%PROJECT_VERSION%" alt="Experience Store" width="100%" />
  </div>
</div>
<div class="clearfix"></div>


<div class="by_callToAction">
  <img src="assets/img/logo_symbol.png?versionTimeStamp=%PROJECT_VERSION%" alt="Logo" /> We help you find best elder care solutions.
  <xyz ng-if="$root.windowWidth > 720"> <i class="fa fa-phone2"></i> {{telNo}}</xyz>
  <xyz ng-if="$root.windowWidth < 721">
    <a href="tel:{{telNo}}">
      <div class="by_callToActionButton"><img
        src="assets/img/home/call.png?versionTimeStamp=%PROJECT_VERSION%" alt="BeautifulYears Call"> Call 
      </div>
    </a>
  </xyz>
</div>

<div class="by_container">
  <img src="assets/img/experience_store/banner.png?versionTimeStamp=%PROJECT_VERSION%" width="100%" alt="Experience store" />
</div>

<div class="by_container">
  <div class="by_homeSection" style="padding:40px 0px;">
    <div class="by_homeSectionInside">
      <div class="by_expVideoLeft">
        <div class="by_expVideoLeftLink">
          <a href="#!/shop/55bcad7be4b08970a736784b">
            <img src="assets/img/experience_store/catalog icon.png?versionTimeStamp=%PROJECT_VERSION%" alt="Catalog" />
            Our Catalogue
            <img src="assets/img/home/arrow_white.png?versionTimeStamp=%PROJECT_VERSION%" alt="Call to action" />
          </a>
        </div>
        <div class="by_expVideoLeftRent">
          Want to RENT<br/>
          instead of buying?<br/>
          Call {{telNo}}
        </div>
      </div>
      <div class="by_expVideo">
        <div class="by_expVideoShow">
          <img src="assets/img/experience_store/youtube_video.jpg?versionTimeStamp=%PROJECT_VERSION%" alt="BeautifulYears Video" width="100%"  />
          <div class="clearfix"></div>
          <div class="by_expVideoGrad" ng-click="showVideo();">
            <img src="assets/img/experience_store/play.png?versionTimeStamp=%PROJECT_VERSION%" alt="BeautifulYears Video Icon" ><br/>
            Watch the video
          </div>
        </div>
        <iframe id="by_expVideoFrame" width="100%" height="" src="https://www.youtube.com/embed/z9LkUOGUyrA?rel=0&showinfo=0&autoplay=0" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>


<div class="by_container by_homeCallBg" >
    <div class="by_homeSection" style="padding: 8px 0px;">
        <div class="by_homeSectionInside">
            <div class="by_homeModiWhy by_homeModiWhiteColor">
             Classes and activities for senior citizens
            </div>
        </div>
    </div>
</div>


<div class="by_container" style="border-bottom:1px solid #ccc;">
    <div class="by_homeSection" style="padding: 40px 0px 40px 0px;">
        <div class="by_homeSectionInside">
            <div class="by_homeModiWhy">                
                <img src="assets/img/experience_store/book_full.png?versionTimeStamp=%PROJECT_VERSION%" width="" alt="Events" ng-if="$root.windowWidth > 830" />
                <img src="assets/img/experience_store/book_full.png?versionTimeStamp=%PROJECT_VERSION%" width="690" alt="Events" ng-if="$root.windowWidth > 720 && $root.windowWidth < 831" />
                <img src="assets/img/experience_store/book_mobile.png?versionTimeStamp=%PROJECT_VERSION%"  alt="Events" ng-if="$root.windowWidth > 440 && $root.windowWidth < 721" />
                <img src="assets/img/experience_store/book_mobile.png?versionTimeStamp=%PROJECT_VERSION%" width="100%"  alt="Events" ng-if="$root.windowWidth < 441" />
            </div>
        </div>
    </div>
</div>



<div class="by_container">
  <div class="by_homeSection" style="padding:40px 0px;">
    <div class="by_homeSectionInside">
      <div class="col-md-12 no-padding">
            <div class="col-md-7 no-padding-left">
                <div class="by_contactAddress"> 
                    <b><span>Address:</span></b> #48, 2nd Main, Koramangala 1st block (near Wipro park),   Bangalore - 560034
                </div>
                <div class="by_contactHours">
                    <b><span>Opening hours:</span></b> 10:30AM - 7:30PM<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp; Sunday: 11-00AM - 5:00PM
                </div>
                <div class="by_contactPhone">
                    <b><span>Tel:</span></b> <a href="tel:{{telNo}}">{{telNo}}</a>
                </div> 
                <div class="by_contactPhone">
                    <b><span>E-mail:</span></b> <a href="mailto:contactus@beautifulyears.com">ContactUs@BeautifulYears.com</a>
                </div>
            </div>
            <div class="col-md-5 no-padding">
                <a href="https://goo.gl/sSu4BB" target="_blank">
                    <img src="assets/img/home/map.jpg?versionTimeStamp=%PROJECT_VERSION%" alt="Maps" width="100%" />
                </a>
            </div>            
        </div><div class="clearfix"></div>
    </div>
  </div>
</div>
<div ng-include="'app/shared/footer/contactUsText.html?versionTimeStamp=%PROJECT_VERSION%'"></div>



            