<div class="by_headerTopBg">
    <div class="by_container">
        <div class="by_homeSection no-padding">
            <div class="by_homeSectionInside">  
                <h1 class="by_headerHomeModiText">
                    <span class="by_headerOneSego">
                        Visit our Bangalore
                    </span>
                    <span class="by_headerOne">
                        Experience Store
                    </span>
                </h1>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="by_whiteBg">
    <div class="by_container by_headerBorder3">
        <div class="by_homeSection" style="padding:15px 0px;">        
            <div class="by_homeSectionInside" style="position:relative;">
                <h2 class="by_headerBelowBlack" style="max-width:385px;">
                    See, try, and buy (or rent) innovative <b>elder care products</b>.
                </h2>
                <img src="assets/img/experience_store/experiencestore.png?versionTimeStamp=%PROJECT_VERSION%" width="100%" alt="Experience Store Banner" class="by_expStore_bannerImg" style="bottom:-15px;"/>
            </div>
        </div>    
    </div>
</div>

<div class="clearfix"></div>

<div class="by_whiteBg">
    <div class="by_container ">
        <div class="by_homeSection" style="padding: 30px 0px 0px 0px;">        
            <div class="by_homeSectionInside by_homeSection_centuryBig" >
                <div class="by_homeSectionLeft divLeft by_homeSectionExpText">
                    <div style="border:2px solid #eee;">
                        <div class="by_expVideoShow" ng-click="showVideo();">
                            <img src="assets/img/home/home-eldercare-frame.jpg?versionTimeStamp=%PROJECT_VERSION%" alt="BeautifulYears Video" width="100%"  />
                            <div class="by_expVideoShowVideoIcon"></div>
                        </div>
                        <iframe id="by_expVideoFrame" width="100%" height="" src="https://www.youtube.com/embed/z9LkUOGUyrA?rel=0&showinfo=0&autoplay=0" frameborder="0" allowfullscreen ></iframe>
                    </div>
                </div>

                We have converted a small villa in Koramangala into a <b>demo room</b>, where we show how innovative elder care products improve lives of seniors.<br/><br/>

                You can try <a href="#!/shop/mobility/10212">chairlifts</a>, motorized wheel chairs, and other <a href="#!/shop/mobility/10212">mobility solutions</a>. You can see how anti-skid solutions <b>prevent senior falls</b>. You can test our <a href="#!/shop/daily-aids/10225">aids</a> for seniors, which make routine tasks more comfortable as we age.  We offer products for <a href="#!/shop/bed-&-bedroom/10213">bedridden</a> patients, <a href="#!/shop/incontinence-&-hygiene/10301">incontinence</a>, and more…   <br/><br/>

                We are here to help  you with any problem of elder care or aging that you are facing. <br/><br/>
                Our heart is with you! Visit us or <a href="#!/contactUs">contact us</a> for assistance. <br/><br/>
                Don’t live in Bangalore? <a href="#!/shop/all/55bcad7be4b08970a736784b">Shop on-line</a>! 

                <div class="clearfix"></div>

                <div class="clearfix margin-top-20" ng-if="$root.windowWidth < 721"></div>
            </div>
        </div>
    </div>
    <div class="by_container by_whiteBg by_borderBottomGreen by_sallulatesOne">
    </div>
</div>


<div class="by_container by_grayBg by_borderBottomGreen">
    <div class="by_homeSection" style="padding: 0px;">
        <div class="by_homeSectionInside">
            <div class="by_homeModi_sections">
                <div class="by_exp_sectionsThumb"> 
                    <div class="by_exp_sectionsThumbImg">
                        <img src="assets/img/experience_store/classes.png?versionTimeStamp=%PROJECT_VERSION%" width="" alt=" Classes  for Senior citizens" /> 
                    </div>          
                    <div class="by_exp_sectionsThumbTitle">
                        <a href="#!/classes-actitivies-for-senior-citizens">
                            <u>Classes</u>  
                            <small>for Senior citizens </small>
                        </a>
                    </div>                    
                    <div class="by_exp_sectionsThumbText">
                        We conduct <a href="#!/classes-actitivies-for-senior-citizens">classes & activities</a> for Senior citizens. Master smartphones, understand your rights, get creative, and more. To have a look at our upcoming events, <a href="#!/classes-actitivies-for-senior-citizens">click here</a>. 
                    </div>
                </div>
                <div class="by_exp_sectionsThumb">
                    <div class="by_exp_sectionsThumbImg">
                        <img src="assets/img/experience_store/services.png?versionTimeStamp=%PROJECT_VERSION%" width="" alt="Recommending Elder Care Services" /> 
                    </div>  
                    <div class="by_exp_sectionsThumbTitle">
                        <a href="#!/directory/56406cd03e60f5b66f62df26/all">
                            <small>Recommending</small> 
                            <u>Elder Care Services</u>
                        </a>
                    </div> 
                    <div class="by_exp_sectionsThumbText">
                        We recommend elder care <a href="#!/directory/56406cd03e60f5b66f62df26/all">service</a> & senior living <a href="#!/senior-living/55bcadaee4b08970a736784c/all">facilities</a>. Looking for a trusted nurse, a physiotherapist, or a senior living facility? Call <a href="#!/contactUs">click here</a> to learn more or <a href="#!/contactUs">contact us</a>
                    </div>
                </div>
                <div class="by_exp_sectionsThumbLast">
                    <div class="by_exp_sectionsThumbImg">
                        <img src="assets/img/experience_store/home-modification.png?versionTimeStamp=%PROJECT_VERSION%" width="" alt="Home Modifications" /> 
                    </div>  
                    <div class="by_exp_sectionsThumbTitle">
                        <a href="#!/home-modification">
                            <small>Home </small>
                            <u>Modifications </u>
                        </a>
                    </div> 
                    <div class="by_exp_sectionsThumbText">
                        We make your home <a href="#!/home-modification">senior-friendly</a>, for safety, security, and comfort of the elderly. Prevent adult falls and prepare your home for aging in place. For a free assessment of work <a href="#!/contactUs">contact us</a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div ng-include="'app/shared/footer/contactUsText.html?versionTimeStamp=%PROJECT_VERSION%'"></div>



            