<!-- <div class="by_homeModiBanner bannerHeightExp by_headerBoderHome" style="position:relative;">
<div class="headerHeightNoBreadCrumb margin-bottom-0"></div>
    <div class="container">
      <div class="by_homeModiBannerText">
         <h1>
            <span class="by_homeModiBannerText1">Visit our Bangalore</span>
            <span class="by_homeModiBannerText2">Experience Store</span>
         </h1>
     </div>
   </div>
   <div class="divRight by_homeExpmage">
    <img src="assets/img/experience_store/exp_profile.png?versionTimeStamp=%PROJECT_VERSION%" alt="Experience Store" width="100%" />
  </div>
</div> -->
<div class="by_directoryBannerTop"  style="position:relative; border-bottom:4px solid #008000"  >
  <div class="by_productList_banner">
  <div class="by_container">
        <div class="by_homeSection" style="padding:0px;">
            <div class="by_homeSectionInside">
              <div class="headerHeightNoBreadCrumb margin-bottom-0"></div>
              <div class="by_expBannerTopText">
                     <div class="by_productList_bannerText">
                       <h1> Visit our Bangalore
                       <strong>Experience Store</strong>
                        </h1>
                   </div>
              </div>   
            </div>
          </div>
        </div>
    <div class="clearfix"></div>
  </div>
  <div class="by_whiteBg">
    <div class="by_container">
        <div class="by_homeSection" style="padding:0px;">
            <div class="by_homeSectionInside">
             <div class="by_expBannerTopText">
              <div class="by_productList_bannerTextWrap" style="padding:30px 0px 20px 0px; width:100%;">
                <div class="by_homeSection_centuryArrow">
                          <b>SEE</b>,  <b>TRY</b>,  <b>BUY</b> <small>or</small> <b>RENT</b>
                      </div>
               <span>Do not live in Bangalore? <a href="#!/shop/55bcad7be4b08970a736784b">SHOP ON-LINE   </a></span>    
              </div><div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
    </div>

<div class="by_expStore_bannerImg">
 <img src="assets/img/experience_store/experiencestore.png?versionTimeStamp=%PROJECT_VERSION%" width="100%" alt="Product Banner" />
</div>
</div>
<div class="clearfix"></div>

<div class="by_whiteBg">
<div class="by_container ">
    <div class="by_homeSection" style="padding: 20px 0px 0px 0px;">        
        <div class="by_homeSectionInside">
            <div class="by_homeSectionLeft divRight">
                 <div class="by_homeModiListNumberTopExp">
                    <ol>
                        <li>See, try, and buy (or rent) innovative elder care products. Delivery across India.  </li>
                        <li><a href="#!/home-modification">Senior-friendly Home</a> showroom </li>
                        <li>We recommend elder care <a href="#!/directory/56406cd03e60f5b66f62df26/all">services</a> &amp; <a href="#!/senior-living/55bcadaee4b08970a736784c/all">senior living</a> facilities. Call <b>{{telNo}}</b> </li>
                        <li><a href="#!/classes-actitivies-for-senior-citizens">Classes &amp; activities</a> for Senior citizens: technology, legal, creative, and more…</li>
                    </ol>
                 </div>
            </div>
            <div class="by_homeSectionLeft divLeft">
                <div style="border:2px solid #eee;">
                    <div class="by_expVideoShow" ng-click="showVideo();">
                        <img src="assets/img/home/home-eldercare-frame.jpg?versionTimeStamp=%PROJECT_VERSION%" alt="BeautifulYears Video" width="100%"  />
                        <div class="by_expVideoShowVideoIcon"></div>
                    </div>
                    <iframe id="by_expVideoFrame" width="100%" height="" src="https://www.youtube.com/embed/z9LkUOGUyrA?rel=0&showinfo=0&autoplay=0" frameborder="0" allowfullscreen ></iframe>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="by_container by_whiteBg by_borderBottomGreen by_sallulatesOne">
</div>
</div>


<!-- <div class="by_callToAction">
  <img src="assets/img/logo_symbol.png?versionTimeStamp=%PROJECT_VERSION%" alt="Logo" /> We help you find best elder care solutions.
  <xyz ng-if="$root.windowWidth > 720"> <i class="fa fa-phone2"></i> {{telNo}}</xyz>
  <xyz ng-if="$root.windowWidth < 721">
    <a href="tel:{{telNo}}">
      <div class="by_callToActionButton"><img
        src="assets/img/home/call.png?versionTimeStamp=%PROJECT_VERSION%" alt="BeautifulYears Call"> Call 
      </div>
    </a>
  </xyz>
</div>

<div class="by_container">
  <img src="assets/img/experience_store/banner.png?versionTimeStamp=%PROJECT_VERSION%" width="100%" alt="Experience store" />
</div>

<div class="by_container">
  <div class="by_homeSection" style="padding:40px 0px;">
    <div class="by_homeSectionInside">
      <div class="by_expVideoLeft">
        <div class="by_expVideoLeftLink">
          <a href="#!/shop/55bcad7be4b08970a736784b">
            <img src="assets/img/experience_store/catalog icon.png?versionTimeStamp=%PROJECT_VERSION%" alt="Catalog" />
            Our Catalogue
            <img src="assets/img/home/arrow_white.png?versionTimeStamp=%PROJECT_VERSION%" alt="Call to action" />
          </a>
        </div>
        <div class="by_expVideoLeftRent">
          Want to RENT<br/>
          instead of buying?<br/>
          Call {{telNo}}
        </div>
      </div>
      <div class="by_expVideo">
        <div class="by_expVideoShow">
          <img src="assets/img/experience_store/youtube_video.jpg?versionTimeStamp=%PROJECT_VERSION%" alt="BeautifulYears Video" width="100%"  />
          <div class="clearfix"></div>
          <div class="by_expVideoGrad" ng-click="showVideo();">
            <img src="assets/img/experience_store/play.png?versionTimeStamp=%PROJECT_VERSION%" alt="BeautifulYears Video Icon" ><br/>
            Watch the video
          </div>
        </div>
        <iframe id="by_expVideoFrame" width="100%" height="" src="https://www.youtube.com/embed/z9LkUOGUyrA?rel=0&showinfo=0&autoplay=0" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>


<div class="by_container by_homeCallBg" >
    <div class="by_homeSection" style="padding: 8px 0px;">
        <div class="by_homeSectionInside">
            <div class="by_homeModiWhy by_homeModiWhiteColor">
             Classes and activities for senior citizens
            </div>
        </div>
    </div>
</div>


<div class="by_container" style="border-bottom:1px solid #ccc;">
    <div class="by_homeSection" style="padding: 40px 0px 40px 0px;">
        <div class="by_homeSectionInside">
            <div class="by_homeModiWhy">                
                <img src="assets/img/experience_store/book_full.png?versionTimeStamp=%PROJECT_VERSION%" width="" alt="Events" ng-if="$root.windowWidth > 830" />
                <img src="assets/img/experience_store/book_full.png?versionTimeStamp=%PROJECT_VERSION%" width="690" alt="Events" ng-if="$root.windowWidth > 720 && $root.windowWidth < 831" />
                <img src="assets/img/experience_store/book_mobile.png?versionTimeStamp=%PROJECT_VERSION%"  alt="Events" ng-if="$root.windowWidth > 440 && $root.windowWidth < 721" />
                <img src="assets/img/experience_store/book_mobile.png?versionTimeStamp=%PROJECT_VERSION%" width="100%"  alt="Events" ng-if="$root.windowWidth < 441" />
            </div>
        </div>
    </div>
</div>



<div class="by_container">
  <div class="by_homeSection" style="padding:40px 0px;">
    <div class="by_homeSectionInside">
      <div class="col-md-12 no-padding">
            <div class="col-md-7 no-padding-left">
                <div class="by_contactAddress"> 
                    <b><span>Address:</span></b> #48, 2nd Main, Koramangala 1st block (near Wipro park),   Bangalore - 560034
                </div>
                <div class="by_contactHours">
                    <b><span>Opening hours:</span></b> 10:30AM - 7:30PM<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp; Sunday: 11-00AM - 5:00PM
                </div>
                <div class="by_contactPhone">
                    <b><span>Tel:</span></b> <a href="tel:{{telNo}}">{{telNo}}</a>
                </div> 
                <div class="by_contactPhone">
                    <b><span>E-mail:</span></b> <a href="mailto:contactus@beautifulyears.com">ContactUs@BeautifulYears.com</a>
                </div>
            </div>
            <div class="col-md-5 no-padding">
                <a href="https://goo.gl/sSu4BB" target="_blank">
                    <img src="assets/img/home/map.jpg?versionTimeStamp=%PROJECT_VERSION%" alt="Maps" width="100%" />
                </a>
            </div>            
        </div><div class="clearfix"></div>
    </div>
  </div>
</div> -->
<div ng-include="'app/shared/footer/contactUsText.html?versionTimeStamp=%PROJECT_VERSION%'"></div>



            