<div class="by-editor-shareInfo" ng-if="!linkInfoLoading">
    <div class="row row-height" ng-if="linkInfo.type===0">
        <div class="col-md-6 shareInfo-content col-sm-12 col-xs-12">
            <div class="by-linkEditor-view-close" ng-click="resetEditorView()"></div>
            <p ng-if="linkInfo.title" style="font-weight: bold">{{linkInfo.title.substring(0, 70)}}</p>
            <p ng-if="linkInfo.description">{{linkInfo.description.substring(0, 120)}}</p>
            <p class="linkUrl">{{linkInfo.domainName}}</p>
        </div>
        
        
         <div class="col-md-6 shareInfo-generalImage col-sm-12 col-xs-12" ng-if="linkImages.length > 0">
         	<div ng-repeat="image1 in  linkImages track by $index" ng-if="$index == linkImagesIdx" >
            	<input type="button" value="<" ng-click="selectPrevLinkImage()" ng-disabled="$index == 0" ng-if="linkImages.length > 1"
            	style="position: absolute;top:5px;color: white;"
            	ng-style="$index == 0 && {'background-color':'rgba(0, 0, 0, 0.54)'} || {'background-color': 'rgba(165, 165, 165, 0.82)'}">
        		<input type="button" value=">" ng-click="selectNextLinkImage()" ng-disabled="$index == linkImages.length - 1" ng-if="linkImages.length > 1"
        		style="position: absolute;top:5px;left: 40px;color: white;"
        		ng-style="$index == linkImages.length - 1 && {'background-color':'rgba(0, 0, 0, 0.54)'} || {'background-color': 'rgba(165, 165, 165, 0.82)'}">
        		<img  src="{{image1}}" style="max-height:230px;">
         	</div>
            	
            
        </div>
        

    </div>
    <div class="row shareInfo-image" ng-if="linkInfo.type===1" style="background:#f1f1f1;">
        <div class="by-linkEditor-view-close" ng-click="resetEditorView()"></div>
        <img src="{{linkInfo.mainImage}}">
    </div>
    <div class="row shareInfo-image" ng-if="linkInfo.type===2">
        <div class="col-md-6 shareInfo-content col-sm-12 col-xs-12">
            <div class="by-linkEditor-view-close" ng-click="resetEditorView()"></div>
            <p ng-if="linkInfo.title" style="font-weight: bold">{{linkInfo.title.substring(0, 70)}}</p>
            <p ng-if="linkInfo.description">{{linkInfo.description.substring(0, 120)}}</p>
            <p class="linkUrl">{{linkInfo.domainName}}</p>
        </div>
        <div class="col-md-6 shareInfo-generalImage col-sm-12 col-xs-12" ng-if="linkInfo.mainImage">
            <!--  <img src="{{linkInfo.mainImage}}">-->
              <iframe ng-src="{{trustAsResourceUrl(linkInfo.embeddedVideo)}}" frameborder="0" allowfullscreen>
            </iframe>
        </div>

        <div class="col-md-6 shareInfo-generalImage col-sm-12 col-xs-12" ng-if="!linkInfo.mainImage && linkInfo.otherImages && linkInfo.otherImages.length > 0">
             <img src="{{linkInfo.otherImages[0]}}">
          
        </div>
    </div>

</div>
<div class="by-editor-shareInfo" ng-if="linkInfoLoading">
    <div class="by-editor-loadingImage"></div>
</div>
