<div class="by_menuDetailed col-md-12" ng-if="$root.windowWidth > 720"  style="position:fixed; bottom:0px; padding-top:10px;"  ng-init="leftPanelHeight();">
        <!--<div class="by_productDetail_leftSimilarTitle col-md-12 no-padding">
            <span ng-if="uiData.similarProductLength > 0">Similar Products</span>
            <span ng-if="uiData.similarProductLength === 0">No Similar Products Available</span>
        </div>

        <div class="col-md-12 no-padding" ng-repeat="product in uiData.similarProduct">
            <div >
                <a href="{{productUrl(product.id, product.name)}}" ng-click="$event.stopPropagation();">
                <div class="by_productDetail_leftSimilarThumb">
                    <div class="by_productDetail_leftSimilarThumbImage">
                        <img ng-src="{{product.primaryMedia.url}}" alt="{{product.name}}">
                    </div>
                    <div class="by_productDetail_leftSimilarThumbContent">
                        <div class="by_productDetail_leftSimilarThumbContentName text-capitalize">
                            {{product.name.substring(0, 25).toLowerCase()}}<span ng-if="product.name.length > 25">...</span>
                        </div>
                        <div class="by_productDetail_leftSimilarThumbContentPrice">
                            <strong ng-if="product.salePrice && product.salePrice.amount">Rs. {{product.salePrice.amount}}</strong><br/>
                            <strong ng-if="!product.salePrice || !product.salePrice.amount">Rs. {{product.retailPrice.amount}}</strong><br/>

                            <small ng-if="product.retailPrice != null && product.salePrice != null && product.retailPrice.amount != product.salePrice.amount">
                                <del>Rs {{product.retailPrice.amount}}</del>
                            </small>
                        </div>
                        
                    </div>
                    <div class="clearfix"></div>
                </div>
                </a>
            </div>
        </div>-->

        <div class="by_profileDetailed_menuIcon" ng-click="gotoHref('userReviews')">
            <i class="review-Icon_rate"></i> <span>Rate & Review</span>
            <div class="clearfix"></div>
        </div>
</div>