<!--<div ng-controller="LoadCustomJSController"></div>-->
<div class="headerHeightNoBreadCrumb margin-bottom-0"></div>
<!--<div class="breadcrumbs">-->
    <!--<div class="container by_breadcrumbs_container">-->
        <!--<ul class="pull-right breadcrumb">-->
            <!--<li class="active"><a>LOGIN</a></li>-->
        <!--</ul>-->
    <!--</div>-->
    <!--<hr class="breadcrumb-divider"/>-->
<!--</div>-->
<div  ng-init="initialize()">
        <div class="leftPanel" ng-include="views.leftPanel"></div>
        <div class="contentPanel contentPanelLogin" ng-include="views.loginPanel" style="overflow-x:hidden; margin-left:auto; margin-right:auto; float:none;"></div>
        <div class="contentPanel" ng-include="views.contentPanel" style="overflow-x:hidden;"></div>
</div>