
<div class="by_subMenuPlus" ng-if="$root.windowWidth > 720" element-resize callback="setContentHeight">
     <div class="clearfix"></div>
    <div class="by_menuHeadFind  margin-top-10">
        Find Services
    </div>
    <div class="by_menuHeadFindArrow"></div><div class="clearfix"></div>
    <!--=== Header v7 Left ===-->
    <ul class="nav nav-list" ng-init="smartScroll();">
        <li ng-repeat="menu in $root.menuCategoryMapByName['Services'].children" id="{{menu.id}}"
            class="byTreeMenu-wrapper"
            ng-if="menu.module == menuConfig.modules['service'].moduleId">
            <div ng-if="menu.module==menuConfig.modules['housing'].moduleId" class="by_menuHousingBorderTop"></div>
            <a ng-if="menu.children.length === 0"
               ng-href="{{menuConfig.moduleConfig[menu.module].baseUrl}}/{{removeSpecialChars(menu.displayMenuName)}}/{{menu.id}}/all" class="by_treeMenuText"
               style="display: inline-block; width:100%;"
               ng-class="{'by_treeMenuTextActive': menu.id == selectedParent.id, 'by_treeMenuTextActive': menu.id == selectedMenuId}">
                {{menu.displayMenuName}}
            </a>

            <a ng-if="menu.children.length > 0" class="by_treeMenuText tree-toggler nav-header"
               ng-click="toggleMenu($event)"
               style="display: inline-block; width:calc(100% - 40px);"
               ng-class="{'by_treeMenuTextActive': menu.id == selectedParent.id, 'by_treeMenuTextActive': menu.id == selectedMenuId}">
                {{menu.displayMenuName}}
            </a>
            <a ng-if="menu.children.length > 0" class="by_treeMenuIcon tree-toggler nav-header"
               ng-click="toggleMenu($event)"
               style="display: inline-block; width:30px;"></a>

            <ul ng-if="menu.children.length > 0" class="nav nav-list tree by_treeSubMenu_Wrapper"
                ng-init="expandParent(menu.id)">
                <li ng-repeat="submenu1 in menu.children" id="{{submenu1.id}}" ng-init="expandParent(submenu1.id)">
                    <a class="by_treeSubMenu"
                       ng-class="{'by_treeSubMenu_active': submenu1.id == selectedMenuId}"
                       href="{{menuConfig.moduleConfig[menu.module].baseUrl}}/{{removeSpecialChars(submenu1.displayMenuName)}}/{{submenu1.id}}/all">{{submenu1.displayMenuName}}</a>
                </li>
            </ul>
            <div ng-if="menu.module == menuConfig.modules['housing'].moduleId" class="by_menuHousingBorderBottom"></div>
        </li>
        <li ng-repeat="menu in $root.menuCategoryMapByName['Services'].children" id="{{menu.id}}"
            class="byTreeMenu-wrapper"
            ng-if="menu.module == menuConfig.modules['housing'].moduleId">
            <div ng-if="menu.module==menuConfig.modules['housing'].moduleId" class="by_menuHousingBorderTop"></div>
            <a ng-if="menu.children.length === 0"
               ng-href="{{menuConfig.moduleConfig[menu.module].baseUrl}}/{{menu.id}}/all" class="by_treeMenuText"
               style="display: inline-block; width:100%; font-size:18px;"
               ng-class="{'by_treeMenuTextActive': menu.id == selectedParent.id, 'by_treeMenuTextActive': menu.id == selectedMenuId}">
                <b style="color:#008000; text-transform:uppercase; ">{{menu.displayMenuName}}</b>
            </a>

            <div ng-if="menu.module == menuConfig.modules['housing'].moduleId" class="by_menuHousingBorderBottom"></div>
        </li>
    </ul>

    <div class="by_menu_cityFilter">
        <i class="fa fa-map-marker divLeft by_menu_cityFilterLeft"
           ng-click="addressCallback({'name':address.city})"></i>

        <div class="divRight by_menu_cityFilterRight">
            <input type="text" class="username-textbox textbox"  enter-event="addressCallback({'name':address.city})"
                   id="addressCity"
                   placeholder="Type your city name" ng-model="address.city" ng-google-location
                   callback="addressCallback" options="cityOptions">
        </div>
        <div class="clearfix"></div>
    </div>


   

    <div class="col-md-12 margin-top-20"></div>
   
    <div class="clearfix margin-top-10"></div>
    <div class="by_directoryRegister">
     Do you <b>provide</b> elder care services? Click to <a href="#!/users/login">REGISTER</a>, or <a href="#!/contactUs">contact us</a>
    </div>
    <div class="clearfix"></div>

</div>

<div class="by_mobile_leftPanel_hide" ng-if="$root.windowWidth < 720">
    <div class="by_mobile_leftPanel">
        <div class="by_subMenuPlus" style="max-width:100%; height:100%; overflow-y:auto;">
          <div class="clearfix"></div>
          <div class="by_menuHeadFind  margin-top-10">
            Find Services
          </div>
          <div class="by_menuHeadFindArrow"></div><div class="clearfix"></div>
          <!--=== Header v7 Left ===-->
            <ul class="nav nav-list">
                <li ng-repeat="menu in $root.menuCategoryMapByName['Services'].children" id="{{menu.id}}" class="byTreeMenu-wrapper"
                    ng-if="menu.module == menuConfig.modules['service'].moduleId">
                    <div ng-if="menu.module == menuConfig.modules['housing'].moduleId" class="by_menuHousingBorderTop"></div>
                        <a ng-if="menu.children.length === 0"
                           ng-href="{{menuConfig.moduleConfig[menu.module].baseUrl}}/{{removeSpecialChars(menu.displayMenuName)}}/{{menu.id}}/all"
                           class="by_treeMenuText"
                           style="display: inline-block; width:100%;"
                           ng-class="{'by_treeMenuTextActive': menu.id == selectedParent.id, 'by_treeMenuTextActive': menu.id == selectedMenuId}">
                            {{menu.displayMenuName}}
                        </a>

                        <a ng-if="menu.children.length > 0" class="by_treeMenuText tree-toggler nav-header"
                           ng-click="toggleMenu($event)"
                           style="display: inline-block; width:calc(100% - 40px);"
                           ng-class="{'by_treeMenuTextActive': menu.id == selectedParent.id, 'by_treeMenuTextActive': menu.id == selectedMenuId}">
                            {{menu.displayMenuName}}
                        </a>
                        <a ng-if="menu.children.length > 0" class="by_treeMenuIcon tree-toggler nav-header"
                           ng-click="toggleMenu($event)"
                           style="display: inline-block; width:30px;"></a>

                        <ul ng-if="menu.children.length > 0" class="nav nav-list tree by_treeSubMenu_Wrapper"
                            ng-init="expandParent(menu.id)">
                            <li ng-repeat="submenu1 in menu.children" id="{{submenu1.id}}"
                                ng-init="expandParent(submenu1.id)">
                                <a class="by_treeSubMenu"
                                   ng-class="{'by_treeSubMenu_active': submenu1.id == selectedMenuId}"
                                   href="{{menuConfig.moduleConfig[menu.module].baseUrl}}/{{removeSpecialChars(submenu1.displayMenuName)}}/{{submenu1.id}}/all">{{submenu1.displayMenuName}}</a>
                            </li>
                        </ul>
                    <div ng-if="menu.module == menuConfig.modules['housing'].moduleId" class="by_menuHousingBorderBottom"></div>
                </li>
                <li ng-repeat="menu in $root.menuCategoryMapByName['Services'].children" id="{{menu.id}}" class="byTreeMenu-wrapper"
                    ng-if="menu.module == menuConfig.modules['housing'].moduleId">
                    <div ng-if="menu.module == menuConfig.modules['housing'].moduleId" class="by_menuHousingBorderTop"></div>
                        <a ng-if="menu.children.length === 0"
                           ng-href="{{menuConfig.moduleConfig[menu.module].baseUrl}}/{{menu.id}}/all"
                           class="by_treeMenuText"
                           style="display: inline-block; width:100%; font-size:18px;"
                           ng-class="{'by_treeMenuTextActive': menu.id == selectedParent.id, 'by_treeMenuTextActive': menu.id == selectedMenuId}">
                           <b style="color:#008000; text-transform:uppercase;"> {{menu.displayMenuName}}</b>
                        </a>

                    <div ng-if="menu.module == menuConfig.modules['housing'].moduleId" class="by_menuHousingBorderBottom"></div>
                </li>
            </ul>

            <div class="by_menu_cityFilter">
                <i class="fa fa-map-marker divLeft by_menu_cityFilterLeft"
                   ng-click="addressCallback({'name':address.city})"></i>

                <div class="divRight by_menu_cityFilterRight">
                    <input type="text" class="username-textbox textbox" enter-event="addressCallback({'name':address.city})"
                           id="addressCity"
                           placeholder="Type your city name" ng-model="address.city" ng-google-location
                           callback="addressCallback" options="cityOptions">
                </div>
                <div class="clearfix"></div>
            </div>

            

            <div class="col-md-12 margin-top-20"></div>
    
    <div class="clearfix"></div>
    <div class="by_directoryRegister">
     Do you <b>provide</b> elder care services? Click to <a href="#!/users/login">REGISTER</a>, or <a href="#!/contactUs">contact us</a>
    </div>
    <div class="clearfix"></div>

        </div>
    </div>
    <div class="by_mobile_leftPanel_image" ng-click="subMenuTabMobileShow();"></div>
</div>

