



<div class="by_sectionHeader" ng-if="selectedMenu">
    <h2>{{servicesNames[selectedMenuId].sectionHead}}</h2>
</div>



<div ng-if="services.length === 0">
	No results found!
</div>



<div ng-repeat="service in services" class="ng-scope" style="position:relative;">
	<div ng-include="'app/components/find/servicesIndvContentPanel.html?versionTimeStamp=%PROJECT_VERSION%'"
		ng-if="service.userTypes[0] == userTypeConfig.INDIVIDUAL_PROFESSIONAL"></div>

	<div ng-include="'app/components/find/servicesInstContentPanel.html?versionTimeStamp=%PROJECT_VERSION%'"
		ng-if="service.userTypes[0] == userTypeConfig.INSTITUTION_SERVICES"></div>

	<div ng-include="'app/components/find/servicesInstContentPanel.html?versionTimeStamp=%PROJECT_VERSION%'"
		 ng-if="service.userTypes[0] == userTypeConfig.INSTITUTION_BRANCH"></div>

</div>


<div class="by_viewMoreButton" align="center"
	 ng-if="showFeaturedTag && services && services.length > 0 && !pageInfo.lastPage || pageInfo.isQueryInProgress">
	<a ng-if="!pageInfo.isQueryInProgress" ng-click="loadMore()">More <i class="fa fa-angle-right by_moreArrowView"></i></a>
	<img ng-if="pageInfo.isQueryInProgress" src="assets/img/ajax_scroll_loading.gif">
</div>

