<div class="by_directoryBannerTop" ng-controller="FindMenuCtrl">
  <div class="by_headerTopBg">
      <div class="by_container">
          <div class="by_homeSection no-padding">
              <div class="by_homeSectionInside">  
                  <h1 class="by_headerHomeModiText">
                      <span class="by_headerOne">
                          Elder care <small>Services</small>
                      </span>
                      <span class="by_headerOne margin-top-10">
                          Senior Living <small>Facilites</small>
                      </span>
                  </h1>
                  <div class="clearfix"></div>
              </div>
          </div>
      </div>
  </div>

  <div class="by_whiteBg">
      <div class="by_container by_headerBorder3">
          <div class="by_homeSection" style="padding:15px 0px;">        
              <div class="by_homeSectionInside" style="position:relative;">
                  <h2 class="by_headerBelowBlack" style="max-width:585px;">
                      For best senior care services and solutions:
                  </h2>
                  <div class="clearfix margin-top-10"></div>
                  <div class="by_contact_worksLeftThumb">
                    <div class="by_contact_worksLeftItem">1</div>
                    <div class="by_contact_worksLeftText">
                      <a href="tel:{{telNo}}" ng-if="$root.windowWidth < 721">
                        <div class="by_callToActionButton" >
                          <img src="assets/img/home/call.png?versionTimeStamp=1459503470417" alt="BeautifulYears Call">
                          Call
                        </div>
                      </a>
                      <b>
                        <xyz ng-if="$root.windowWidth > 720">
                          Call
                        </xyz> 
                        {{telNo}}
                      </b>
                      or <a href="#!/contactUs">contact us</a>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="by_contact_worksLeftThumb">
                    <div class="by_contact_worksLeftItem">2</div>
                    <div class="by_contact_worksLeftText">
                      We discuss your and your loved ones’ needs
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="by_contact_worksLeftThumb">
                    <div class="by_contact_worksLeftItem">3</div>
                    <div class="by_contact_worksLeftText">
                      We explore available options and offer you alternatives
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="by_contact_worksLeftThumb">
                    <div class="by_contact_worksLeftItem">4</div>
                    <div class="by_contact_worksLeftText">
                      You sign up directly with a vendor of your choice
                    </div>
                  </div>
                  <div class="clearfix"></div>
                   <img src="assets/img/footer/contactAunty.png?versionTimeStamp=%PROJECT_VERSION%" width="100%" alt="Directory Banner" class="by_homeHeaderBelowImg" style="bottom:-15px;" />
              </div>
          </div>    
      </div>
  </div>


  <div class="clearfix"></div>

  <div class="by_container by_homeCallBg">
      <div class="by_homeSection" style="padding: 3px 0px;">
          <div class="by_homeSectionInside">
              <div class="by_homeModiWhy by_homeModiWhiteColor">
                <img src="assets/img/logo_symbol.png?versionTimeStamp=%PROJECT_VERSION%" alt="Logo" width="40" />
                  Use our services <b>free</b> of charge, or browse:
              </div>
          </div>
      </div>
  </div>

  <div class="clearfix"></div>

</div>
<!--=== Content Part ===-->

<div>
    <div class="leftPanel" ng-include="'app/components/find/findMenu.html'" ng-controller="FindMenuCtrl"></div>
    <div ng-if="!showEditor && selectedMenu.module == menuConfig.modules['service'].moduleId || selectedMenu.module == menuConfig.modules['housing'].moduleId"
         class="contentPanel" ng-include="findViews.contentPanel">
    </div>

    <div ng-if="!showEditor && selectedMenu.module === menuConfig.modules['discuss'].moduleId"
         class="contentPanel "
         ng-controller="ServiceOverviewCtrl"
         ng-include="'app/components/find/serviceOverviewPanel.html'">
    </div>

  
</div>
