<div  ng-include="'app/shared/editor/editorContainer.html?versionTimeStamp=%PROJECT_VERSION%'"></div>
<div class="by_discussFilters">
<a class="discussRightCategory {{discussType == 'all' && 'selected active'}}" ng-if="discuss_counts.z > 0"
   href="elder-care-services/reviews/{{selectedMenu.id}}">All
    ({{discuss_counts.z}})</a>

<a class="discussRightCategory {{discussType == 'f' && 'selected active'}}" ng-if="discuss_counts.featured > 0"
   href="elder-care-services/reviews/{{selectedMenu.id}}?discussType=f">Featured
    ({{discuss_counts.featured}})</a>

<a class="discussRightCategory {{discussType == 'Q' && 'selected active'}}" ng-if="discuss_counts.q > 0"
   href="elder-care-services/reviews/{{selectedMenu.id}}?discussType=Q">Q
    &amp; A ({{discuss_counts.q}})</a>

<a class="discussRightCategory {{discussType == 'P' && 'selected active'}}" ng-if="discuss_counts.p > 0"
   href="elder-care-services/reviews/{{selectedMenu.id}}?discussType=P">Posts
    ({{discuss_counts.p}})</a>
</div>

<div class="clearfix" style="height:15px;"></div>

<div class="blog_masonry_3col" ng-init="initDiscussListing()">
    <div class="grid-boxes by_discuss_listing">
        
         <div ng-include="'app/shared/common/template/discussGridCard.html?versionTimeStamp=%PROJECT_VERSION%'" ></div>

    </div>
    <div style="clear: both"></div>

    <div style="clear: both"></div>
    <div ng-if="discussPagination.noOfPages > 1">
        <div class="text-left">
            <discuss-pagination obj="discussPagination" callback="getDiscussData"></discuss-pagination>
        </div>
    </div>
</div>
