<div class="clearfix"></div>
<!--<div class="col-md-12 margin-bottom-0 darkBgwithText" style="font-size:15px; margin-left:0px;">
    Please select an address for the goods to be shipped, or
    enter a new address below:

    <div class="darkBgwithTextArrow">
        <img src="assets/img/icons/login/arrow-icon.png?versionTimeStamp=%PROJECT_VERSION%" alt="">
    </div>
</div>
<div class="clearfix" style="height:10px;"></div>-->
<div class="by_address_wrap">
    <div class="by_address col-md-6" ng-repeat="address in customerAddress track by $index" ng-if="$index<2"
         format-address="address.address">

        <div class="by_address_user">
            {{address.firstName}}
            <span ng-if="address.lastName">{{' '+ address.lastName}}</span>
        </div>
        <div class="by_address_text">
            <span ng-if="address.address.fullAddress">
                <strong>Address:&nbsp;</strong>
                <span>{{address.address.fullAddress}}</span>
            </span><br/>
            <span ng-if="!address.email || !address.address.zip || !address.phoneNumber || !address.firstName"
                  ng-init="address.shipToAddressDisabled=true"></span>
            <span ng-if="address.phoneNumber">
                <strong>Mobile:&nbsp;</strong> {{address.phoneNumber}}
            </span><br>

            <span ng-if="address.email">
                <strong>E-mail:&nbsp;</strong> {{address.email}}
            </span><br/>


            <span ng-if="shipToAddressDisabled || address.shipToAddressDisabled">
                <br/><span class='redColor'>*Please edit to add mandatory address fields</span>
            </span>

             <span ng-if="address.logisticError">
                <br/><span class='redColor'>Sorry! we do not deliver to this pincode</span>
            </span>
        </div>

        <button class="btn btn-success pull-right by_address_btn" style="margin-left:5px;" ng-click="shipToAddress($index)" ng-disabled="shipToAddressDisabled || address.shipToAddressDisabled">
            Ship to this address
        </button>

        <button class="btn btn-success pull-right by_address_btn by_edit_btn" ng-click="editAddress(address.id)">
            Edit
        </button>
        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix" style="height:15px;"></div>
<div class="by_address_btn_orange_wrap">
    <button class="btn btn-success  by_address_btn_orange" ng-click="shipToNewAddress()">
        Enter new Address
    </button>
</div>
<div class="clearfix"></div>
<div class="by_cart_call"></div>