<div class="headerHeightNoBreadCrumb margin-bottom-0"></div>

<div class="by_whiteBg">
    <div class="by_container" style="position:relative;">
        <a href="acorn-stairlift/pd/motorized-wheelchairs/10950"><img src="assets/img/product/landing/header_image.jpg?versionTimeStamp=%PROJECT_VERSION%" alt="BeautifulYears Stair Lift Header" width="100%" ></a>
        <div class="by_productLanding_header">
            Staircase solutions
            <span>for senior living</span>
            <div class="clearfix"></div>
        </div>        
        <div class="by_productLanding_HButton">
            <a href="acorn-stairlift/pd/motorized-wheelchairs/10950">Learn More</a>
        </div>
    </div>
</div>



<div class="by_whiteBg">
    <div class="by_container ">
        <div class="by_homeSection" style="padding: 30px 0px 0px 0px;">        
            <div class="by_homeSectionInside by_homeSection_centuryBig" >
                <div class="by_homeSectionLeft divLeft by_homeSectionExpText">
                    <div style="border:2px solid #eee;">
                        <div class="by_expVideoShow" ng-click="showVideo();">
                            <img src="assets/img/home/home-seniorfriendly-videoframe.jpg?versionTimeStamp=%PROJECT_VERSION%" alt="BeautifulYears Video" width="100%"  />
                            <div class="by_expVideoShowVideoIcon"></div>
                        </div>
                        <iframe id="by_expVideoFrame" width="100%" height="" src="https://www.youtube.com/embed/W_OtlOhf0i8?rel=0&showinfo=0&autoplay=0" frameborder="0" allowfullscreen ></iframe>
                    </div>
                </div>
                <div class="by_homeSection_wrap_title" style="font-size:26px; text-transform:uppercase;">
                    Stairlift
                </div>
               <span style="font-size:18px;">The Stairlift is one of the most advanced and widely used stairlifts in the world, helping thousands of people worldwide to safely and comfortably use their stairs and enjoy mobility in their homes again. The Stairlift comes in three models , the indoor , outdoor and curved . The indoor Stairlift is the perfect choice for anyone with a 2-story home with a straight staircase.</span>

                <div class="clearfix"></div>

                <div class="by_homeModiListDisc2 by_homeModibBlackColor margin-top-20">
                    <ul style="text-align:left;">
                        <li>We are the first and the only provider of this service in Bangalore</li>
                        <li>We use the best and the most-cost efficient senior care products - local and imported</li>
                        <li>We are a “social” start up - our mission is to improve lives of the elderly and of those who take care of them. We care about you, and we want to help! </li>
                    </ul>
                </div>

                <a href="acorn-stairlift/pd/motorized-wheelchairs/10950" class="divRight">Learn more <i style="font-size:23px;" class="fa fa-angle-right directoyDetailsArrow"></i></a>
                <div class="clearfix"></div>

                <div class="clearfix margin-top-20" ng-if="$root.windowWidth < 721"></div>
            </div>
        </div>
    </div>
    <div class="by_container by_whiteBg by_borderBottomGreen" style="height:40px;">
    </div>
</div>

<div class="clearfix"></div>

<div class="by_container by_borderBottomGreen by_whiteBg" ng-controller="contactUsController" >
    
    <div class="by_homeSection" style="padding-bottom:0px;">
        <div class="by_homeSectionInside" > 
            <div class="by_clAc_eventThumbText2" style="font-size:26px; margin-bottom:10px;">
                Interested in our Product
            </div>
            <div class="col-md-12 no-padding both-container by_editor_wrap by_contactForm">

                <span ng-show="errorMsg && errorMsg.length>0" class="help-block">
                    {{errorMsg}}
                </span><div class="clearfix"></div>

                


                <div class="col-md-6 no-padding" style="margin-bottom:20px;">
                    <input type="text" class="username-textbox textbox by_homeContactFeildBg by_contactBg" name="username" ng-model="contact.username" placeholder="Name">
                </div>
                <div class="col-md-6 no-padding marginLeft20" style="margin-bottom:20px;" ng-show="!isLoggedIn">
                    <input type="text" class="username-textbox textbox by_homeContactFeildBg by_contactBg" name="userEmail" ng-model="contact.userEmail" placeholder="E-mail ID">
                </div>

                <div class="col-md-6 no-padding" style="margin-bottom:20px;">
                    <input type="text" class="username-textbox textbox by_homeContactFeildBg by_contactBg" name="username" ng-model="contact.userPhone" placeholder="Phone Number">
                </div>

                

              
                
                <div class="clearfix"></div>

                <div class="col-md-12 no-padding ">
                    <button class="btn btn-big btn-default pull-right by_btn_submit by-editor-submit-btn" 
                            ng-click="postContentProduct('F')">Submit
                    </button>
                </div>

                <div class="clearfix" style="height:35px;"></div>
               
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="by_whiteBg" style="border-bottom:1px solid #008000">
    <div class="by_container">
        <div class="by_homeSection" style="padding: 40px 0px;">        
            <div class="by_homeSectionInside">
                <div class="by_clAc_eventThumb">
                    <a href="elder-care-forums/564071623e60f5b66f62df27/all">
                    <div class="by_clAc_eventThumbImage">
                        <img src="assets/img/product/landing/forums.jpg?versionTimeStamp=%PROJECT_VERSION%" alt="Elder Care FOrums" width="100%"  />
                    </div>
                    <div class="by_clAc_eventThumbText2">
                        Forums
                    </div>
                    </a>
                </div>
                <div class="by_clAc_eventThumb">
                    <a href="elder-care-services/56406cd03e60f5b66f62df26/all">
                    <div class="by_clAc_eventThumbImage">
                        <img src="assets/img/product/landing/services.jpg?versionTimeStamp=%PROJECT_VERSION%" alt="Elder Care Services" width="100%"  />
                    </div>
                    <div class="by_clAc_eventThumbText2">
                        Elder care services
                    </div>
                    </a>
                </div>

                <div class="by_clAc_eventThumbRight">
                    <a href="elder-care-products/all/55bcad7be4b08970a736784b">
                    <div class="by_clAc_eventThumbImage">
                        <img src="assets/img/product/landing/products.jpg?versionTimeStamp=%PROJECT_VERSION%" alt="Elder Care Products" width="100%"  />
                    </div>
                    <div class="by_clAc_eventThumbText2">
                        More products
                    </div>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div style="border-bottom:1px solid #008000"> 
    <div class="by_footer_text" style="background:#FBFAFA;">
    <div class="container">
        <div class="clearfix margin-top-20"></div>
        <a href="elder-care-experience-store">
            <div class="by_clAc_eventThumbText2" style="font-size:26px; ">
                Experience Store
            </div>
        </a>
        <div class="row  margin-top-10">
            <div class="by_contact_footerLeft">
                <div class="by_contactPhoneComm">
                    <div class="by_contactPhoneCommImg">
                        <img src="assets/img/footer/mail.png?versionTimeStamp=%PROJECT_VERSION%" alt="mail" width="100%" />
                    </div>
                    <div class="by_contactPhoneCommText"><strong>Email us:</strong> <a href="mailto:contactus@beautifulyears.com">ContactUs@BeautifulYears.com</a></div>
                    <div class="clearfix"></div>
                </div>
                <div class="by_contactPhoneComm">
                    <div class="by_contactPhoneCommImg">
                        <img src="assets/img/footer/phone_icon.png?versionTimeStamp=%PROJECT_VERSION%" alt="phone" width="100%" />
                    </div>
                    <div class="by_contactPhoneCommText">
                    <strong>Call us:</strong> <a href="tel:{{telNo}}" style="text-decoration:none;">{{telNo}}</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="by_contactPhoneComm">
                    <div class="by_contactPhoneCommImg">
                        <img src="assets/img/footer/home.png?versionTimeStamp=%PROJECT_VERSION%" alt="home" width="100%" />
                    </div>
                    <div class="by_contactPhoneCommText"> 
                    <strong>Visit us:</strong> #48, 2nd Main, Koramangala 1st block (near Wipro park),   Bangalore - 560034
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="by_contactPhoneComm">
                    <div class="by_contactPhoneCommImg">
                        <img src="assets/img/footer/clock.png?versionTimeStamp=%PROJECT_VERSION%" alt="clock" width="100%" />
                    </div>
                    <div class="by_contactPhoneCommText">
                    <strong>Opening hours:</strong> 10:30AM - 7:30PM<br/>
                    <xyz ng-if="$root.windowWidth > 440">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp; &nbsp; Sunday: by appointment
                    </xyz>
                    <xyz ng-if="$root.windowWidth < 440">
                    Sunday: by appointment
                    </xyz>                    
                    </div>
                    <div class="clearfix"></div>
                </div>
                
            </div>
            <div class="by_contact_footerRight no-padding">
                <div class="by_contactPhoneComm" style="padding-bottom:10px;">
                    <div class="by_contactPhoneCommImg">
                        <img src="assets/img/footer/google-map.png?versionTimeStamp=%PROJECT_VERSION%" alt="google map" width="100%" />
                    </div>
                    <div class="by_contactPhoneCommText" >
                    <a href="https://goo.gl/sSu4BB" target="_blank" style="text-decoration:none; display:inline; border-bottom:5px solid #008000;">Google Maps</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <a href="https://goo.gl/sSu4BB" target="_blank">
                    <img src="assets/img/footer/map.png?versionTimeStamp=%PROJECT_VERSION%" alt="Maps" width="100%" />
                </a>
            </div>
        </div>
    </div>
</div>
</div>

