<div style="background:#fff;">
<div id="by_enquiryOuter">
    <div class="by_enquiryThanku">
        <div class="by_enquiryLogo divLeft">
            <a href="/"><img src="assets/img/home/logo-orange.png?versionTimeStamp=%PROJECT_VERSION%" alt="BeautifulYears logo" width="150" ></a>
        </div>
        <div class="divRight" style="cursor:pointer;" ng-click="enquiryClose()">
            <img src="assets/img/product/landing/close.png?versionTimeStamp=%PROJECT_VERSION%" alt="BeautifulYears popup close" width="25" >
        </div>
        <div class="clearfix"></div>
        <div class="by_enquiryThankHead">
            Thank you for getting in touch!
        </div>
        <div class="by_enquiryThankText">
            We have received your informantion, one of our customer service collegues will get in touch with you shortly. <!-- 
            In the mean time you can browse through our latest posts by <a href="elder-care-forums/564071623e60f5b66f62df27/all">clicking here</a>, or have a look at our latest elder care product by clicking on the banner below. -->
        </div>
        <div class="by_enquiryThankmore">
            <a href="assets/img/product/landing/STAIRLIFT.pdf" target="_blank">Click here to download brochure</a>
        </div>
        <div class="by_enquiryThankmore">
            <a href="elder-care-products/55bcad7be4b08970a736784b">Click here for more innovative products</a>
        </div>
        <!-- <div class="by_enquiryThankMoreBg">
            <a href="elder-care-products/55bcad7be4b08970a736784b"><img src="assets/img/product/landing/moreproductspopup.jpg?versionTimeStamp=%PROJECT_VERSION%" alt="BeautifulYears more innovative products" width="100%" ></a>
        </div> -->
    </div>
</div>


<div class="headerHeightNoBreadCrumb margin-bottom-0"></div>

<div class="by_container" style="position:relative;" ng-click="showEnquiry()">
    <img src="assets/img/product/landing/header_image.png?versionTimeStamp=%PROJECT_VERSION%" alt="Stairlifts for elder friendly homes" width="100%" >
    <h1><div class="by_productLanding_header">
        Staircase solutions
        <span>for senior living</span>
        <div class="clearfix"></div>
    </div> </h1> <!--       
    <div class="by_productLanding_HButton">
        <a href="acorn-stairlift/pd/motorized-wheelchairs/10950">Learn More</a>
    </div> -->
</div>



<div class="by_container borderBottomd7d7d7">
    <div class="by_contentWrap" >
        <div class="by_homeSectionLeft divLeft by_homeSectionExpText" style="margin-top:0px;">
            <div style="border:2px solid #eee;">
                <div class="by_expVideoShow" ng-click="showVideo();">
                    <img src="assets/img/product/landing/stair-lift-video.jpg?versionTimeStamp=%PROJECT_VERSION%" alt="Stairlift installation demo" width="100%"  />
                    <div class="by_expVideoShowVideoIcon"></div>
                </div>
                <iframe id="by_expVideoFrame" width="100%" height="" src="https://www.youtube.com/embed/W_OtlOhf0i8?rel=0&showinfo=0&autoplay=0" frameborder="0" allowfullscreen ></iframe>
            </div>
        </div>
        <h2><div class="by_stairLiftHead" >
            Stairlift for elder friendly home
        </div></h2>
       <span style="font-size:18px;" class="arialFont">The most advanced and widely used stairlifts in the world, helping thousands of people worldwide to safely and comfortably use their stairs and enjoy mobility in their homes again. These Stairlifts come in three models, the indoor, outdoor and curved. Any one of these can be installed and be a part of your elder friendly home with absolutely no structural changes.</span>

        <div class="clearfix"></div>

         <div class="arialFont">
            <ul style="text-align:left; font-size:18px;">
                <li>The <b class="orangeColorArial">Indoor Stairlift</b> is the perfect choice for anyone with a 2-story home with a straight staircase.</li>
                <li>The <b class="orangeColorArial">Curved Stairlift</b> will be a better choice for more than 2-story homes or institutions looking for modifications for senior friendly infrastructure.</li>
                <li>The <b class="orangeColorArial">Outdoor Stairlift</b> option is also available for private homes or institutions looking for mobility solutions for outdoor stairs. </li>
            </ul>
        </div> 

        <!-- <div  style="font-size:18px;" class="arialFont">
            <br/>The indoor Stairlift is the perfect choice for anyone with a 2-story home with a traight staircase.<br/>
            The curved stairlifts will be a better choice for more than 2 story homes or institutions looking for modifications for senior friendly infrastructure.<br/>
            The Outdoor stairlift option is also available for private homes or institutions looking for mobility solutions for outdoor stairs.
        </div> -->

        <a  class="divRight margin-top-10 arialFont" ng-click="showEnquiry()">Click for free quote <i style="font-size:23px; color:#000;" class="fa fa-angle-right directoyDetailsArrow"></i></a>
        <div class="clearfix"></div>

        <div class="clearfix margin-top-20" ng-if="$root.windowWidth < 721"></div>
    </div>
</div>


<div class="clearfix"></div>


<div class="by_enquiryButton" ng-click="showEnquiry()">
    <img src="assets/img/product/landing/enquirybrochure.png?versionTimeStamp=%PROJECT_VERSION%" alt="Enquiry Button" width="100%"  ng-if="$root.windowWidth > 720"/>
    <img src="assets/img/product/landing/enquirybrochuresmall.png?versionTimeStamp=%PROJECT_VERSION%" alt="Enquiry Button" width="100%"  ng-if="$root.windowWidth < 721" />
</div>
<div class="by_enquiryWrap" ng-controller="contactUsController">
   
    <div class="col-md-12 no-padding both-container by_editor_wrap by_contactForm">

        <div class="col-md-12 by_enquiryHead">
            Interested in stairlift? 
            <div class="divRight" ng-click="showEnquiry()" style="margin-top: -12px; cursor:pointer; margin-right: -6px;">
                <img src="assets/img/product/landing/close.png?versionTimeStamp=%PROJECT_VERSION%" alt="Enquiry Button" width="20" />
            </div>
        </div>
        <div class="col-md-12 by_enquiryText">
            Please fill out this form for more details on Stairlift 
        </div>

        <span ng-show="errorMsg && errorMsg.length>0" class="help-block arial col-md-12 errorRed" style="line-height:16px;">
            {{errorMsg}}
        </span><div class="clearfix"></div>

        


        <div class="col-md-12" style="margin-bottom:20px;">
            <input type="text" class="username-textbox textbox  by_enquiryInput" name="username" ng-model="contact.username" placeholder="Full Name *">
        </div>
        <div class="col-md-12" style="margin-bottom:20px;" >
            <input type="text" class="username-textbox textbox  by_enquiryInput" name="userEmail" ng-model="contact.userEmail" placeholder="E-mail ID *">
        </div>

        <div class="col-md-12" style="margin-bottom:20px;">
            <input type="text" class="username-textbox textbox  by_enquiryInput" name="username" ng-model="contact.userPhone" placeholder="Phone Number*">
        </div>

        

      
        
        <div class="clearfix"></div>

        <div class="col-md-12">
            <!-- <button class="btn  btn-default  by_btn_submit by_enquirySubmit" 
                    ng-click="postContentProduct('F')">
                    <img src="assets/img/product/landing/sendenquiry.png?versionTimeStamp=%PROJECT_VERSION%" alt="Send enquiry submit" width="100%" >
            </button> -->
            <button type="button" ng-click="postContentProduct('F')"  class="by_cart_button divRight">Submit</button>
        </div>

        <div class="clearfix" style="height:35px;"></div>
       
    </div>
    <div class="clearfix"></div>
</div>

<div class="by_container borderBottomd7d7d7">
    <div class="by_contentWrap" >   
        <h2><div class="by_stairLiftHead">
            Key Features of Stairlift
        </div></h2>
        <div class="clearfix" style="margin-top:30px;"></div>
        <div class="by_stairKeyThumb">
            <div class="by_stairKeyThumbImg">
                <img src="assets/img/product/landing/rackandpiniondrive.png?versionTimeStamp=%PROJECT_VERSION%" alt="rack and pinion drive" width="100%" />
            </div>
            <div class="by_stairKeyThumbTxt">
                Rack And Pinion Drive
            </div>
        </div>
        <div class="by_stairKeyThumb">
            <div class="by_stairKeyThumbImg">
                <img src="assets/img/product/landing/maxcapacity.png?versionTimeStamp=%PROJECT_VERSION%" alt="max capacity 300 lbs" width="100%" />
            </div>
            <div class="by_stairKeyThumbTxt">
                Max Capacity 300 lbs
            </div>
        </div>
        <div class="by_stairKeyThumb">
            <div class="by_stairKeyThumbImg">
                <img src="assets/img/product/landing/lockableswivelseat.png?versionTimeStamp=%PROJECT_VERSION%" alt="lockable swivel seat" width="100%" />
            </div>
            <div class="by_stairKeyThumbTxt">
                Lockable Swivel Seat
            </div>
        </div>
        <div class="by_stairKeyThumb">
            <div class="by_stairKeyThumbImg">
                <img src="assets/img/product/landing/fivesafetysensors.png?versionTimeStamp=%PROJECT_VERSION%" alt="five safety sensors" width="100%" />
            </div>
            <div class="by_stairKeyThumbTxt">
                Five Safety Sensors
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="clearfix margin-top-20"></div>
        <div class="by_stairKeyList">
            <div class="by_stairKeyListImg">
                <img src="assets/img/product/landing/keyfeatures.jpg?versionTimeStamp=%PROJECT_VERSION%" alt="Key features - stairlifts for elders" width="100%" />
            </div>
            <div class="by_stairKeyListText">
                <div class="by_stairKeyListTextThumb">
                    <span>1</span>
                    <p>Padded seat and backrest for maximum comfort.</p>
                    <div class="clearfix"></div>
                </div>
                <div class="by_stairKeyListTextThumb">
                    <span>2</span>
                    <p>Can be operated with the lightest of touches. Perfect for those with limited dexterity.</p>
                    <div class="clearfix"></div>
                </div>
                <div class="by_stairKeyListTextThumb">
                    <span>3</span>
                    <p>A safety belt is installed on all of our stairlifts, so you feel secure at all times.</p>
                    <div class="clearfix"></div>
                </div>
                <div class="by_stairKeyListTextThumb">
                    <span>4</span>
                    <p>Our slim fold away design has folding arms, seat and footrest, so other people can continue to use the stairs.</p>
                    <div class="clearfix"></div>
                </div>
                <div class="by_stairKeyListTextThumb">
                    <span>5</span>
                    <p>A lockable swivel seat means you can get on and off your stairlift without twisting your body.</p>
                    <div class="clearfix"></div>
                </div>
                <div class="by_stairKeyListTextThumb">
                    <span>6</span>
                    <p>Railing is secured directly to your stairs, not to the wall. So there's no structural damage to your home.</p>
                    <div class="clearfix"></div>
                </div>
                <div class="by_stairKeyListTextThumb">
                    <span>7</span>
                    <p>A lockable on/off switch provides additional child-friendly safety.</p>
                    <div class="clearfix"></div>
                </div>
                <div class="by_stairKeyListTextThumb">
                    <span>8</span>
                    <p>A diagnostic digital display allows you to see the exact status of the stairlift at all times.</p>
                    <div class="clearfix"></div>
                </div>
                <div class="by_stairKeyListTextThumb">
                    <span>9</span>
                    <p>Five safety sensors on the footrest and carriage stop the lift automatically should there be any obstruction on your staircase.</p>
                    <div class="clearfix"></div>
                </div>
                <div class="by_stairKeyListTextThumb">
                    <span>10</span>
                    <p>Two remote controls are provided so that you can have the convenience of being able to share the stairlift with a loved one.</p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
            <a  class="divRight margin-top-10 arialFont" ng-click="showEnquiry()">Click to download the Brochure <i style="font-size:23px; color:#000;" class="fa fa-angle-right directoyDetailsArrow"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="by_container borderBottomd7d7d7">
    <div class="by_contentWrap" >   
        <h2><div class="by_stairLiftHead">
            Specifications of Stairlift
        </div></h2>
        <div class="clearfix margin-top-20"></div>
        <div class="by_stairSpc">
            <div class="by_stairSpcImg">
                <img src="assets/img/product/landing/specifications.jpg?versionTimeStamp=%PROJECT_VERSION%" alt="Specifications - stairlifts for elders" width="100%" />
            </div>
            <div class="by_stairSpcTxt">
                <table width="100%"  border="1"  class="by_stairSpcTable">
                    <tr colspan="3">
                        <td width="80%" colspan="2">
                            <b>Dimensions</b>
                        </td>
                        <td width="20%">
                            <b>Inch</b>
                        </td>
                    </tr>
                    <tr colspan="3">
                        <td width="20%">
                            A
                        </td>
                        <td width="60%">
                            Overall height
                        </td>
                        <td>
                            38.5
                        </td>
                    </tr>
                    <tr colspan="3">
                        <td width="20%">
                            B
                        </td>
                        <td width="60%">
                            Height of Seat
                        </td>
                        <td>
                            17.25
                        </td>
                    </tr>
                    <tr colspan="3">
                        <td width="20%">
                            C
                        </td>
                        <td width="60%">
                            Overall depth (from wall)
                        </td>
                        <td>
                            22.5
                        </td>
                    </tr>
                    <tr colspan="3">
                        <td width="20%">
                            D
                        </td>
                        <td width="60%">
                            Overall depth (when folded)
                        </td>
                        <td>
                            12.25
                        </td>
                    </tr>
                    <tr colspan="3">
                        <td width="20%">
                            E
                        </td>
                        <td width="60%">
                            Width of footrest
                        </td>
                        <td>
                            12.25
                        </td>
                    </tr>
                    <tr colspan="3">
                        <td width="20%">
                            F
                        </td>
                        <td width="60%">
                            Overall width
                        </td>
                        <td>
                            23.25
                        </td>
                    </tr>
                    <tr colspan="3">
                        <td width="20%">
                            G
                        </td>
                        <td width="60%">
                            Depth of seat
                        </td>
                        <td>
                            16
                        </td>
                    </tr>
                </table>

                <table width="100%"  border="1" class="by_stairSpcTable">
                    <tr colspan="2">
                        <td width="100%" colspan="2">
                            <b>Specifications</b>
                        </td>
                    </tr>
                    <tr colspan="2">
                        <td width="40%">
                            Motor output speed
                        </td>
                        <td width="60%">
                            4.8 inches per second - No greater than 5.9 inches per second
                        </td>
                    </tr>
                    <tr colspan="2">
                        <td width="40%">
                            Method of drive
                        </td>
                        <td width="60%">
                            Rack & pinion
                        </td>
                    </tr>
                    <tr colspan="2">
                        <td width="40%">
                            Power supply
                        </td>
                        <td width="60%">
                            24V DC (battery)
                        </td>
                    </tr>
                    <tr colspan="2">
                        <td width="40%">
                            Maximum capacity
                        </td>
                        <td width="60%">
                            300lbs (optional 350lbs)
                        </td>
                    </tr>
                    <tr colspan="2">
                        <td width="40%">
                            Track
                        </td>
                        <td width="60%">
                            Extruded aluminium
                        </td>
                    </tr>
                    <tr colspan="2">
                        <td width="40%">
                            Main supply
                        </td>
                        <td width="60%">
                            50-60Hz, 100-240V AC
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="clearfix"></div>
        <a  class="divRight margin-top-10 arialFont" ng-click="showEnquiry()">Click to download the Brochure <i style="font-size:23px; color:#000;" class="fa fa-angle-right directoyDetailsArrow"></i></a>
        <div class="clearfix"></div>
    </div>
</div>


<div class="by_footer_text borderBottomd7d7d7"> 
    <div class="by_container">
        <div class="by_contentWrap" >        
            <!-- <h2><div class="by_prLan_ThumbText margin-bottom-20" style="font-size:26px; ">
                <a href="elder-care-experience-store" style="text-transform:none; font-weight:bold;">For Demo Visit Our Experience Store </a>
            </div> </h2>   -->

            <h2><div class="by_stairLiftHead" >
                For Demo Visit Our Experience Store
            </div></h2>            
            
            <div class="by_contactfooterLeft">
                <div class="by_contactPhoneComm">
                    <div class="by_contactPhoneCommImg">
                        <img src="assets/img/footer/mapred.png?versionTimeStamp=%PROJECT_VERSION%" alt="mail" width="100%" />
                    </div>
                    <div class="by_contactText">
                    <strong>Address:</strong>
                    BeautifulYears Pvt Ltd,<br/>
                     #48, 2nd Main,<br/> 
                     Koramangala 1st block (near Wipro park),  <br/> 
                     Bangalore - 560034<br/>
                     Call - <a href="tel:08069400333">080 694 00 333</a><br/>
                      Monday to Friday - 10:00AM to 6:30PM<Br/>
                       Saturday and Sunday - On Appointment 
                     </div>
                    <div class="clearfix"></div>
                </div>
                <!-- <div class="by_contactPhoneComm">
                    <div class="by_contactPhoneCommImg">
                        <img src="assets/img/footer/time.png?versionTimeStamp=%PROJECT_VERSION%" alt="phone" width="100%" />
                    </div>
                    <div class="by_contactText">
                    <strong>Opening hours:</strong>
                     10:30AM - 7:30PM<br/>
                     Sunday: by appointment
                    </div>
                    <div class="clearfix"></div>
                </div> -->
                
            </div>
            <div class="by_contactfooterRight">
                <a href="https://goo.gl/sSu4BB" target="_blank">
                    <img src="assets/img/footer/map.png?versionTimeStamp=%PROJECT_VERSION%" alt="Beautifulyears Elder care experience store" width="100%" />
                </a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="borderBottomd7d7d7">
    <div class="by_container">
        <div class="by_contentWrap">
            <div class="by_prLan_Thumb">
                <a href="elder-care-forums/564071623e60f5b66f62df27/all">
                <div class="by_prLan_ThumbImage">
                    <img src="assets/img/product/landing/forum.jpg?versionTimeStamp=%PROJECT_VERSION%" alt="Senior care issues and solutions, discussion forum" width="100%"  />
                </div>
                <h2>
                    <div class="by_prLan_ThumbText">
                        Senior Care Forum
                    </div>
                </h2>
                </a>
            </div>
            <div class="by_prLan_Thumb">
                <a href="elder-care-products/all/55bcad7be4b08970a736784b">
                <div class="by_prLan_ThumbImage">
                    <img src="assets/img/product/landing/moreproducts.jpg?versionTimeStamp=%PROJECT_VERSION%" alt="Elder care products at best prices" width="100%"  />
                </div>
                <h2>
                    <div class="by_prLan_ThumbText">
                        Elder Care Products
                    </div>
                </h2>
                </a>
            </div>
            <div class="by_prLan_ThumbRight">
                <a href="elder-care-services/56406cd03e60f5b66f62df26/all">
                <div class="by_prLan_ThumbImage">
                    <img src="assets/img/product/landing/eldercareservice.jpg?versionTimeStamp=%PROJECT_VERSION%" alt="Verified care givers and service providers" width="100%"  />
                </div>
                <h2>
                    <div class="by_prLan_ThumbText">
                        Elder Care Services
                    </div>
                </h2>
                </a>
            </div>

            
            <div class="clearfix"></div>
        </div>
    </div>
</div>

</div>