<div class="by_editor_wrap" >

    <div style="border:0px;">
        <div class="byEditorBg">
            <div class="col-md-12 no-padding margin-bottom-20 byEditor" ng-init="initializeEditor();">
				<textarea id="question_textArea" class="textbox about-dependent"
                          rows="3"></textarea>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="clearfix"></div>
        <div class="col-md-12" >
            <button
                    class="btn btn-big btn-default pull-right by_btn_submit by-editor-submit-btn"
                    disabled ng-click="postContent('Q')">Submit
            </button>
            <button
                    class="btn btn-big btn-default pull-right by-editor-cancel-btn"
                    ng-click="exitEditorDiscuss()">Cancel
            </button>
            <div class="clearfix margin-bottom-20"></div>
        </div>

        <div class="clearfix"></div>
    </div>
</div>
