<div class="clearfix"></div>

<div class="col-md-12 paddingZero" ng-if="checkoutSuccessFul">
    <div class="col-md-12   by_confirm_wrap"
         ng-hide="uiData.noCart || uiData.processingError">
        <div class="by_confirm_text">Thank you, your order has been placed sucessfully</div>
        <div class="clearfix" style="height:15px;"></div>
        <div class="by_confirm_normalText">Your Order Number is <b>{{uiData.order.orderNumber}}</b></div>
        <div class="by_confirm_normalText">Estimated delivery before: <b> {{estimatedDate | date:"dd MMM yyyy"}}</b>
        </div>
        <div class="clearfix" style="height:15px;"></div>
        <div class="by_confirm_normalText">We have sent you an email confirmation.</div>
        <div ng-click="printInvoice(uiData.order.id)" class="by_orderHistory_printInvoice">
            Print invoice
        </div>
        
    </div>

    <div class="col-md-12 by_confirm_wrap" ng-show="uiData.noCart">
        <div class="by_confirm_normalText" style="font-size:18px; text-align:center;">Cart is empty</div>
        <div class="by_confirm_normalText" style="font-size:18px; text-align:center;">
            <a href="elder-care-products/55bcad7be4b08970a736784b">
                <input type="submit" class="btn btn-success  zindexhigh register-btn"
                       style="margin-left:auto; margin-right:auto;" value="CONTINUE SHOPPING"/></a>
        </div>
    </div>

    <div class="col-md-12 by_confirm_wrap" ng-show="uiData.processingError">
        <div class="by_confirm_normalText" style="font-size:18px; text-align:center;">Error while processing order</div>
    </div>

</div>