<div class="by_container">
    <div class="by_homeSection" style="padding: 20px 0px;">
        <div class="by_homeSectionInside">
            <div class="by_aboutUsHead">
                Our team
            </div>
            <div class="by_aboutUsImgText">
                <img src="assets/img/aboutUs/team_2.png?versionTimeStamp=%PROJECT_VERSION%"
                alt="Team" width="100%" />
            </div>
            <div class="aboutUsDivider">
                <img src="assets/img/aboutUs/line.png?versionTimeStamp=1457682551370" width="100%" alt="Divider" />
            </div>
        </div>
    </div>
</div>