<div class="by_container">
    <div class="by_homeSection" style="padding: 20px 0px;">
        <div class="by_homeSectionInside">
            <div class="by_aboutUsHead">
                What we do
            </div>
            <div class="by_aboutUsText">
                If you face any problem taking care of your elders, call us at <a href="tel:{{telNo}}">{{telNo}}</a>. We will <b>help you find best senior care services</b>, be it a trusted nurse, a physiotherapist, an attendant, or a reputable retirement community to spend beautiful years there. <br/><br/>

                Our assistance and recommendations are <b>free</b> of charge, as well as our <a href="#!/directory/56406cd03e60f5b66f62df26/all">on-line directory</a>   of elder care services and <a href="#!/senior-living/55bcadaee4b08970a736784c/all ">senior living</a>   facilities. Talk to us about your situation, and we will do our best to help! <br/><br/>

                <button id="moreCompany" style="width:120px; font-size:14px;" class="nextButton by_btn_submit" ng-click="showCompany()">Continue...
                </button>
                <span id="moreParaCompany">

                    Every senior falls once in three years, and 20% of these falls are life-threatening. Let’s not wait until it is too late! We are the first in Bangalore to make your home <a href="#!/home-modification">senior-friendly</a>, with solutions for <b>fall prevention</b>, <b>security</b>, and <b>comfort</b> of your parents. Call us <a href="tel:{{telNo}}">{{telNo}}</a> to set up an appointment.  <br/><br/>

                    You can also visit our <a href="#!/experience-center">Experience Store</a> in Koramangala, Bangalore, to see, try, and buy or rent innovative senior care products that improve lives of the elderly. (If you do not live in Bangalore, no worries – you can always <a href="#!/shop/55bcad7be4b08970a736784b">shop on-line</a>    with us. ) Please check out our <a href="#!/acorn-stairlift/pd/10950">chair lifts</a>   and other <a href="#!/shop/mobility/10212">mobility</a> solutions  ; products for <a href="#!/shop/bed-&-bedroom/10213">bedridden patients</a>  , <a href="#!/shop/shower-chairs-&-commodes/10558">shower chairs</a>  and other solutions for <a href="#!/shop/washing-&-toileting/10214">washing and toileting</a>  , and more. <br/><br/>


                    Ever been puzzled what present you could give to your grandparents on their birthdays? We have interesting ideas for <a href="#!/shop/gift-ideas/10600">gifts!</a><br/><br/>

                    In our Experience store we conduct <a href="#!/classes-actitivies-for-senior-citizens">classes and workshops</a> for senior citizens.  Would you like your parents to know how to make a selfie with their grandchildren and to send it on their Whatsapp group? We can help senior citizens to enjoy technology, mastering it at their own pace, in the company of their friends, peers, and our instructors.<br/><br/>

                    We also conduct sessions on legal and finance for senior citizens, as well as creative writing and other classes. Call us <a href="tel:{{telNo}}">{{telNo}}</a> to register for our upcoming classes, or to <a href="#!/classes-actitivies-for-senior-citizens">volunteer</a> to conduct our next sessions! <br/><br/>
 
                    We have set up our on-line <a href="#!/communities/564071623e60f5b66f62df27/all">“Communities” forum</a>  for family caregivers, who are taking care of their aging parents. <br/><br/>

                    What to do, when your doctor says, your farther-in-law has a Parkinson’s or Alzheimer’s?<br/><br/>

                    What to do, if your mother accuses you of stealing her toothbrush – every day? <br/><br/>

                    What to say, if your uncle asks for his dinner – at 4am?<br/><br/>

                    When your father’s hands are shaking, how to help him <a href="#!/bendable-cutlery-set/pd/11318">eat his soup</a> or <a href="#!/easy-grip-key-turner/pd/11313">turn a key</a> ? <br/><br/>

                    Sleep problems, nutrition problems, <a href="#!/communities/family-issues/55bcac92e4b08970a7367848/all">relationship</a>  issues – you live them day by day. Pressure is piling up… We want you to know – you are not alone!  <br/><br/>

                    Here you can <a href="#!/communities/564071623e60f5b66f62df27/all/?showEditor=true&amp;editorType=Question&amp;">ask</a> any question, and get advice, tips and support from our experts, as well as from people like you, in situations like yours. <br/><br/>

                    Here we share our experiences and stories of caregiving and aging, and make new friends. Welcome to <a href="https://www.beautifulyears.com/#!/">BeautifulYears</a>  !<br/><br/>

                    Wishing all elderly people and their families many beautiful years together! 



                </span>

                <!-- <strong>Improving lives of senior people and of those who care for them.</strong><br/>

                India is a good place to age gracefully, as younger generations have always looked after the elderly here.  Yet, a lack of information and professional support leaves families to face issues of senior care on their own. <br/><br/>

                Not anymore! <br/><br/>

                <button id="moreCompany" style="width:120px; font-size:14px;" class="nextButton by_btn_submit" ng-click="showCompany()">Continue...
                </button>
                <span id="moreParaCompany">

                If you face problems taking care of your elders, call us at <a href="tel:{{telNo}}">{{telNo}}</a> or visit our <a href="#!/experience-center">Experience Store</a> in Koramangala, Bangalore. We can help you find what you need, be it a trusted nurse or an attendant, another relevant service, or a senior living facility. <br/><br/>

                We can also show you life-improving <a href="#!/shop/55bcad7be4b08970a736784b">products</a> that you probably don’t know they exist! <br/><br/>

                Every senior falls once in three years, and 20% of these falls are life-threatening. Let’s not wait until it is too late! Our specialists can make your house <a href="#!/experience-center">elder-friendly</a>, with solutions for fall prevention and comfort of your parents. <br/><br/>

                Our Experience store is in Koramangala, Bangalore, but we are across India with our Web portal  <a href="http://www.beautifulyears.com/">BeautifulYears.com</a> – <i>“Everything about Senior care and aging in India”.</i>  <br/><br/>

                What do you do, when your doctor says that your farther or your mother-in-law has a dreaded Parkinson’s or Alzheimer’s, - and not some vague “old age” problems? <br/><br/>

                What to do, if your mother accuses you of stealing her toothbrush – every day? <br/><br/>

                What to say, if your uncle asks for dinner – at 4am?<br/><br/> 

                When your father’s hands are shaking, how to help him eat his soup or turn a key? <br/><br/>

                Sleep problems, nutrition problems, relationship issues – you live them day-to-day. Pressure is piling up… <br/><br/>

                First, you need to understand – you are not alone!  <br/><br/>

                Here on BeautifulYears.com, we are building a <a href="#!/communities/564071623e60f5b66f62df27/all">community</a> of people taking care of ageing parents. Here you can <a ng-href="{{getHref('discuss', '564071623e60f5b66f62df27', 'all', {'showEditor':true, 'editorType':'Question'})}}">ask</a> any question – and get advice, tips and support from our experts, and also from people like you, in situations like yours. <br/><br/>

                <a href="#!/users/login">Join</a> <a href="http://www.beautifulyears.com/">BeautifulYears.com</a> <a href="#!/communities/564071623e60f5b66f62df27/all">communities</a>: share your experience with others, and most importantly, - make new friends!  <br/><br/>

                We also have an <a href="#!/shop/55bcad7be4b08970a736784b">e-commerce shop</a> for life-improving elder care products. Same products and solutions that are shown in our <a href="#!/experience-center">Experience store</a> in Bangalore, can be purchased from almost any town in India.  <br/><br/>

                Please check out our <a href="#!/acorn-stairlift/pd/10950">chair lifts</a> and other <a href="#!/shop/mobility/10212">mobility </a> solutions; <a href="#!/shop/bedsore-prevention/10553">bubble air mattress</a> and other products for bedridden patients, <a href="#!/shower-chair-with-back-rest/pd/11104">shower chairs</a> and other solutions for bathroom, and more. <br/><br/>

                Ever been puzzled what present you could give to your grandparents on their birthdays? We have interesting ideas for gifts! A nail-cutter with a magnifying glass? A fancy walking stick with a torch? A massager? They would love it! <br/><br/>

                We mentioned on-line <a href="#!/communities/564071623e60f5b66f62df27/all">communities</a> and <a href="#!/shop/55bcad7be4b08970a736784b">e-shop</a>. But anyone who is brought into caregiving situation, would also look for <a href="#!/directory/56406cd03e60f5b66f62df26/all">elder care services</a>. <br/><br/>

                That’s why we list providers of nurses and attendants, <a ng-href="{{getHref('service', '55befb86e4b07cedaa26780e', 'all')}}">physiotherapists</a>, home <a ng-href="{{getHref('service', '55befc45e4b07cedaa26781a', 'all')}}">diagnostics services</a>, <a ng-href="{{getHref('service', '55befb1ae4b07cedaa26780b', 'all')}}">medical equipment suppliers</a>, as well as <a href="#!/senior-living/55bcadaee4b08970a736784c/all">senior living facilities</a>. Our team verifies all services, talking to their owners and visiting some of them. <br/><br/>

                Can’t find what you want? Need advice? Please call us at <a href="tel:{{telNo}}">{{telNo}}</a> for any help and assistance – free of cost. Talk to us – we will do our best to find a solution for you! <br/><br/>

                Wishing all elderly people and their families many Beautiful years together! 

                </span> -->

                <div class="clearfix"></div>

            </div>
            <div class="aboutUsDivider">
                
            </div>
        </div>
    </div>
</div>