<div class="by_container">
    <div class="by_homeSection" style="padding: 20px 0px;">
        <div class="by_homeSectionInside">
            <div class="by_aboutUsHead">
                Founder
            </div>
            <div class="by_aboutUsText">
                <img src="assets/img/aboutUs/founder.png?versionTimeStamp=1457682551370" width="198" alt="Founder" align="left" />
                <div class="clearfix"></div>
                <br/>
                My name is Vladimir Ruppo, I am 52 years old. Out of them I spent 24 years in St.Petersburg, Russia, where I was born and brought up. I worked for 12 years in Jerusalem, Israel. And for the last 16 years I have been in Bangalore, building and leading big software organizations of 1,000+ developers.  So Bangalore has become my home. <br/><br/> 
                <button id="moreFounder" style="width:120px; font-size:14px;" class="nextButton by_btn_submit" ng-click="showFounder()">Continue...
                </button>
                <span id="moreParaFounder">Many of my friends were puzzled, when I left my corporate executive job, to establish an elder care startup. But it felt just right for me, as I always wanted to do something of meaning and value – for other people and for myself. <br/><br/> 
                I would like to change the way people are aging in India - and the way they are taken care of. <br/><br/>
                Hence, <a href="http://www.beautifulyears.com/">BeautifulYears.com</a>. </span>
                <div class="clearfix"></div>

            </div>
            <div class="aboutUsDivider">
                <img src="assets/img/aboutUs/line.png?versionTimeStamp=1457682551370" width="100%" alt="Divider" />
            </div>
        </div>
    </div>
</div>