<div class="headerHeightNoBreadCrumb margin-bottom-0"></div>
<div class="by_aboutUsBanner">
    <div class="by_aboutUsBannerText">
       <h1>Improving lives<br/>
        of the elderly
        <span>and of those who take care of them</span>
        </h1>
   </div>
</div>
<div class="clearfix"></div>
<!--=== Content Part ===-->
<div style="background:#fff;">
<div ng-include="'app/components/aboutUs/aboutUsTeam.html?versionTimeStamp=%PROJECT_VERSION%'"></div>
<div ng-include="'app/components/aboutUs/aboutUsFounder.html?versionTimeStamp=%PROJECT_VERSION%'"></div>
<div ng-include="'app/components/aboutUs/aboutUsCompany.html?versionTimeStamp=%PROJECT_VERSION%'"></div>
</div>
<div ng-include="'app/components/aboutUs/aboutUsMembers.html?versionTimeStamp=%PROJECT_VERSION%'"></div>
<div ng-include="'app/components/aboutUs/aboutUsContact.html?versionTimeStamp=%PROJECT_VERSION%'"></div>