<div class="by_container">
    <div class="by_homeSection" style="padding: 20px 0px;">
        <div class="by_homeSectionInside">
            <div class="by_aboutUsHead">
                Your Contribution<br/>
                <small>This is how you could make this site more useful for yourself and for others</small>
            </div>

            <div class="aboutUsDivider">
                <img src="assets/img/aboutUs/line.png?versionTimeStamp=1457682551370" width="100%" alt="Divider"/>
            </div>
        </div>
    </div>
</div>


<div class="by_container">
    <div class="by_homeSection" style="padding: 20px 0px;">
        <div class="by_homeSectionInside">
            <div class="col-md-12 no-padding">
                <div class="by_aboutUsMember">
                    <div class="by_aboutUsMemberLeft divLeft">
                        <img src="assets/img/aboutUs/nitin.png?versionTimeStamp=%PROJECT_VERSION%" alt="Nitin"/>

                        <div class="by_aboutUsMemberLeftText">
                            Nitin, <span>Technology</span>
                        </div>
                    </div>
                    <div class="by_aboutUsMemberText divRight">
                        <a href="#!/contactUs?subject=1" class="bold-green">SUGGEST <img
                                src="assets/img/aboutUs/arrow_key.png?versionTimeStamp=%PROJECT_VERSION%"
                                alt="Link"/></a>
                        features, products, and services, which you would like us to introduce.
                    </div>
                </div>
                <div class="by_aboutUsMemberDivider"></div>
                <div class="by_aboutUsMember">
                    <div class="by_aboutUsMemberLeft divRight">
                        <img src="assets/img/aboutUs/vladi.png?versionTimeStamp=%PROJECT_VERSION%"
                             alt="Vladi"/><br/><br/>

                        <div class="by_aboutUsMemberLeftText">
                            Vladi, <span>Promoter</span>
                        </div>
                    </div>
                    <div class="by_aboutUsMemberText divLeft">
                        <a href="#!/contactUs?subject=3" class="bold-green">PARTNER <img
                                src="assets/img/aboutUs/arrow_key.png?versionTimeStamp=%PROJECT_VERSION%"
                                alt="Link"/></a>
                        We would be happy to do business with you! We are very open
                        to all kind of business opportunities - let's talk!
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="by_container" style="background:#F5F2F2;">
    <div class="by_homeSection" style="padding: 20px 0px;">
        <div class="by_homeSectionInside">
            <div class="col-md-12 no-padding">
                <div class="by_aboutUsMember">
                    <div class="by_aboutUsMemberLeft divLeft">
                        <img src="assets/img/aboutUs/pavitra.png?versionTimeStamp=%PROJECT_VERSION%" alt="Pavitra"
                             width="150px" style="margin-bottom: 5px;"/>

                        <div class="by_aboutUsMemberLeftText">
                            Pavithra, <span>Products</span>
                        </div>
                    </div>
                    <div class="by_aboutUsMemberText divRight">
                        <a href="#!/users/login" class="bold-green">REGISTER <img
                                src="assets/img/aboutUs/arrow_key.png?versionTimeStamp=%PROJECT_VERSION%"
                                alt="Link"/></a>
                        with us, ask, reply, submit pictures, stories, and tips. This is the best possible help!
                    </div>
                </div>
                <div class="by_aboutUsMemberDivider"></div>
                <div class="by_aboutUsMember">
                    <div class="by_aboutUsMemberLeft divRight">
                        <img src="assets/img/aboutUs/jharana.png?versionTimeStamp=%PROJECT_VERSION%" alt="Jharana"/>

                        <div class="by_aboutUsMemberLeftText">
                            Jharana, <span>E-Commerce</span>
                        </div>
                    </div>
                    <div class="by_aboutUsMemberText divLeft">
                        <a href="https://www.facebook.com/BeautifulYearsIndia/" class="bold-green" target="_blank">CONNECT
                            <img
                                    src="assets/img/aboutUs/arrow_key.png?versionTimeStamp=%PROJECT_VERSION%"
                                    alt="Link"/></a>
                        Please spread the word about us within your social networks - off-line and on-line
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="by_container">
    <div class="by_homeSection" style="padding: 20px 0px;">
        <div class="by_homeSectionInside">
            <div class="col-md-12 no-padding">
                <div class="by_aboutUsMember">
                    <div class="by_aboutUsMemberLeft divLeft">
                        <img src="assets/img/aboutUs/sourabh.png?versionTimeStamp=%PROJECT_VERSION%" alt="Sourabh"/>

                        <div class="by_aboutUsMemberLeftText">
                            Sourabh, <span>BizDev</span>
                        </div>
                    </div>
                    <div class="by_aboutUsMemberText divRight">
                        <a href="#!/contactUs?subject=2" class="bold-green">VOLUNTEER <img
                                src="assets/img/aboutUs/arrow_key.png?versionTimeStamp=%PROJECT_VERSION%"
                                alt="Link"/></a>
                        If you are experienced in content writing, sales, or marketing,
                        maybe you could mentor us, to help others?
                    </div>
                </div>
                <div class="by_aboutUsMemberDivider"></div>
                <div class="by_aboutUsMember">
                    <div class="by_aboutUsMemberLeft divRight">
                        <img src="assets/img/aboutUs/sanjukta.png?versionTimeStamp=%PROJECT_VERSION%" alt="Sanjukta"/>

                        <div class="by_aboutUsMemberLeftText">
                            Sanjukta, <span>Technology</span>
                        </div>
                    </div>
                    <div class="by_aboutUsMemberText divLeft">
                        <a href="#!/contactUs?subject=4" class="bold-green">INFORM <img
                                src="assets/img/aboutUs/arrow_key.png?versionTimeStamp=%PROJECT_VERSION%"
                                alt="Link"/></a>
                        us about any service, product, or senior living facility, which you would like us to list or
                        highlight.
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>