<div
        class="col-md-10 no-padding margin-bottom-15 margin-top-20 ng-scope"
        id="who_we_are">
    <div
            class="col-md-12 no-padding font-23 list-head dp-block text-center"
            style="height: auto;">Improving lives of senior people and of those who care for them.
    </div>
</div>
<div class="aboutUsOne col-md-10 no-padding">

    <div class="aboutUsOneSecond">

        India is one of the best places in the world to age gracefully, as those younger have always looked after the
        older here. Yet, a lack of information and of professional support leaves families to deal with issues of senior
        care on their own. <br/><br/>
        Not anymore! <br/><br/>
        <button id="more" style="width:120px;" class="nextButton by_btn_submit" ng-click="showMore()">Continue...
        </button>
        <div id="more_para" style="display: none">
            We at BeautiifulYears.com are building on-line <a href="#!/communities/564071623e60f5b66f62df27/all">communities</a>
            of people taking care of ageing parents with similar conditions (such as <a ng-href="{{getHref('discuss', '55bcae5ee4b08970a736784e', 'all')}}">Alzheimer’s</a>,
            <a ng-href="{{getHref('discuss', '55bcaef5e4b08970a736784f', 'all')}}">Parkinson’s</a>, and others).
            Here you can <a ng-href="{{getHref('discuss', '564071623e60f5b66f62df27', 'all', {'showEditor':true, 'editorType':'Question'})}}">ask</a> any question, and get answers from our experts, as well as advice
            and support - from people like you, in situations like yours. <br/><br/>

            People who are taking care of seniors are often not young themselves, and are facing many questions as they
            age.<br/><br/>

            How to age gracefully? How to take better care of elders – and how to avoid being taken care of, when we
            ourselves age? What are the <a ng-href="{{getHref('discuss', '55bca819e4b08970a736783e', 'all')}}">challenges</a>
            of growing old and its stigmas? <br/><br/>

            These are some of the issues we would like to <a href="#!/communities/564071623e60f5b66f62df27/all">discuss</a>
            – with your help; we hope you will <a ng-href="{{getHref('discuss', '564071623e60f5b66f62df27', 'all', {'showEditor':true, 'editorType':'Article'})}}">share</a> your
            experiences with us. <br/><br/>

            We have just opened an <a href="#!/shop/55bcad7be4b08970a736784b">e-shop</a>
            for life-improving senior care products. In addition to locally
            manufactured products, we are going to import advanced high-tech products from overseas.<br/><br/>

            As for services, we do not provide services of our own; instead, we list providers of <a
                ng-href="{{getHref('service', '55befb69e4b07cedaa26780d', 'all')}}">caregivers</a>,
            <a  ng-href="{{getHref('service', '55befb86e4b07cedaa26780e', 'all')}}">physiotherapists</a>,
            home <a ng-href="{{getHref('service', '55befc45e4b07cedaa26781a', 'all')}}">diagnostics
            services</a>, <a ng-href="{{getHref('service', '55befb1ae4b07cedaa26780b', 'all')}}">medical
            equipment suppliers</a>, as well as <a href="#!/senior-living/55bcadaee4b08970a736784c/all">senior
            living
            facilities</a>. Our team verifies all services, talking to their owners and visiting some of them. Most
            importantly, people who availed of those services can provide their honest feedback on our site.<br/><br/>

            We are now launching in Beta version, with an aim to improve lives of senior people and of those who take
            care of them, by:<br/><br/>
            <ul style="text-align:left;">
                <li>creating <a href="#!/communities/564071623e60f5b66f62df27/all">communities</a>
                    for mutual support,
                </li>
                <li>bringing life-improving <a href="#!/shop/55bcad7be4b08970a736784b">products</a>,
                    and
                </li>
                <li>Providing socially reviewed listings of <a href="#!/directory/56406cd03e60f5b66f62df26/all">senior
                    care services</a> and <a href="#!/senior-living/55bcadaee4b08970a736784c/all">senior
                    living facilities</a>.
                </li>
            </ul>

            If you have any questions, don’t hesitate to ask our experts anything about senior care <a href="#!/directory/56406cd03e60f5b66f62df26/all">services</a>
            or
            <a href="#!/shop/55bcad7be4b08970a736784b">products</a>!<br/><br/>
            Please come and visit us often – we are growing our directories and our product catalogs, trying to get
            better every week.<br/><br/>

            May all senior people and their families enjoy many beautiful years together!
        </div>

    </div>
    <div class="clearfix"></div>
    <div class="aboutUsDivider">
        <img src="assets/img/aboutUs/line.png?versionTimeStamp=%PROJECT_VERSION%" width="100%"/>
    </div>

</div>

<div class="clearfix"></div>
<!--
	<div class="col-md-10 no-padding  margin-bottom-40  margin-top-20 ng-scope">
	<div
		class="col-md-12 no-padding font-23 margin-bottom-60 list-head dp-block text-center">
		Welcome to BeautifulYears<br /> Ageing. Caring. Sharing
	</div>
	<div class="clearfix"></div>
</div>
	<div style="position:relative; min-height:350px;top: 65px">
	<div
		class="col-md-12 no-padding margin-bottom-15 margin-top-20 ng-scope" style="z-index: 2; top: 30px;"
		id="our_services">
		<div
			class="col-md-12 no-padding font-23 list-head dp-block text-center"
			style="height: auto;">Ageing in India</div>
	</div>

	
	<div class="aboutUsAgingBg"></div>
	<div class="aboutUsOne col-md-12">
		<div class=""></div>
		<div class="aboutUsOneSecond">
			India is one of the best places in the world to age gracefully, as
			the young have always looked after the old. Yet, ageing in India has
			its challenges.<br />
			<br> <span style="margin-bottom: 30px;"><a  id="more" ng-click="showMore()">More...</a></span>
			<div class="clearfix"></div>

			<div id="abcd" style="min-height: 300px;">
				<div id="more_para" style="display: none">
					

					<ul class="text-left">
						<li>The issues of ageing are not acknowledged enough; elder's
							needs are often ignored or misunderstood.</li>
						<li>A lack of information and of professional support leaves
							families to deal with issues of ageing on their own.</li>
						<li>Younger people find jobs in other places - in India and
							overseas. So more and more seniors find themselves living alone.</li>
					</ul>
					<br /> Older people are undergoing a change too; the new generation
					of "young seniors" don't want their kids to sacrifice their careers
					in order to take care of them; they are keen on being independent,
					and living with dignity. They would like their retirement years to
					be an age of active contribution.<br />
					<br> Today, the definition of the term 'old' is different - we
					are not "old" even at 75!<br />
					<br> Hence, BeautifulYears.com<br />
					<br>
				</div>
			</div>
		</div>
	</div>

</div>-->
<div class="col-md-10 no-padding margin-bottom-15 margin-top-20 ng-scope"
     id="help_us">
    <div class="col-md-12 no-padding font-23 list-head dp-block text-center">
        Your contribution
    </div>
</div>

<div class="col-md-10">
    <div class="aboutUsThreeText margin-bottom-20">We are just beginning and we really
        need your help! This is how you could make
        this site more useful, interesting and enjoyable for yourself and for
        others:
    </div>
</div>


<div class="col-md-10 margin-top-50 margin-bottom-15">
    <div class="divLeft contributionText">
        <img
                src="assets/img/aboutUs/nitin.png?versionTimeStamp=%PROJECT_VERSION%"
                alt=""/>

        <div class="contriTextSt">Nitin Jain, <span>Technology</span></div>
    </div>
    <div class=" helpleftText">
        "Please <a href="#!/contactUs?subject=1" class="bold-green">SUGGEST</a>
        features, products, and services, which you would like us to
        introduce."
    </div>
    <div class="clearfix"></div>
</div>

<div class="col-md-10 margin-top-50 margin-bottom-15">
    <div class="divRight contributionText">
        <img
                src="assets/img/aboutUs/vladi.png?versionTimeStamp=%PROJECT_VERSION%"
                alt=""/>

        <div class="contriTextSt" style="margin-top:0px;">Vladi Ruppo, <span>Promoter</span></div>
    </div>
    <div class=" helprightText">
        "Please <a href="#!/contactUs?subject=4" class="bold-green">INFORM</a>
        us about any service, product, or senior living facility, which you
        would like us to list or highlight. "
    </div>
    <div class="clearfix"></div>
</div>

<div class="col-md-10 margin-top-50 margin-bottom-15">
    <div class="divLeft contributionText">
        <img
                src="assets/img/aboutUs/pavitra.png?versionTimeStamp=%PROJECT_VERSION%"
                alt="" width="199"/>

        <div class="contriTextSt">Pavitra, <span>Products</span></div>
    </div>
    <div class=" helprightText">
        "Participate! Please <a href="#!/users/login" class="bold-green">REGISTER</a>
        with us, ask, reply, submit pictures, stories, and tips. This is the
        best possible help! "
    </div>
    <div class="clearfix"></div>
</div>


<div class="col-md-10 margin-top-50 margin-bottom-15">
    <div class="divRight contributionText">
        <img
                src="assets/img/aboutUs/anil.png?versionTimeStamp=%PROJECT_VERSION%"
                alt=""/>

        <div class="contriTextSt">Anil Elassery, <span>Generalist</span></div>
    </div>
    <div class=" helpleftText">
        "Please <a href="#!/contactUs?subject=4" class="bold-green">INFORM</a>
        us about any service, product, or senior living facility, which you
        would like us to list or highlight. "
    </div>
    <div class="clearfix"></div>
</div>


<div class="col-md-10 margin-top-50 margin-bottom-15">
    <div class="divLeft contributionText">
        <img
                src="assets/img/aboutUs/sourabh.png?versionTimeStamp=%PROJECT_VERSION%"
                alt=""/>

        <div class="contriTextSt">Sourabh Chenni, <span>BizDev</span></div>
    </div>
    <div class=" helprightText" style="padding-top: 0px;">
        "Are you a caregiving professional? Do you represent an institution?
        Please <a href="#!/users/login" class="bold-green">REGISTER</a> with
        us, to get in touch with your potential customers. And we would love
        to hear from you about opportunities to <a
            href="#!/contactUs?subject=3" class="bold-green">COOPERATE</a>.
        "
    </div>
    <div class="clearfix"></div>
</div>


<div class="col-md-10 margin-top-50 margin-bottom-15">
    <div class="divRight contributionText">
        <img
                src="assets/img/aboutUs/jharana.png?versionTimeStamp=%PROJECT_VERSION%"
                alt=""/>

        <div class="contriTextSt">Jharana Vasavada, <span>Technology</span></div>
    </div>
    <div class=" helpleftText">
        "Please spread the word about us within your social networks -
        off-line and on <a
            onclick="window.open('http://www.facebook.com/sharer.php?u=www.beautifulyears.com', 'Share BeautifulYears.com','width=600,height=400')"
            class="bold-green">Facebook</a> ! "
    </div>
    <div class="clearfix"></div>
</div>


<div class="col-md-10 aboutUsShop ">
    <div class="lotusImage"></div>
    <div class=" aboutUsLotusText">In the words of an Indian Buddhist
        scholar Shantideva, "May people find pleasure in helping and
        benefiting each other."
    </div>
    <div class="clearfix"></div>
    <img src="assets/img/aboutUs/lotusline.png?versionTimeStamp=%PROJECT_VERSION%" width="100%" style="margin-top:-15px;">
</div>
<!--<div
	class="col-md-12 no-padding margin-bottom-15 margin-top-60 ng-scope"
	id="press">
	<div
		class="col-md-12 no-padding font-23 list-head dp-block text-center">
		Press</div>
</div>
<div class="col-md-12 teamWrapper">
	fjdfnjnroi
</div>-->


<div class="clearfix"></div>

<div
        class="col-md-10 no-padding margin-bottom-15 margin-top-60 ng-scope"
        id="our_team">
    <div
            class="col-md-12 no-padding font-23 list-head dp-block text-center">
        Our Team
    </div>
</div>
<!--
<div class="col-md-12 teamWrapper">

	<div
		class="col-md-12 no-padding  margin-bottom-20 margin-top-40 font-23 list-head dp-block ">
		Advisory Board</div>
	<div class="clearfix"></div>

	<div class="col-md-12 margin-top-50 margin-bottom-15"
		style="position: Relative;">
		<div class="divLeft">
			<img
				src="assets/img/aboutUs/advisory.png?versionTimeStamp=%PROJECT_VERSION%"
				alt="" />
		</div>
		<div class="divRight helpleftText helpleftTextAbs">
			We are still assembling our Advisory Board. Maybe you are well
			qualified to be one of our Board members?</div>
		<div class="clearfix"></div>
	</div>

<div class="clearfix"></div>

	<div
		class="col-md-12 no-padding margin-bottom-10 margin-top-40  font-23 list-head dp-block ">
		The Crew</div>
</div>-->
<div class="clearfix"></div>
<div class="col-md-10  ng-scope">
    <img
            src="assets/img/aboutUs/team_2.png?versionTimeStamp=%PROJECT_VERSION%"
            alt="" width="100%">

</div>

<div class="clearfix"></div>


