
<!-- <div class="by_aboutUsBanner">
<div class="headerHeightNoBreadCrumb margin-bottom-0"></div>
    <div class="by_aboutUsBannerText">
       <h1>Improving lives<br/>
        of the elderly
        <span>and of those who take care of them</span>
        </h1>
   </div>
</div> -->

<div class="by_directoryBannerTop" style="position:relative; "  >
  <div class="by_productList_banner" >
    <div class="headerHeightNoBreadCrumb margin-bottom-0"></div>
    <div class="">
           <div class="by_productList_bannerText">
             <h1> 
             <strong style=" padding-bottom:7px;">IMPROVING LIVES OF THE ELDERLY</strong>
             <span >and of those who take care of them  </span>
              </h1>
              <div class="clearfix margin-bottom-40"></div>
         </div>
    </div>   
    <div class="clearfix"></div>
  </div>
</div><div class="clearfix"></div>
<div class="clearfix"></div>
<!--=== Content Part ===-->
<div style="background:#fff;">
<div ng-include="'app/components/aboutUs/aboutUsTeam.html?versionTimeStamp=%PROJECT_VERSION%'"></div>
<div ng-include="'app/components/aboutUs/aboutUsFounder.html?versionTimeStamp=%PROJECT_VERSION%'"></div>
<div ng-include="'app/components/aboutUs/aboutUsCompany.html?versionTimeStamp=%PROJECT_VERSION%'"></div>
</div>
<div ng-include="'app/components/aboutUs/aboutUsMembers.html?versionTimeStamp=%PROJECT_VERSION%'"></div>