<div class="by_headerTopBg">
    <div class="by_container">
        <div class="by_homeSection no-padding">
            <div class="by_homeSectionInside">  
                <h1 class="by_headerHomeModiText">
                    <span class="by_headerOneSego">
                        Making your home
                    </span>
                    <span class="by_headerOne">
                        Senior-friendly
                    </span>
                </h1>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="by_whiteBg">
    <div class="by_container by_headerBorder3">
        <div class="by_homeSection" style="padding:15px 0px;">        
            <div class="by_homeSectionInside" style="position:relative;">
                <h2 class="by_headerBelowBlack" style="max-width:585px;">
                    For safety, security, and comfort of the elderly in Bangalore. We are here to help! 
                </h2>
                 <img src="assets/img/home/communities.png?versionTimeStamp=%PROJECT_VERSION%" width="100%" alt="Directory Banner" class="by_homeHeaderBelowImg" style="bottom:-15px;" />
            </div>
        </div>    
    </div>
</div>

<div class="clearfix"></div>



<div class="by_whiteBg">
    <div class="by_container ">
        <div class="by_homeSection" style="padding: 20px 0px 0px 0px;">        
            <div class="by_homeSectionInside">

                
                <div class="by_homeSectionLeft divLeft">
                     <div class="by_homeModiListNumberTop">
                        <!-- <ol>
                            <li><b>Home modifications</b> for senior living (“aging in place”)  </li>
                            <li><b>Elder falls prevention </b> - and more. </li>                  
                            <li><b>“Elder-proofing”</b> homes for Parkinson’s, Alzheimer’s & dementia’s patients, and other conditions</li>
                        </ol> -->
                        To keep your aging parents safe, secure, and comfortable, let's make your home senior friendly!<br/><br/>

                        Home modifications can help elders maintain their independence and prevent accidents. For example bathroom is one of the most accident prone site at home and is also the most visited place in a house. Slippery bathroom surface or stairs may not bother youngsters but for elders it is challenging and prone to accidents. Due to this bathroom safety items and stairlifts become more important to prevent slips and falls.
                     </div>
                     
                </div>
                <div class="by_homeSectionLeft divRight " ng-class="{'margin-top-20': $root.windowWidth > 720}">
                    <div style="border:2px solid #eee;">
                        <div class="by_expVideoShow" ng-click="showVideo();">
                            <img src="assets/img/home/home-seniorfriendly-videoframe.jpg?versionTimeStamp=%PROJECT_VERSION%" alt="BeautifulYears Video" width="100%"  />
                            <div class="by_expVideoShowVideoIcon"></div>
                        </div>
                        <iframe id="by_expVideoFrame" width="100%" height="" src="https://www.youtube.com/embed/HPHXQ5aMmq0?rel=0&showinfo=0&autoplay=0" frameborder="0" allowfullscreen ></iframe>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="clearfix  margin-top-20" ng-if="$root.windowWidth > 720"></div>
               <!--  <div class="by_homeSection_centuryBig text-center">
                     To see a senior-friendly home demo, visit our <a href="elder-care-experience-store">Experience Store</a> in Koramangala!  
                </div> -->
                <div class="clearfix  margin-top-20" ng-if="$root.windowWidth < 721"></div>
            </div>
        </div>
    </div>
    <div class="by_container by_whiteBg by_borderBottomGreen" style="height:40px;">
    </div>
</div>




<div class="by_container by_grayBg">
    <div class="by_homeSection" style="padding: 0px;">
        <div class="by_homeSectionInside">
            <div class="by_homeModi_sections">
                <div class="by_homeModi_sectionsThumb">
                    <div class="by_homeModiWhy by_homeModiBlackColor by_homeModiFontBold" style="text-align:left;">
                            <img src="assets/img/home-modification/safety.png?versionTimeStamp=%PROJECT_VERSION%" width="" alt="safety" /> Safety
                        </div>            
                        <div class="by_homeModiListNumber margin-top-20 by_homeModiBlackColor">
                            <ol>
                                <li>Shower chairs</li>
                                <li>Toilet raisers &amp; footrests </li>
                                <li>Rails and more</li>
                                <li>Falls prevention:
                                    <div  class="by_homeModiListDisc by_homeModiBlackColor ">
                                        <ul>
                                            <li>Anti-skid tiles treatment</li>
                                            <li>Anti-skid tapes</li>
                                            <li>Glow-in-the-dark tapes</li>
                                        </ul>
                                    </div>
                                </li>
                            </ol>
                        </div>
                </div>
                <div class="by_homeModi_sectionsThumb by_homeModi_sectionsThumbWhiteBg">
                    <div class="by_homeModiWhy by_homeModiBlackColor by_homeModiFontBold"  style="text-align:left;">
                            <img src="assets/img/home-modification/security.png?versionTimeStamp=%PROJECT_VERSION%" width="" alt="Security" /> Security
                        </div>            
                        <div class="by_homeModiListNumber margin-top-20 by_homeModiBlackColor">
                            <ol>
                                <li>Surveillance cameras</li>
                                <li>Video door phones</li>
                                <li>Digital door locks</li>
                                <li>Intrusion alarm</li>
                                <li>Gas leakage detection</li>
                                <li> Alarm buttons & Trackers:
                                    <div  class="by_homeModiListDisc by_homeModiBlackColor">
                                        <ul>
                                            <li>In-home</li>
                                            <li>Out-of-home</li>
                                        </ul>
                                    </div>
                                </li>
                            </ol>
                        </div>
                </div>
                <div class="by_homeModi_sectionsThumbLast">
                    <div class="by_homeModiWhy by_homeModiBlackColor by_homeModiFontBold" style="text-align:left;">
                        <img src="assets/img/home-modification/comfort.png?versionTimeStamp=%PROJECT_VERSION%" width="" alt="comfort" /> Comfort
                    </div>            
                    <div class="by_homeModiListNumber margin-top-20 by_homeModiBlackColor">
                        <ol>
                                <li>Staircase solutions</li>
                                <li>Daily aids</li>
                                <li>Aids for weak grip</li>
                                <li>Home automation
                                <div  class="by_homeModiListDisc by_homeModiBlackColor ">
                                    <ul>
                                        <li>Motion sensor lights</li>
                                        <li>Lights/fan control</li>
                                        <li>Open door indicator</li>
                                    </ul>
                                </div>
                                </li>
                            <div class="clearfix"></div>
                        </ol><div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>


<div class="by_container by_homeCallBg">
    <div class="by_homeSection" style="padding: 10px 0px;">
        <div class="by_homeSectionInside">
            <div class="by_homeModiWhy by_homeModiWhiteColor">
            	<!-- Basic package starts at <b>&#8377; 6,999</b>. --> 
                <a title="{{telNo}}" href="tel:{{telNo}}" ng-if="$root.windowWidth < 721"> &nbsp; 
                    <div class="by_callToActionButton">
                        <img src="assets/img/home/call.png?versionTimeStamp=1459503470417" alt="BeautifulYears Call"> 
                        Call 
                    </div>
                </a> 
                <xyz ng-if="$root.windowWidth > 720"> Call </xyz> <b>&nbsp;{{telNo}}</b>
                or contact us for <b>free</b> assessment 
            </div>
        </div>
    </div>
</div>



<div class="by_whiteBg">
    <div class="by_container by_whiteBg">
        <div class="by_homeSection" style="padding: 20px 0px 0px 0px;">
            <div class="by_homeSectionInside">
                <div class="by_homeModiWhy by_homeModibBlackColor by_homeModiFontBold">                
                    <img src="assets/img/home-modification/flower_img.png?versionTimeStamp=%PROJECT_VERSION%" width="100" alt="How it works logo" />
                    <br ng-if="$root.windowWidth < 370"/>
                	Why BeautifulYears?
                </div>
                <div class="by_homeModiListDisc2 by_homeModibBlackColor margin-top-10">
                    <ul>
                        <li>We are the first and the only provider of this service in Bangalore</li>
                        <li>We use the best and the most-cost efficient senior care products - local and imported</li>
                        <li>We are a “social” start up - our mission is to improve lives of the elderly and of those who take care of them. We care about you, and we want to help! </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="by_container  by_borderBottomGreen" style="height:40px;">
    </div>
</div>


<div ng-include="'app/shared/footer/contactUsText.html?versionTimeStamp=%PROJECT_VERSION%'"></div>




            