<div ng-controller="ProfUserProfileCtrl">
	<!-- Modal -->
	<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog"
			style="width: 80%; margin-left: auto; margin-right: auto;">
			<div class="modal-content">
				<div class="modal-header" style="border-bottom: 0px;">
					<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
				</div>
				<div class="modal-body by_modal_body">
					<img src="" style="max-width: 100%" alt="Directory Gallery Image" />
				</div>
				<div class="modal-footer" style="border-top: 0px;">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12 by_profileGrayBg by_profileDetail  margin-bottom-20 no-padding" ng-init="individualProfile.showMoreServices=false">
	<div class="questionTag postTag" ng-if="individualProfile.featured == true" style="right: -6px; top: -7px;"></div>
		<div class="col-md-12 profileContainer margin-bottom-15  ">
			<div class="col-md-5 col-xs-5 by_profileWidth">
				<div class="main-image  " style="padding-left:0px;">
					<img class="padding-zero" ng-if="individualProfile.basicProfileInfo.profileImage.titleImage && individualProfile.individualInfo.gender == 1"
						ng-src="{{individualProfile.basicProfileInfo.profileImage.titleImage || ''}}"  fallback-src='["assets/img/profile/individual-big.png"]'
						alt="{{individualProfile.basicProfileInfo.firstName}} {{individualProfile.individualInfo.lastName}}">
					<img class="padding-zero" ng-if="individualProfile.basicProfileInfo.profileImage.titleImage && individualProfile.individualInfo.gender == 0"
						ng-src="{{individualProfile.basicProfileInfo.profileImage.titleImage || ''}}"  fallback-src='["assets/img/profile/individual_female_big.png"]'
						alt="{{individualProfile.basicProfileInfo.firstName}} {{individualProfile.individualInfo.lastName}}">
					<img class="padding-zero" ng-if="!individualProfile.basicProfileInfo.profileImage.titleImage && individualProfile.individualInfo.gender == 1"
						ng-src="assets/img/profile/individual-big.png"
						alt="{{individualProfile.basicProfileInfo.firstName}} {{individualProfile.individualInfo.lastName}}">
					<img class="padding-zero" ng-if="!individualProfile.basicProfileInfo.profileImage.titleImage && individualProfile.individualInfo.gender == 0"
						ng-src="assets/img/profile/individual_female_big.png"
						alt="{{individualProfile.basicProfileInfo.firstName}} {{individualProfile.individualInfo.lastName}}">
				</div>
				<div class="col-md-12 by-imageGallery margin-top-20 row"
					ng-if="individualProfile.basicProfileInfo.photoGalleryURLs.length > 0" >
					<div class="by-gallery-leftArrow" ng-click="slideGallery('l')">
					</div>
					<div class="by_galleryContainer_outer">
						<div class="by-gallery-container">
							<div ng-repeat="img in individualProfile.basicProfileInfo.photoGalleryURLs"
								class="by-imageGallery-item" data-popup="{{img.original || ''}}"
								data-hover="{{img.thumbnailImage || ''}}"
								ng-init="galleryClickHover()">
								<img ng-if="img.thumbnailImage || img.original" ng-src="{{img.thumbnailImage || ''}}"
									fallback-src='[""]' alt="{{individualProfile.basicProfileInfo.firstName}} {{individualProfile.individualInfo.lastName}}" />
							</div>
						</div>
						 <div class="clearfix"></div>
            		</div>
					<div class="by-gallery-rightArrow" ng-click="slideGallery('r')">
					</div>
					<div class="clearfix" ></div>
				</div>
				<div class="clearfix" style="height:10px;"></div>
			</div>
			<div class="col-md-7 col-xs-7 by_profileInfoWidth by-service-padding">
				<div class="profileMainContent" style="position:relative;">
					<h1 class="profileContentTitle divLeft" style="width: calc(100% - 122px);">
						<span ng-if="gender">{{gender}}</span> <span
							ng-if="individualProfile.basicProfileInfo.firstName">{{individualProfile.basicProfileInfo.firstName.toLowerCase()}}</span>
						<span ng-if="individualProfile.individualInfo.lastName">
						{{individualProfile.individualInfo.lastName.toLowerCase()}}</span>
					</h1>
					<div class="by_profile_verified divRight" ng-if="individualProfile.verified == true"  data-toggle="tooltip" data-placement="bottom" ng-init="tooltipText();" 
						ng-click="$event.stopPropagation();" 
						title="Information on service providers, professionals and senior living options 
						has been verified by a BeautifulYears 	representative  at the time of registration
						on BeautifulYears.com. Verification details appear in the review section for the
						specific establishment as a BeautifulYears Team review." ></div>
					<div style="clear:both;"></div>
					<span ng-if="profileLogin == true">
					<div class="no-padding" ng-if="individualProfile.ratingCount > 0 || individualProfile.reviewCount > 0 ">
						<div class="profileRating"
							ng-if="individualProfile.ratingCount > 0">
							<div class="divLeft"><i class="rounded-x profileStar"
								rate-calculator="{{individualProfile.ratingPercentage}}"></i></div>
                            <div class="divLeft" style="margin-top:8px;">Rated
							by 
							<a href="/">
								{{individualProfile.ratingCount}} user<xy
									ng-if="individualProfile.ratingCount > 1">s</xy>
							</a></div>
						</div>
						<div style="clear:both; height:16px;"></div>
						<div class="profileReview"
							ng-if="individualProfile.reviewCount > 0">
							<i class="rounded-x fa fa-review-icon padding42" style="margin-left:0px; margin-right:9px;"></i>{{individualProfile.reviewCount}}
							review<span ng-if="individualProfile.reviewCount > 1">s</span>
						</div>
						<div class="clearfix" style="height: 6px;"></div>
					</div>
					<div class="profileRating"
						ng-if="individualProfile.serviceProviderInfo.yearsExperience > 0">
						{{individualProfile.serviceProviderInfo.yearsExperience}} year<span ng-if="individualProfile.serviceProviderInfo.yearsExperience > 1">s</span>
						of experience</a>
						<div style="clear: both; height:6px;"></div>
					</div>
					<div class="no-padding profileAddress" ng-if="individualProfile.basicProfileInfo.primaryUserAddress"
						format-address="individualProfile.basicProfileInfo.primaryUserAddress">
						<div ng-if="individualProfile.basicProfileInfo.primaryUserAddress.fullAddress">
							<i class="fa fa-map-marker divLeft" style="margin-right:20px;  color:#A9A9A9;  font-size: 20px; "></i>
							<ul class="list-inline divRight" style="width:calc(100% - 35px);">
								<li class="list-inline">
									{{individualProfile.basicProfileInfo.primaryUserAddress.fullAddress}}
								</li>
							</ul>
						</div>
						<div style="clear: both; "></div>
					</div>
					<div class="clearfix"></div>
					<div class="no-padding">
						<div class="no-padding"
							ng-if="individualProfile.basicProfileInfo.primaryPhoneNo">
							<i class="fa fa-phone" style="margin-right:9px;"></i> <span><a href="tel:{{individualProfile.basicProfileInfo.primaryPhoneNo}}">{{individualProfile.basicProfileInfo.primaryPhoneNo}}</a></span>
							<span ng-repeat="phoneNo in individualProfile.basicProfileInfo.secondaryPhoneNos track by $index"
								ng-if="phoneNo.trim()!==''"> , <a href="tel:{{phoneNo}}">{{phoneNo}}</a> </span>
						</div>
						<div style="clear: both; height: 5px;"></div>
						<div class="no-padding" ng-if="individualProfile.basicProfileInfo.primaryEmail">
							<i class="fa fa-envelope"  style="margin-right:9px;"></i> <a href="/">{{individualProfile.basicProfileInfo.primaryEmail}}</a>
							<span ng-repeat="mail in individualProfile.basicProfileInfo.secondaryEmails track by $index"
								ng-if="mail.trim()!==''"> / <a href="mailto:{{mail}}">{{mail}}</a>
							</span>
						</div>
						<div style="clear: both; height: 5px;"></div>
						<div class="no-padding"
							ng-if="individualProfile.serviceProviderInfo.website">
							<i class="fa fa-globe" style="margin-right:9px;"></i> <a
								ng-href="http://{{individualProfile.serviceProviderInfo.website}}"
								target="_blank">
							{{individualProfile.serviceProviderInfo.website}} </a>
						</div>
						<div style="clear: both; height: 1px;"></div>
					</div>
					<div class=" profile-home-visit by-service-border" style="margin-top:0px;">
						<span ng-if="individualProfile.serviceProviderInfo.homeVisits"><b>Available</b> for home visit</span>
						<span ng-if="!individualProfile.serviceProviderInfo.homeVisits"><b>Not available</b> for home visit</span>
					</div>
					</span>
				</div>
				<div ng-include="views.loginPanel"></div>				
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="article col-md-12" validate-by-categories="individualProfile.serviceProviderInfo.services">
			<ul ng-if="individualProfile.serviceProviderInfo.services.length > 0"
				class="list-inline categoryList" style="margin-left: 5px; margin-top: 5px; font-size:15px;">
				<li class="list-inline" style="margin-right: 7px;">Service in</li>
				<li class="list-inline" style="display: inline-block; margin-right: 7px;" ng-if="$index < 5"
					ng-repeat="category in individualProfile.serviceProviderInfo.services">
					<a class="ng-binding"
						di-href="elder-care-services/{{removeSpecialChars($root.menuCategoryMap[category].displayMenuName)}}/{{$root.menuCategoryMap[category].id}}/all/">
					{{$root.menuCategoryMap[category].displayMenuName}}</a><span ng-if="$index<individualProfile.serviceProviderInfo.services.length - 1">,&nbsp;</span>
				</li>
				<li class="list-inline" style="display: inline-block; margin-right: 7px;" ng-if="$index >= 5 && individualProfile.showMoreServices===true"
					ng-repeat="category in individualProfile.serviceProviderInfo.services">
					<a class="ng-binding"
						di-href="elder-care-services/{{removeSpecialChars($root.menuCategoryMap[category].displayMenuName)}}/{{$root.menuCategoryMap[category].id}}/all/">
					{{$root.menuCategoryMap[category].displayMenuName}}</a><span ng-if="$index<individualProfile.serviceProviderInfo.services.length - 1">,&nbsp;</span>
				</li>
				<li class="list-inline serviceCardMoreLinks" ng-if="individualProfile.serviceProviderInfo.services.length > 5">
					<span ng-if="individualProfile.showMoreServices===false">...</span>
					<a class="diveLeft by_readmore serviceShowMoreLink"
						ng-click="showAllServices($event, individualProfile);$event.stopPropagation();" style="display: inline">
					Show all
					</a>
					<i class="fa fa-angle-down serviceShowMoreIcon"
						ng-click="showAllServices($event, individualProfile);$event.stopPropagation();"
						style="margin-left: 2px; font-size: 16px;"></i>
				</li>
			</ul>
			<!--<div c style="margin-top: -10px;display: inline">-->
			<!-- -->
			<!--<div style="clear: both"></div>-->
			<!--</div>-->
		</div>
		<div class="clearfix"></div>
		<div class="article col-md-12" ng-if="individualProfile.serviceProviderInfo.specialities">  <span
			ng-repeat="spec in individualProfile.serviceProviderInfo.specialities"><span ng-if="$first">Speciality:</span><span ng-repeat="name in spec" class="profileSpeciality"><b>{{name.displayMenuName}}</b></span></span>
		</div>
		<div class="clearfix"></div>
		<div class="col-md-12" ng-if="individualProfile.basicProfileInfo.description">
			<div class="row bg-color-grey2" style="margin-bottom: 15px; margin-top: 12px; height:1px;"></div>
			<div class="by_profile_devider"></div>
			
			<div class="articles-story row" ng-if="individualProfile.basicProfileInfo.description">
				<p id="profile-desc" ng-bind-html="trustForcefully(individualProfile.basicProfileInfo.description)">
				</p>
			</div>
		</div>
		<div style="clear:both;"></div>
	</div>



	<div id="adminVerified" ng-if="reviewsVerify.length > 0" class="margin-bottom-10 ">
		<img src="assets/img/profile/by_verified.png?versionTimeStamp=%PROJECT_VERSION%" alt="BeautifulYears Verified">
		<div class="clearfix" style="height:16px;"></div>
		<div ng-repeat="review in reviewsVerify"  data-index="discussion-articles"
			data-link="articles.html"
			ng-include="'app/components/profile/profileVerifiedReview.html?versionTimeStamp=%PROJECT_VERSION%'"
			ng-if="review.text && review.text.trim().length > 0 ">
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="clearfix" id="userReviews"></div>

	<div class="accordion by_product_accordian  margin-top-20 margin-bottom-20" id="by_pro_accReview" ng-if="reviews && reviews.length > 0">
	    <div class="accordion-group">
	        <div class="accordion-heading accordion-opened">
	            <a class="accordion-toggle " data-toggle="collapse" data-parent="#by_pro_accReview" href="#by_pro_accReviewOne">
	            Customer's reviews
	            </a>
	        </div>
	        <div id="by_pro_accReviewOne" class="accordion-body in collapse">
	            <div class="accordion-inner col-md-12">
	                 <div ng-repeat="review in reviews track by $index" data-index="discussion-articles" data-link="articles.html"ng-include="'app/components/profile/shared/profileReviewCard.html?versionTimeStamp=%PROJECT_VERSION%'" ng-if="review.text && review.text.trim().length > 0 && $index < 3 && showAllReviews===true">
	                </div>
	                <div ng-repeat="review in reviews track by $index" data-index="discussion-articles" data-link="articles.html" ng-include="'app/components/profile/shared/profileReviewCard.html?versionTimeStamp=%PROJECT_VERSION%'" ng-if="review.text && review.text.trim().length > 0 &&  showAllReviews===false">
	                </div>
	                <div  ng-if="showAllReviews===false" class="by_proReviewButton" ng-click="showAllReviewsForm($event);$event.stopPropagation();">
	                    Less
	                </div>
	                <div ng-if="showAllReviews===true && reviews.length > 3" class="by_proReviewButton"  ng-click="showAllReviewsForm($event);$event.stopPropagation();">
	                    More
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="clearfix"></div>
	</div>
	
	<div class="accordion by_product_accordian " id="by_pro_accRateReview" ng-if="isAllowedToReview">
	    <div class="accordion-group">
	        <div class="accordion-heading ">
	            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#by_pro_accRateReview" href="#by_pro_accRateReviewOne">
	            Rate &amp; Review
	            </a>
	        </div>
	        <div id="by_pro_accRateReviewOne" class="accordion-body  collapse">
	            <div class="accordion-inner">
	                 <div class="row margin-top-10" ng-include="'app/components/profile/shared/reviewRate.html?versionTimeStamp=%PROJECT_VERSION%'" ></div>
	            </div>
	        </div>
	    </div>
	    <div class="clearfix"></div>
	</div>
	<!--<div class="clearfix margin-top-10" ng-if="$root.windowWidth < 981"></div>
	<div class="row margin-top-10" ng-include="'app/components/profile/shared/reviewRate.html?versionTimeStamp=%PROJECT_VERSION%'" ng-if="isAllowedToReview"></div>-->
	<div class="clearfix margin-top-20"></div>
	<div class="row" ng-include="'app/components/profile/shared/contentByUser.html?versionTimeStamp=%PROJECT_VERSION%'"></div>
	<!--/end profile details-->
</div>