<div class="by_header">
    <div class="by_logo  divLeft">
        <a di-href="#!/">
            <img src="assets/img/home/logo.png?versionTimeStamp=%PROJECT_VERSION%" alt="BeautifulYears Logo" width="100%">
        </a>
    </div>

    <!--  Desktop version -->
    <div class="by_header_right_other divRight desktopSite width272">
       <div class="text-right marginLeftM111">
             <a di-href="#!/aboutUs" class="menuPipeline" id="aboutUs_placeholder">About us</a>
            
           <span ng-if="profileDetails.text">
                <a ng-href="{{profileDetails.link}}" class="menuPipeline" id="profile_placeholder" class="whiteColor">
                    {{profileDetails.text}}
                </a>
           </span>
           
            <a ng-href="{{loginDetails.link}}" class="menuPipeline" id="login_placeholder">{{loginDetails.text}}</a>
            
            <span><img src="assets/img/home/call.png?versionTimeStamp=%PROJECT_VERSION%" alt="BeautifulYears Call" width="20"/></span>
            <b><a ng-href="{{'tel:'+telNo}}">{{telNo}}</a></b>

            <div class="clearfix"></div>
        </div>

        <div class="divRight" ng-include="'app/shared/common/template/headerCart.html?versionTimeStamp=%PROJECT_VERSION%'"></div>
        <div class="by_header_right_search_other divRight" id="BySearch"
             ng-class="$root.totalCartItem > 0 ? 'by_header_right_search_other_cart' : '' ">
            <div class="by_header_right_search_other_left divLeft">
                <input type="text" placeholder="Search" ng-model="term" id="SearchValue"
                       enter-event="searchResults();">
            </div>
            <div class="by_header_right_search_other_image divRight" ng-click="searchResults();">
                <i class="fa fa-search"></i>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix desktopSite" ></div>
    <div class="by_menu" id="homeMenuScroll">
        <a href="#!/communities/564071623e60f5b66f62df27/all">Communities</a>
        <a href="#!/directory/56406cd03e60f5b66f62df26/all">Directory</a>
        <a href="#!/shop/55bcad7be4b08970a736784b">Shop</a>
    </div>
    <div class="clearfix desktopSite"></div>

    <!--           Mobile version                -->
    <div class="by_header_right_s divRight mobileSite">
        <div class="by_header_right_search divLeft">
            <input type="text" placeholder="Search" ng-model="term" id="SearchValue"
                  enter-event="searchResults();">
        </div>
        <div class="by_header_right_search_image divRight" ng-click="searchInputShow();">
            <i class="fa fa-search"></i>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>
<div ng-init="validateSession()"></div>

