<div class="by_header by_header_image" >
    <div class="by_logo  divLeft">
        <a di-href="#!/">
            <img src="assets/img/home/logo.png?versionTimeStamp=%PROJECT_VERSION%" alt="BeautifulYears Logo"
                 width="100%">
        </a>
    </div>
    <div class="divRight" ng-if="profileDetails.text">
        <div class="by_headerProfileText" >
            <a ng-href="{{profileDetails.link}}" >
                {{profileDetails.text}}
            </a>                       
        </div>
    </div>

    <div class="by_header_right_other divRight width272" >
        
        <div class="divRight"
             ng-include="'app/shared/common/template/headerCart.html?versionTimeStamp=%PROJECT_VERSION%'"></div>

        <div class="by_header_right_mobile divRight">
            <span ng-if="$root.windowWidth > 720">
                <div class="by_header_right_mobile_search divLeft">
                    <input type="text" placeholder="Search" ng-model="term" id="SearchValue"
                           enter-event="searchResults();">
                </div>
                <div class="by_header_right_mobile_search_image divRight" ng-click="searchInputShow();">
                    <i class="fa fa-search"></i>
                </div>
            </span>
            <span ng-if="$root.windowWidth < 721">                
                <div class="by_header_right_mobile_search_image divRight" ng-click="searchInputShow2();">
                    <i class="fa fa-search"></i>
                </div>
                <div class="by_header_right_mobile_search2 divLeft" >
                    <input type="text"  ng-model="term" id="SearchValue"
                           enter-event="searchResults();">
                </div>
            </span>
            <div class="clearfix"></div>
        </div>
        <div class="divRight by_headerPhoneNumber">
            <a href="tel:{{telNo}}"><img src="assets/img/phone.png?versionTimeStamp=%PROJECT_VERSION%" alt="Beautiful Years call"> {{telNo}}</a>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="by_menu">
        <a href="{{moduleConfig[menu.module].baseUrl}}/{{menu.id}}/{{moduleConfig[menu.module].defaultType}}"
           ng-repeat="menu in $root.mainMenu" ng-class="{'by_menu_Active': menu.id == $root.byTopMenuId }">{{menu.displayMenuName}}</a>
           <a class="by_menuMore" ng-click="showMoreMenuH();">More</a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="by_headerMoreMenu">
    <div class="by_container" style="background: #fff;padding:25px 15px 5px 15px;">
        <div class="by_homeSection" style="padding:0px;">        
            <div class="by_homeSectionInside">
                <div class="by_menuMoreLeft" ng-if="$root.windowWidth > 700">
                    <div class="by_menuMoreThumb">
                        <a href="#!/elder-care-forums/564071623e60f5b66f62df27/all">
                            <div class="by_menuMoreThumbImg">
                                <img src="assets/img/footer/communities_h.png?versionTimeStamp=%PROJECT_VERSION%" alt="Communities" width="25"/>
                            </div>
                            <div class="by_menuMoreThumbText">
                                Forums
                                <span>stories, Q&A, and more</span>
                            </div>
                        </a>
                    </div>
                    <div class="by_menuMoreThumb">
                        <a href="#!/elder-care-services/56406cd03e60f5b66f62df26/all">
                            <div class="by_menuMoreThumbImg">
                                <img src="assets/img/footer/elder_care_h.png?versionTimeStamp=%PROJECT_VERSION%" alt="Services" width="25"/>
                            </div>
                            <div class="by_menuMoreThumbText">
                                Services
                                <span>for the elderly</span>
                            </div>
                        </a>
                    </div>
                    <div class="by_menuMoreThumb">
                        <a href="#!/shop/55bcad7be4b08970a736784b">
                            <div class="by_menuMoreThumbImg">
                                <img src="assets/img/footer/shop_h.png?versionTimeStamp=%PROJECT_VERSION%" alt="Products" width="25"/>
                            </div>
                            <div class="by_menuMoreThumbText">
                                Products
                                <span>elder care e-commerce</span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="by_menuMoreLeft">
                    <div class="by_menuMoreThumb">
                        <a href="#!/home-modification">
                            <div class="by_menuMoreThumbImg">
                                <img src="assets/img/footer/home-modi_h.png?versionTimeStamp=%PROJECT_VERSION%" alt="Home Modifications" width="25"/>
                            </div>
                            <div class="by_menuMoreThumbText">
                                Home Modifications
                                <span>for senior living </span>
                            </div>
                        </a>
                    </div>
                    <div class="by_menuMoreThumb">
                        <a href="#!/elder-care-experience-store">
                            <div class="by_menuMoreThumbImg">
                                <img src="assets/img/footer/expi-store_h.png?versionTimeStamp=%PROJECT_VERSION%" alt="Experience Store" width="25"/>
                            </div>
                            <div class="by_menuMoreThumbText">
                                Experience Store
                                <span>elder care solutions </span>
                            </div>
                        </a>
                    </div>
                    <div class="by_menuMoreThumb">
                        <a href="#!/classes-actitivies-for-senior-citizens">
                            <div class="by_menuMoreThumbImg">
                                <img src="assets/img/footer/classes_h.png?versionTimeStamp=%PROJECT_VERSION%" alt="Classes &amp; Activities" width="25"/>
                            </div>
                            <div class="by_menuMoreThumbText">
                                Classes &amp; Activities
                                <span>for senior citizens</span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="by_menuMoreRight">                    
                    <div class="by_menuMoreRightThumb">
                        <a href="#!/contactUs">
                            Contact us
                        </a>
                    </div>
                    <div class="by_menuMoreRightThumb">
                        <a ng-href="{{loginDetails.link}}" >
                            {{loginDetails.text}}
                        </a>
                    </div>
                    <div class="by_menuMoreRightThumb">
                        <a di-href="#!/aboutUs" id="aboutUs_placeholder" style="color:#777575;">About us</a>
                    </div>
                    <div class="by_menuMoreRightThumb">
                        <a href="#!/" style="color:#777575;">
                            Home
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix" style="border-bottom: 1px solid #008000;"></div>
    <div class="by_headerMoreMenuMask"></div>
</div>


