<div class="by_menuDetailed col-md-12" ng-if="$root.windowWidth > 720"  style="position:fixed; bottom:0px;"  ng-init="leftPanelHeight();">
    
<div class="by_profileDetailed_menu">
       <a di-href="#!cart/">Shopping Cart ({{$root.totalCartItem}})
       </a>
   </div>
<div class="by_profileDetailed_menu ">
    <a di-href="#!selectAddress/">Shipping Address</a><!-- href="shopping_shipping_address.html" -->
</div>
<div class="by_profileDetailed_menu  by_profileDetailed_menuActive">
    <a>Payment Options </a><!--  href="shopping_payment.html" -->
</div>
<div class="by_profileDetailed_menu">
    <a>Confirmation </a>
</div>
</div>

<div class="by_mobile_leftPanel_hide" ng-if="$root.windowWidth < 720">
    <div class="by_mobile_leftPanel" style="padding:0px 15px;">
       
        <div class="by_profileDetailed_menu">
       <a >Shopping Cart ({{$root.totalCartItem}})
       </a>
   </div>
<div class="by_profileDetailed_menu">
    <a >Shipping Address</a><!-- href="shopping_shipping_address.html" -->
</div>
<div class="by_profileDetailed_menu   by_profileDetailed_menuActive">
    <a>Payment Options </a><!--  href="shopping_payment.html" -->
</div>
<div class="by_profileDetailed_menu">
    <a>Confirmation </a>
</div>
        <div class="clearfix"></div>
    </div>
    <div class="by_mobile_leftPanel_image" ng-init="subMenuTabMobileShow();"></div>
</div>


