.header .logo, .header .logo img {
	width: 200px;
}

.header .logo img {
	z-index: 1;
	margin: -1px 0;
	position: relative;
}
.header .dropdown-menu {
    padding: 0;
    border: none;
    min-width: 200px;
    border-radius: 0;
    z-index: 100 !important;
    border: 1px solid #545454;
    box-shadow: 1px 2px 5px 5px rgba(10, 10, 10, 0.17);
    -webkit-box-shadow: 1px 2px 5px 5px rgba(10, 10, 10, 0.17);
    -ms-box-shadow: 1px 2px 5px 5px rgba(10, 10, 10, 0.17);
    background: #fff;
}

.header .topbar ul.loginbar > li > a, .header .topbar ul.loginbar > li > a:hover
{
	text-transform:capitalize;
}
.header {
	top: 0px;
	width: 100%;
	height: 111px;
	border-bottom: 0px;
	position: fixed;
	z-index: 110;
}

.headerBg {
	width: 100%;
	background: url(../img/Header1.jpg?versionTimeStamp=%PROJECT_VERSION%)
		no-repeat bottom center;
	background-size: cover;
}

.header .navbar-collapse {
	top: 0px;
	background-color: #ffffff;
	border-bottom: 1px solid #004f24;
}

.header .dropdown-menu {
	border-top: 0px;
}

.headerHeight {
	height: 302px;
	width: 100%;
}

.header .topbar {
	padding-top: 1px;
}

.header .mega-menu .equal-height-in {
	border-left: 0px;
}

.header .navbar-nav {
	float: none;
}

.searchLeft input::-webkit-input-placeholder {
	color: #fff;
}

.searchLeft input:-moz-placeholder { /* Firefox 18- */
	color: #fff;
}

.searchLeft input::-moz-placeholder { /* Firefox 19+ */
	color: #fff;
}

.searchLeft input:-ms-input-placeholder {
	color: #fff;
}

.navbar-nav>li>.dropdown-menu {
	margin-top: -4px;
}

.headerBottom {
	width: 100%;
	background: url(../img/Header2.jpg?versionTimeStamp=%PROJECT_VERSION%)
		no-repeat top center;
	font-size: 18px;
	height: auto;
	line-height: 45px;
	color: #C7C5C5;
	text-align: center;
	text-transform: uppercase;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	background-size: cover;
}

.headerBottomImage {
	width: 100%;
	height: 27px;
	background: url(../img/Header3.jpg?versionTimeStamp=%PROJECT_VERSION%)
		no-repeat top center;
	background-size: cover;
}

.header .dropdown-menu li a {
	color: #000;
	font-size: 14px;
}

.header .mega-menu .equal-height-list h3 {
	color: #00af50;
}

.header .mega-menu-content {
	overflow: hidden;
	padding-bottom: 0px;
}

.header .mega-menu-content .col-md-2 {
	position: relative;
}

.head-more-ul {
	position: absolute;
	bottom: 0px;
	list-style-type: none;
	width: 100%;
	padding-left: 0;
	background-color: black;
}

.header .dropdown-menu .col-md-2 {
	padding-bottom: 0px;
	padding-top: 0px;
	width: 20%;
}

.header .mega-menu .disable-icons li a {
	padding-top: 1px;
	padding-bottom: 1px;
	font-size: 14px;
}

.headerHeightNoBreadCrumbBottom {
	height: 120px;
}

.header .topbar ul.loginbar>li>a, .header .topbar ul.loginbar>li>a:hover
	{
	color: #E8E1E1;
}

.header .topbar ul.loginbar li i.fa {
	color: #E8E1E1;
}

.header .topbar ul.languages {
	top: 19px;
	left: 4px;
}

.header .mega-menu .equal-height-list h3 {
	padding: 0px;
}
.mobileHeader
{
	display:none !important;
}
.searchToogle
{
	display:block;
}
@media ( min-width : 768px) {
	.navbar-nav>li>a {
		padding-top: 9px;
		padding-bottom: 9px;
	}


}

@media (min-width : 992px) {
	.header .navbar-nav>li:hover>a, .header .navbar-nav>li:active>a,
		.selected-dropdown>a {
		color: #fff !important;
		border-bottom: none;
		bottom: 0px;
	}
	.header .navbar-nav>li:hover, .header .navbar-nav>li:active,
		.nav>li>a:hover
		{
		background-color: #008a4b;
	}
	.selected-dropdown {
		background-color: #004f24 !important;
	}

	.selected-dropdown > a:hover, .nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
		/*background-color: #004f24 !important;*/
	}

	.header .navbar-nav>li {
		padding-bottom: 5px;
		padding-top: 5px;
	}
	.header .navbar-nav>li>a {
		bottom: 0px;
		border-bottom: 0px;
		font-size: 20px;
		line-height: 16px;
		padding-right: 20px;
		padding-left: 20px;
		color: #000000;
		text-transform: capitalize;
		margin-bottom: 2px;
	}
	.header .dropdown>a:after, .header .dropdown-submenu>a:after {
		content: '';
	}
	.header .dropdown>a:after {
		content: '';
	}
}

@media screen and (max-width: 992px) {
	.header .mega-menu .disable-icons li a {
		padding-top: 5px;
		padding-bottom: 8px;
		font-size: 14px;
	}
	.header .navbar-nav>li>a:hover, .header .navbar-nav>li>a:focus {
		color: #000;
		border-color: #ccc;
	}
	.header {
		position: relative;
	}

	/*.header .navbar-toggle {*/
	/*margin-top: 37px;*/
	/*}*/
	.header .mega-menu {
		margin-top: 0px;
		overflow-y: auto;
		background: #f8f8f8;
		border-top: 2px solid #00af50;
		border-bottom: 1px solid #00af50;
	}
	.headerBottom {
		font-size: 15px;
		line-height: 50px;
	}
	.headerBottomImage {
		height: 20px;
	}
	.header .navbar-nav>li>a {
		color: #000;
	}
	.header .topbar {
		padding-top: 0px;
	}
	.header .navbar-toggle, .header .navbar-toggle:hover, .header .navbar-toggle:focus
	{
		    padding: 4px 9px 2px !important;
	}
	.header .navbar-toggle, .header .navbar-toggle:hover
	{
		background:#fff !important;
		float:left;
	}
	.fa-navicon:before, .fa-reorder:before, .fa-bars:before
	{
		content: url('../img/icons/menu-icon.png') !important;
	}

	/*.header .dropdown>a:after, .header .dropdown-submenu>a:after {*/
		/*content: '';*/
	/*}*/
	/*.header .dropdown > .hbMenu:after{*/

		/*content: '';*/
	/*}*/
	
	.homeSlider {
		margin-top: 0px;
	}
	.mobileHeader
	{
		display:block !important;
	}
	.searchToogle
	{
		display:none;
	}
	.searchLeft input::-webkit-input-placeholder {
		color: #000;
	}
	.searchLeft input:-moz-placeholder { /* Firefox 18- */
		color: #000;
	}
	.searchLeft input::-moz-placeholder { /* Firefox 19+ */
		color: #000;
	}
	.searchLeft input:-ms-input-placeholder {
		color: #000;
	}
	.headerBg {
		width: 100%;
		background: url(../img/home/header_bg_m.jpg?versionTimeStamp=%PROJECT_VERSION%)
			no-repeat bottom center;
		background-size: cover;
	}
}


@media screen and (max-width: 1200px) {
	.header.container {
		width: 100%;
	}
}

@media screen and (max-width: 992px) {
	
	.header {
		position: relative;
		height: auto;
		z-index: 1;
	}
	.header .topbar ul.loginbar {
		padding: 0px;
	}
	.header .navbar-nav {
		margin-top: 4px;
		margin-right: 0px;
	}
	.header .navbar-nav>li>a {
		font-size: 14px;
		line-height: 23px;
	}
	.header .navbar-nav br {
		display: block;
		font-size: 0px;
		line-height: 0px;
		content: " ";
		padding: 0px;
		margin: 0px;
	}

	.header .logo img {
		margin: -3px 0px 0px 0px;
	}
}


@media screen and (max-width: 450px) {
	.header .logo, .header .logo img {
		width: 156px;
	}
	.searchWrapper {
		margin-top: 8px !important;
		margin-bottom:8px;
	}
}

@media screen and (max-width: 400px) {
	.header .topbar ul.loginbar>li>a, .header .topbar ul.loginbar>li>a:hover
		{
		font-size: 10px !important;
	}
}

@media only screen and (min-width:992px) and (max-width: 1200px){
	.header .navbar-nav>li
	{
		padding-top:0px;
		padding-bottom:0px;
	}
	.header .navbar-nav>li>a
	{
		padding-right:19px;
		margin-bottom: 0px;
		line-height:28px;
	}
	.nav .open>a, .nav .open>a:focus, .nav .open>a:hover
	{
		background-color:#004f24 ;
	}
}