.sprite {
	background-image:
		url("../img/sprite/spritesheet.png?versionTimeStamp=%PROJECT_VERSION%");
	background-repeat: no-repeat;
	display: block;
}

.sprite-question {
	width: 24px;
	height: 27px;
	/*background-position: -160px -186px;*/
	background:
		url("../img/sprite/ask.png?versionTimeStamp=%PROJECT_VERSION%") no-repeat;
	margin: 3px 0px;
}

.by_leftPanel_icons:hover .sprite-question {
	width: 39px;
	height: 39px;
	background-position: -224px -5px;
}

.sprite-story {
	/*width: 39px;
	height: 39px;
	background-position: -269px -104px;*/
	width: 24px;
	height: 27px;
	background:
		url("../img/sprite/share_new.png?versionTimeStamp=%PROJECT_VERSION%") no-repeat;
	margin: 3px 0px;
}

.by_leftPanel_icons:hover .sprite-story {
	width: 39px;
	height: 39px;
	background-position: -318px -104px;
}

.add-comment-FA .icon-answer:before {
	content:'';
    background-image:
		url("../img/sprite/spritesheet.png?versionTimeStamp=%PROJECT_VERSION%");
	background-repeat: no-repeat;
	display: block;
	 width: 20px;
    height: 20px;
    background-position: -5px -5px;
}
.add-comment-FC .icon-speech:before {	
	content:'';
    background-image:
		url("../img/sprite/spritesheet.png?versionTimeStamp=%PROJECT_VERSION%");
	background-repeat: no-repeat;
	display: block;
	width: 20px;
    height: 20px;
    background-position: -130px -158px;
}
.icon-speech:before {
	content:'';
    background-image:
		url("../img/sprite/spritesheet.png?versionTimeStamp=%PROJECT_VERSION%");
	background-repeat: no-repeat;
	display: block;
	 width: 91px;
    height: 20px;
    background-position: -103px -242px;
}
.icon-speech:hover:before
{
	background-position: -103px -267px;
}
.icon-heart:before {
	content:'';
    background-image:
		url("../img/sprite/spritesheet.png?versionTimeStamp=%PROJECT_VERSION%");
	background-repeat: no-repeat;
	display: block;
	width: 48px;
    height: 20px;
    background-position: -31px -242px;
}
.icon-heart:hover:before
{
	background-position: -31px -266px;
}
.icon-heart-active:before {
	content:'';
    background-image:
		url("../img/sprite/spritesheet.png?versionTimeStamp=%PROJECT_VERSION%");
	background-repeat: no-repeat;
	display: block;
	width: 54px;
    height: 24px;
    background-position: -31px -291px;
}
.icon-heart-liked:before
{
	content:'';
    background-image:
		url("../img/sprite/spritesheet.png?versionTimeStamp=%PROJECT_VERSION%");
	background-repeat: no-repeat;
	display: block;
	width: 54px;
    height: 24px;
    background-position: -31px -318px;
}
.icon-answer:before {
	content:'';
    background-image:
		url("../img/sprite/spritesheet.png?versionTimeStamp=%PROJECT_VERSION%");
	background-repeat: no-repeat;
	display: block;
	width: 83px;
    height: 20px;
    background-position: -266px -242px;
}
.icon-answer:hover:before
{
	background-position: -266px -265px;
}
.icon-answer-active:before {
	content:'';
    background-image:
		url("../img/sprite/spritesheet.png?versionTimeStamp=%PROJECT_VERSION%");
	background-repeat: no-repeat;
	display: block;
	width: 86px;
    height: 24px;
    background-position: -266px -292px;
}
.icon-share:before {
	content:'';
    background-image:
		url("../img/sprite/spritesheet.png?versionTimeStamp=%PROJECT_VERSION%");
	background-repeat: no-repeat;
	display: block;
	width: 60px;
    height: 20px;
    background-position: -203px -242px;	
}
.icon-share:hover:before 
{
	background-position: -203px -266px;	
}
.icon-heart-active:before {
	content:'';
    background-image:
		url("../img/sprite/spritesheet.png?versionTimeStamp=%PROJECT_VERSION%");
	background-repeat: no-repeat;
	display: block;
}
.questionTag {
	position: absolute;
	right: -5px;
    top: -4px;
	z-index: 1;
	 background-image:
		url("../img/sprite/spritesheet.png?versionTimeStamp=%PROJECT_VERSION%");
	background-repeat: no-repeat;
	display: block;
	width: 85px;
    height: 89px;
    background-position: -118px -29px;
}
.postTag
{
	width: 85px;
    height: 89px;
    background-position: -5px -128px;
}
.add-comment-FA .icon-rate
{
	background-image: url("../img/sprite/spritesheet.png?versionTimeStamp=%PROJECT_VERSION%");
    background-repeat: no-repeat;
    display: block;
    width: 20px;
    height: 20px;
    background-position: -5px -54px;
	margin: 0px 5px 0px 5px;
}
.review-Icon_rate
{
	background-image:
		url("../img/sprite/spritesheet.png?versionTimeStamp=%PROJECT_VERSION%");
	background-repeat: no-repeat;
	display: block;
	width: 20px;
    height: 20px;
    background-position: -5px -54px;
    margin-right:10px;
}

.fa-review-icon:before {
	content: '';
	background-image:
		url("../img/sprite/spritesheet.png?versionTimeStamp=%PROJECT_VERSION%");
	background-repeat: no-repeat;
	display: block;
	 width: 20px;
    height: 20px;
    background-position: -64px -54px;
}

.fa-home:before {
    content: '';
	background-image:
		url("../img/sprite/spritesheet.png?versionTimeStamp=%PROJECT_VERSION%");
	background-repeat: no-repeat;
	display: block;
	width: 16px;
    height: 16px;
    background-position: -126px -128px;
    margin-top: 4px;
}
.fa-speak:before {
    content: '';
	background-image:
		url("../img/sprite/spritesheet.png?versionTimeStamp=%PROJECT_VERSION%");
	background-repeat: no-repeat;
	display: block;
	width: 16px;
    height: 16px;
    background-position: -243px -104px;
    margin-top: 4px;
}
.fa-interest:before {
    content: '';
	background-image:
		url("../img/sprite/spritesheet.png?versionTimeStamp=%PROJECT_VERSION%");
	background-repeat: no-repeat;
	display: block;
	 width: 16px;
    height: 16px;
    background-position: -152px -128px;
    margin-top: 4px;
}
.fa-hobbies:before {
    content: '';
	background-image:
		url("../img/sprite/spritesheet.png?versionTimeStamp=%PROJECT_VERSION%");
	background-repeat: no-repeat;
	display: block;
	 width: 16px;
    height: 16px;
    background-position: -100px -128px;    
    margin-top: 4px;
}
.fa-envelope:before {
	 content: '';
	background-image:
		url("../img/sprite/spritesheet.png?versionTimeStamp=%PROJECT_VERSION%");
	background-repeat: no-repeat;
	display: block;
	width: 20px;
    height: 14px;
    background-position: -118px -5px;
}

.fa-phone:before {
	 content: '';
	background-image:
		url("../img/sprite/spritesheet.png?versionTimeStamp=%PROJECT_VERSION%");
	background-repeat: no-repeat;
	display: block;
	 width: 18px;
    height: 18px;
    background-position: -160px -158px;
}

.fa-globe:before {
	 content: '';
	background-image:
		url("../img/sprite/spritesheet.png?versionTimeStamp=%PROJECT_VERSION%");
	background-repeat: no-repeat;
	display: block;
	width: 20px;
    height: 20px;
    background-position: -208px -153px;
}

.fa-address:before {
	content: url('../img/icons/place.png')
}

.serviceFeatured
{
	background-image:
		url("../img/sprite/spritesheet.png?versionTimeStamp=%PROJECT_VERSION%");
	background-repeat: no-repeat;
	display: block;
	width: 85px;
    height: 89px;
    background-position: -273px -5px;
	position:absolute;
	z-index:10;
	top: -4px;
    right: -5px;
}
.housingFeatured
{
	background-image:
		url("../img/sprite/spritesheet.png?versionTimeStamp=%PROJECT_VERSION%");
	background-repeat: no-repeat;
	display: block;
	width: 85px;
    height: 89px;
    background-position: -358px -9px;
	position:absolute;
	z-index:10;
	top: -4px;
    right: -5px;
}

.fa-home:before {
	content:'';
	background: url('../img/sprite/home.png?versionTimeStamp=%PROJECT_VERSION%');
	width:20px;
	height:20px;
	margin-top:0px;

}
.fa-bank:before {
	content:'';
	background: url('../img/sprite/rupee.png?versionTimeStamp=%PROJECT_VERSION%');
	width:20px;
	height:20px;	
	margin-top:-1px;
}
.by_housingCard_contentVerified, .by_serviceCard_contentVerified
{
	background: url("../img/sprite/spritesheet.png?versionTimeStamp=%PROJECT_VERSION%");;
	width: 91px;
    height: 31px;
    background-position: -248px -156px;
}
.by_profile_verified
{
	background: url("../img/sprite/spritesheet.png?versionTimeStamp=%PROJECT_VERSION%");;
	width: 91px;
    height: 31px;
    background-position: -248px -156px;
    margin-right: 30px;
}

.by_housingCard_contentIconWrap .icon-rate, .by_serviceCard_contentIconWrap .icon-rate
{
	background-image: url("../img/sprite/spritesheet.png?versionTimeStamp=%PROJECT_VERSION%");
    background-repeat: no-repeat;
    display: block;
    width: 20px;
    height: 20px;
    background-position: -5px -54px;
	margin: 0px 5px 0px 0px;
}
.fa-pencil-square-o:before {
    content:'';
    background-image:
		url("../img/sprite/spritesheet.png?versionTimeStamp=%PROJECT_VERSION%");
	background-repeat: no-repeat;
	display: block;
	width: 53px;
    height: 20px;
    background-position: -101px -293px;
    cursor: pointer;
}
.fa-pencil-square-o:hover:before
{
	background-position: -101px -319px;
}
.by_faAlign:before {
    content:'';
    background-image:
		url("../img/sprite/spritesheet.png?versionTimeStamp=%PROJECT_VERSION%");
	background-repeat: no-repeat;
	display: block;
	width: 23px;
    height: 22px;
    background-position: -64px -55px;
}
.by_faAlign:hover:before {
    background-position: -64px -55px;
}