
.by-imageGallery{
    width: calc(100% - 2px);
    height: 92px;
    margin: 0px 0px 0px 0px;
    overflow: hidden;
    border:1px solid #ccc;
    border-top:0px;
    padding-top:10px;
    padding-bottom:10px;
    border-bottom-right-radius:4px !important;
    border-bottom-left-radius:4px !important;
}

.by-imageGallery-item {
    height: 70px;
    display:inline-block;
}

.by-imageGallery-item img {
    height:100%;
    width: auto !important;
    max-width: 135px;
    max-height: 168px;
    margin-right:2px;
    border:1px solid #ccc;

}
.by-gallery-container-width
{
	width:auto;
	height:70px;
	overflow:hidden;
}
.by_galleryContainer_outer
{
    width: calc(100% - 60px);
    overflow: hidden;
    position: relative;
    height: 70px;
    float: left;
}

.by-gallery-container{
    /*margin-top: 15px;*/
    height:100%;
    position: absolute;
  white-space: nowrap;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -webkit-transform:translate3d(4px, 0px, 0px);
  -moz-transform:    translate3d(4px, 0px, 0px);;
  -ms-transform:     translate3d(4px, 0px, 0px);;
  -o-transform:      translate3d(4px, 0px, 0px);;
  transform: translate3d(4px, 0px, 0px);
    -webkit-transition-duration: 1000ms; transition-duration: 1000ms;
    -webkit-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.by-gallery-leftArrow{
    background: url("../img/icons/arrow_left_over.png") no-repeat center;
    float: left;
    height: 70px;
    background-size: 20px 39px;
    width: 30px;
    padding-top:8px;
}

.by-gallery-rightArrow{
    background:url("../img/icons/arrow_right_over.png") no-repeat center;
    float: left;
    height: 70px;
    background-size: 20px 39px;
    width: 30px;
    padding-top:8px;
}


.by-gallery-animate-right {
    -webkit-transform:translate3d(-204px, 0px, 0px);
}

.by-gallery-animate-left {
    -webkit-transform:translate3d(0px, 0px, 0px);
}


.profilePopupImages
{
	width: 100%;
	height: 100%;
	position: fixed;
    z-index: 120;
    display: none;
    left:0px;
    top:0px;
    overflow-y:auto;
}	
.profilePopupImagesOpacity
{
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.4;
    filter: alpha(opacity=40);
    position: fixed;
    top: 0px;
    left: 0px;
}
.profilePopupImagesWrapper
{
	position: relative;
	width: auto;
	height: auto;
	overflow: hidden;
	margin-left:auto;
	margin-right:auto;
	background: #fff;
	display: block;
	border:3px solid #ccc;
	border-radius: 5px !important;
}
.profilePopupImagesWrapperImage
{
	width: 100%;
	height: auto;
	max-height:100%;
	overflow-x:hidden;
	overflow-y:auto;	
}
.profilePopupImagesWrapperClose
{
	width: 30px;
	height: 30px;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 9;
	cursor: pointer;
}
.profileHoverImages
{
	width: auto;
	height: auto;
	border:3px solid #ccc;
	border-radius: 5px !important;
	position: absolute;
	z-index: 9;
	background: #fff;
	display: none;
	text-align:center;
	padding:10px 0px 10px 0px;
}