html, body
{
    height: 100%;
    margin: 0px;
    width: 100%;
}
body
{
    padding: 0px;
    margin: 0px;
    font-family: century_gothic !important;   
}


#ng-scope {
    height: 100%;
}
body#tinymce{
    font-size:14px;
}

@font-face {
    font-family: 'nuance_eagle_regularregular';
    src: url('../font/nuanceeagleregular-webfont.eot');
    src: url('../font/nuanceeagleregular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/nuanceeagleregular-webfont.woff') format('woff'),
    url('../font/nuanceeagleregular-webfont.ttf') format('truetype'),
    url('../font/nuanceeagleregular-webfont.svg#nuance_eagle_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'century_gothic';
    src: url('../font/century_gothic/gothic.eot');
    src: url('../font/century_gothic/gothic.eot?#iefix') format('embedded-opentype'),
    url('../font/century_gothic/gothic.woff') format('woff'),
    url('../font/century_gothic/gothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica_narrow';
    src: url("../font/helveticaneueltstd-ltcn.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe_Print';
    src: url("../font/Segoe Print.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kimberly_geswein';
    src: url("../font/kimberly_geswein.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kimberly_geswein';
    src: url("../font/kimberly_geswein_bold.ttf") format("opentype");
    font-weight: bold;
    font-style: normal;
}



body p, body span, body div
{
    font-family: century_gothic !important;
    color: #000000;
}

body a, body h1
{
    /*color: #00A24A;*/
    color: #004f24 ;
    font-family: century_gothic !important;
}

body a:hover
{
    color: #00af50;
    text-decoration: underline;
}

.by-filter-links a{
    color:#004620;
}



.by_btn_cancel{
    background:#e87441 !important;
    border-color: #e87441 !important;
    margin-right: 5px !important;
    margin-left: 5px !important;
}

.triangle-down {
    margin-top: 12px;
    margin-right: 30px;
    display: inline-block !important;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #282828;
    float: right;
    padding: 0px !important;
    background: none !important;
}


.noTopBorder{
    margin-left: 20px !important;
}

.noTopBorder hr{
    margin: 0px !important;

}
.noTopBorder .blog-author{
    border-top-width: 0px !important;

}

.by-login-modal{
    width: 100%;
    height: 100%;
    z-index: 200;
}

.container
{
    max-width: 960px;
}
.article-outer-wrapper
{
    padding-left:55px;
    padding-right:55px;
    padding-bottom: 20px;
    margin-top: 20px;
}
.by_left_panel_fixed
{
    left: calc((100vw - 960px + 20px)/2) !important;
    width: 225px !important;
}
#sidebar-nav
{
    width: 225px;
}

@media (max-width: 992px){
    .by_left_panel_fixed, #sidebar-nav
    {
        width: 100% !important;
    }

}

.first-letter-uc::first-letter {
    text-transform: uppercase;
}

.row-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}
.col-height {
    display: table-cell;
    float: none;
    height: 100%;
}

.col-top {
    vertical-align: top;
}

.col-middle {
    vertical-align: middle;
}

#mask{
    position: absolute;
    content: '';
    background: rgba(225,225,225, 0.7);
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
    display: none;
}
.list-group-item a {
	font-size:16px;
}

.footer-v1 a
{
	color:#00B955;
}
.footer-v1 a:hover
{
	color:#FF850F;
}
.by_fullWidth
{
	width:100%;
}
.tooltip-inner
{
	border-radius: 5px !important;
	background-color:#525252;	
	text-align:left;
	max-width:980px;
}
.tooltip.top
{
	margin-top:5px;
    z-index: 999;
}
.tooltip.top .tooltip-arrow
{
	border-top-color: #525252;
}
.by_ellipsis {
  overflow: hidden;
  position: relative;
  height: 40px;
  line-height: 20px;
}

.by_ellipsis:before {
  content:"";
  float: left;
  width: 5px; 
  height: 40px; 
}

.by_ellipsis > *:first-child {
  float: right;
  width: 100%;
  margin-left: -5px; 
}    

.by_ellipsis:after {
    content: "\02026"; 
    float: right; position: relative;
    top: 20px; left: 100%; 
    width: 20px; margin-left: -20px;
    padding-right: 5px;
    background: #fff;  
}

.darkBgwithText
{
    margin-left:-5px;
    border:1px solid #4d4d4d;
    background:#7c7c7c;
    padding:10px;
    color:#fff;    
    box-shadow: 2px 2px 3px 1px rgba(4, 4, 4, 0.16);
    -webkit-box-shadow: 2px 2px 3px 1px rgba(4, 4, 4, 0.16);
    -ms-box-shadow: 2px 2px 3px 1px rgba(4, 4, 4, 0.16);
    border-radius: 2px !important;
    position:relative;
}
.darkBgwithTextArrow
{
    position:absolute;
    width:16px;
    height:14px;
    bottom:-7px;
    left:20%;
    z-index:2;
}
.leftPanel
{
    width: 250px;
    height: auto;
    float: left;
}
.contentPanel
{
    width: calc(80% - 250px);
    float: right;
    margin-left: 10%;
    margin-right: 10%;
    height: auto;
    margin-top: 10px;
    /* min-height: 100vh;*/
}
.contentPanelProduct
{
    width: calc(90% - 250px);
    margin-left: 5%;
    margin-right: 5%;
}
.footerMobile
{
    display: none;
}
.footerDesktop
{
    display: block;
}
@media ( max-width : 1200px){
    .contentPanel
    {
        width: calc(90% - 250px);
        float: right;
        margin-left: 5%;
        margin-right: 5%;
        height: auto;
        margin-top: 20px;
    }
    .contentPanelProduct
    {
        width: calc(96% - 250px);
        margin-left: 2%;
        margin-right: 2%;
    }
}
@media ( max-width : 720px){
    .contentPanel
    {
        width: 96%;
        float: none;
        margin-left: 2%;
        margin-right: 2%;
        height: auto;
        margin-top: 20px;
    }
    .footerMobile
    {
        display: block;
    }
    .footerDesktop
    {
        display: none;
    }
}
.pac-container
{
    z-index: 10;
}
.floatNone
{
    float: none;
}
.width272
{
    width: 272px;
}
.marginLeftM111
{
    margin-left: -111px;
}
.whiteColor
{
    color: #fff;
}
.greenColor
{
    color: #004f24;
}

.greyColor {
    color:#a2a1a1;
}

.marginTopM11
{
    margin-top: -11px;
}
.paddingBottom0Imp
{
    padding-bottom: 0px !important;
}
.headerCartStyle
{
    max-height:150px; overflow-y:auto; margin-right:-10px;
}
.redColor
{
    color: red;
}
.greenColor
{
    color: green;
}

.by_viewMoreButton
{
    color: #fff;
    background: #004f24;
    margin:10px auto 10px auto;
    width: 280px;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 7px;
}
.by_viewMoreButton a
{
    color: #fff;
    display: block;
    font-size: 18px;
}
.by_viewMoreButton a:hover
{
    color: #fff;
}

.discussPagination{
    float: none !important;
    margin:0 auto 10px auto;
    width: auto;
    min-width: 100px;
    max-width: 251px;
    text-align: center;
    display: block !important;
}
.discussPagination2
{
    max-width: 188px;
}
.marginTopM1
{
    margin-top: -2px;
}
.directoyDetailsArrow
{
    font-size: 18px;   margin-top:3px; float:right;  margin-left: 5px;
}
.by_moreArrow
{
    font-size: 18px;   margin-top:5px; float:right;  margin-left: 3px;
}
.by_moreArrowView
{
    font-size: 17px;   margin-top:4px; margin-left: 3px;
}
.by_moreArrowPagination
{
    font-size: 19px; 
}
.errorRed
{
    color: red;
}
.error-v1 {
    padding-bottom: 30px;
}
.error-v1 span.error-v1-title {
    color: #777;
    font-size: 180px;
    line-height: 200px;
    padding-bottom: 20px;
}
.error-v1 span {
    color: #555;
    display: block;
    font-size: 35px;
    font-weight: 200;
}
.error-v1 p {
    color: #555;
    font-size: 16px;
}
.by_callToAction
{
    width: 100%;
    height: auto;
    background: #B0B5B0;
    text-align: center;
    padding: 2px 15px;
    line-height: 34px;
    font-size: 20px;
}
.by_callToAction img
{
    margin-right: 5px;
}
.by_callToActionButton
{
    background-color: #004f24;
    border-radius: 10px !important;
    color: #fff;
    padding: 3px 12px 1px 5px;
    display: inline-block;
    line-height: 19px;
}
.by_callToActionButton img
{
    margin-right: 1px;
    display:inline-block !important;
    margin-top: -2px;
}
@media ( max-width : 721px){
    .by_callToAction
    {
        font-size: 16px;
        line-height: 22px;
    }
    .by_callToAction img
    {
        display: none;
    }
    .by_callToAction a
    {
        color: #000;
    }
}