.modal-open{
	outline: none;
}
.share-modal-screen{
	width:70%;
	border:6px solid rgba(34, 34, 34, 0.4);
	max-width: 650px;
}
.share-modal-screen button.close{
	font-size:30px;
	opacity:0.8;
}
.padded-row{
	padding:30px;
}
.border-side{
	border-right:1px solid #A8A6A6;
}
.share-block-link{
	padding:0px;
	display:block;
	border: 1px solid #fff;
	box-shadow:0px 0px 2px #fff;
}
.share-block-link:hover{
	text-decoration:none;
	outline:none;
}
.purple:hover{
	border: 1px solid #3B5999;
	box-shadow:0px 0px 2px #3B5999;
}
.purple:hover .share-block h3{
	color: #3B5999;
}
.purple:hover .share-block p{
	color: #3B5999;
}
.green:hover{
	border: 1px solid #018704;
	box-shadow:0px 0px 2px #018704;
}
.green:hover .share-block h3{
	color: #018704;
}
.green:hover .share-block p{
	color: #018704;
}
.share-block{
	padding:30px
}
.share-block h3{
	text-align:center;
	font-size:15px;
	margin-top:24px;
}
.share-block p{
	text-align:center;
	font-size:15px;
	margin-top:-14px;
	font-weight:600;
}
.icon-bg{
	border-radius:50% !important;	
	width:40px;
	height:40px;	
    margin-left: auto;
    margin-right: auto;
}
.icon-bg i{
	position:absolute;
	font-size:25px;
	color:#fff;
	margin:8px 12px;
	display:block;
	
}
.purple .share-block .icon-bg{
	background:#3B5999;
}
.green .share-block .icon-bg{
	background:#018704;
}
.green .share-block .icon-bg i{
	margin:8px 9px !important;
	font-size:22px !important;
}

.modal-header{
}
.modal-header p{
	display: inline;
	font-size:17px;
	font-weight:600;
}
.modal-header p i{
	margin-right:14px;
	font-size:18px;
}
.padding-20{
	padding:20px;
	padding-top:0px;
	padding-bottom:0px;
}
.share-modal-screen .form-group{
	
}
.share-modal-screen .button-group{
	margin-top:10px;
}

.share-modal-screen .form-group input[type="text"]{
	height:40px;
	background:#fff;
	border: 1px solid #B9B9B9;
}
.share-modal-screen .form-group textarea{
	height:40px;
	background:#fff;
	border:none;
	border-bottom:1px solid #E4E4E4;
	padding:10px;
}
.share-modal-screen .form-group input[type="text"]:focus{
	border: 1px solid #018704;
	box-shadow:0px 0px 3px rgba(1, 135, 4, 0.69) !important;
	background:#fff;
}
.share-modal-screen .form-group textarea:focus{
	border: none;
	border-bottom:1px solid #E4E4E4;
	box-shadow:none;
}
.content-form-group{
	border: 1px solid #B9B9B9;
	height:170px;
	overflow-y: auto;
}
.content-form-group img{
	width:85px;
	height:85px;
	margin:2px 10px;
	border:2px solid #ccc;
}
.profile-img-space
{
	float: left;
	width: 70px;
	height: 70px;
	margin-right: 10px;
}
.profile-img-space img{
	width:70px;
	height:70px;
	border-radius: 50% !important;
	border:2px solid #ccc;
}
.profile-img-space-content
{
	float: left;
	width: calc(100% - 80px);
	overflow-y:auto;
}
.shareDetails{
	padding:14px;
	padding-top:0px;
	height:105px;
	overflow:hidden;
}
.shareDetails h3{
	font-size:13px;
	font-weight:600;
	color:#222;
	margin-top:-8px;
	text-transform: lowercase;
}
.shareDetails p{
	font-size:13px;
	margin-top:-8px;
}
#shareEmailModal.fade.in
{
	overflow-y: auto;
}
@media screen and (max-width: 992px) {
	.border-side{
		border-bottom:1px solid #A8A6A6;
		border-right:none;
	}
}
@media screen and (max-width: 768px) {
	.border-side{
		border-bottom:1px solid #A8A6A6;
		border-right:none;
	}
	.modal.in .modal-dialog{
		width:80%;		
		margin-left: auto;
		margin-right: auto;
	}
}