<div class="row  grayRegisterBgLight " style="background:transparent;" ng-controller="IndvUserProfileCtrl">
    <!-- Modal -->
    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog"
            style="width: 80%; margin-left: auto; margin-right: auto;">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom: 0px;">
                    <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                </div>
                <div class="modal-body by_modal_body">
                    <img src="" style="max-width: 100%" alt="User Profile Gallery Image" />
                </div>
                <div class="modal-footer" style="border-top: 0px;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 whiteBg by_profileDetail  margin-bottom-35" style="border-radius:4px !important;">
        <div class="col-md-12 profileContainer   ">
            <div class="col-md-5 col-xs-5 by_profileWidth" style="margin-right:20px;">
                <div class="main-image  " style="padding-left:0px;">
                    <img class="padding-zero" ng-if="individualProfile.basicProfileInfo.profileImage.titleImage"
                        ng-src="{{individualProfile.basicProfileInfo.profileImage.titleImage || ''}}" 
                        fallback-src='["assets/img/by.png"]' alt="{{individualProfile.basicProfileInfo.firstName}}                     {{individualProfile.individualInfo.lastName}}">
                    <img class="padding-zero" ng-if="!individualProfile.basicProfileInfo.profileImage.titleImage"
                        ng-src="assets/img/by.png" alt="{{individualProfile.basicProfileInfo.firstName}}                     {{individualProfile.individualInfo.lastName}}">
                </div>
                <div class="col-md-12 by-imageGallery margin-top-20 row"
                    ng-if="individualProfile.basicProfileInfo.photoGalleryURLs.length > 0" style="padding-left:0px;">
                    <div class="by-gallery-leftArrow" ng-click="slideGallery('l')">
                    </div>
                    <div class="by-gallery-container">
                        <div ng-repeat="img in individualProfile.basicProfileInfo.photoGalleryURLs"
                            class="by-imageGallery-item" data-popup="{{img.original || ''}}"
                            data-hover="{{img.thumbnailImage || ''}}"
                            ng-init="galleryClickHover()">
                            <img ng-src="{{img.thumbnailImage || ''}}" fallback-src='[""]' alt="{{individualProfile.basicProfileInfo.firstName}}                     {{individualProfile.individualInfo.lastName}}" />
                        </div>
                    </div>
                    <div class="by-gallery-rightArrow" ng-click="slideGallery('r')">
                    </div>
                    <div class="clearfix" style="height:10px;"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-7 col-xs-7 by_profileInfoWidth by_profileInfoWidth1 by-service-padding no-padding">
                <div class="profileMainContent">
                    <h1 class="profileContentTitle">
                        <span>
                        {{individualProfile.basicProfileInfo.firstName.toLowerCase()}}
                        {{individualProfile.individualInfo.lastName.toLowerCase()}}
                        <span style="font-weight: normal;">
                        <span validate-user-name="{{discuss.username}}">({{userName.toLowerCase()}})</span>
                        </span>
                        </span>
                        <div style="clear: both; height: 6px;"></div>
                    </h1>
                    <div class="no-padding"
                        ng-if="individualProfile.basicProfileInfo.primaryUserAddress.city || individualProfile.basicProfileInfo.primaryUserAddress.country">
                        <div class="profileRating">
                            <div class="divLeft">
                                <i class="fa fa-home verticalAlign"></i>
                            </div>
                            <div class="divRight">
                                Lives in
                                <span ng-if="individualProfile.basicProfileInfo.primaryUserAddress.city">
                                {{individualProfile.basicProfileInfo.primaryUserAddress.city}},
                                </span>
                                <span ng-if="individualProfile.basicProfileInfo.primaryUserAddress.country">
                                {{individualProfile.basicProfileInfo.primaryUserAddress.country}}
                                </span>
                            </div>
                        </div>
                        <div style="clear: both; height: 2px;"></div>
                    </div>
                    <!-- <div class="no-padding"
                        ng-if="individualProfile.basicProfileInfo.primaryPhoneNo">
                        <i class="fa fa-phone"></i> <span>{{individualProfile.basicProfileInfo.primaryPhoneNo}}</span>
                        <span
                            ng-repeat="phoneNo in individualProfile.basicProfileInfo.secondaryPhoneNos"
                            ng-if="phoneNo.trim()!==''"> , {{phoneNo}} </span>
                        <div style="clear: both; height: 9px;"></div>
                        </div>
                        
                        <div class="no-padding"
                        ng-if="individualProfile.basicProfileInfo.primaryEmail">
                        <i class="fa fa-envelope"></i> <a href="">{{individualProfile.basicProfileInfo.primaryEmail}}</a>
                        <span
                            ng-repeat="mail in individualProfile.basicProfileInfo.secondaryEmails"
                            ng-if="mail.trim()!==''"> / <a href="mailto:{{mail}}">{{mail}}</a>
                        </span>
                        <div style="clear: both; height: 9px;"></div>
                        </div>-->
                    <div class="no-padding"
                        ng-if="individualProfile.individualInfo.language && individualProfile.individualInfo.language.length > 0">
                        <div class="profileRating">
                            <div class="divLeft">
                                <i class="fa fa-speak verticalAlign"></i>
                            </div>
                            <div class="divRight">
                                Speaks
                                <span ng-repeat="speak in individualProfile.individualInfo.language">
                                {{speak.name}}<span ng-if="$index<individualProfile.individualInfo.language.length - 1">,</span>
                                </span>
                            </div>
                        </div>
                        <div style="clear: both; height: 6px;"></div>
                    </div>
                    <div class="no-padding"
                        ng-if="(individualProfile.individualInfo.interests && individualProfile.individualInfo.interests.length > 0) || (individualProfile.individualInfo.otherInterests && individualProfile.individualInfo.otherInterests.length > 0)                         ">
                        <div class="profileRating">
                            <div class="divLeft">
                                <i class="fa fa-interest verticalAlign"></i>
                            </div>
                            <div class="divRight">
                                Interested in
                                <span ng-repeat="interest in individualProfile.individualInfo.interests track by $index"
                                    ng-if="interest && interest.trim()!==''"> {{interest.displayMenuName}}<span ng-if="$index<individualProfile.individualInfo.interests.length - 1">,</span>
                                </span><span  style="margin-left: -4px;" ng-if="individualProfile.individualInfo.otherInterests"><span ng-if="individualProfile.individualInfo.interests.length > 0 && individualProfile.individualInfo.otherInterests.length > 0">,</span> {{individualProfile.individualInfo.otherInterests[0]}}</span>
                            </div>
                        </div>
                        <div style="clear: both; height: 8px;"></div>
                    </div>
                    <div class="no-padding" ng-if="(individualProfile.individualInfo.hobbies && individualProfile.individualInfo.hobbies.length > 0) || individualProfile.individualInfo.otherHobbies.length > 0">
                        <div class="profileRating">
                            <div class="divLeft">
                                <i class="fa fa-hobbies verticalAlign"></i>
                            </div>
                            <div class="divRight">
                                Hobbies:
                                <span ng-repeat="hobby in individualProfile.individualInfo.hobbies track by $index"
                                    ng-if="hobby && hobby.trim()!==''"> {{hobby.displayMenuName}}<span  ng-if="$index<individualProfile.individualInfo.hobbies.length - 1">,</span>
                                </span><span style="margin-left: -4px;" ng-if="individualProfile.individualInfo.otherHobbies"><span ng-if="individualProfile.individualInfo.hobbies.length > 0 && individualProfile.individualInfo.otherHobbies.length > 0">,</span> {{individualProfile.individualInfo.otherHobbies[0]}}</span>
                            </div>
                        </div>
                        <div style="clear: both; height: 26px;"></div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="clearfix" style="height:20px;" ng-if="!individualProfile.basicProfileInfo.photoGalleryURLs.length > 0"></div>
            <span ng-if="individualProfile.basicProfileInfo.description">
                <div class="col-md-12 no-padding  list-head dp-block fontIndv">My
                    Story
                </div>
                <div class="col-md-12 no-padding bg-gray-h1">
                    <div class="bg-green-h2" style="width: 96px;"></div>
                </div>
                <div style="clear: both; height: 16px;"></div>
                <div class="articles-story row" style="margin-bottom:0px;"
                    ng-bind-html="trustForcefully(individualProfile.basicProfileInfo.description)">
                </div>
            </span>
        </div>
        <div ng-include="'app/components/profile/shared/contentByUser.html?versionTimeStamp=%PROJECT_VERSION%'"></div>
    </div>
    <!--/end profile details-->
</div>