<div class="by_container">
    <div class="clearfix margin-top-20"></div>
    <div class="by_homeShopBg">
        <div class="by_homeSection paddingBottomZero">
            <div class="by_homeSectionInside">
                <div class="by_homeShopRight margin-top-20 desktopSite">
                    Looking for products that<br/>
                    improve lives of seniors?<br/><br/>
                    <a href="#!/shop/55bcad7be4b08970a736784b"> Shop <i class="fa fa-caret-right"></i></a>
                </div>
                <div class="by_homeShopRight margin-top-20 mobileSite">
                    Products that improve lives of seniors<br/><br/>
                    <a href="#!/shop/55bcad7be4b08970a736784b"> Shop <i class="fa fa-caret-right"></i></a>
                </div>
                <div class="by_homeShopLeft">
                    <img src="assets/img/home/nitin_shop.png?versionTimeStamp=%PROJECT_VERSION%" alt="Shop" width="100%" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="by_homeSectionFooter">
        <div class="by_homeSection paddingZero">
            <div class="by_homeSectionInside">
                <div class="by_homeShopRight paddingZero">
                    Want to <a href="">rent</a> instead of buying?<br/>
                    <xyz class="by_homeContactNumber">Call us at <a>080-6940-0333</a></xyz>
                    <xyz class="by_homeContactNumberM by_homeMobile2"><a href="tel:080-6940-0333"> <i class="fa fa-phone2"></i>  Call Now</a></xyz>
                </div>
            </div>
        </div>
    </div>
</div>