<div class="by_home_bg">
    <!--          Home title            -->
    <div class="by_home_title divLeft">
        Senior care &amp; Aging in India
    </div>
    <div class="divRight by_home_agingImage mobileSite">
        <img src="assets/img/home/ageing_people.png?versionTimeStamp=%PROJECT_VERSION%" alt="BeautifulYears Header" width="100%"/>
    </div>
    <div class="clearfix"></div>
    <!--            Home Top Menu           -->
    <div class="by_home_topMenu">
        <div class="by_home_topMenu_item">
            <a href="#!/communities/564071623e60f5b66f62df27/all">
                <div class="by_home_topMenuText">
                    <img src="assets/img/home/share_btn.png?versionTimeStamp=%PROJECT_VERSION%" alt="Communities">
                    Communities
                </div>
                <div class="by_home_topMenuDesc">
                    Information, support <br/>
                    tips &amp; advice
                </div>
            </a>
        </div>
        <div class="by_home_topMenu_item desktopSite">
            <a href="#!/directory/56406cd03e60f5b66f62df26/all">
                <div class="by_home_topMenuText">
                    <img src="assets/img/home/directory_btn.png?versionTimeStamp=%PROJECT_VERSION%" alt="Directory">
                    Directory
                </div>
                <div class="by_home_topMenuDesc">
                    Services for seniors<br/>
                    Senior living facilities
                </div>
            </a>
        </div>
        <div class="by_home_topMenu_item desktopSite">
            <a href="#!/shop/55bcad7be4b08970a736784b">
                <div class="by_home_topMenuText">
                    <img src="assets/img/home/shop_btn.png?versionTimeStamp=%PROJECT_VERSION%" alt="Shop">
                    Shop
                </div>
                <div class="by_home_topMenuDesc">
                    Buy or rent<br/>
                    senior care products
                </div>
            </a>
        </div>
        <div class="by_home_topMenu_item mobileSite">
            <a href="#!/shop/55bcad7be4b08970a736784b">
                <div class="by_home_topMenuText">
                    <img src="assets/img/home/shop_btn.png?versionTimeStamp=%PROJECT_VERSION%" alt="Shop">
                    Shop
                </div>
                <div class="by_home_topMenuDesc">
                    Buy or rent<br/>
                    senior care products
                </div>
            </a>
        </div>
        <div class="by_home_topMenu_item mobileSite">
            <a href="#!/directory/56406cd03e60f5b66f62df26/all">
                <div class="by_home_topMenuText">
                    <img src="assets/img/home/directory_btn.png?versionTimeStamp=%PROJECT_VERSION%" alt="Directory">
                    Directory
                </div>
                <div class="by_home_topMenuDesc">
                    Services for seniors<br/>
                    Senior living facilities
                </div>
            </a>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="clearfix mobileSite margin-top-20"></div>
</div>
<!--              Home Mobile section                      -->
<div class="by_homeCallWrap mobileSite">
    <div class="by_container">
        <div class="divLeft">
            <a ng-href="{{loginDetails.link}}">{{loginDetails.text}}</a>
        </div>
        <div class="divRight text-center floatNone">
            Need help? <a ng-href="{{'tel:'+telNo}}"> <img
                src="assets/img/home/call.png?versionTimeStamp=%PROJECT_VERSION%" alt="BeautifulYears Call"> Call Now</a>
        </div>
    </div>
</div>