.by_productLanding_header
{
	position: absolute;
	width: 580px;
	height: 110px;
	left: calc(50% - 290px);
	top: calc(50% - 55px);
	padding: 10px;
	font-size: 58px;
	text-transform: uppercase;
	color: #fff;
	line-height: 55px;
	font-weight: bold;
	background: url("../../img/product/landing/black-backround.png?versionTimeStamp=%PROJECT_VERSION%");
	font-family: "Helvetica Neue Condensed Bold" !important;
}
.by_productLanding_header span
{
	font-weight: normal;
	text-transform: capitalize;
	font-size: 35px;
	line-height: 36px;
	display: block;
	color: #fff;
	font-family: "Helvetica Neue" !important;
	font-weight: normal;
	text-align: right;
	padding-right: 9px;
}
.by_productLanding_HButton
{
	float: right;
}
.by_productLanding_HButton
{
	width: 164px;
	height: 40px;
	background: url("../../img/product/landing/button_largesize.png?versionTimeStamp=%PROJECT_VERSION%");
	position: absolute;
	right: calc(50% - 280px);
	top: calc(50% + 70px);
	text-align: center;
	font-size: 22px;
	color: #fff;
	line-height: 40px;
	font-family: arial !important;
}
.by_productLanding_HButton a
{
	font-family: arial !important;
}
.by_productLanding_HButton a, .by_productLanding_HButton a:hover
{
	display: block;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}
.by_prLan_ThumbText
{
	text-align: center;
	color: #000;
	font-size: 19px;
	line-height: 26px;
	padding: 10px 0px;
	text-transform: uppercase;
	font-family: arial !important;
}
.by_prLan_ThumbText a
{
	font-family: arial !important;
}
.borderBottomd7d7d7
{
	border-bottom: 1px solid #d7d7d7;
	padding-top: 15px;
	padding-bottom: 20px;
}
.by_prLan_Thumb
{
	width: 30%;
	float: left;
	margin-right: 5%;
}
.by_prLan_ThumbRight
{
	width: 30%;
	float: right;
}
.by_prLan_ThumbImage
{
	border: 1px solid #fff;
}
.by_prLan_ThumbText a, .by_prLan_ThumbText a:hover
{
	text-decoration: none;
	color: #000;
}
.by_contactText
{
	font-family: arial !important;
	width: calc(100% - 35px);
    float: left;
    height: auto;
    font-size: 19px;
    line-height: 28px;
    color: #898989;
}
.by_contactText a
{
	font-family: arial !important;
	color: #898989;
}
.by_contactText strong
{
	display: block;
	font-size: 24px;
	color: #000;
	margin-bottom: 15px;
}
.by_contactfooterLeft
{
	width: 48%;
	float: left;
	margin-top: 5%;
}
.by_contactfooterRight
{
	width: 35%;
	float: right;
}
.arialFont
{
	font-family: Arial !important;
	color: #898989;
}
.arialFont ul
{
	padding: 0px;
    margin: 0px;
    width: 100%;
    text-align: left;
    margin-top: 20px;
}
.arialFont ul li
{
	line-height: 28px;
    padding-top: 4px;
    font-size: 19px;
    margin-left: 23px;
    list-style-image: url('../../img/home-modification/header_2_bullet.png?versionTimeStamp=%PROJECT_VERSION%');
}
 a.arialFont,  a:hover.arialFont
{
	font-size: 20px;
	color: #8cc031;

}
.by_enquiryButton
{
	width:63px;
	height: 194px;
	position: fixed;
	top: calc(50% - 89px);
	right: 0px;
	z-index: 9;
	cursor: pointer;
}
.by_enquiryWrap
{
	width:260px;
	min-height: 300px;
	position: fixed;
	top: calc(50% - 150px);
	right: -260px;
	z-index: 90;
	background: #fff;
}
.by_enquiryHead
{
	width: 100%;
	height: auto;
	font-size: 15px;
	color: #000;
	font-family: arial !important;
	text-transform: uppercase;
	margin-bottom: 8px;
	margin-top: 15px;
}
.by_enquiryText
{
	width: 100%;
	height: auto;
	font-size: 15px;
	color: #898989;
	font-family: arial !important;
	line-height: 18px;
	margin-bottom: 10px;
}
.by_enquiryInput
{
	border: 1px solid #898989;
	border-radius: 5px !important;
	font-family: arial !important;
	padding: 3px 5px;
}
.arial
{
	font-family: arial !important;
}
.by_enquirySubmit
{
	padding: 0px !important;
	border: none !important;
	background: transparent !important;
	float: right;
}
#by_enquiryOuter
{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	background: url("../../img/product/landing/black-backround.png?versionTimeStamp=%PROJECT_VERSION%");
	z-index: 99; 
	display: none;
}
.by_enquiryThanku
{
	width: 600px;
	min-height: 280px;
	background: #fff;
	border-radius: 5px !important;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
}
.by_enquiryThankHead
{
	text-align: center;
	font-size: 20px;
	font-family: arial !important;
	color: #000;
	line-height: 22px;
	margin-top: 25px;
	margin-bottom: 25px;
	text-transform: uppercase;
}
.by_enquiryThankText{
	text-align: center;
	font-size: 15px;
	color: #898989;
	font-family: arial !important;
	line-height: 20px;
}
.by_enquiryThankText a
{
	color: #898989;
	font-family: arial !important;
	text-decoration: none;
}
.by_enquiryThankmore
{
	text-align: center;
	font-size: 20px;
	font-family: arial !important;
	color: #898989;
	line-height: 22px;
	margin-top: 20px;
	margin-bottom: 5px;
	text-transform: uppercase;
}
.by_enquiryThankmore a, .by_enquiryThankmore a:hover
{
	color: #898989;
	text-decoration: none;
	font-family: arial !important;
	font-weight: bold;
}
.by_enquiryThankMoreBg
{
	width: 100%;
	height: auto;
}
.by_stairKeyThumb
{
	width: 22%;
	padding-right: 3%;
	height: auto;
	float: left;
}
.by_stairKeyThumbImg
{
	width: 45px;
	height: auto;
	float: left;
}
.by_stairKeyThumbTxt
{
	float: right;
	width: calc(100% - 55px);
	height: auto;
	font-size: 20px;
	line-height: 25px;
	font-family: arial !important;
	color:#898989;
}
.by_stairKeyList
{
	width: 100%;
	height: auto;
	margin-top: 10px;
}
.by_stairKeyListImg
{
	width: 335px;
	height: auto;
	float: left;
	margin-top: 3%;
}
.by_stairKeyListText
{
	float: right;
	width: calc(100% - 355px);
	height: auto;
	margin-top: 15px;
}
.by_stairKeyListTextThumb
{
	width: 100%;
	height: auto;
	padding-bottom: 5px;
}
.by_stairKeyListTextThumb span
{
	width: 20px;
	height: 20px;
	background: #f07d24;
	border-radius:50% !important;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	display: block;
	float: left;
	text-align: center;
	font-family: arial !important;
	margin-top: 2px;
}
.by_stairKeyListTextThumb p
{
	display: block;
	width: calc(100% - 40px);
	float: right;
	height: auto;
	font-size: 18px;
	color: #898989;
	line-height: 20px;
	font-family: arial !important;
}
.by_stairLiftHead
{
	width: 100%;
	height: auto;
	font-size: 35px;
	color: #000;
	line-height: 35px;
	font-family: Arial !important;
	margin-bottom: 10px;
}
.by_stairSpc
{
	width: 100%;
	height: auto;
}
.by_stairSpcImg
{
	width: 450px;
	height: auto;
	float: left;
}
.by_stairSpcTxt
{
	float: right;
	width: calc(100% - 470px);
	height: auto;
}
.by_stairSpcTable
{
	border-collapse:collapse;
	font-family: arial !important;
	font-size: 17px;
	color: #898989;
	line-height: 20px;
	margin-bottom: 20px;
	border-color: #898989;
}
.by_stairSpcTable b
{
	color: #000;
}
.by_stairSpcTable tr td
{
	padding:3px 5px;
}
.orangeColorArial
{
	color: #f07d24;
	font-weight: 500;
}
@media ( max-width : 981px){
	.by_stairKeyThumb
	{
		width: 50%;
		height: auto;
		padding-right: 0px;
		float: left;
		margin-bottom: 10px;
	}
	.by_stairKeyThumbImg
	{
		margin-top: 0px;
		width: 40px;
	}
	.by_stairKeyThumbTxt
	{
		margin-top: 8px;
		font-size: 20px;
	}
	.by_stairSpcImg
	{
		width: 350px;
		height: auto;
		float: left;
	}
	.by_stairSpcTxt
	{
		float: right;
		width: calc(100% - 370px);
		height: auto;
	}
	.by_contactfooterLeft
	{
		margin-top: 2%;
	}
	.by_stairKeyListImg
	{
		margin-top: 5%;
	}
}
@media ( max-width : 720px){
	.by_productLanding_header
	{
		width: 406px;
		height: 80px;
		left: calc(50% - 203px);		
		top: calc(50% - 40px);
		padding: 5px;
		font-size: 40px;
		line-height: 43px;
	}
	.by_productLanding_header span
	{
		font-size: 27px;
		line-height: 27px;
	}
	.by_productLanding_HButton
	{
		right: calc(50% - 200px);
		top: 140px;
	}
	.by_prLan_Thumb, .by_prLan_ThumbRight
	{
		width: 320px;
	    margin-left: auto;
	    margin-right: auto;
	    float: none;
	    margin-bottom: 20px; 
	}
	.by_contactfooterLeft, .by_contactfooterRight
	{
		width: 320px;
	    margin-left: auto;
	    margin-right: auto;
	    float: none;
	    margin-bottom: 20px; 
	}
	.by_enquiryThanku
	{
		width: 500px;
	}
	.by_stairKeyListImg
	{
		float: none;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0px;
		max-width: 335px;
		width: 90%;
	}
	.by_stairKeyListText
	{
		width: 100%;
	}
	.by_stairLiftHead
	{
		font-size: 30px;
		line-height: 30px;
	}
	.by_stairSpcImg
	{
		max-width: 350px;
		height: auto;
		float: none;
		margin-left: auto;
		margin-right: auto;
		width: 90%;
	}
	.by_stairSpcTxt
	{
		float: right;
		width: 100%;
		height: auto;
	}
}
@media ( max-width : 560px){
	.by_stairKeyThumb
	{
		width: 46%;
		padding-right: 4%;
	}
	.by_stairKeyThumbTxt {
	    margin-top: -3px;
	    font-size: 18px;
	    line-height: 20px;
	}
	.by_stairKeyThumbImg
	{
		width: 35px;
	}
}
@media ( max-width : 550px){
	
	.by_productLanding_HButton
	{
		top: 120px;
	}
	.by_enquiryThanku
	{
		width: 400px;
		max-height: 400px;
		overflow-y:auto;
	}
}
@media ( max-width : 460px){
	.by_productLanding_header
	{
		width: 306px;
		height: 60px;
		left: calc(50% - 153px);
		top: calc(50% - 30px);
		padding: 5px;
		font-size: 29px;
		line-height: 25px;
	}
	.by_productLanding_header span
	{
		font-size: 20px;
		line-height: 27px;
	}
	.by_productLanding_HButton
	{
		display: none;
	}
	.by_enquiryThanku
	{
		width: 300px;
		max-height: 400px;
		overflow-y:auto;
	}
}