

.productFiltering
{
	margin-right: 15px;
  padding-bottom: 5px;
}
.productFilteringActive
{
  border-bottom:1px solid #000;
  font-weight: bold;
}
.productFiltering a:hover
{
  text-decoration: none !important;
}
.by_productCard
{
  margin-bottom: 20px;
  font-family: century_gothic !important;
  height: 350px;
  border: 1px solid #d2d2d2;
  padding:0px 15px;
  margin-right:20px;
  width:calc(33% - 20px) !important;
  cursor: pointer;
}
.by_productCard img
{
  border:0px;
}
.by_productCard a:hover
{
  text-decoration: none;
}
.by_productCard:hover
{	
  border: 1px solid #db812e;
}
.by_productCard_Image
{
	width:100%;
	height:204px;
	line-height:204px;
	text-align:center;
}
.by_productCard_Image img
{
	max-width:100%;
	max-height:100%;
}
.by_productCard_title
{
	font-size: 16px;
  font-weight: bold;
  line-height: 23px;
}
.ellipsisHead {
  max-height: 50px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  width:100%;
  line-height: 25px;
}
.ellipsisHead p
{
  margin: 0px !important;
}
.by_productCard_price
{
	font-size: 15.181px;
  line-height: 25.901px;
  margin-top: -5px;
}
.by_productCard_price small del
{
  color:#818181;
}
.by_productCard_divider
{
	width:100%;
	height:1px;
	background:#d8d8d8;
	margin-top:10px;
	margin-bottom:10px;
}
.by_productCard_desc
{
	font-size: 14px;
	line-height:20px;
}
.by_productCard_desc strong
{
	font-weight:normal;
}
.by_productCard_desc p 
{
	margin-bottom:0px;
  display: inline;
}
.by_productCard_desc ul
{
  margin:0px;
  padding:0px;
  display: inline;
}
.by_productCard_desc ul li
{
  margin-left:20px;
}
.by_productCard_offer
{
  color:red;
  font-weight: bold;
}
@media screen and (max-width: 990px){
	.by_productCard
	{	
   width:calc(50% - 20px) !important;
   float: left;
 }
}
@media screen and (max-width: 720px){
  .by_productCard
  {
    margin-right:2px;
   width:100% !important;
   height:auto;
 }
 
  }

  .by_product_home_expStore
  {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 10% 5%;
    z-index: 1;
    text-align: center;
  }
  .by_product_home_expStore_head
  {
     font-size: 25px;
     font-weight: bold;
     color: #000;
     line-height: 25px;
    padding-top: 10%;
  }
  .by_product_home_expStore_text
  {    
    font-family: kimberly_geswein !important;
    font-size: 16px;
    line-height: 20px;
    padding-top: 15px;
    font-weight: bold;
  }
  .by_product_home_expStore_button
  {
    width: 190px;
    height: 35px;
    background: #004f24;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    line-height: 35px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }
  .by_product_home_expStore a, .by_product_home_expStore a:hover
  {
    text-decoration: none !important;
  }
  .by_productVideoThumb1, .by_productVideoThumb2,  .by_productVideoThumb4, .by_productVideoThumb5,  .by_productVideoThumb7, .by_productVideoThumb8
  {
    width: 32%;
    height: auto;
    margin-right: 2%;
    float: left;
    margin-bottom: 20px;
  }
  .by_productVideoThumb3, .by_productVideoThumb6, .by_productVideoThumb9
  {
    width: 32%;
    height: auto;
    float: left;
    margin-bottom: 20px;
  }
  .by_productVideoThumbHead
  {
    width: 100%;
    height: auto;
    line-height: 25px;
    font-size: 20px;
    padding-bottom: 10px;
  }
  .by_productVideoThumbHead a
  {
    text-decoration: underline;
    color: #008000 !important;
  }
  .by_productVideoThumbImage, .by_productVideoThumbVideo
  {
    width: 100%;
    background: #d9d9d9;
    border: 2px solid #fff;
  }

  @media screen and (max-width: 920px){
    .by_productVideoThumb1, .by_productVideoThumb3,  .by_productVideoThumb5, .by_productVideoThumb7,  .by_productVideoThumb9
  {
    width: 48%;
    height: auto;
    float: left;
    margin-bottom: 20px;
  }
  .by_productVideoThumb2, .by_productVideoThumb4, .by_productVideoThumb6, .by_productVideoThumb8
  {
    width: 48%;
    height: auto;
    float: right !important;
    margin-bottom: 20px;
  }
  .by_productVideoThumb9
  {
    margin-top: -30px;
  }
  }
  @media screen and (max-width: 480px){
    .by_productVideoThumb1, .by_productVideoThumb2, .by_productVideoThumb3, .by_productVideoThumb4, .by_productVideoThumb5, .by_productVideoThumb6, .by_productVideoThumb7, .by_productVideoThumb8, .by_productVideoThumb9
    {
      width: 100%;
      float: none;
      margin-right: 0px;
    }
  }