.by_address_textHead
{
	font-family: arial !important;
	font-size: 20px;
	color: #000;
	line-height: 20px;
}
.by_address_text
{
	font-family: arial !important;
	font-size: 15px;
	color: #000;
	line-height: 20px;
}
.by_address_text span, .by_address_text strong
{
	font-family: arial !important;
	color: #000;
}
.by_address_wrap
{
	margin-right:-13px;
}
.by_inputFeildWrap
{
	width: 400px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
.by_inputFeild
{
	width: 100%;
}
.by_inputFeild input
{
	width: 100%;
	height: 40px;
	border:1px solid #c7c6c6;
	outline: none;
	border-radius: 5px !important;
	font-family: arial !important;
	font-size: 15px;
	color: #000;
	line-height: 40px;
	padding: 0px 15px;
}
.by_inputFeild textarea
{
	width: 100%;
	height: 90px;
	border:1px solid #c7c6c6;
	outline: none;
	border-radius: 5px !important;
	font-family: arial !important;
	font-size: 15px;
	color: #000;
	line-height: 20px;
	padding: 6px 15px;
}
.by_shippingLeft
{
	width: 46%;
	height: auto;
	font-family: arial !important;
	font-size: 20px;
	color: #000;
	line-height: 23px;
}
.by_shippingLeftFull
{
	float: none;
	margin-right: auto;
	margin-left: auto;
}
.by_shippingAddress
{
	width: 100%;
	height: auto;
	margin-bottom: 15px;
	margin-top: 15px;
}
.by_shippingAddressText
{
	width: 100%;
	border: 1px solid #c7c6c6;
	border-radius: 5px !important;
	height: auto;
	padding: 15px;
	margin-bottom: 10px;
}
.by_address
{
	width:48% !important;
	height:auto;
	margin-right:2%;
	background:#fff;
	padding:15px;
	margin-top:15px;
	font-size: 14px;
	line-height: 25px;
}
.by_address_user
{
	font-size:15px;
	font-family: arial !important;
	color: #000;
	line-height: 20px;
}
.by_address_user  span
{
	font-family: arial !important;
}
.by_address_btn
{
	margin-top:40px;
	margin-bottom: 10px;
	padding: 3px 15px;
	background: #004f24;
	border-color: #004f24;
}
.by_address_btn:hover
{
	background: #004f24;
}
.by_edit_btn
{
	margin-top:40px;
	margin-bottom: 10px;
	padding: 3px 15px;
	background: #E87441 !important;
	border-color: #E87441 !important;
}
.by_edit_btn:hover
{
	background: #E87441 !important;
}
.by_paymentGateway_btn
{
	padding: 3px 8px;
	background: #004f24;
	border-color: #004f24;
}
.by_paymentGateway_btn:hover, .by_paymentGateway_btn[disabled]{	
	background: #004f24;
}
.fa-refresh:before
{
	color: #004f24;
    font-size: 25px;
    cursor: pointer;
}
.by_address_btn_orange_wrap
{
	width:100%;
	border:1px solid #E87441;
	padding:5px;
	text-align: center;
}
.by_address_btn_orange
{
	margin-top:10px;
	margin-bottom: 10px;
	padding: 5px 8px;
	background: #E87441 !important;
	border-color: #E87441 !important;
}
.by_address_btn_orange:hover
{
	background: #E87441;
	border-color: #E87441;
}
.by_editAdress_wrap
{
	width:100%;
	margin-top:10px;
	padding-top:15px;
}
.by_addAdress_iconDelete
{
	float: right;
	margin-right: 6px;
	margin-top: -22px;
}
.by_paymentGateway_wrap
{
	width: 100%;
	background:#fff;
}
.by_paymentGateway_tab_expand
{
	background:#FAFAFA;
	padding-bottom:15px;
}
.by_paymentGateway_tab
{
	padding:0px 1px 0px 0px;
}
.by_paymentGateway_tab li
{
	list-style: none;
	border:1px dotted #fff;
	background:#FAFAFA;
}
.by_paymentGateway_tab li.active, .by_paymentGateway_tab li.active:hover
{
	background-color: #E4E4E4;
}
.by_paymentGateway_tab li.active a
{
	color:#000;
}
.by_paymentGateway_tab li.active a:after{
	content: ""; 	
	background-image:
		url("../../img/sprite/productSprite.png?versionTimeStamp=%PROJECT_VERSION%");
	background-repeat: no-repeat;
	display: inline-block;
    width: 13px;
    height: 13px;
    background-position: -104px -49px;
}  
.by_confirm_wrap
{
	background: #fdfdfd;
	padding:20px;
}
.by_confirm_text
{
	font-size: 22px;
    font-weight: bold;
    color: #004f24;
    margin-bottom: 10px;
    background: url("../../img/product/tick.png?versionTimeStamp=%PROJECT_VERSION%") no-repeat top left;
    padding-left:55px;
    min-height: 60px;    
    padding-top: 6px;
}
.by_confirm_normalText
{
	padding-bottom: 5px;
}
@media screen and (max-width: 990px) {
	.by_address
	{
		width: 100% !important;
		margin-right: 0%;
	}
	.by_address_wrap
	{
		margin-right:0px;
	}
	.by_editAdress_wrap .marginRightMinus5
	{
		margin-right: 0px;
		margin-left: -15px;
	}
}
.by_selectAddressAccordian
{

}
.by_selectAddressAccordian .panel-body:hover
{
	background: transparent !important;
}
.by_selectAddressAccordian .panel-heading
{
	border:1px solid #4d4d4d;
    background:#7c7c7c;
    color: #fff;
    padding: 0px;
}
.by_selectAddressAccordian .panel-title a{
	display: block;
    padding:5px 10px;
}
.by_selectAddressAccordian .panel-title a, .by_selectAddressAccordian .panel-title a:hover
{
	color: #fff !important;
	text-decoration: none !important;
}
.triangle-downWhite {
    margin-top: 8px;
    margin-right: 30px;
    display: inline-block !important;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #fff;
    float: right;
    padding: 0px !important;
    background: none !important;
}
.by_selectAddressAccordian .panel-title .divLeft
{
	width: calc(100% - 50px);
	color: #fff;
	margin-right: 10px;
}
.by_paymentAmount
{
	text-align: center;
	font-family: Arial !important;
	font-size: 18px;
	color: #898989;
	line-height: 29px;
	margin-top: 20px;
	text-transform: uppercase;
}
.by_paymentAmount strong
{
	font-family: arial !important;
	color: #000;
}
.by_paymentChoose
{
	text-align: center;
	font-family: Arial !important;
	font-size: 18px;
	color: #898989;
	line-height: 29px;
	margin-top: 30px;
	padding-bottom: 20px;
}
@media screen and (max-width: 721px){
   .by_shippingLeft{
   	width: 100%;
   }

}
@media screen and (max-width: 480px) {
	.by_inputFeildWrap
	{
		width: 100%;
	}
}