.by_cart_iconWrap
{
  width:45px;
  height:29px;
  color:#fff;
  font-size:14px;
  text-align: right;
  margin-top: 14px;
}
.by_cart_iconWrap span
{
  display: block;
    float: left;
    color: #fff !important;
    margin-left: 4px;
    margin-top: 3px;
    background: #005826;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
}
.by_cart_count
{
  width:25px;
  height:24px;
  background:#fff;
  border-radius: 50% !important;
  color:#00af50 !important;
  text-align: center;
  padding-top:1px;
}
.shop-badge
{
  margin-bottom: 0;
  float: right;
  padding-left: 0;
    margin-left: -5px;
    list-style: none;    
    margin-top: 0;
}
.badge-open
{
  overflow: visible;
  top: 28px;
    right: 0;
    display: none;
    padding: 0 10px;
    list-style: none;
    min-width: 300px;
    background: #fff;
    position: absolute;
    border-top: 2px solid #18ba9b;
    z-index: 1000;
}
.badge-open li:first-child
{
      margin-top: 0;
    border-top: none;
    padding-top: 9px;
}
.badge-open li {
    margin-top: 3px;
    padding-top: 10px;
    border-top: 1px solid #dedede;
}
.by_cart_head
{
  width:100%; 
  font-size:15px; 
  margin-bottom:10px;
}
.by_cart_head_product
{
  width:33%;
  float:left;
  margin-right:1%;
}
.by_cart_head_quantity
{
  width:12%;
  float:left;
  margin-right:1%;
}
.by_cart_head_pricce
{
  width:16%;
  float:left;
  margin-right:1%;
}
.by_cart_head_delivery
{
  width:20%;
  float:left;
  margin-right:1%;
}
.by_cart_head_subTotal
{
  width:11%;
  float:left;
  margin-right:1%;
}
.by_cart_head_delete
{
  width:3%;
  float:left;
  text-align:center;
}
.by_cart_desc_payble
{
  width:22%;
  float:left;
  margin-right:1%;
  margin-left: 62%;
}
.by_cart_desc_paybleRs
{
  width:22%;
  width:11%;
  float:left;
  margin-right:1%;
}
.by_cart_desc
{
  width:100%; 
  font-size:14px; 
  border-top: 1px solid #ccc;
  padding-top:10px;
  margin-top: 10px;
  padding-bottom:10px;
}
.by_cart_head_product img 
{
  border:0px;
  width:60px;
  margin-right: 10px;
  height:auto;
  float:left;
}
.by_cart_head_product span
{
  width: calc(100% - 70px);
  float: left;
}
.by_cart_head_delete span
{
  padding:1px 4px 1px 4px;
  background:red;
  color:#fff;
  cursor: pointer;
  border-radius: 2px !important;
}
.by_cart_mobileHide
{
  display: block;
}
.by_cart_call
{
  width:100%;
  height:52px;
  /*background-image: url('../../img/product/call.jpg?versionTimeStamp=%PROJECT_VERSION%');*/
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 5px;
}
.by_cart_button
{
    padding: 2px 13px;
    background-color: #005326 !important;
}
.by_promoCode_width
{
  width:120px;
  padding-left: 8px;
  border-left-color: #005326 !important;
  float: left;
  height: 27px;
}
.by_cart_desc_mobile
{
  display: none;
}
.by_cart_head_delivery span.color
{
  font-size: 11px;
  color: #818181;
}
@media screen and (max-width: 720px) {
  .by_cart_desc_mobile
  {
    display: block;
    float: left; 
    margin-right: 10px;
  }
	.by_cart_iconWrap
	{
		width:auto;
		margin-right:4px;
	}
  .by_cart_mobileHide
  {
    display:none;
  }
  .by_cart_head_product
{
  width:99%;
  margin-right:1%;
}
.by_cart_head_quantity
{
  width:99%;
  margin-right:1%;
}
.by_cart_head_pricce
{
  width:99%;
  float:left;
  margin-right:1%;
  clear: both;
  margin-top:10px;
}
.by_cart_head_delivery
{
  width:99%;
  float:left;
  margin-right:1%;
}
.by_cart_head_subTotal
{
  width:99%;
  float:left;
  margin-right:1%;
}
.by_cart_head_delete
{
  width:20px;
  margin-right: 1px;
  float:right;
  text-align:center;
}
.by_cart_count
{
	position:absolute;
	right: -6px;
    top: -8px;
	background:transparent;
	color:#000 !important;
}
}
@media screen and (max-width: 720px) {
.by_cart_iconWrap span
{
  display: block;
  float: left;
  color:#fff !important;
  margin-left:4px;
  margin-top:3px;
  background:  #005826;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
}

.by_cart_count
{
  position:absolute;
  right: -12px;
    top: -4px;
  background:transparent;
  color:#000 !important;
}
}