/* left panel */
.productMainImage
{
	height:290px;
	line-height:290px;
	text-align:center;
	background:#ccc;
	vertical-align: middle;
}
.productMainImage img
{
	max-height:100%;
	max-width:100%;
}
.by_productDetail_leftSimilarTitle
{
  font-size: 18px;
  line-height: 24px;
  margin-bottom:10px;
}
.by_productDetail_leftSimilarThumb
{
  width:100%;
  height:auto;
  background:#f9f9f9;
  margin-bottom:15px;
  padding:10px;
  cursor: pointer;
}
.by_productDetail_leftSimilarThumbImage
{
  width:68px;
  height:85px;
  line-height: 85px;
  border: 1px solid #db812e;
  float:left;
  margin-right:10px;
  text-align: center;
}
.by_productDetail_leftSimilarThumbImage img
{
  max-width:100%;
  max-height: 80%;
  line-height: 80%;
}
.by_productDetail_leftSimilarThumbContent
{
  width:calc(100% - 80px);
  height:auto;
  float:left;
  font-size: 14px;
}
.by_productDetail_leftSimilarThumbContentName
{  
  color: #000000;    
  font-weight: 600;
  padding-bottom:8px;
}
.by_productDetail_leftSimilarThumbContentPrice
{
  line-height: 16px;
}
.by_productDetail_leftSimilarThumbContentPrice del small
{
  color:#818181;
}
@media screen and (max-width: 990px){
  .by_productDetail_leftSimilarThumbImage
  {
    height:60px;
    line-height: 60px;
  }
}

/* left panel ends */

/* content pnale */
.by_pruductDetailed_bgWhite
{
  background:#f9f9f9;
  padding-top: 20px;
}
.by_product_divider
{
  border-top: 1px solid #ccc;
  margin-bottom: 10px;
}
.by_productDetail_contentHead
{
  font-size: 17px;
  font-weight: bold;
}
.by_productDetail_contentBg
{
  background:#f9f9f9;
  width:100%;
  padding:15px;
  margin-top: 5px;
}
.by_productDetail_contentDescHead
{
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
}
/*.by_productDetail_contentDescHead:before
{
  content:'-';
  border:1px solid #ccc;
  color:#ccc;
  padding: 0px 7px 0px 7px;
  border-radius: 4px !important;
  margin-right: 7px;
}*/
.by_productDetail_contentDescText
{
  font-size: 14px;
  padding-bottom:15px;
  margin-top: 7px;
}
.by_productDetail_contentDescText ul
{
  margin-bottom:0px;
  padding: 0px;
  width: 100%;
  margin: 0px;
}
.by_productDetail_contentDescText ul li
{
  list-style-image: url('../../img/product/left_menu_arrow.png?versionTimeStamp=%PROJECT_VERSION%');
  margin-left: 22px;
}
.by_productDetail_contentDescText strong
{
  font-weight: normal;
}
.by_productDetail_contentAuthor
{
  font-size:15px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.by_productDetail_devider
{
  width: 100%;
  height:1px;
  background:#ccc;
  margin-top: 8px;
  margin-bottom: 8px;
}
.by_productDetail_contentPrice
{
   font-size:15px;
   margin-bottom: 6px;
}
.by_productDetail_contentPrice del small 
{
  color:#818181;
}
.by_productDetail_contentPriceOffer
{
  color: red;
}
.by_productDetail_contentCOD, .by_productDetail_contentAvilable, .by_productDetail_contentCall, .by_productDetail_contentModelNumber
{
  font-size:14px;
  margin-bottom: 6px;
}
.by_productDetail_contentQuantity
{
  margin-right: 5px;
  width:auto;
  border: 1px solid #ccc;
}
.by_productDetail_contentQuantityButton
{
  border:0px;
  height:26px;
  vertical-align: middle;
  width:20px;
  float: left;
}
.by_productDetail_contentQuantityFeild
{
    position: relative !important;
    left: 0px !important;
    border: 0px !important;
    text-align: center !important ;
    height: 26px !important;
    width:26px !important;
  float: left;
  background: #fff;
}
.by_productDetail_buttonBg
{
  background: #004f24;  
  padding: 3px 10px;
  margin-bottom: 5px;
  margin-left: 5px;
}
.by_breadcrum_greenColor
{
  color:#004f24;
}
.by_productDetail_optionColor
{
	width:100%;
	height:auto;
}
.by_productDetail_optionColor_size
{
	width:25px;
	height:25px;
	margin-left:10px;
	cursor:pointer;
	border:3px solid transparent;
}
.by_productDetail_optionSize_size
{
	width:auto;
	height:25px;
	margin-left:10px;
	cursor:pointer;
	text-align:center;
	border:2px solid #ccc;
	padding: 0px 5px;
}
@media screen and (max-width: 990px){
  
  .by_productMainImage:hover .by_productZoomIcon
  {
   display: none;
  }
  .by_productDetail_contentNoPadding
  {
    padding:0px;
  }
}
/* content panel ends */


.by_productDetail_contentDescText  table
{
  border-collapse: collapse;
  width: 100%;
}
.by_productDetail_contentDescText  table td
{
  width: 25%;
}
.by_productBreadCrumb
{
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: -6px;
}
.by_product_accordian
{
  background: #f9f9f9;
}
.by_product_accordian .accordion-heading .accordion-toggle:after {    
    content: "-";    
    float: right;   
    font-family: 'FontAwesome';
    background: green;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.by_product_accordian .accordion-heading .collapsed:after {
    font-family: 'FontAwesome';
    content: "+";    
    float: right;
    background: #103E10;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
.by_product_accordian a.accordion-toggle
{
  width: 100%;
  padding:0px 0px 0px 15px;
  font-size: 16px !important;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  vertical-align: middle;
  line-height: 40px;
  border-bottom: 1px solid #EFEEEE;
}
.by_product_accordian .accordion-body li
{
  list-style-image: url('../../img/product/left_menu_arrow.png?versionTimeStamp=%PROJECT_VERSION%');
}
.by_proSimilarProduct
{
  width: 100px;
  height: 100px;
  float: left;
  line-height: 100px;
  margin-left: 5px;
  margin-right: 5px;
}
.by_proSimilarProduct img
{
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
.by_product_accordian .accordion-body  table
{
  border-collapse: collapse;
  width: 100%;
}
.by_product_accordian .accordion-body  table td
{
  width: 25%;
}
.by_product_accordian .accordion-body
{
  padding-top:10px;
}
.by_productZoomIcon
{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  z-index: 10;
}
.by_productZoomIcon img
{
  width: 30px;
  margin-left: auto;
  margin-right: auto;
  float: none;
  vertical-align: middle;
  line-height: 100%;
  cursor: pointer;
  display: none;
  float: right;
}
.by_productZoomIcon:hover img
{
  display: block;
}
.by_proSmiliarLeft, .by_proSmiliarRight
{
  width: 50px;
  height: 100px;
  line-height: 100px;
  vertical-align: middle;
  float: left;
}
.by_proSmiliarWrap
{
  width: calc(100% - 100px);
  float: left;
  height: 100px;
  overflow: hidden;
}
.by_proSmiliarWrapFull
{
  white-space: nowrap;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -webkit-transform:translate3d(0px, 0px, 0px);
  -moz-transform:    translate3d(0px, 0px, 0px);;
  -ms-transform:     translate3d(0px, 0px, 0px);;
  -o-transform:      translate3d(0px, 0px, 0px);;
  transform: translate3d(0px, 0px, 0px);
    -webkit-transition-duration: 1000ms; transition-duration: 1000ms;
    -webkit-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    height: 100px;
    overflow: hidden;
}
@media screen and (max-width: 400px){
.buy-product {
    width: 102px;
}
.by_productDetail_buttonBg{
    padding: 3px 3px;
    margin-left: 2px;
}
}