.by_productHome_title
{
	width: 100%;
	height: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 17px;
    font-weight: bold;
}
.by_productHome_tabSlider
{
	width: 100% !important;
	height: auto;
	padding: 0px !important;
	margin-bottom: 19px;
	border:1px solid #DCDCDC;
}
.by_productHome_tabSlider #myCarousel .nav a small {
	display:block;
}
.by_productHome_tabSlider #myCarousel .nav {
	background:#fbfbfb;
}
.by_productHome_tabSlider #myCarousel .nav li a
{
	color: #797979;
}
.by_productHome_tabSlider #myCarousel .nav li.active a
{
	background-color: #ededed !important;
	color: #004f24;
	font-weight: bold;
	text-decoration: underline;
}
.by_productHome_tabSlider #myCarousel .nav li a:hover
{
	color: #004f24;
	text-decoration: underline;
	background:#fbfbfb;
}
.by_productHome_tabSlider #myCarousel .nav li
{
	border-left:1px solid #DCDCDC;
	border-right:1px solid #DCDCDC;	
}
.by_productHome_tabSlider #myCarousel .nav a {
	border-radius:0px;
}
.by_callHome
{
	width: 100%;
    height: 46px;
    background-image: url('../../img/product/Callnow.jpg?versionTimeStamp=%PROJECT_VERSION%');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 5px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    padding-top: 6px;
}
.by_callHome span, .by_callHome span a
{
	color: #fff;
	text-decoration: none;
}
.by_productHome_newArrivalWrap
{
	width: calc(100% - 1px);
	margin-top: 10px;
	margin-bottom: 30px;
	border-left: 1px solid #DCDCDC;
}
.by_productHome_newArrivalThumb
{
	width: calc(20% - 1px);
	height: 330px;
	border: 1px solid #DCDCDC;
	border-left: 0px;
	float: left;
	background-color: #fff;
	margin-bottom: 10px;
}
.by_productHome_newArrivalThumb a
{
	display: block;
	width: 100%;
	height: 100%;
}
.by_productHome_newArrivalThumb a:hover
{
	text-decoration: none;
}
.by_productHome_newArrivalThumbImage
{
	width: 100%;
	padding: 0px 3px;
    height: 199px;
    line-height: 195px;
    text-align: center;
}
.by_productHome_newArrivalThumbImage img
{
	max-width: 100%;
    max-height: 100%;
}
.by_productHome_newArrivalThumbTitle
{
	max-height: 50px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 30px);
	margin: 4px 15px;
    font-size: 16.181px;
    line-height: 25.901px;
    margin-top: 10px;
    height: 50px;
}
.by_productHome_newArrivalThumbOffer
{
	border-top: 1px solid #DCDCDC;
	width: calc(100% - 30px);
	margin: 4px 15px;
	font-size: 13px;
    line-height: 20.901px;
    max-height: 25px;
    overflow: hidden;
    margin-top: -5px;
    color: #A2A1A1;
}
.by_productHome_newArrivalThumbOffer span
{
	color:red;
	font-weight: bold;
	font-size: 13px;
	margin-left: 10px;
}
.by_productHome_newArrivalThumbPrice
{
	border-top: 1px solid #DCDCDC;
	width: calc(100% - 30px);
	margin: 2px 15px 4px;
	font-size: 16.181px;
    line-height: 25.901px;
    max-height: 30px;
    overflow: hidden;
    padding-top: 3px;
}
.by_featuredProduct_wrapper
{
	width: calc(100% + 5px);
	height: 235px;
	overflow: hidden;
	margin-bottom: 20px;
	position: relative;
}
.by_featuredProduct_prevBtn, .by_featuredProduct_nextBtn
{
	position: absolute;
	top: 80px;
	left: 0px;
	height: 71px;
	width: 29px;
	z-index: 101;
	padding: 20px 5px;
	background-color: rgba(255, 255, 255, 0.52);
	border: 1px solid #DCDCDC;
	cursor: pointer;
	opacity: 0.5;
}
.by_featuredProduct_prevBtn:hover, .by_featuredProduct_nextBtn:hover
{
	opacity: 1;
}
.by_featuredProduct_nextBtn
{
	left: calc(100% - 47px);
}
.by_productCard_ImageOffer
{
	width: 42px;
	height: 43px;
	position: absolute;
	top: -4px;
	right: -4px;
	line-height: 10px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 9px;
	font-size: 12px;
	background: url('../../img/product/off_tag.png?versionTimeStamp=%PROJECT_VERSION%');
}
.by_productCard_ImageOffer small
{
	font-size: 10px;
}
.by_featuredProduct_wrapperInside
{
	width: auto;
	height: 235px;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -webkit-transform:translate3d(1px, 0px, 0px);
  -moz-transform:    translate3d(1px, 0px, 0px);;
  -ms-transform:     translate3d(1px, 0px, 0px);;
  -o-transform:      translate3d(1px, 0px, 0px);;
  transform: translate3d(1px, 0px, 0px);
    -webkit-transition-duration: 1000ms; transition-duration: 1000ms;
    -webkit-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.fpInline{
	display: inline-block;
    position: relative;
}
.by_featuredProductCard
{
    font-family: century_gothic !important;
    height: 230px;
    border: 1px solid #E2E0E0;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
    background-color: #fff;
    margin-top: 5px;
    padding: 0px;
}
.by_featuredProductCard .by_productCard_Image
{
	width: 100%;
    height: 165px;
    line-height: 160px;
    text-align: center;
}
.by_featuredProductCard .by_productCard_title
{
	max-height: 40px;
	line-height: 20px;
	font-weight: normal;
	margin-top: 10px;
	padding: 0px 15px;
}
@media screen and (max-width: 1100px) {
	.by_productHome_newArrivalThumb
	{
		width: calc(25% - 1px);
	}
	.by_productHome_newArrivalThumb
	{
		width: calc(33.3% - 1px);
	}
}
@media screen and (max-width: 851px) {
	.by_productHome_tabSlider .nav-justified
	{
		background-color: transparent;
		text-align: center;
		margin-top: 10px;
		width: 100px;
		margin-left: auto;
		margin-right: auto;
	}
	.by_productHome_tabSlider .nav-justified li {
		border-radius: 10px !important;
		width: 20px;
		height: 20px;
		border: 1px solid #DCDCDC;
		background-color: #fff;
	}
	.by_productHome_tabSlider .nav-justified .active
	{
		background-color: #DCDCDC;
	}
	.by_productHome_tabSlider
	{
		border: 0px;
	}
	.by_productHome_tabSlider .item
	{
		border: 1px solid #DCDCDC;
	}
	.by_productHome_tabSlider #myCarousel .nav
	{
		background-color: transparent;
	}
	.by_productHome_tabSlider #myCarousel .nav li
	{
		margin:0px 1px !important;
		display: inline-block;
	}
	.by_productHome_newArrivalThumb
	{
		width: calc(50% - 1px);
	}
}
@media screen and (max-width: 720px){
	.by_featuredProduct_nextBtn
	{
		left: calc(100% - 48px);
	}
	.by_productHome_newArrivalThumb
	{
		width: calc(33.3% - 1px);
	}
}
@media screen and (max-width: 620px) {
	.by_productHome_newArrivalThumb
	{
		width: calc(50% - 1px);
	}
}
@media screen and (max-width: 480px) {
	.by_productHome_newArrivalThumb
	{
		width: calc(100% - 1px);
	}
}
.by_productAll
{
	width: 200px;
	height: auto;
	padding: 5px 15px;
	text-align: center;
	background-color: #004f24;
	margin-right: auto;
	margin-left: auto;
	margin-top: -10px;
	margin-bottom: 20px;
}
.by_productAll a, .by_productAll a:hover
{
	color: #fff !important;
}

.productDiscount{
	border-top: 1px solid #DCDCDC;
	border-bottom: 1px solid #DCDCDC;
}

.by_product_twoRowThumb
  {
    width: calc(50% - 10px);
    height: auto;
    position: relative;
    border: 1px solid #ccc;
  }
  .by_product_rowText
  {
    width: 100%;
    min-height: 35px;
    height: auto;
    padding: 5px;
    position: absolute;
    top: 20px;
    left: 1px;
    z-index: 1;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    /*background: url('../../img/product/white_gradient_trans.png?versionTimeStamp=%PROJECT_VERSION%')  bottom right;*/
    /*background: rgba(90, 67, 67, 0.11);*/
    background: linear-gradient(to right, rgba(224, 224, 224,1), rgba(224, 224, 224,0));
    background: -webkit-linear-gradient(left,rgba(224, 224, 224,1),rgba(224, 224, 224,0)); /*Safari 5.1-6*/
    background: -o-linear-gradient(right,rgba(224, 224, 224,1),rgba(224, 224, 224,0)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(right,rgba(224, 224, 224,1),rgba(224, 224, 224,0)); /*Fx 3.6-15*/
  }
  .by_product_threeRow
  {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .by_product_threeRowOne, .by_product_threeRowThree
  {
    width: calc(33.3% - 13px);
    height: auto;
  }
  .by_product_threeRowThumb
  {
    width:100%;
    position: relative;
  }
  .by_product_threeRowTwoM
  {
    width: calc(33.4% - 14px);
    margin-left: 20px;
    margin-right: 20px;
  }
  .by_product_home_mobile
  {
    widows: 100%;
    height: auto;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    position: relative;
  }
  .by_product_home_mobile .by_product_rowText
  {
    width: 100%;
    min-height: 20px;
    height: auto;
    padding: 5px;
    position: absolute;
    top: 20px;
    left: 0px;
    z-index: 1;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    /*background: url('../../img/product/white_gradient_trans.png?versionTimeStamp=%PROJECT_VERSION%')  bottom right;*/
    /*background: rgba(90, 67, 67, 0.11);*/
  }