<div class="clearfix margin-top-20"></div>
<div class="by_container by_homeShadowImage">
    <div class="by_homeCommunityBg">
        <div class="by_homeSection paddingBottomZero">
            <div class="by_homeSectionInside">
                <div class="by_homeCommLeft desktopSite">
                    Want to take better care of ageing parents?<br/>
                    Want to age happier, and to live longer?<br/><br/>
                    <a href="#!/communities/564071623e60f5b66f62df27/all"> <h3>Communities</h3> <i class="fa fa-caret-right"></i></a>
                </div>
                <div class="by_homeCommLeft mobileSite">
                    Taking better care of parents<br/>
                    Ageing happier, living longer<br/><br/>
                    <a href="#!/communities/564071623e60f5b66f62df27/all"> <h3>Communities</h3> <i class="fa fa-caret-right"></i></a>
                </div>
                <div class="clearfix"></div>
                <div class="by_homeCommRight">
                    <img src="assets/img/home/communities.png?versionTimeStamp=%PROJECT_VERSION%" alt="Communities" width="100%" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="by_homeSectionFooter">
        <div class="by_homeSection paddingZero">
            <div class="by_homeSectionInside">
                <div class="by_homeCommLeft">
                    <a href="#!/communities/564071623e60f5b66f62df27/all?showEditor=true&editorType=Question">Ask</a> any question.
                    <a href="#!/communities/564071623e60f5b66f62df27/all?showEditor=true&editorType=Article">Share</a> your tips and experiences.
                    <a href="#!/users/login" ng-if="!isLoggedinUser">Join us!</a>
                </div>
            </div>
        </div>
    </div>
</div>