<div class="by_container by_homeShadowImage">
	<div class="by_homeSection" style="padding-top:2px; padding-bottom:2px;">
		<!--<div class="by_homeSectionInside">
			<div class="clearfix margin-top-20"></div>
			<div class="by_homeFeedback divLeft shadow-wrapper">
				<div class="by_homeFeedbackImage divLeft">
					 <img src="assets/img/home/sourabh.png?versionTimeStamp=%PROJECT_VERSION%" alt="Sourabh"/>
				</div>
				<div class="by_homeFeedbackName divLeft">
					<small>Sourabh</small><br/>
					Marketing
				</div>
				<div class="clearfix"></div>
				<div class="by_homeFeedbackInside box-shadow shadow-effect-2">
					Providing services or products for seniors? Please <a href="users/login">register</a> with us, or <a href="contactUs?subject=3">contact us</a> for business opportunities!
				</div>
			</div>
			<div class="by_homeFeedback divRight shadow-wrapper">
				<div class="by_homeFeedbackImage divLeft">
					 <img src="assets/img/home/jharana.png?versionTimeStamp=%PROJECT_VERSION%" alt="Jharana"  />
				</div>
				<div class="by_homeFeedbackName divLeft">
					<small>Jharana</small><br/>
					Product Manager
				</div>
				<div class="clearfix"></div>
				<div class="by_homeFeedbackInside box-shadow shadow-effect-2">
					Ready to give us <a href="contactUs?subject=0">feedback</a> or to <a
                    href="contactUs?subject=2">help us?</a> We would love to hear from you!
				</div>
			</div>

			<div class="clearfix"></div>
		</div>-->
	</div>
</div>