<div class="by_home_bg">
    <div class="by_container">
        <div class="by_homeSection" style="padding:0px;">
            <div class="by_homeSectionInside">
                <!--          Home title            -->
                <div class="by_home_title">
                    <h1>
                        <span class="by_home_titleOne">Everything about</span>
                        <span class="by_home_titleTwo">Elder care <small>in India</small></span>
                    </h1>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
   <!-- <div ng-if="$root.windowWidth < 720">
         

    <div class="by_home_topMenu">
        <div class="by_home_topMenu_item">
            <a href="#!/communities/564071623e60f5b66f62df27/all">
                <div class="by_home_topMenuText">
                    <img src="assets/img/home/share_btn.png?versionTimeStamp=%PROJECT_VERSION%" alt="Communities">
                    <h2>Communities</h2>
                </div>
                <div class="by_home_topMenuDesc">
                    Information, support <br/>
                    tips &amp; advice
                </div>
            </a>
        </div>
        <div class="by_home_topMenu_item mobileSite">
            <a href="#!/shop/55bcad7be4b08970a736784b">
                <div class="by_home_topMenuText">
                    <img src="assets/img/home/shop_btn.png?versionTimeStamp=%PROJECT_VERSION%" alt="Shop">
                    <h2>E-Shop</h2>
                </div>
                <div class="by_home_topMenuDesc">
                    Buy or rent<br/>
                    senior care products
                </div>
            </a>
        </div>
        <div class="by_home_topMenu_item mobileSite">
            <a href="#!/directory/56406cd03e60f5b66f62df26/all">
                <div class="by_home_topMenuText">
                    <img src="assets/img/home/directory_btn.png?versionTimeStamp=%PROJECT_VERSION%" alt="Directory">
                    <h2>Directory</h2>
                </div>
                <div class="by_home_topMenuDesc">
                    Services for seniors<br/>
                    Senior living facilities
                </div>
            </a>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="clearfix mobileSite margin-top-20"></div>
    <div class="by_callToAction">
        <img src="assets/img/logo_symbol.png?versionTimeStamp=%PROJECT_VERSION%" alt="Logo" /> We help you find best elder care solutions. <a href="tel:{{telNo}}">
          <div class="by_callToActionButton"><img
            src="assets/img/home/call.png?versionTimeStamp=%PROJECT_VERSION%" alt="BeautifulYears Call"> Call 
          </div>
        </a>
    </div>
    </div>--><div class="clearfix"></div>

     
</div>

<!--<div ng-if="$root.windowWidth > 720">
     
        <div class="by_callToAction">
            <img src="assets/img/logo_symbol.png?versionTimeStamp=%PROJECT_VERSION%" alt="Logo" /> We help you find best elder care solutions. <i class="fa fa-phone2"></i> {{telNo}}
        </div>
    <div class="by_home_topMenu by_home_topMenuLatest">
        <div class="by_home_topMenu_item">
            <a href="#!/communities/564071623e60f5b66f62df27/all">
                <img src="assets/img/home/community_desktop.png?versionTimeStamp=%PROJECT_VERSION%" alt="Communities">
                <div class="by_home_topMenuText">                    
                    <h2>Communities</h2> <img src="assets/img/home/arrow_white.png?versionTimeStamp=%PROJECT_VERSION%" style="margin-top:-5px;" alt="Communities" />
                </div>
                <div class="by_home_topMenuDesc">
                    Information, support <br/>
                    tips &amp; advice
                </div>
            </a>
        </div>
        <div class="by_home_topMenu_item">
            <a href="#!/directory/56406cd03e60f5b66f62df26/all">
                <img src="assets/img/home/directory_desktop.png?versionTimeStamp=%PROJECT_VERSION%" alt="Directory">
                <div class="by_home_topMenuText">
                    <h2>Directory</h2> <img src="assets/img/home/arrow_white.png?versionTimeStamp=%PROJECT_VERSION%" style="margin-top:-5px;" alt="Directory" />
                </div> 
                <div class="by_home_topMenuDesc">
                    Services for seniors<br/>
                    Senior living facilities
                </div>
            </a>
        </div>
        <div class="by_home_topMenu_item marginRight0">
            <a href="#!/shop/55bcad7be4b08970a736784b">
                <img src="assets/img/home/shop_desktop.png?versionTimeStamp=%PROJECT_VERSION%" alt="Shop">
                <div class="by_home_topMenuText">
                    <h2>E-Shop</h2> <img src="assets/img/home/arrow_white.png?versionTimeStamp=%PROJECT_VERSION%" style="margin-top:-5px;" alt="Shop" />
                </div>
                <div class="by_home_topMenuDesc">
                    Buy or rent<br/>
                    senior care products
                </div>
            </a>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="clearfix margin-top-20" ng-if="$root.windowWidth > 720"></div>
<div class="clearfix" ng-if="$root.windowWidth < 720"></div>-->


<div class="by_whiteBg">
<div class="by_container" style="border-bottom:3px solid #008000;">
    <div class="by_homeSection" style="padding:6px 0px;">        
        <div class="by_homeSectionInside" style="position:relative; ">
            <div class="by_homeHeaderBelow">
                <div class="by_homeHeaderBelow2">
                    For <xyz ng-if="$root.windowWidth > 531">senior care</xyz> solutions
                </div>
                <div class="by_homeHeaderBelow3">
                   <!-- <img src="assets/img/logo_symbol_old.png?versionTimeStamp=1459503470417" alt="Logo" /> -->  <xyz ng-if="$root.windowWidth > 720">call <b>{{telNo}} </b></xyz>
                   <xyz ng-if="$root.windowWidth < 721"><u><a href="tel:{{telNo}}"><xyz ng-if="$root.windowWidth > 425">call</xyz> <b >{{telNo}} </b></a></u></xyz>
                </div>
            </div>
            <img src="assets/img/home/home-couple_ss_2.png?versionTimeStamp=%PROJECT_VERSION%" alt="Shop" class="by_homeHeaderBelowImg" />
        </div>
    </div>
    
</div>
</div>