<!--<div class="by_home_topMenu by_home_topMenuLatest margin-top-20 margin-bottom-20">
    <a href="#!/experience-center">
         <img src="assets/img/home/solution_banner.jpg?versionTimeStamp=%PROJECT_VERSION%" alt="Experience Center" width="100%" />
    </a>
</div>-->


<div class="by_container by_homeExpShadowImage">
    <div class="by_homeSection">
        <div class="by_homeSectionInside">
            <div class="by_homeExpLeft">
                <div class="by_homeExpLeftHead">Bangalore only</div>
                <div class="by_homeExpLeftButton">
                    <a href="#!/experience-center">Experience Store 
                    <img src="assets/img/home/arrow_white.png?versionTimeStamp=%PROJECT_VERSION%" alt="Call to action" /></a>
                </div>
                <div class="by_homeExpLefText">Home modification <br/>solutions &amp; products</div>
            </div>
            <div class="by_homeExpRight">
                <div class="by_expVideoShow">
                <img src="assets/img/experience_store/youtube_video.jpg?versionTimeStamp=%PROJECT_VERSION%" alt="BeautifulYears Video" width="100%"  />
                <div class="clearfix"></div>
                <div class="by_expVideoGrad" ng-click="showVideo();" style="background:rgba(7, 90, 7, 0.2);">
                  <img src="assets/img/experience_store/play.png?versionTimeStamp=%PROJECT_VERSION%" alt="BeautifulYears Video Icon" ><br/>
                  Watch the video
                </div>
                  </div>
                  <iframe id="by_expVideoFrame" width="100%" height="" src="https://www.youtube.com/embed/z9LkUOGUyrA?rel=0&showinfo=0&autoplay=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>


<!--              Home Mobile section                      -->
<!--<div class="by_homeCallWrap mobileSite">
    <div class="by_container">
        <div class="text-center">
            <a ng-href="{{loginDetails.link}}">{{loginDetails.text}}</a>
        </div>
    </div>
</div>-->