<div class="by_container" >
    <div class="by_homeSection">
        <!-- experts panel -->
        <div class="by_homeSectionInside">
            <div class="by_expertsPanel_head">
                Our experts are here to help
            </div>
            <div class="by_expertsPanel_wrap">
                <div class="by_ourExpertTop">
                    <div class="by_ourExpertThumb">
                        <img src="assets/img/home/Lohith-bw.png?versionTimeStamp=%PROJECT_VERSION%" class="by_ourExpertThumbImg" alt="Dr. Lohith" /><br/>
                        <b>Dr. Lohith </b><br/>
                        Physician<br/>
                        <img src="assets/img/home/arrow_expert.png?versionTimeStamp=%PROJECT_VERSION%" alt="Indicator" width="30" class="by_ourExpertThumbArrow"/>
                    </div>
                    <div class="by_ourExpertThumb">
                        <img src="assets/img/home/diwakar-bw.png?versionTimeStamp=%PROJECT_VERSION%"  class="by_ourExpertThumbImg" alt="Dr.  Diwakar" /><br/>
                        <b>Dr.  Diwakar </b><br/>
                        Dentist<br/>
                        <img src="assets/img/home/arrow_expert.png?versionTimeStamp=%PROJECT_VERSION%" alt="Indicator" width="30" class="by_ourExpertThumbArrow"/>
                    </div>
                    <div class="by_ourExpertThumb">
                        <img src="assets/img/home/narendra-bw.png?versionTimeStamp=%PROJECT_VERSION%" class="by_ourExpertThumbImg" alt="Dr. Narendra" /><br/>
                        <b>Dr. Narendra  </b><br/>
                        Surgeon<br/>
                        <img src="assets/img/home/arrow_expert.png?versionTimeStamp=%PROJECT_VERSION%" alt="Indicator" width="30" class="by_ourExpertThumbArrow"/>
                    </div>
                    <div class="by_ourExpertThumb  desktopExpertPanel">
                        <img src="assets/img/home/nitin-bw.png?versionTimeStamp=%PROJECT_VERSION%" class="by_ourExpertThumbImg" alt="Dr. Nithin" /><br/>
                        <b>Dr. Nithin   </b><br/>
                        Neurologist<br/>
                        <img src="assets/img/home/arrow_expert.png?versionTimeStamp=%PROJECT_VERSION%" alt="Indicator" width="30" class="by_ourExpertThumbArrow"/>
                    </div>
                    <div class="by_ourExpertThumb  desktopExpertPanel">
                        <img src="assets/img/home/Padmashree-bw.png?versionTimeStamp=%PROJECT_VERSION%" class="by_ourExpertThumbImg" alt="Padmashree" /><br/>
                        <b>Padmashree  </b><br/>
                        Caregiver<br/>
                        <img src="assets/img/home/arrow_expert.png?versionTimeStamp=%PROJECT_VERSION%" alt="Indicator" width="30" class="by_ourExpertThumbArrow"/>
                    </div>
                    <div class="by_ourExpertThumb  desktopExpertPanel">
                        <img src="assets/img/home/rukmani-bw.png?versionTimeStamp=%PROJECT_VERSION%" class="by_ourExpertThumbImg" alt="Rukmani" /><br/>
                        <b>Rukmani  </b><br/>
                        Advocate<br/>
                        <img src="assets/img/home/arrow_expert.png?versionTimeStamp=%PROJECT_VERSION%" alt="Indicator" width="30" class="by_ourExpertThumbArrow"/>
                    </div>
                    <div class="clearfix"></div>
                    <div class="by_ourExpertDesc">
                        <div class="by_ourExpertThumb_bottomImage">
                            <img src="assets/img/home/Lohith_mo.png?versionTimeStamp=%PROJECT_VERSION%" alt="Dr. Lohith Shivateja" />
                        </div>
                        <div class="by_ourExpertThumb_bottomText">
                            <b>Dr. Lohith Shivateja</b><br/>
                            MBBS, MRCS (UK), MRCGP(UK), FRACGP (Australia)
                        </div>
                        <div class="clearfix" ></div>
                        <div class="by_ourExpertThumb_bottomLine"></div>
                        Docpreneur with Substantial Clinical and Management experience in primary care setting in UK and India. 
                        Care Champion for all age groups and Passionate about care delivery
                        Experience in planning and developing community clinical partnerships
                        Telemedicine Evangelist with extensive experience in Remote Care delivery models. <span class="divRight">
                        <a href="#!/users/lohith?profileId=5653f14ee4b082a5437d1d1b">More <i class="fa fa-angle-right by_moreArrow"></i></a>
                        </span>
                        <div class="clearfix  margin-top-10"></div>
                    </div>
                    <div class="by_ourExpertDesc">
                        <div class="by_ourExpertThumb_bottomImage">
                            <img src="assets/img/home/diwakar_mo.png?versionTimeStamp=%PROJECT_VERSION%" alt="Dr. N R Diwakar" />
                        </div>
                        <div class="by_ourExpertThumb_bottomText">
                            <b>Dr. N R Diwakar</b><br/>
                            M.F.D.S.RCPS (Gla), MDS, BDS
                        </div>
                        <div class="clearfix" ></div>
                        <div class="by_ourExpertThumb_bottomLine"></div>
                        Former Professor and Head, Department of Oral Medicine and Radiology, Bangalore Institute of Dental Sciences and Research Centre. Commonwealth Research Scholar with more than 15 years experience in academics and research. Author of several research publications in the field of oral medicine and radiology. Former Dental Council Inspector and Assistant Editor: Journal of Indian Academy of Oral Medicine and Radiology. <span class="divRight">
                        <a href="#!/users/diwakar?profileId=56595eb3e4b033d7bb208ab3">More <i class="fa fa-angle-right by_moreArrow"></i></a>
                        </span>
                        <div class="clearfix  margin-top-10"></div>
                    </div>
                    <div class="by_ourExpertDesc">
                        <div class="by_ourExpertThumb_bottomImage">
                            <img src="assets/img/home/narendra_mo.png?versionTimeStamp=%PROJECT_VERSION%" alt="Dr. Narendra Kumar Reddy" />
                        </div>
                        <div class="by_ourExpertThumb_bottomText">
                            <b>Dr. Narendra Kumar Reddy</b><br/>
                            MBBS, MS (General surgery), FVES (Vascular Surgery) 
                        </div>
                        <div class="clearfix" ></div>
                        <div class="by_ourExpertThumb_bottomLine"></div>
                        General and Vascular Surgery <span class="divRight">
                        <a href="#!/users/narendra-kumar-reddy?profileId=56581930e4b088c160fd8f8f">More <i class="fa fa-angle-right by_moreArrow"></i></a>
                        </span>
                        <div class="clearfix  margin-top-10"></div>
                    </div>
                    <div class="by_ourExpertDesc desktopExpertPanel">
                        <div class="by_ourExpertThumb_bottomImage">
                            <img src="assets/img/home/nitin_mo.png?versionTimeStamp=%PROJECT_VERSION%" alt="Dr. Nithin Kumar N" />
                        </div>
                        <div class="by_ourExpertThumb_bottomText">
                            <b>Dr. Nithin Kumar N</b><br/>
                            MBBS, MD, DM (Neurology)
                        </div>
                        <div class="clearfix" ></div>
                        <div class="by_ourExpertThumb_bottomLine"></div>
                        MBBS, MD, DM (Neurology)<span class="divRight">
                        <a href="#!/users/nithinkumar?profileId=56581ebbe4b088c160fd8f9a">More <i class="fa fa-angle-right by_moreArrow"></i></a>
                        </span>
                        <div class="clearfix  margin-top-10"></div>
                    </div>
                    <div class="by_ourExpertDesc desktopExpertPanel">
                        <div class="by_ourExpertThumb_bottomImage">
                            <img src="assets/img/home/Padmashree_mo.png?versionTimeStamp=%PROJECT_VERSION%" alt="Padmashree Balaram" />
                        </div>
                        <div class="by_ourExpertThumb_bottomText">
                            <b>Padmashree Balaram</b><br/>
                            Care giver
                        </div>
                        <div class="clearfix" ></div>
                        <div class="by_ourExpertThumb_bottomLine"></div>
                        Hi ,  What really caught my eye was the fact that this site  has to do care givers as much as it is about the cared for . Way back in the early ninetes we decided to return to India for a variety of reasons , but they all had a common goal , a more fulfilling family life , because of the close knit nature of our family bond .  <span class="divRight">
                        <a href="#!/users/padmashree-balaram?profileId=55fcade0e4b077b0500ae807">More <i class="fa fa-angle-right by_moreArrow"></i></a>
                        </span>
                        <div class="clearfix  margin-top-10"></div>
                    </div>
                    <div class="by_ourExpertDesc desktopExpertPanel">
                        <div class="by_ourExpertThumb_bottomImage">
                            <img src="assets/img/home/rukmani_mo.png?versionTimeStamp=%PROJECT_VERSION%" alt="Rukmani Menon" />
                        </div>
                        <div class="by_ourExpertThumb_bottomText">
                            <b>Rukmani Menon</b><br/>
                            Advocate
                        </div>
                        <div class="clearfix" ></div>
                        <div class="by_ourExpertThumb_bottomLine"></div>
                        I hold a Bachelor's Degree in Arts and have completed my L.L.B from Delhi University. After a few yeors of practice with a leading solicitors' firm in Delhi, I have been with a leading multidivisional organization in Bangalore os Manager , Legal, and Indirect Taxes, and served them for eight years. <span class="divRight">
                        <a href="#!/users/rukmani-menon?profileId=5653ed92e4b082a5437d1d14">More <i class="fa fa-angle-right by_moreArrow"></i></a>
                        </span>
                        <div class="clearfix  margin-top-10"></div>
                    </div>
                </div>
                <div class="by_ourExpertTop2 margin-top-20 mobileExpertPanelThree" >
                    <div class="by_ourExpertThumb">
                        <img src="assets/img/home/nitin-bw.png?versionTimeStamp=%PROJECT_VERSION%" class="by_ourExpertThumbImg" alt="Dr. Nithin" /><br/>
                        <b>Dr. Nithin   </b><br/>
                        Neurologist<br/>
                        <img src="assets/img/home/arrow_expert.png?versionTimeStamp=%PROJECT_VERSION%" alt="Indicator" width="30" class="by_ourExpertThumbArrow"/>
                    </div>
                    <div class="by_ourExpertThumb">
                        <img src="assets/img/home/Padmashree-bw.png?versionTimeStamp=%PROJECT_VERSION%" alt="Padmashree" class="by_ourExpertThumbImg" /><br/>
                        <b>Padmashree  </b><br/>
                        Caregiver<br/>
                        <img src="assets/img/home/arrow_expert.png?versionTimeStamp=%PROJECT_VERSION%" alt="Indicator" width="30" class="by_ourExpertThumbArrow"/>
                    </div>
                    <div class="by_ourExpertThumb">
                        <img src="assets/img/home/rukmani-bw.png?versionTimeStamp=%PROJECT_VERSION%" alt="Rukmani" class="by_ourExpertThumbImg" /><br/>
                        <b>Rukmani  </b><br/>
                        Advocate<br/>
                        <img src="assets/img/home/arrow_expert.png?versionTimeStamp=%PROJECT_VERSION%" alt="Indicator" width="30" class="by_ourExpertThumbArrow"/>
                    </div>
                    <div class="clearfix"></div>
                    <div class="by_ourExpertDesc">
                        <div class="by_ourExpertThumb_bottomImage">
                            <img src="assets/img/home/nitin_mo.png?versionTimeStamp=%PROJECT_VERSION%" alt="Dr. Nithin Kumar N" />
                        </div>
                        <div class="by_ourExpertThumb_bottomText">
                            <b>Dr. Nithin Kumar N</b><br/>
                            MBBS, MD, DM (Neurology)
                        </div>
                        <div class="clearfix" ></div>
                        <div class="by_ourExpertThumb_bottomLine"></div>
                        MBBS, MD, DM (Neurology)<span class="divRight">
                        <a href="#!/users/nithinkumar?profileId=56581ebbe4b088c160fd8f9a">More <i class="fa fa-angle-right by_moreArrow"></i></a>
                        </span>
                        <div class="clearfix  margin-top-10"></div>
                    </div>
                    <div class="by_ourExpertDesc">
                        <div class="by_ourExpertThumb_bottomImage">
                            <img src="assets/img/home/Padmashree_mo.png?versionTimeStamp=%PROJECT_VERSION%" alt="Padmashree Balaram" />
                        </div>
                        <div class="by_ourExpertThumb_bottomText">
                            <b>Padmashree Balaram</b><br/>
                            Care giver
                        </div>
                        <div class="clearfix" ></div>
                        <div class="by_ourExpertThumb_bottomLine"></div>
                        Hi ,  What really caught my eye was the fact that this site  has to do care givers as much as it is about the cared for . Way back in the early ninetes we decided to return to India for a variety of reasons , but they all had a common goal , a more fulfilling family life , because of the close knit nature of our family bond .  <span class="divRight">
                        <a href="#!/users/padmashree-balaram?profileId=55fcade0e4b077b0500ae807">More <i class="fa fa-angle-right by_moreArrow"></i></a>
                        </span>
                        <div class="clearfix  margin-top-10"></div>
                    </div>
                    <div class="by_ourExpertDesc">
                        <div class="by_ourExpertThumb_bottomImage">
                            <img src="assets/img/home/rukmani_mo.png?versionTimeStamp=%PROJECT_VERSION%" alt="Rukmani Menon" />
                        </div>
                        <div class="by_ourExpertThumb_bottomText">
                            <b>Rukmani Menon</b><br/>
                            Advocate
                        </div>
                        <div class="clearfix" ></div>
                        <div class="by_ourExpertThumb_bottomLine"></div>
                        I hold a Bachelor's Degree in Arts and have completed my L.L.B from Delhi University. After a few yeors of practice with a leading solicitors' firm in Delhi, I have been with a leading multidivisional organization in Bangalore os Manager , Legal, and Indirect Taxes, and served them for eight years. <span class="divRight">
                        <a href="#!/users/rukmani-menon?profileId=5653ed92e4b082a5437d1d14">More <i class="fa fa-angle-right by_moreArrow"></i></a>
                        </span>
                        <div class="clearfix  margin-top-10"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <!-- experts panel -->
        <!-- editor -->
        <div class="by_homeSectionInside margin-top-20">
            <div class="by_homeEditor" style="border-top:1px solid #ccc;">
                <div class="by_homeEditorHead">
                    Got a question?
                </div>
                <div class="by_homeTextareaShow">
                    Type here
                </div>
                <div class="by_homeEditorShow col-md-12"
                    ng-include="'app/shared/editor/askEditor.html?versionTimeStamp=%PROJECT_VERSION%'" style="border:1px solid #ccc; padding-top:15px;"></div>
                <div class="clearfix"></div>
            </div>
            <!--<div class="by_homeTalk">
                <div class="by_homeEditorHead">
                    Want to talk?
                </div>
                <div class="by_homeTalkNumber">
                    <img src="assets/img/home/call.png?versionTimeStamp=%PROJECT_VERSION%" alt="BeautifulYears Call" width="20">
                    080-6940-3333
                </div>
                <div class="by_homeTalkTime">
                    10am - 6pm on working days
                </div>
            </div>-->
        </div>
        <!-- editor ends -->
    </div>
</div>
<div class="clearfix"></div>

<script type="text/javascript">
    $(".by_ourExpertTop .by_ourExpertThumb").click(function(){
        var index = $(this).index();
        $(".by_ourExpertDesc").hide();
        $(".by_ourExpertThumbArrow").css('visibility', 'hidden');
        $(".by_ourExpertThumbImg").removeClass('by_ourExpertThumbImgActive');
        $(".by_ourExpertThumb").removeClass('by_ourExpertThumbColor');
        $(this).find(".by_ourExpertThumbArrow").css('visibility','visible');
        $(this).find(".by_ourExpertThumbImg").addClass('by_ourExpertThumbImgActive');
        $(this).addClass('by_ourExpertThumbColor');
        $(".by_ourExpertTop .by_ourExpertDesc").eq(index).show();
    });

    $(".by_ourExpertTop .by_ourExpertThumb").hover(function(){
        var index = $(this).index();
        $(".by_ourExpertDesc").hide();
        $(".by_ourExpertThumbArrow").css('visibility', 'hidden');
        $(".by_ourExpertThumbImg").removeClass('by_ourExpertThumbImgActive');
        $(".by_ourExpertThumb").removeClass('by_ourExpertThumbColor');
        $(this).find(".by_ourExpertThumbArrow").css('visibility','visible');
        $(this).find(".by_ourExpertThumbImg").addClass('by_ourExpertThumbImgActive');
        $(this).addClass('by_ourExpertThumbColor');
        $(".by_ourExpertTop .by_ourExpertDesc").eq(index).show();
    });

    $(".by_ourExpertTop2 .by_ourExpertThumb").click(function(){
        var index = $(this).index();
        $(".by_ourExpertDesc").hide();
        $(".by_ourExpertThumbArrow").css('visibility', 'hidden');
        $(".by_ourExpertThumbImg").removeClass('by_ourExpertThumbImgActive');
        $(".by_ourExpertThumb").removeClass('by_ourExpertThumbColor');
        $(this).find(".by_ourExpertThumbArrow").css('visibility','visible');
        $(this).find(".by_ourExpertThumbImg").addClass('by_ourExpertThumbImgActive');
        $(this).addClass('by_ourExpertThumbColor');
        $(".by_ourExpertTop2 .by_ourExpertDesc").eq(index).show();
    });

    $(".by_homeSectionInside").mouseleave(function(){
        $(".by_ourExpertDesc").hide();
        $(".by_ourExpertThumbArrow").css('visibility', 'hidden');
        $(".by_ourExpertThumbImg").removeClass('by_ourExpertThumbImgActive');
        $(".by_ourExpertThumb").removeClass('by_ourExpertThumbColor');
    });

    $(".by_homeTextareaShow").click(function(){
        var tinyEditor = BY.byEditor.addEditor({"editorTextArea": "question_textArea"});
        $(".by_homeEditor").animate({width: '100%', height: '380px', marginBottom: '20px'}, "500");
        $(".by_homeEditorShow").show();
        $(".by_homeTextareaShow").hide();
        $(".by_homeTalk").animate({width: '100%'}, "500");
        if($(window).width() < 721){
            $(".by_homeEditor").animate({width: '100%', height: '440px', marginBottom: '20px'}, "500");
        }
    });

    
</script>