


<div class="by_container by_grayBg">
    <div class="by_homeSection" style="padding-bottom:0px;">        
        <div class="by_homeSectionInside">
            <div class="by_homeSectionLeft divRight">

                <div class="by_homeSection_wrap_title">
                    <a href="senior-friendly-home">Home Modifications</a><br/>
                     <small>for senior living / "aging in place"</small>
                </div>
                <div style="border:2px solid #fff;">
                    <div class="by_expVideoShow" ng-click="showVideo();">
                        <img src="assets/img/home/home-seniorfriendly-videoframe.jpg?versionTimeStamp=%PROJECT_VERSION%" alt="BeautifulYears Video" width="100%"  />
                        <div class="by_expVideoShowVideoIcon"></div>
                    </div>
                    <iframe id="by_expVideoFrame" width="100%" height="" src="https://www.youtube.com/embed/HPHXQ5aMmq0?rel=0&showinfo=0&autoplay=0" frameborder="0" allowfullscreen ></iframe>
                </div>
            </div>

            <div class="by_homeSectionLeft divLeft">
                <div class="by_homeSection_centuryBig margin-bottom-20">
                    First time in Bangalore
                </div>


                <div class="by_homeSection_centuryBig margin-bottom-20" >
                     To keep your aging parents safe, secure, and comfortable, let's make your home <a href="senior-friendly-home">senior friendly </a>!
                </div>
                <div class="by_homeSection_centuryBig margin-bottom-20" >
                    Elder fall prevention, bathroom solutions, “elder-proofing” home for Alzheimer’s and Parkinson’s patients, and much more!
                </div>

                <div class="by_homeSection_centuryBig" >
                    For a free assessment and recommendations,  <a href="contactUs">contact us </a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="by_container by_grayBg by_borderBottomGreen by_sallulatesOne">
</div>


