
<div class="by_whiteBg">
<div class="by_container ">
    <div class="by_homeSection" style="padding-bottom:0px;">        
        <div class="by_homeSectionInside">

            <div class="by_homeSectionLeft divLeft">
                 <div class="by_homeSection_wrap_title">
                    <a href="#!/shop/55bcad7be4b08970a736784b">Elder Care Products</a><br/>
                </div>
                <div style="border:2px solid #eee;">
                    <div class="by_expVideoShow1" ng-click="showVideo1();">
                        <img src="assets/img/home/home-eldercare-frame.jpg?versionTimeStamp=%PROJECT_VERSION%" alt="BeautifulYears Video" width="100%"  />
                        <div class="by_expVideoShowVideoIcon"></div>
                    </div>
                    <iframe id="by_expVideoFrame1" width="100%" height="" src="https://www.youtube.com/embed/z9LkUOGUyrA?rel=0&showinfo=0&autoplay=0" frameborder="0" allowfullscreen ></iframe>
                </div>
            </div>
            <div class="by_homeSectionLeft divRight">
                <div class="by_homeSection_centuryBig">
                    To see how innovative senior care products improve lives of the elderly, visit our  <b><a href="#!/experience-center">Experience store</a></b>  in Bangalore  
                </div>
                <div class="by_homeSection_centuryBig margin-top-20">
                  <b>SEE</b>, <b>TRY</b>, and <b>BUY</b> (or <b>RENT</b>) motorized <a href="">wheel chairs</a> and other <a href="">mobility</a> solutions; elder care products for <a href="">bedroom</a> and <a href="">bathroom</a>; products for <a href="">weak grip</a>, and many more! 
                </div>
                <div class="by_homeSection_centuryBig margin-top-20">
                    Don't live in Bangalore?
                </div>
                <div class="by_homeSection_centuryBig">
                    <a href="#!/shop/55bcad7be4b08970a736784b"><b>Shop on-line</b></a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="by_container  by_borderBottomGreen by_sallulateTwo">
</div>
</div>