<!-- <div class="by_container">
    <div class="clearfix"></div>
    <div class="by_homeShopBg">
        <div class="by_homeSection paddingBottomZero">
            <div class="by_homeSectionInside">
                <div class="by_homeShopRight">
                   <span class="by_homeShopRightHead">Products that improve lives </span>
                   <span class="by_homeShopRightText">of the elderly</span>
                   <div class="clearfix margin-top-40"></div>
                   <div class="by_homeShopRightLeft">
                    Purchase on-line<br/>
                       <a href="#!/shop/55bcad7be4b08970a736784b" > <h3>&nbsp;&nbsp;&nbsp;&nbsp; E-Shop</h3> <i class="fa fa-caret-right"></i> &nbsp;&nbsp;&nbsp;&nbsp;</a>
                   </div>
                   <div class="by_homeShopRightBorder" ></div>
                   <div class="by_homeShopRightLeft" ng-if="$root.windowWidth < 721">
                    or
                   </div>
                   <div class="by_homeShopRightLeft">
                    Visit us in Bangalore<br/>
                       <a href="#!/experience-center"> <h3>&nbsp;&nbsp;&nbsp;Experience Store</h3> <i class="fa fa-caret-right"></i>&nbsp;&nbsp;</a>
                   </div>
                    
                </div>
                <div class="clearfix margin-top-40"></div>
                <div class="by_homeShopLeft">
                    <img src="assets/img/home/home_product_new.png?versionTimeStamp=%PROJECT_VERSION%" alt="Shop" width="100%" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="by_homeSectionFooter">
        <div class="by_homeSection paddingZero">
            <div class="by_homeSectionInside">
                <div class="by_homeShopRight paddingZero">
                    Want to <a href="">rent</a> instead of buying?<br/>
                    <xyz class="by_homeContactNumber">Call us at <a>080-6940-0333</a></xyz>
                    <xyz class="by_homeContactNumberM by_homeMobile2"><a href="tel:080-6940-0333"> <i class="fa fa-phone2"></i>  Call Now</a></xyz>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="by_whiteBg">
<div class="by_container ">
    <div class="by_homeSection" style="padding-bottom:0px;">        
        <div class="by_homeSectionInside">
            <div class="by_homeSection_wrap_title">
                Elder Care Products
            </div>
            <div class="by_homeSectionLeft divRight">
                <div class="by_homeSection_segoBig">
                    Visit us 
                </div>
                <div class="by_homeSection_link">
                    <a href="#!/experience-center">Experience store</a> <small> in Bangalore</small>
                </div>
                <div class="by_homeSection_centuryArrow margin-top-20 ">
                    <b>SEE</b> <a></a> <b>TRY</b> <a></a> <b>BUY</b> <small>or</small> <b>RENT</b>
                </div>
                <div class="by_homeSection_centurySmall margin-top-10 margin-bottom-40">
                    Innovative products that <br/>improve lives of 
                    the elderly
                </div>
                <div class="by_homeSection_segoBig">
                    Don't live in Bangalore?
                </div>
                <div class="by_homeSection_link">
                    <a href="#!/shop/55bcad7be4b08970a736784b">Shop on-line</a>
                </div>
            </div>
            <div class="by_homeSectionLeft divLeft">
                <div style="border:2px solid #eee;">
                    <div class="by_expVideoShow1" ng-click="showVideo1();">
                        <img src="assets/img/home/home-eldercare-frame.png?versionTimeStamp=%PROJECT_VERSION%" alt="BeautifulYears Video" width="100%"  />
                    </div>
                    <iframe id="by_expVideoFrame1" width="100%" height="" src="https://www.youtube.com/embed/z9LkUOGUyrA?rel=0&showinfo=0&autoplay=0" frameborder="0" allowfullscreen ></iframe>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="by_container  by_borderBottomGreen by_sallulateTwo">
</div>
</div>