<div class="by_home_topMenu by_home_topMenuLatest margin-top-20 margin-bottom-20">
    <a href="#!/experience-center">
         <img src="assets/img/home/solution_banner.jpg?versionTimeStamp=%PROJECT_VERSION%" alt="Experience Center" width="100%" />
    </a>
</div>



<!--              Home Mobile section                      -->
<div class="by_homeCallWrap mobileSite">
    <div class="by_container">
        <div class="text-center">
            <a ng-href="{{loginDetails.link}}">{{loginDetails.text}}</a>
        </div>
    </div>
</div>