
<div class="by_whiteBg">
<div class="by_container">
    <div class="by_homeSection" style="padding-bottom:0px;">        
        <div class="by_homeSectionInside">
            <div class="by_homeSection_wrap_title ">                
                <div class="by_homeSection_link">
                    <a href="#!/classes-actitivies-for-senior-citizens">Classes &amp; Activities</a>
                </div>
                <div class="by_homeSection_centuryBig margin-top-10">
                    for Senior Citizens in Bangalore
                </div>
                <div class="by_homeSection_segoBig margin-top-10" style="font-size:20px; line-height:27px; ">
                    Technology, Legal, Finance,<br/>
                    Creative, and more...
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <a href="#!/classes-actitivies-for-senior-citizens"><img src="assets/img/home/home-classes-and-activities.png?versionTimeStamp=%PROJECT_VERSION%" align="Class and Activies" width="100%" style="margin-top:-24%;" />    </a>
</div>
<div class="by_container  by_borderBottomGreen">
</div>
</div>