<div class="wrapper" >
	<div ng-include="'app/components/home/homeTopHeader.html?versionTimeStamp=%PROJECT_VERSION%'"></div>
	<div ng-include="'app/components/home/homeExpertPanel.html?versionTimeStamp=%PROJECT_VERSION%'"></div>
	<div ng-include="'app/components/home/homeCommunities.html?versionTimeStamp=%PROJECT_VERSION%'"></div>	
	<div ng-include="'app/components/home/homeShop.html?versionTimeStamp=%PROJECT_VERSION%'"></div>
	<div ng-include="'app/components/home/homeModalHouse.html?versionTimeStamp=%PROJECT_VERSION%'"></div>
	<div ng-include="'app/components/home/homeDirectory.html?versionTimeStamp=%PROJECT_VERSION%'"></div>
	<div ng-include="'app/components/home/homeFeedback.html?versionTimeStamp=%PROJECT_VERSION%'"></div>
</div>