<div class="by_grayBg"  style="position:relative; overflow-x:hidden;">
<div class="by_container">
        <div class="by_homeSection" style="padding-bottom:10px;">
            <div class="by_homeSectionInside" >
               <div class="by_homeSection_wrap_title">
                Elder Care Services
                </div>
                <div class="by_homeDirectoryLeft">
                   <div class="by_homeDirectoryLeftThumb">
                       We can find a trusted
                       <strong>Nurse or a physiotherapist?</strong>
                   </div>
                    <div class="by_homeDirectoryDividerLeft"></div>
                   <div class="by_homeDirectoryLeftThumb by_homeDirectoryLeftThumbRight" >
                       We can suggest a good
                       <strong>Retirement Community</strong>
                   </div>
                   <div class="clearfix margin-top-20" ng-if="$root.windowWidth > 720"></div>
                   
                </div>
                <div class="by_homeSection_wrap_title margin-top-10" style="font-size:21px; font-weight:normal;">
                ... and more!
                </div>

                <div class="clearfix margin-top-20" ng-if="$root.windowWidth > 720"></div>
                <div class="clearfix margin-top-20" ng-if="$root.windowWidth > 720"></div>
                <div class="by_homeSection_centuryBigDirectory">
                    <a title="{{telNo}}" ng-if="$root.windowWidth > 720"> Call us</a> <a href="tel:{{telNo}}" title="{{telNo}}" ng-if="$root.windowWidth < 721"> Call us</a> for a <span>free</span> recommendation, or <br/>browse our directory of senior care <a href="#!/directory/56406cd03e60f5b66f62df26/all">services</a>
                </div>

                <div class="by_homeDirectoryRight" >
                    <img src="assets/img/home/home-eldercare-img.png?versionTimeStamp=%PROJECT_VERSION%" alt="Directory" width="100%" />
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    <div class="clearfix"></div>
</div>
<div class="by_container by_grayBg by_borderBottomGreen by_sallulatesOne">
</div>
</div>

