<div class="by_container by_homeDirectoryWhite">
	<div class="by_homeSection paddingZero">
		<div class="by_homeSectionInside">
			<div class="by_homeModalLeft desktopSite">
				 <img src="assets/img/home/model_home.png?versionTimeStamp=%PROJECT_VERSION%" alt="Modal House" width="100%" />
			</div>
			<div class="by_homeModalRight">
				Are you in Bangalore? Please visit <br/> 
				our senior friendly <br/>
				<a href="announcements/holistic-solutions-for-elderly-care-and-senior-citizenshelping-people-to-live-longer-and-happierwe/?id=5694ad3ce4b0914354f60728">
					Model Home &amp; Shop</a><br/>
				to see how our products improve <br/>
				lives for senior people<br/>
				<a href="https://goo.gl/sSu4BB" target="blank"><img src="assets/img/home/map.jpg?versionTimeStamp=%PROJECT_VERSION%" alt="Map" width="100%" /></a>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>