<div style="display: none;">
    <h1>Taking Better Care of Parents</h1>
    <h2>Community for Alzheimer's, Parkinson's and more</h2>
    <h2>Directory for diagnostic, physiotherapy, nurses and more</h2>
    <h2>Shop products for seniors: wheelchairs, walkers, crutches and more</h2>
</div>

<div class="wrapper">
    <div ng-include="'app/components/home/homeTopHeader.html?versionTimeStamp=%PROJECT_VERSION%'"></div>
    <div ng-include="'app/components/home/homeExpStore.html?versionTimeStamp=%PROJECT_VERSION%'"></div> 
    <div ng-include="'app/components/home/homeShop.html?versionTimeStamp=%PROJECT_VERSION%'"></div>
    
   <div ng-include="'app/components/home/homeDirectory.html?versionTimeStamp=%PROJECT_VERSION%'"></div>

    <div ng-include="'app/components/home/homeClassActivities.html?versionTimeStamp=%PROJECT_VERSION%'"></div>
    <div ng-include="'app/components/home/homeCommunities.html?versionTimeStamp=%PROJECT_VERSION%'"></div>
    <div ng-include="'app/components/home/homeExpertPanel.html?versionTimeStamp=%PROJECT_VERSION%'"></div>
</div>
