
<div class="by_grayBg">
 <div class="by_container">
    <div class="by_homeSection" style="padding-bottom:0px;">        
        <div class="by_homeSectionInside">
            <div class="by_homeSectionLeft by_homeSectionLeftComm divRight">
                <div class="by_homeSection_wrap_title">
                    <a href="elder-care-forums/564071623e60f5b66f62df27/all">Forums</a>
                </div>
                <div style="border:8px solid #eee;">
                    <img src="assets/img/home/home-communities-img.png?versionTimeStamp=%PROJECT_VERSION%" alt="BeautifulYears Video" width="100%"  />
                </div>
            </div>
            <div class="by_homeSectionLeft divLeft">
                <div class="by_homeSection_centuryBig" >
                    You are not alone!  Connect with experts, with people taking care of their parents, and with Senior citizens in our  <a href="elder-care-forums/564071623e60f5b66f62df27/all">forums</a>. Get: 

                </div>
                <div class="by_homeSection_list by_grayBg margin-bottom-20">
                    <ul>
                        <li>Tips</li>
                        <li>Information</li>
                        <li>Support</li>
                        <li>Advice</li>
                    </ul>
                    <div class="clearfix"></div>

                </div>
                <div class="by_homeSection_centuryBig">
                    Read touching <a href="elder-care-forums/564071623e60f5b66f62df27/all">stories</a> of caregiving and aging. <a href="elder-care-forums/564071623e60f5b66f62df27/all">Share</a> you own story!
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="by_container by_borderBottomGreen by_sallulatesOne">
</div>
</div>