<div class="by_headerTopBg">
    <div class="by_container">
        <div class="by_homeSection no-padding">
            <div class="by_homeSectionInside">  
                <h1 class="by_headerHomeText">
                    <span class="by_headerOne">
                        Elder care
                    </span>
                    <span class="by_headerTwo">
                        Products and Solutions<br/>
                        <small>In India</small>
                    </span>
                </h1>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div class="by_whiteBg">
    <div class="by_container by_headerBorder3">
        <div class="by_homeSection" style="padding:15px 0px;">        
            <div class="by_homeSectionInside" style="position:relative;">
                <h2 class="by_headerBelowBlack">
                    Taking care of aging parents? We are here to help!
                </h2>
                <h2 class="by_headerBelowGray">
                    For elder care solutions 
                    <xyz ng-if="$root.windowWidth > 720"> call <b>{{telNo}} </b></xyz>
                    <xyz ng-if="$root.windowWidth < 721"> &nbsp;
                        <a href="tel:{{telNo}}">
                        <xyz >
                        <div class="by_callToActionButton">
                            <img src="assets/img/home/call.png?versionTimeStamp=1459503470417" alt="BeautifulYears Call"> Call 
                        </div>
                        </xyz> 
                        <b > &nbsp;{{telNo}} </b> </a> 
                    </xyz>
                </h2>
                 <img src="assets/img/home/home-couple_ss_2.png?versionTimeStamp=%PROJECT_VERSION%" alt="Home page header" class="by_homeHeaderBelowImg" />
            </div>
        </div>    
    </div>
</div>