


<div class="by_whiteBg by_borderBottomGreen">
    <div class="by_container">
        <div class="by_homeSection" style="padding-bottom:0px;">        
            <div class="by_homeSectionInside" style="position:relative;">

                <div class="by_homeSectionLeft divLeft">
                     <div class="by_homeSection_wrap_title">
                        <a href="classes-activities-for-senior-citizens">Classes &amp; Activities</a><br/>
                         <small><b>for Senior Citizens in Bangalore</b></small>
                    </div>
                    <img src="assets/img/home/home-classes-and-activities.png?versionTimeStamp=%PROJECT_VERSION%" alt="Classes &amp; Activities" width="80%" class="absHomeClAc" />
                </div>
                <div class="by_homeSectionLeft divRight">
                    <div class="by_homeSection_centuryBig">
                       Technology, legal, finance, creative, and more...

                    </div>
                    <div class="by_homeSection_segoBig  margin-top-20" style="font-size:17px; line-height:30px; color:#6F6F6F;">
                      We were so happy to see two 80 years old ladies taking “selfies” and sharing them with grandchildren on Whatsapp - first time in their lives! 

                    </div>
                    <div class="by_homeSection_centuryBig margin-top-20">
                        <a href="contactUs">Contact us </a> to register for an event or to <a href="contactUs?subject=2">volunteer</a>! 
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="by_container by_grayBg  by_sallulateTwo" ng-if="$root.windowWidth < 721">
    </div>
</div>