
<div class=" by_borderBottomGreen">
    <div class="by_container by_grayBg">
        <div class="by_homeSection" style="padding-bottom:0px;">        
            <div class="by_homeSectionInside" style="position:relative;">
                <div class="by_homeSectionLeft divRight">

                    <div class="by_homeSection_wrap_title">
                        <a href="elder-care-services/56406cd03e60f5b66f62df26/all">Elder Care Services</a>
                    </div>
                   <img src="assets/img/footer/contactAunty.png?versionTimeStamp=%PROJECT_VERSION%" alt="Directory" width="100%" style="max-width:300px;" class="absHomeDirectory" />
                </div>

                <div class="by_homeSectionLeft divLeft">
                    
                    <div class="by_homeSection_centuryBig margin-bottom-20" >
                        We can recommend you a trusted <b>nurse</b>, a <b>physiotherapist</b>, or a <b>Retirement</b> community - and more!

                    </div>
                    <div class="by_homeSection_centuryBig margin-bottom-20" >
                        <a title="{{telNo}}" href="tel:{{telNo}}" ng-if="$root.windowWidth < 721"> <div class="by_callToActionButton"><img src="assets/img/home/call.png?versionTimeStamp=1459503470417" alt="BeautifulYears Call"> Call 
                         </div></a> <xyz ng-if="$root.windowWidth > 720">  Call </xyz>  or <a href="contactUs"><b>contact us </b></a> for <b>free</b> assistance.

                    </div>

                    <div class="by_homeSection_centuryBig" >
                       You can also browse our <a href="elder-care-services/56406cd03e60f5b66f62df26/all"><b>directory</b></a> of {{serviceCount}} senior care services, that we have collected and <b>verified</b> for you!  
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="by_container by_grayBg  by_sallulatesOne" ng-if="$root.windowWidth < 721">
    </div>
</div>
