<div class="row indvspacing" infinite-scroll="loadMoreRecords()"
     infinite-scroll-distance="0" infinite-scroll-disabled="lastPage || isQueryInprogress"
     ng-controller="orderHistoryCtrl">
    <div class="by_orderHistory_wrap">
        <div>
            <span>{{orderListLength}} orders placed in</span>
            <li class="dropdown by_orderHistory_filter">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                    <div class="box">{{filterType}}</div>
                </a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="javascript:void(0)"
                           ng-class="{'active-filter': filterType === orderHistoryType.pastThirtyDays}"
                           ng-click="resetValues(orderHistoryType.pastThirtyDays)">Past 30 days</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"
                           ng-class="{'active-filter': filterType === orderHistoryType.pastSixMonths}"
                           ng-click="resetValues(orderHistoryType.pastSixMonths)">Past 6 months</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"
                           ng-class="{'active-filter': filterType === orderHistoryType.all}"
                           ng-click="resetValues(orderHistoryType.all)">All</a>
                    </li>
                </ul>
            </li>
        </div>

        <div ng-repeat="orders in orderHistory">
            <div class="by_orderHistory_dataDivider2"></div>
            <div ng-click="printInvoice(orders.id)" class="by_orderHistory_printInvoice">
                Print invoice
            </div>
            <div class="clearfix"></div>
            <div class="by_orderHistory_dataWrap">
                <div ng-repeat="orderItem in orders.orderItems track by $index">
                    <div class="by_orderHistory_dataImage by_orderHistory_dataSpace">
                        <img ng-src="{{orderItem.imageUrl}}">
                    </div>
                    <div class="by_orderHistory_dataDesc by_orderHistory_dataSpace">
                        {{orderItem.name}}<br>
                        Qty : <b>{{orderItem.quantity}}</b><br>
                        <b>Rs : Rs {{orderItem.salePrice.amount}}</b>
                    </div>
                    <div class="by_orderHistory_dataDelivery by_orderHistory_dataSpace">
                        Status -
                        <b>{{itemAwbMap[orderItem.awbNumber][prodEcomConfig.status].value}}</b>
                    </div>
                    <div class="by_orderHistory_dataDelivery by_orderHistory_dataSpace" >
                        <div ng-if="itemAwbMap[orderItem.awbNumber][prodEcomConfig.delivery_date].value">
                            Delivery by
                            <b>{{itemAwbMap[orderItem.awbNumber][prodEcomConfig.delivery_date].value}}</b>
                        </div>
                        <div ng-if="!itemAwbMap[orderItem.awbNumber][prodEcomConfig.delivery_date].value && itemAwbMap[orderItem.awbNumber][prodEcomConfig.expected_date].value">
                            Expected Delivery by
                            <b>{{itemAwbMap[orderItem.awbNumber][prodEcomConfig.expected_date].value}}</b>
                        </div>

                    </div>

                    <!--<div class="by_orderHistory_dataOrder by_orderHistory_dataSpace">-->
                    <!--<div class="by_orderHistory_dataOrderTrack">-->
                    <!--<a href="https://www.fedex.com/apps/fedextrack/?action=track&trackingnumber=123456789012"-->
                    <!--target="_blank">-->
                    <!--Track your order&lt;!&ndash; {{orders.trackingInfo.trackingNumber}} &ndash;&gt;-->
                    <!--</a>-->
                    <!--</div>-->
                    <!--<div class="by_orderHistory_dataOrderCancel"-->
                    <!--ng-click="cancelOrder(orders.trackingInfo.trackingNumber, orders.id)">-->
                    <!--Cancel order-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="clearfix"></div>
                    <div style="height:15px;" ng-if="orders.orderItems.length > 1"></div>
                </div>
                <div class="by_orderHistory_dataDivider"></div>
                <div class="by_orderHistory_dataOrderDate by_orderHistory_dataSpace">
                    Order date : <b>{{orders.submittedDate | dateSuffix}}</b>
                </div>
                <div ng-if="orders.orderAdjustments.length"
                     class="by_orderHistory_dataOrderDiscount by_orderHistory_dataSpace">
                    Discount :
                    <b> -
                        <span ng-if="orders.orderAdjustments[0].discountType === discountType.amountOff">Rs.</span>
                        {{orders.orderAdjustments[0].discountAmount}}
                        <span ng-if="orders.orderAdjustments[0].discountType === discountType.percentOff"> %</span>
                    </b>
                </div>
                <div class="by_orderHistory_dataOrderTotal by_orderHistory_dataSpace">
                    <span class="orderLabel">Order No. :</span>
                    <span class="orderAmount"> <b> {{orders.orderNumber}}</b> </span>
                </div>
                <div class="by_orderHistory_dataOrderTotal by_orderHistory_dataSpace">
                    <span class="orderLabel">Sub Total : </span>
                    <span class="orderAmount"> <b> Rs {{orders.subTotal.amount}}</b> </span>
                </div>
                <div class="by_orderHistory_dataOrderTotal by_orderHistory_dataSpace">
                    <span class="orderLabel">Total Shipping Charges :</span>
                    <span class="orderAmount"><b> Rs {{orders.totalShipping.amount}}</b></span>
                </div>
                <div class="by_orderHistory_dataOrderTotal by_orderHistory_dataSpace">
                    <span class="orderLabel">Order Total :</span>
                    <span class="orderAmount"><b> Rs {{orders.total.amount}}</b></span>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="clearfix"></div>

    </div>
    <div class="col-md-12 prodocutdetail paddingZero  ">
        <div class="line"></div>
    </div>
</div>