  <div class="tnymcePopUpwrapper">
    <div class="tnymcePopUpwrapperInside">
      <div class="imagebgNew">
        <div class="tnymcePopUpwrapperInsideTitle divLeft">
          Insert Image
        </div>
        <div class="tnymcePopUpwrapperInsideClose tnymceCloseImage divRight">
          X
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="tnymcePopUpwrapperInsideLabel divLeft">Image URL</div>
      <div class="tnymcePopUpwrapperInsideUrl divRight">
        <input type="file" />
      </div>
      <div class="clearfix"></div>
      <div>
        <button type="button" class="tnymceCloseImageAdd">Ok</button>
        <button type="button" class="tnymceCloseImage tnymceCloseImageButton">Cancel</button>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="topScroll" top-scroll></div>
  <div class="wrapper">
    <!--=== Header ===-->
    <div ng-include="'app/common/html/header.html'"></div>
    <!--=== End Header ===-->
    <div class="headerHeightNoBreadCrumb margin-bottom-0"></div>
    <!--=== Breadcrumbs ===-->
    <div ng-include="'app/common/html/breadcrumb.html'"></div>
    <!--=== End Breadcrumbs ===-->
  </div>
  <hr class="breadcrumb-divider"/>
  <!--=== Content Part ===-->
<div class="container ">
    <div class="row">
        <!--=== Left ===-->
        <div class="col-md-3  md-margin-bottom-40 forward-display">
             <div class="col-md-11 no-padding by_leftPanel_icons" data-link="articles.html" ng-click="add('Question')">
            <i class="icon-custom icon-sm icon_question"></i>
            <span>Ask a Question</span>
        </div>
        <div class="col-md-11 no-padding by_leftPanel_icons" data-link="articles.html" ng-click="add('Tips')">
            <i class="icon-custom icon-sm icon_tips"></i>
            <span>Share Experiences</span>
            </a>
        </div>
        <div class="col-md-11 no-padding by_leftPanel_icons" data-link="articles.html" ng-click="add('Article')">
            <i class="icon-custom icon-sm icon_story"></i>
            <span>Publish Your Story</span>
        </div>
        <div class="col-md-11 no-padding by_leftPanel_icons" data-link="articles.html" ng-click="add('Feedback')">
            <i class="icon-custom icon-sm icon_feedback"></i>
            <span>Feedback</span>
        </div>
        </div>
        <!--=== end Left ===-->
        <!--=== Right ===-->
        <div class="col-md-9  no-padding discussion-page md-margin-bottom-40 article-outer-wrapper no-padding-right ">
          <div class="col-md-12 no-padding margin-bottom-15">
            <div class="col-md-12 no-padding  list-head dp-block"></div>
            <span class="col-md-12 no-padding  list-head dp-block">Order FeedBack</span>
            <div class="col-md-12 no-padding bg-gray-h1"> 
              <div class="bg-green-h2" style="width: 150px;"></div>
            </div>
          </div>
          <div class="col-md-12 no-padding margin-bottom-15">
            <div class="col-md-12 no-padding white-gray margin-bottom-15">
              <div class="col-md-12 product-description margin-bottom-15 padding-top-10">
                <div class="col-md-2 no-padding">
                  <div class="col-md-12 no-padding ">
                    <div class="col-md-12 no-padding  list-head dp-block font-bold">PRODUCT</div>
                    <div class="col-md-12 no-padding bg-gray-h1"></div>
                  </div>
                </div>
                <div class="col-md-2 no-padding border-grey">
                  <div class="col-md-12 no-padding">
                    <div class="col-md-12 no-padding  list-head dp-block margin-left-10 font-bold">QUANTITY</div>
                    <div class="col-md-12 no-padding bg-gray-h1"></div>
                  </div>
                </div>
                <div class="col-md-2 no-padding">
                  <div class="col-md-12 no-padding">
                    <div class="col-md-12 no-padding  list-head dp-block font-bold margin-left-20">PRICE</div>
                    <div class="col-md-12 no-padding bg-gray-h1"></div>
                  </div>
                </div>
                <div class="col-md-4 no-padding">
                  <div class="col-md-12 no-padding">
                    <div class="col-md-12 no-padding  list-head dp-block font-bold">DELIVERY CHARGES
                    </div>
                    <div class="col-md-12 no-padding bg-gray-h1"></div>
                  </div>
                </div>
                <div class="col-md-2 no-padding">
                  <div class="col-md-12 no-padding">
                    <div class="col-md-12 no-padding  list-head dp-block font-bold">SUBTOTAL
                    </div>
                    <div class="col-md-12 no-padding bg-gray-h1"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 product-description margin-bottom-15" ng-repeat="orderItems in orderDetail.orderItems">
                <div class="col-md-2 no-padding">
                  <img class="cart-product-image border-gray" src="{{orderItems.primaryMedia.url}}">
                </div>
                <div class="col-md-2 no-padding border-grey">
                  <div class="col-md-12 qty-cart-buy margin-bottom-20">
                    <span class="font-bold margin-left-20">{{orderItems.quantity}}</span>
                  </div>
                </div>
                <div class="col-md-2 no-padding">
                  <span class="font-bold margin-left-20">Rs. {{orderItems.salePrice.amount}}</span> 
                </div>
                <div class="col-md-4 no-padding">
                  <span class="font-bold margin-left-20">Rs. {{orderItems.productDeliveryCharges}}</span>
                </div>
                <div class="col-md-2 no-padding">
                  <ul class="shopping-cart-heading margin-left-5 font-bold list-inline">
                    <li class="list-inline">Rs.{{orderItems.orderItemPriceDetails[0].totalAdjustedPrice.amount+orderItems.productDeliveryCharges}} 
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-12 amount-payble margin-bottom-15" >
                <ul class="pull-right list-inline aligned-list">
                  <li class="margin-right-20"><strong>Total </strong></li>
                  <li class="margin-right-20"><strong>Rs. {{subTotalAmount+totalProductDeliveryCharges}}</strong>
                  </li>
                </ul>
              </div>
              <div class="col-md-12 amount-payble margin-bottom-15" ng-if="orderDetail.orderAdjustments.length">
          <ul class="pull-right list-inline aligned-list" ng-repeat="discount in orderDetail.orderAdjustments" ng-if="discount.discountType === 'AMOUNT_OFF'">

              <li class="margin-right-20"><span style="">(<span style="color:rgb(0, 175, 80);">{{discount.promoCode}}</span> Promo Code Applied) </span>Discount</li>
              <li class="margin-right-20"><strong>- Rs. {{discount.discountAmount.toFixed(2)}}</strong>
              </li>
            </ul>
            <ul class="pull-right list-inline aligned-list" ng-repeat="discount in orderDetail.orderAdjustments" ng-if="discount.discountType === 'PERCENT_OFF'">
              <li class="margin-right-20"><span style="">(<span style="color:rgb(0, 175, 80);">{{discount.promoCode}}</span> Promo Code Applied) </span>Discount:Percentage Off</li>
              <li class="margin-right-20"><strong>- {{discount.discountAmount.toFixed(2)}} %</strong>
              </li>
            </ul>
          </div>
          <div class="col-md-12 amount-payble margin-bottom-15">
            <ul class="pull-right list-inline aligned-list">
              <li class="margin-right-20"><strong>Amount Payble</strong></li>
              <li class="margin-right-20"><strong>Rs. {{orderDetail.total.amount}}</strong>
              </li>
            </ul>
          </div>
            </div>

            <div class="col-md-12 no-padding hideMsg hideSuccessMsg list-head dp-block btn-u margin-bottom-15">
              &nbsp;&nbsp;&nbsp;
              Your feedback saved sucessfully !
            </div>
            <div class="col-md-12 no-padding hideMsg hideFailureMsg list-head dp-block errMsg margin-bottom-15">
              &nbsp;&nbsp;&nbsp;
              Problem to save your feedback, Contact your administrator !
            </div>
            <div class=" col-md-12 no-padding margin-bottom-15">
              <textarea rows="5" id="feedback" ng-model="feedback" class="username-textbox textbox textItalic"></textarea>
            </div>
            <button ng-click="orderFeedback()" type="button" class="btn-u buy-product ng-scope pull-right">Feedback</button>
          </div>
        </div>
        <!--=== End Right ===-->
    </div>
</div>
<!--/container-->

<!-- we are hiring -->
<!-- end we are hiring -->
<!-- End Content Part -->

<!--=== Footer Version 1 ===-->
<div ng-include="'app/common/html/footer_v2.html'"></div>
<!--=== End Footer Version 1 ===-->
