<div style="display: none;">
    <h1>Support groups for senior citizens - Alzheimer's, Parkinson's, Dementia, Cancer, Diabetes</h1>
    <h2>Caring for Parents - Taking care of aging parents
        Beautiful Aging - Living longer and happier
        Active Leisure - Activity and creativity for seniors
    </h2>
</div>

<div class="by_mobile_leftPanel_hide" ng-if="$root.windowWidth < 720">
    <div class="by_mobile_leftPanel">
       
        <div class="by_subMenuPlus" style="max-width:100%; height:100%; overflow-y:auto;">
            <div class="clearfix"></div>
          <div class="by_menuHeadFind  margin-top-10">
            Choose a Topic
          </div>
          <div class="by_menuHeadFindArrow"></div><div class="clearfix"></div>

          <ul class="nav nav-list">
            <li ng-repeat="menu in $root.menuCategoryMapByName['Forums'].children" id="{{menu.id}}" class="byTreeMenu-wrapper">
                <a ng-if="menu.children.length === 0" class="by_treeMenuText" ng-href="{{menuConfig.moduleConfig[menu.module].baseUrl}}/{{removeSpecialChars(menu.displayMenuName)}}/{{menu.id}}/all" style="display: inline-block; width:100%;" ng-class="{'by_treeMenuTextActive': menu.id == selectedParent.id, 'by_treeMenuTextActive': menu.id == selectedMenuId}">
                {{menu.displayMenuName}}
                </a>

                <a ng-if="menu.children.length > 0" class="by_treeMenuText tree-toggler nav-header" ng-href="{{menuConfig.moduleConfig[menu.module].baseUrl}}/{{removeSpecialChars(menu.displayMenuName)}}/{{menu.id}}/all" ng-click="toggleMenu($event)" style="display: inline-block; width:calc(100% - 40px);" ng-class="{'by_treeMenuTextActive': menu.id == selectedParent.id, 'by_treeMenuTextActive': menu.id == selectedMenuId}">
                {{menu.displayMenuName}}
                </a>
                <a ng-if="menu.children.length > 0" class="by_treeMenuIcon tree-toggler nav-header" ng-click="toggleMenu($event)" style="display: inline-block; width:30px;"></a>

                <ul ng-if="menu.children.length > 0" class="nav nav-list tree by_treeSubMenu_Wrapper" ng-init="getLeafCategories(menu)">
                    <li ng-repeat="submenu in menu.leafCategories track by $index" id="{{submenu.id}}" ng-init="expandParent(submenu.id)">
                        <a class="by_treeSubMenu" ng-class="{'by_treeSubMenu_active': submenu.id == selectedMenuId}" ng-href="{{menuConfig.moduleConfig[menu.module].baseUrl}}/{{removeSpecialChars(submenu.displayMenuName)}}/{{submenu.id}}/all">{{submenu.displayMenuName}} </a>
                    </li>
                </ul>
            </li>
        </ul>

        </div>
        <div class="clearfix"></div>
    </div>
    <div class="by_mobile_leftPanel_image" ng-init="subMenuTabMobileShow();"></div>
</div>