<div class="headerHeightNoBreadCrumb margin-bottom-0"></div>
<div ng-include="'app/components/discuss/discussMenu.html?versionTimeStamp=%PROJECT_VERSION%'" ng-if="$root.windowWidth < 720"></div>
<!--<div class="by_mobile_call_wrap" ng-if="$root.windowWidth < 720">
    <div class="by_container" style="color: #fff ; text-align:center;">
        Need help? <a ng-href="{{'tel:'+telNo}}">
        <img src="assets/img/home/call.png?versionTimeStamp=%PROJECT_VERSION%" alt="beautifulyears phone number"> Call Now</a>
    </div>
</div>-->
<!--=== Content Part ===-->

<div  ng-if="menuLevel1 && menuLevel2">
    <div id="discussListContainer"></div>
    <div ng-controller="DiscussAllController">
    <div class="leftPanel" ng-if="$root.windowWidth > 720" >
        <div ng-include="'app/components/discuss/discussLeftPanel.html?versionTimeStamp=%PROJECT_VERSION%'"></div>
    </div>
    <div  class="contentPanel">
         <!--Show section header-->
            <div class="by_commSectionHeader" ng-if="menuConfig.community[selectedMenu.id]">
                {{menuConfig.community[selectedMenu.id].desc}} 
                <span ng-if="menuConfig.community[selectedMenu.id].desc1">
                    <br/> {{menuConfig.community[selectedMenu.id].desc1}} 
                </span>
            </div>

            <div class="clearfix"></div>

            <!--Show discuss post/ask editor start-->
            <div ng-include="'app/components/discuss/discussEditor.html?versionTimeStamp=%PROJECT_VERSION%'"></div>
            <!--Show discuss post/ask editor end-->

            <div class="clearfix margin-top-20">&nbsp;</div>

            <div class="by_discussFilters">

            <!--Show discuss filters start-->
            <a class="discussRightCategory {{discussType == 'all' && 'selected active'}}" ng-if="discuss_counts.z > 0"
               href="#!/communities/{{removeSpecialChars(selectedMenu.displayMenuName)}}/{{selectedMenu.id}}/all">All
                ({{discuss_counts.z}})</a>

            <a class="discussRightCategory {{discussType == 'f' && 'selected active'}}" ng-if="discuss_counts.featured > 0"
               href="#!/communities/{{removeSpecialChars(selectedMenu.displayMenuName)}}/{{selectedMenu.id}}/f">Featured
                ({{discuss_counts.featured}})</a>

            <a class="discussRightCategory {{discussType == 'q' && 'selected active'}}" ng-if="discuss_counts.q > 0"
               href="#!/communities/{{removeSpecialChars(selectedMenu.displayMenuName)}}/{{selectedMenu.id}}/Q">Q&amp;A ({{discuss_counts.q}})</a>

            <a class="discussRightCategory {{discussType == 'p' && 'selected active'}}" ng-if="discuss_counts.p > 0"
               href="#!/communities/{{removeSpecialChars(selectedMenu.displayMenuName)}}/{{selectedMenu.id}}/P">Posts
                ({{discuss_counts.p}})</a>
            <!--Show discuss filters end-->
            </div>

            <div class="clearfix" style="height:15px;"></div>

            <!--Show discuss content-->
            <div ng-include="'app/components/discuss/discussContentPanel.html?versionTimeStamp=%PROJECT_VERSION%'" class="communityGridWidth"></div>
            <!--Show discuss content end-->
             <div   ng-if="$root.windowWidth < 721"  ng-include="'app/components/discuss/discussLeftPanelMobile.html?versionTimeStamp=%PROJECT_VERSION%'">
        </div>
        </div>
    </div>
</div>