<div  ng-controller="DiscussLeftController">
      <div ng-if="menuConfig.community[selectedMenu.id].curator">
            <div class="by_commFeaturedHead">
                  Curated by
            </div>
            <div class="clearfix margin-top-10"></div>
            <div class="curatedProfile" ng-class="{'curatedProfileOne': menuConfig.community[selectedMenu.id].curator.length < 2}" ng-repeat="curator in menuConfig.community[selectedMenu.id].curator">
                  <a href="{{curator.url}}">
                  <img src="{{curator.image}}"  alt="{{curator.name}}" />
                  <b>{{curator.name}}</b><br/>
                  {{curator.desg}}
                  </a>
            </div>
            <div class="by_commFeaturedHead clearfix margin-top-40"></div>
      </div>
      <div class="margin-top-20" ng-if="discussFeatured.length > 0">
            <div class="col-md-12 by_editorButtonViews">
            <a ng-href="#!/communities/{{removeSpecialChars(selectedMenu.displayMenuName)}}/{{selectedMenu.id}}/f">
               Featured
            </a>
            </div>
      </div>
      <div ng-repeat="featured in formattedData" class="by_commFeaturedItem">
            <a ng-href="{{getHref(featured, {'id':featured.id})}}" ng-click="$event.stopPropagation();"> 
            <span >
                 <table border="0" cellpadding="0" cellspacing="0" align="left" width="100%">
                  <tr colspan="3">
                     <td align="left" class="by_featuredImgWidth" >
                        <img ng-if="featured.image" ng-src="{{featured.image.thumbnailImage || ''}}" width="100%" alt="{{featured.title}}" 
                     fallback-src='["{{featured.image.titleImage || ""}}"]'/>
                     <img ng-if="!featured.image" src="assets/img/byTransparent.png?versionTimeStamp=%PROJECT_VERSION%" alt="{{featured.title}}" width="100%"/>
                     </td>
                     <td align="left" width="5"></td>
                     <td align="left" class="by_featuredTextWidth">{{featured.title}}</td>
                  </tr>
               </table>
            </span>
            </a>
            <div class="clearfix"></div>
      </div>
      <div class="clearfix margin-top-20"></div>
</div>