<div style="display: none;">
    <h1>Support groups for senior citizens - Alzheimer's, Parkinson's, Dementia, Cancer, Diabetes</h1>
    <h2>Caring for Parents - Taking care of aging parents
        Beautiful Aging - Living longer and happier
        Active Leisure - Activity and creativity for seniors
    </h2>
</div>
<!--<div class="by_subMenu" ng-if="$root.windowWidth > 720">
    <div class="by_subMenu_head">
        <div class="by_subMenu_headThumb" id="{{menu.id}}"
             ng-class="{'by_subMenu_headThumb_active': menu.id == selectedMenuId || (isLeafMenuSelected && menu.id == menuLevel1.id)}"
             ng-repeat="menu in $root.menuCategoryMapByName['Communities'].children">
            <a ng-href="#!/communities/{{removeSpecialChars(menu.displayMenuName)}}/{{menu.id}}/all">{{menu.displayMenuName}}</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="by_subMenu_content">
        <div class="by_subMenu_contentThumb">
             <span  id="{{subMenu.id}}" ><div ng-if="subMenu.children.length > 0" class="by_subMenu_contentItem" id="{{leafMenu.id}}"
                 ng-repeat="leafMenu in subMenu.children"
                 ng-class="{'by_subMenu_contentItem_active': leafMenu.id == menuLevel2.id}">
                <a ng-href="{{moduleConfig[subMenu.module].baseUrl}}/{{leafMenu.displayMenuName}}/{{leafMenu.id}}/all">
                    <img ng-src="{{menuConfig.community[leafMenu.id].menuIconImageDesktop}}">
                    <br/>
                    {{leafMenu.displayMenuName}}
                </a>
            </div> </span>
            

            <div ng-repeat="subMenu in categoryLists track by $index" class="by_subMenu_contentItem" id="{{subMenu.id}}"
                 ng-if="$index < 4"
                 ng-class="{'by_subMenu_contentItem_active': subMenu.id == menuLevel2.id}">
                <a ng-href="{{moduleConfig[subMenu.module].baseUrl}}/{{removeSpecialChars(subMenu.displayMenuName)}}/{{subMenu.id}}/all">
                    <img ng-src="{{menuConfig.community[subMenu.id].menuIconImageDesktop}}" alt="{{removeSpecialChars(subMenu.displayMenuName)}}">
                    <br/>
                    {{subMenu.displayMenuName}}
                </a>
            </div>

            <div ng-repeat="subMenu in categoryLists track by $index" class="by_subMenu_contentItem" id="{{subMenu.id}}"
                 ng-if="$index >= 4 && showMoreMenu===true"
                 ng-class="{'by_subMenu_contentItem_active': subMenu.id == menuLevel2.id}">
                <a ng-href="{{moduleConfig[subMenu.module].baseUrl}}/{{removeSpecialChars(subMenu.displayMenuName)}}/{{subMenu.id}}/all">
                    <img ng-src="{{menuConfig.community[subMenu.id].menuIconImageDesktop}}" alt="{{removeSpecialChars(subMenu.displayMenuName)}}">
                    <br/>
                    {{subMenu.displayMenuName}}
                </a>
            </div>

            <div class="by_subMenu_contentItem by_subMenu_contentItemMore" ng-if="showMoreMenu===false"
                 ng-click="showAllMenu($event, service);$event.stopPropagation();">
                <img src="assets/img/community/desktop/more.png?versionTimeStamp=%PROJECT_VERSION%" alt="more button"><br/>More
            </div>
            <div class="by_subMenu_contentItem by_subMenu_contentItemMore" ng-if="showMoreMenu===true"
                 ng-click="showAllMenu($event, service);$event.stopPropagation();">
                <img ng-src="assets/img/community/desktop/less.png?versionTimeStamp=%PROJECT_VERSION%" alt="less button"><br/>Less
            </div>

            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>-->


<div class="by_mobile_leftPanel_hide" ng-if="$root.windowWidth < 720">
    <div class="by_mobile_leftPanel">
        <!--
        <div class="by_subMenu_headMobile">
            <div class="by_subMenu_headMobileThumb" id="{{menu.id}}"
                 ng-class="{'by_subMenu_headMobileThumb_active': menu.id == menuLevel1.id}"
                 ng-repeat="menu in $root.menuCategoryMapByName['Communities'].children">
                <a ng-href="#!/communities/{{removeSpecialChars(menu.displayMenuName)}}/{{menu.id}}/all">{{menu.displayMenuName}}</a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="by_subMenu_contentMobile">
            <div class="by_subMenu_contentMobileThumb">
                <span ng-repeat="subMenu in menuLevel1.children" id="{{subMenu.id}}">
                    <div ng-if="subMenu.children.length > 0" class="by_subMenu_contentMobileItem" id="{{leafMenu.id}}"
                         ng-repeat="leafMenu in subMenu.children"
                         ng-class="{'by_subMenu_contentMobileItem_active': leafMenu.id == menuLevel2.id}">
                        <a ng-href="{{moduleConfig[subMenu.module].baseUrl}}/{{removeSpecialChars(leafMenu.displayMenuName)}}/{{leafMenu.id}}/all">
                            {{leafMenu.displayMenuName}}
                        </a>
                    </div>
                    <div ng-if="subMenu.children.length === 0" class="by_subMenu_contentMobileItem" id="{{subMenu.id}}"
                         ng-class="{'by_subMenu_contentMobileItem_active': subMenu.id == menuLevel2.id}">
                        <a ng-href="{{moduleConfig[subMenu.module].baseUrl}}/{{removeSpecialChars(subMenu.displayMenuName)}}/{{subMenu.id}}/all">
                            {{subMenu.displayMenuName}}
                        </a>
                    </div>
                </span>

                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>-->
        <div class="by_subMenuPlus" style="max-width:100%; height:100%; overflow-y:auto;">
            <div class="clearfix"></div>
          <div class="by_menuHeadFind  margin-top-10">
            Choose a Topic
          </div>
          <div class="by_menuHeadFindArrow"></div><div class="clearfix"></div>

          <ul class="nav nav-list">
            <li ng-repeat="menu in $root.menuCategoryMapByName['Communities'].children" id="{{menu.id}}" class="byTreeMenu-wrapper">
                <a ng-if="menu.children.length === 0" class="by_treeMenuText" ng-href="{{menuConfig.moduleConfig[menu.module].baseUrl}}/{{removeSpecialChars(menu.displayMenuName)}}/{{menu.id}}/all" style="display: inline-block; width:100%;" ng-class="{'by_treeMenuTextActive': menu.id == selectedParent.id, 'by_treeMenuTextActive': menu.id == selectedMenuId}">
                {{menu.displayMenuName}}
                </a>

                <a ng-if="menu.children.length > 0" class="by_treeMenuText tree-toggler nav-header" ng-href="{{menuConfig.moduleConfig[menu.module].baseUrl}}/{{removeSpecialChars(menu.displayMenuName)}}/{{menu.id}}/all" ng-click="toggleMenu($event)" style="display: inline-block; width:calc(100% - 40px);" ng-class="{'by_treeMenuTextActive': menu.id == selectedParent.id, 'by_treeMenuTextActive': menu.id == selectedMenuId}">
                {{menu.displayMenuName}}
                </a>
                <a ng-if="menu.children.length > 0" class="by_treeMenuIcon tree-toggler nav-header" ng-click="toggleMenu($event)" style="display: inline-block; width:30px;"></a>

                <ul ng-if="menu.children.length > 0" class="nav nav-list tree by_treeSubMenu_Wrapper" ng-init="getLeafCategories(menu)">
                    <li ng-repeat="submenu in menu.leafCategories track by $index" id="{{submenu.id}}" ng-init="expandParent(submenu.id)">
                        <a class="by_treeSubMenu" ng-class="{'by_treeSubMenu_active': submenu.id == selectedMenuId}" ng-href="{{menuConfig.moduleConfig[menu.module].baseUrl}}/{{removeSpecialChars(submenu.displayMenuName)}}/{{submenu.id}}/all">{{submenu.displayMenuName}} </a>
                    </li>
                </ul>
            </li>
        </ul>

        </div>
        <div class="clearfix"></div>
    </div>
    <div class="by_mobile_leftPanel_image" ng-init="subMenuTabMobileShow();"></div>
</div>