
.by_discDetail_alsoWrap {
    font-size: 15px;
    text-align: left;
    margin-top: 20px;
    width: 225px;
    padding-bottom: 1px !important;
    border-top: 0px;
}

.by_discDetail_alsoContent > a div, .by_discDetail_alsoContent > a p {
    color: #00af50;
}

.by_discDetail_alsoContent > a div:hover, .by_discDetail_alsoContent > a p:hover {
    text-decoration: underline;
}

.by_discDetail_userName {
    display: inline-block;
    font-size: 15px;
    padding-left: 10px;
    vertical-align: middle;
}

.by_discDetail_alsoContent img {
    display: none;
}

.by_discDetail_alsoHead {
    font-size: 15px;
    line-height: 24px;
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: #000 !important;
}

.by_discDetail_alsoWrap .by_discDetail_alsoContent {
    color: #848484;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    border-style: solid;
    border-width: 0px;
    border-color: #cfcfcf;
    border-bottom-width: 1px;
    padding-left: 10px;
    padding-right: 5px;
    margin: 10px 0px 0px 0px;
    padding-bottom: 0px !important;
}

.by_discDetail_alsoWrap .by_discDetail_alsoContent:last-child {
    border-width: 0px;
}

.by_discussDeatil_card {
    min-height: 60px;
    width: 100%;
    border: 1px solid #d8d8d8;
    margin-bottom: 20px;
    padding: 0px;
    /*max-width: 720px;*/
    border-radius: 2px !important;
    overflow-wrap: break-word;
    word-break: break-word;
    background: #fff;
    margin-bottom: 20px;
}

.by_discussDeatil_cardList {
    padding: 0px;
    margin: 0px;
}

.by_discussDeatil_cardlineHeight20 {
    line-height: 20px;
}

.by_discussDeatil_cardlineHeight20 p {
    margin-bottom: 0px;
}

.by_discussDeatil_cardList li {
    list-style: none;
    display: inline-block;
    line-height: 20px;
}

.by_discussDeatil_cardTitle {
    text-transform: uppercase;
    font-size: 16.181px;
    font-weight: bold;
    line-height: 25.901px;
    color: #000000;
}

.by_discussDeatil_cardImage img {
    max-width: 100%;
}

.by_discussDeatil_cardDesc {
    font-weight: 400;
    padding: 6px 15px 8px 15px;
    color: #000;
    font-size: 16px;
    line-height: 26px;
}

.by_discussDeatil_cardDesc img {
    max-width: 100%;
    height: auto;
}

.by_discussDeatil_cardShare {
    border-top: 1px solid #ececec;
}

.by_discussDeatil_cardShareList {
    margin: 15px 0px 10px 0px;
    padding: 0px 15px;
    text-align: right;
}

.by_discussDeatil_cardShareList li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    position: relative;
}

.by_discussDeatil_cardShareList li i, .by_discussDeatil_cardShareList li span, .by_discussDeatil_cardShareList li div {
    float: left;
}

.by_discussDeatil_cardShareList li span {
    position: absolute;
    font-size: 11px;
    padding: 0px 1px 1px 1px;
    display: inline-block;
    float: left;
    height: auto;
    border-radius: 7px !important;
    color: #000;
    width: 20px;
    background-color: #E6E6E6;
    position: static;
    margin-top: -4px;
    margin-left: -6px;
    line-height: 11px;
    text-align: center;
}

.by_discussDeatil_cardShareList li div {
    margin-left: 3px;
    margin-top: -2px;
    cursor: pointer;
}

.by_discussDeatil_cardCommentWrap {
    /*margin-top: 20px;*/
    color: #8c8c8c;
}

.by_discussDeatil_cardComment {
    /*margin-top: -20px;*/
    border-top: 0px;
    border-radius: 0px !important;
    /*max-width: 720px;*/
    min-height: 60px;
    overflow-wrap: break-word;
    word-break: break-word;
    border-bottom: 1px solid #cfcfcf;
    background: #eee;
    padding: 0px;
}

.by_discussDeatil_cardCommentImg {
    width: 43px;
    margin-left: 5px;
    float: left;
    margin-top: 10px;
}

@media (max-width: 992px) {
    .by_discDetail_alsoWrap {
        width: 100% !important;
    }
}

.by_announcementDeatil_cardImage{
    text-align: center;
}