<div ng-controller="ReviewRateController" >
	<form name="reviewRateForm" class="third-register-page grayRegisterBgLight by_editor_wrap" 
		novalidate style="background:transparent;">
		<div class="register-page  margin-bottom-20" >
		<div class="clearfix"></div>
			<div class="col-md-12 no-padding margin-bottom-20 register-page reviewRateForm by_rate_bg" >
				<img  src="assets/img/by.png" alt="image" style="width:43px  !important; margin-left:20px !important; float:left;">
				<div style="width: calc(100% - 71px); float: right;">
					<div class="col-md-12 col-sm-12 col-xs-12 no-padding">
						<div class="col-md-12 margin-bottom-10 margin-top-10">Please rate this
							service:
						</div>
						<div class="col-md-12 margin-bottom-10">
							<div class="divLeft by_rating_left"
								ng-click="selectRating(1, $event)">
								<div class="profileRateValues profileRate1"></div>
								<div class="clearfix"></div>
								<div class="profileRatetext">Terrible</div>
							</div>
							<div class="divLeft by_rating_left"
								ng-click="selectRating(2, $event)">
								<div class="profileRateValues profileRate2"></div>
								<div class="clearfix"></div>
								<div class="profileRatetext">Poor</div>
							</div>
							<div class="divLeft by_rating_left"
								ng-click="selectRating(3, $event)">
								<div class="profileRateValues profileRate3"></div>
								<div class="clearfix"></div>
								<div class="profileRatetext">Average</div>
							</div>
							<div class="divLeft by_rating_left"
								ng-click="selectRating(4, $event)">
								<div class="profileRateValues profileRate4"></div>
								<div class="clearfix"></div>
								<div class="profileRatetext">Good</div>
							</div>
							<div class="divLeft by_rating_left"
								ng-click="selectRating(5, $event)">
								<div class="profileRateValues profileRate5"></div>
								<div class="clearfix"></div>
								<div class="profileRatetext">Excellent</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="col-md-12 margin-bottom-10">
							<div style="height:1px; background:#ccc; margin-top:10px;"></div>
						</div>
						<div class="col-md-12 margin-bottom-10">Please write a review:</div>
						<div class="col-md-12 margin-bottom-1">
							<div class="0 home-address byEditor" style="border: 1px solid #ccc;">
								<textarea class="textbox" rows="3" style="height: 100px;"
									id="reviewTextArea" ng-model="reviewText"></textarea>
							</div>
						</div>
						<div>
						</div>
						<div class="clearfix" style="height:10px;"></div>
						<div class="by_rateRegisterWrap">
							<div class="col-md-12">
								<b>Please register to complete the rating</b>
							</div>
							<div class="col-md-6 by-rateReviewRight" >
								<div class="margin-top-10">
									<input type="text" class="by_registerEmailId" placeholder="Username (optional)" ng-model="newUserCredential.userName" />
								</div>
								<div class="margin-top-10">
									<input type="text" class="by_registerEmailId" placeholder="Enter your email Id" ng-model="newUserCredential.uniqueRegId" />
								</div>
								<div class="margin-top-10">
									<input type="password" class="by_registerEmailId" placeholder="Enter your Password" ng-model="newUserCredential.pwd" />
								</div>
								<div class="margin-top-10" ng-model="newUserCredential.userTags" style="font-size:15px; color:#000;">
									<input type="checkbox" id="UserTagsReg"/> I provide services for seniors
								</div>
								<div class="margin-top-10" ng-click="postReview(individualForm)">
									<button class="btn btn-success pull-right register-btn by_btn_submit"style="width:100%; border-radius:3px !important;">REGISTER &AMP; SUBMIT</button>
								</div>
							</div>
							<div class="col-md-6 by-rateReviewLeft" >
								<xyz ng-if="!storedUserEmail || storedUserEmail.trim().length === 0">
									<div class="margin-top-10">
										Or use your social network account to login
										<br/>
										<div class="dp-inline-block" ng-click="fbLogin()">
											<img src="assets/img/icons/fb-login.png" width="97" height="23" class="post-text">
										</div>
										<div class="dp-inline-block padding-left-5" ng-click="ggLogin()">
											<img src="assets/img/icons/googleplus-login.png" width="82" height="23" class="post-text">
										</div>
									</div>
									<div class="margin-top-20"><img src="assets/img/icons/lock.png" width="8" height="11"> BeautifulYears do not share your information</div>
									<div class="clearfix"></div>
									<div class="rateReviewDivider"></div>
								</xyz>
								<div class=" margin-top-10">
									<b>Already a BeautifulYears member?</b><br/>
									<button  ng-click="toggleRegForm(1);" class="btn btn-success pull-left register-btn by_btn_submit"style="border-radius:3px !important; margin-top:10px;">LOGIN</button> 
								</div>
							</div>
						</div>
						<div class="by_rateLoginWrap">
							<div class="col-md-12">
								<b>Please login to complete the rating</b>
							</div>
							<div class="col-md-6 by-rateReviewRight" >
								<div class="margin-top-10">
									<input type="text" class="by_registerEmailId" placeholder="Enter your email Id" ng-model="userCredential.email" />
								</div>
								<div class="margin-top-10">
									<input type="password" class="by_registerEmailId" placeholder="Enter your Password" ng-model="userCredential.pwd" />
								</div>
								<div class="margin-top-10" ng-click="postReview(individualForm)">
									<button class="btn btn-success pull-right register-btn by_btn_submit"style="width:100%; border-radius:3px !important;">LOGIN &AMP; SUBMIT</button>
								</div>
							</div>
							<div class="col-md-6 by-rateReviewLeft" >
								<xyz ng-if="!storedUserEmail || storedUserEmail.trim().length === 0">
									<div class="margin-top-10">
										Or use your social network account to login
										<br/>
										<div class="dp-inline-block" ng-click="fbLogin()">
											<img src="assets/img/icons/fb-login.png" width="97" height="23" class="post-text">
										</div>
										<div class="dp-inline-block padding-left-5" ng-click="ggLogin()">
											<img src="assets/img/icons/googleplus-login.png" width="82" height="23" class="post-text">
										</div>
									</div>
									<div class="margin-top-20"><img src="assets/img/icons/lock.png" width="8" height="11"> BeautifulYears do not share your information</div>
									<div class="clearfix"></div>
									<div class="rateReviewDivider"></div>
								</xyz>
								<div class="margin-top-10">
									<b>New user?</b> <br/>
									<button  ng-click="toggleRegForm(0);" class="btn btn-success pull-left register-btn by_btn_submit"style="border-radius:3px !important; margin-top:10px;">REGISTER</button>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="col-md-12  margin-bottom-10 margin-top-10">
							<span ng-show="blankReviewRateError" class="errorRed">
							Please rate/review
							<span ng-if="gender">{{gender}}</span>
							<span ng-if="userProfile.basicProfileInfo.firstName">{{userProfile.basicProfileInfo.firstName}}</span>
							<span ng-if="userProfile.individualInfo.lastName">
							{{userProfile.individualInfo.lastName}}</span>
							</span>
							<span ng-show="unauthorizeUserError" class="errorRed">
							You are not authorized to review/rate this profile </span>
							<span ng-show="otherError" class="errorRed ">
							{{otherError}} </span>
							<input style="font-size: 15px;" type="submit" value="Submit" id="reviewSubmit"
								class="btn btn-sm btn-success comment-submit by_btn_submit by-editor-submit-btn "
								ng-click="postReview(individualForm)" /> 
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</form>
</div>