<ul class="nav navbar-nav">
    <li ng-repeat="menu in mainMenu" ng-if="$index < 8" class="dropdown by-menu">
        <a ng-click="selectMenu(menu)" class="dropdown-toggle " data-toggle="dropdown" id="{{menu.id}}">
            {{menu.displayMenuName}}
        </a>
    </li>
</ul>
<div class="clearfix"></div>
<ul class="dropdown-menu by-left-menu" ng-if="selectedTopMenu.children.length > 0"
    element-resize callback="subMenuResize"
    ng-include="'app/components/menu/subMenu.html?versionTimeStamp=%PROJECT_VERSION%'"></ul>


