<li style="position:static;" ng-repeat="submenu in selectedTopMenu.children"
    ng-class="{'by-leafMenu-parent':submenu.children.length > 0}"
    ng-if="selectedTopMenu.module==submenu.module"
    ng-init="bySubMenuInit()"
    class="by-subMenu dropdown-submenu">
    <a ng-click="selectMenu(submenu)" ng-class="{'selected-submenu':selectedSubMenu.id===submenu.id}">{{submenu.displayMenuName}}</a>
    <!--<div class="bg-green-h2" style="width: 100%; position: relative;background-color:#005326" ng-if="selectedSubMenu.id===submenu.id"></div>-->
    <ul class="dropdown-menu by-leafMenu" ng-if="submenu.children.length > 0">
        <li ng-init="colCount = submenu.children.length/4 ">
            <div class="mega-menu-content">
                <!--<p>{{colCount}}</p>-->
                <div class="row" ng-if="colCount <= 1">
                    <div class="col-md-12 col-sm-6"  ng-repeat="leafMenu in submenu.children">
                        <ul class="list-unstyled style-list">
                            <li>
                                <a ng-click="selectMenu(leafMenu)">{{leafMenu.displayMenuName}}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row" ng-if="colCount > 1 && colCount <= 2">
                    <div class="col-md-4 col-sm-6">
                        <ul class="list-unstyled style-list">
                            <li  ng-repeat="leafMenu in submenu.children" ng-if="$index < 4">
                                <a ng-click="selectMenu(leafMenu)">{{leafMenu.displayMenuName}}</a>
                            </li>
                        </ul>

                    </div>
                    <div class="col-md-1"><img class="list-unstyled style-list" src="assets/img/icons/divider.png"></div>
                    <div class="col-md-4 col-sm-6">
                        <ul class="list-unstyled style-list">
                            <li  ng-repeat="leafMenu in submenu.children" ng-if="$index >= 4">
                                <a ng-click="selectMenu(leafMenu)">{{leafMenu.displayMenuName}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-6"></div>
                </div>

                <div class="row" ng-if="colCount > 2 && colCount <= 3">
                    <!--<div class="col-md-4 col-sm-6" ng-repeat="leafMenu in submenu.children">-->
                        <!--<ul class="list-unstyled style-list">-->
                            <!--<li >-->
                                <!--<a ng-click="selectMenu(leafMenu)" >{{leafMenu.displayMenuName+""+$index}}</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                        <!--<div ng-if="$index ==3"><img class="list-unstyled style-list" src="assets/img/icons/divider.png"></div>-->
                    <!--</div>-->
                    <div class="col-md-4 col-sm-6">
                        <ul class="list-unstyled style-list">
                            <li  ng-repeat="leafMenu in submenu.children" ng-if="$index < 4">
                                <a ng-click="selectMenu(leafMenu)">{{leafMenu.displayMenuName}}</a>
                            </li>
                        </ul>

                    </div>
                    <div class="col-sm-1 by-menu-separator"><img class="list-unstyled style-list" src="assets/img/icons/divider.png"></div>
                    <div class="col-md-4 col-sm-6">
                        <ul class="list-unstyled style-list">
                            <li  ng-repeat="leafMenu in submenu.children" ng-if="$index >= 4 && $index < 8">
                                <a ng-click="selectMenu(leafMenu)">{{leafMenu.displayMenuName}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-1 by-menu-separator"><img class="list-unstyled style-list" src="assets/img/icons/divider.png"></div>
                    <div class="col-md-3 col-sm-6" style="padding-right: 0px;">
                        <ul class="list-unstyled style-list">
                            <li style="width: 130%;" ng-repeat="leafMenu in submenu.children" ng-if="$index >= 8">
                                <a ng-click="selectMenu(leafMenu)">{{leafMenu.displayMenuName}}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row" ng-if="colCount > 3">
                    <div class="col-md-4 col-sm-6">
                        <ul class="list-unstyled style-list">
                            <li  ng-repeat="leafMenu in submenu.children" ng-if="$index < 6">
                                <a ng-click="selectMenu(leafMenu)" >{{leafMenu.displayMenuName}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-1 by-menu-separator"><img class="list-unstyled style-list" src="assets/img/icons/divider.png"></div>
                    <div class="col-md-4 col-sm-6">
                        <ul class="list-unstyled style-list">
                            <li ng-repeat="leafMenu in submenu.children" ng-if="$index >= 6 && $index < 12">
                                <a ng-click="selectMenu(leafMenu)" >{{leafMenu.displayMenuName}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-1 by-menu-separator"><img class="list-unstyled style-list" src="assets/img/icons/divider.png"></div>
                    <div class="col-md-3 col-sm-6" style="padding-right: 0px;">
                        <ul class="list-unstyled style-list">
                            <li style="width: 130%;" ng-repeat="leafMenu in submenu.children" ng-if="$index >= 12">
                                <a ng-click="selectMenu(leafMenu)" >{{leafMenu.displayMenuName}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</li>
<li ng-if="discussMenuCnt>0 && discussMenuCnt!==selectedTopMenu.children.length">
    <div style="background-color: black; height:1px; margin-top:20px;" ></div>
</li>
<li ng-repeat="submenu in selectedTopMenu.children" ng-class="{'by-leafMenu-parent':submenu.children.length > 0}"
    ng-if="selectedTopMenu.module!=submenu.module" class="by-subMenu dropdown-submenu"
    ng-init="bySubMenuInit()">
    <a ng-click="selectMenu(submenu)" ng-class="{'selected-submenu':selectedSubMenu.id===submenu.id}">{{submenu.displayMenuName}}</a>
</li>