<div class="by_reviewsCard" >
    <img src="{{review.userProfile.basicProfileInfo.profileImage.thumbnailImage || ''}}" fallback-src='["assets/img/by.png"]' alt="image" class="replyCardImg">
    <div class="by_reviewsCardUser">        
        <span ng-if="review.userRatingPercentage && review.userRatingPercentage!=='0'">
            <i class="rounded-x profileStar" rate-calculator="{{review.userRatingPercentage}}"></i>
        </span>
        <span ng-if="review"> By <a validate-user-name="{{review.userName}}" ng-href="{{getHrefProfileReview(review, {'profileId':review.userId})}}" ng-click="$event.stopPropagation();"> {{username}}</span>
    </div>
    <div class="by_reviewsCardText" ng-bind-html="trustForcefully(review.text)"></div>
    <div class="clearfix"></div>
    </div>
</div>

