<div ng-controller="EditorController" class="by_editor_wrap">

    <div class="clearfix" ng-init="initEditor()"></div>
    <div class="clearfix"></div>

    <div style="border:0px;">
        <div class="byEditorBg">
            <div class="col-md-12 no-padding margin-bottom-20 byEditor">
				<textarea id="question_textArea" class="textbox about-dependent"
                          rows="3"></textarea>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="col-md-12 no-padding form-header-content margin-bottom-15">
            <!--<a ng-click="showCategoryList()" ng-if="selectedMenuCount == 0">
                Please click to select the category in which your question will appear
                <span ng-click="showCategoryList()" class="triangle-down by-arrow-float-none"></span>
            </a>-->
            <div ng-if="selectedMenuCount > 0">
                Your post will appear under the
				<span ng-repeat="(key, value) in selectedMenuList">
					<span ng-if="$index > 0"> | </span>
					{{'"'+value.displayMenuName+'"'}}
				</span> &nbsp;category.
                <a ng-click="showCategoryList()" ng-if="categoryLists">Please select additional categories
                    (optional)</a>
                <span ng-click="showCategoryList()" ng-if="categoryLists"
                      class="triangle-down by-arrow-float-none"></span>
            </div>
        </div>

        <div class="col-md-12 no-padding margin-bottom-20" ng-if="showCategory">
            <div class="panel-group acc-v1" id="accordion-1">
                <div class="panel panel-default by_accordian" ng-repeat="category in categoryLists">
                    <div class="panel-heading">
                        <h4 class="panel-title by_editor_ParentCategories">
                            <label>
                                {{category.displayMenuName}}
                                <input type="checkbox" ng-click="selectTag($event, category)" value="{{category.id}}"
                                       ng-checked="{{selectedMenuId === category.id}}">
                            </label>
                        </h4>
                    </div>
                    <!--<div class="panel-heading">
                        <h4 class="panel-title by_editor_ParentCategories" ng-if="category.children.length <= 0">
                            <label ng-if="category.parentMenuId">
                                {{$root.menuCategoryMap[category.parentMenuId].displayMenuName +" >> " + category.displayMenuName}}
                                <input type="checkbox"  ng-click="selectTag($event, category)" value="{{category.id}}" ng-checked="{{selectedMenuId === category.id}}">
                            </label>
                            <label ng-if="!category.parentMenuId">
                                {{category.displayMenuName}}
                                <input type="checkbox"ng-click="selectTag($event, category)" value="{{category.id}}" ng-checked="{{selectedMenuId === category.id}}">
                        </label>
                        </h4>
                        <h4 class="panel-title by_editor_ParentCategories" ng-if="category.children.length > 0">
                            <a ng-if="!category.parentMenuId" class="accordion-toggle collapsed" data-toggle="collapse"
                               data-parent="#accordion-1"
                               href={{"#accord_"+category.id}} onclick="return false;">
                                {{category.displayMenuName}}
                            </a>
                            <a ng-if="category.parentMenuId" class="accordion-toggle collapsed"  data-toggle="collapse"
                               data-parent="#accordion-1" href={{"#accord_"+category.id}} onclick="return false;">
                                {{$root.menuCategoryMap[category.parentMenuId].displayMenuName + " >> " + category.displayMenuName}}
                            </a>
                            <a class="triangle-down accordion-toggle collapsed" style="width: auto;"
                               data-toggle="collapse" data-parent="#accordion-1"
                               href={{"#accord_"+category.id}} onclick="return false;"></a>
                        </h4>
                    </div>
                    <div id={{"accord_"+category.id}} class="col-md-12 whiteBg by_editor_SubCategories panel-collapse collapse">
                        <div class="panel-body col-md-12" ng-repeat="subCategory in category.children" ng-if="subCategory.module===0">
                            <input type="checkbox" ng-click="selectTag($event, subCategory)"
                                value={{subCategory.id}}
                                ng-checked="{{selectedMenuId === subCategory.id}}">
                            <span>{{subCategory.displayMenuName}}</span>
                        </div>
                    </div>-->
                    <div style="clear: both"></div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="col-md-6 no-padding register-page margin-bottom-20">
            <xyz ng-if="!userSessionType">
                <input type="email" class="by_registerEmailId" placeholder="Enter your email Id"
                       ng-model="userCredential.email" name="userEmail"/>

                <div class="clearfix"></div>
            </xyz>
            <div ng-show="errorMsg">
                <span class='redColor'>{{errorMsg}}</span>
            </div>
        </div>

        <div class="col-md-6" ng-class="{'full-width': userSessionType}">
            <button
                    class="btn btn-big btn-default pull-right by_btn_submit by-editor-submit-btn"
                    disabled ng-click="postContent('Q')">Submit
            </button>
            <button
                    class="btn btn-big btn-default pull-right by-editor-cancel-btn"
                    ng-click="exitEditorDiscuss('Question', $event)">Cancel
            </button>
            <div class="clearfix margin-bottom-20"></div>
        </div>

        <div class="clearfix"></div>
    </div>
</div>


