<div class="by_subMenuPlus col-md-12 no-padding-left no-padding-right" ng-init="smartScroll();" ng-if="$root.windowWidth > 720">
    <div class="col-md-12 by-commuityDetailedImage" ng-if="discuss.userProfile && discuss.userProfile.basicProfileInfo.profileImage && discuss.userProfile.basicProfileInfo.profileImage.thumbnailImage">
        <a validate-user-name="{{discuss.username}}"
            ng-href="{{getHrefProfile(discuss, {'profileId':discuss.userId})}}">
        <img ng-if="discuss.userProfile.basicProfileInfo.profileImage.thumbnailImage"
            ng-src="{{discuss.userProfile.basicProfileInfo.profileImage.thumbnailImage || ''}}"
            fallback-src='["assets/img/by.png"]' alt="profileImage" style="margin-top: 20px;">  
        </a>
        <div class="clearfix"></div>
        <!--<div class="by_discDetail_userName" ng-if="discuss">
            <a validate-user-name="{{discuss.username}}"
                ng-href="{{getHrefProfile(discuss, {'profileId':discuss.userId})}}">
            <b> {{discuss.username}}</b>
            </a>
        </div>-->
    </div><div class="clearfix"></div>
    <div ng-if="articlesByUser.length > 0" class="by_discDetail_alsoWrap left-container-img-wrapper no-padding" >

        <!--<div class="by_commFeaturedHead" >
            {{header1}} 
            <a ng-href="{{getHrefProfile(discuss, {'profileId':discuss.userId})}}">
             {{authorName}}
            </a>
        </div>-->
         <div class="by_leftPanelHead shadow-wrapper" >
            <div class="box-shadow shadow-effect-2 by_leftPanHeadText">
                {{header1}}  <a ng-href="{{getHrefProfile(discuss, {'profileId':discuss.userId})}}">
             {{authorName}}
            </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div  ng-repeat="article in articlesByUserFormat"
            ng-if="article.id!==discuss.id && !article.linkInfo" class="by_commFeaturedItem" style="padding:10px 15px;">
            <a class="by_leftPanel_linkArrow" ng-href="{{getHref(article, {'id':article.id})}}" >
                <span>
                {{article.title}}
                </span>
            </a>
        </div>
        
    </div>
</div>