<div class="row  grayRegisterBgLight " style="background:transparent;" ng-controller="housingProfileCtrl">
    <!-- Modal -->
    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 80%; margin-left: auto; margin-right: auto;">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom: 0px;">
                    <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                </div>
                <div class="modal-body by_modal_body">
                    <img src="" style="max-width: 100%" alt="Housing Gallery Image"/>
                </div>
                <div class="modal-footer" style="border-top: 0px;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 whiteBg by_profileDetail   margin-bottom-35" style="border-radius:4px !important;">
        <div class="col-md-12 profileContainer   ">
            <div class="col-md-5 col-xs-5 by_profileWidth" style="margin-right:20px;"  ng-if="housingFacilityId">
                <div class="main-image  " style="padding-left:0px;">
                    <img class="padding-zero" ng-if="facility.profileImage.titleImage"
                        ng-src="{{facility.profileImage.titleImage || ''}}" fallback-src='["assets/img/profile/Housing_inside.png"]' alt="{{facility.name}}">
                    <img class="padding-zero" ng-if="!facility.profileImage.titleImage"
                        ng-src="assets/img/profile/Housing_inside.png?versionTimeStamp=%PROJECT_VERSION%" alt="{{facility.name}}">
                </div>
                <div class="col-md-12 by-imageGallery margin-top-20 row"
                    ng-if="facility.photoGalleryURLs.length > 0" style="padding-left:0px;">
                    <div class="by-gallery-leftArrow" ng-click="slideGallery('l')"></div>
                    <div class="by-gallery-container">
                        <div ng-repeat="img in facility.photoGalleryURLs"
                            class="by-imageGallery-item" data-popup="{{img.original || ''}}"
                            data-hover="{{img.thumbnailImage || ''}}"
                            ng-init="galleryClickHover()">
                            <img ng-src="{{img.thumbnailImage || ''}}" fallback-src='[""]' alt="{{facility.name}}" />
                        </div>
                    </div>
                    <div class="by-gallery-rightArrow" ng-click="slideGallery('r')">
                    </div>
                    <div class="clearfix" style="height:10px;"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div ng-if="housingFacilityId" class="col-md-7 col-xs-7  by_profileInfoWidth by_profileInfoWidth1 by-service-padding no-padding">
                <div class="profileMainContent">
                    <h1 class="profileContentTitle divLeft" ng-if="facility.name" style="width: calc(100% - 92px);">
                        {{facility.name.toLowerCase()}}
                    </h1>
                    <div class="by_profile_verified divRight" ng-if="facility.verified == true" data-toggle="tooltip" ng-init="tooltipText();" 
                        ng-click="$event.stopPropagation();" 
                        title="Information on service providers, professionals and senior living options 
                        has been verified by a BeautifulYears   representative  at the time of registration
                        on BeautifulYears.com. Verification details appear in the review section for the
                        specific establishment as a BeautifulYears Team review." ></div>
                    <div style="clear:both;"></div>
                    <div class="no-padding" ng-if="facility.reviewCount > 0 || facility.ratingCount > 0">
                        <div class="serviceRating profileRating " ng-if="facility.ratingPercentage">
                            <i class="rounded-x profileStar" rate-calculator="{{facility.ratingPercentage}}"></i>
                            Rated by 
                            <a href="">
                                {{facility.ratingCount}} user
                                <xy ng-if="facility.ratingCount > 1">s</xy>
                            </a>
                        </div>
                        <div style="clear:both; height:20px;"></div>
                        <div class="serviceReview" ng-if="facility.reviewCount > 0">
                            <i class="rounded-x fa fa-review-icon" style="margin-right:7px;"></i>
                            {{facility.reviewCount}} review<span ng-if="facility.reviewCount > 1">s</span>
                        </div>
                        <div style="clear: both; height:12px;"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="no-padding" ng-if="facility.tier">
                        <i class="rounded-x fa fa-home fa-bank" style="margin-right:10px;  margin-left:-2px;"></i>
                        {{facility.tier}}
                        <div style="clear: both; height:10px;"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="no-padding profileRatingHP" ng-if="facility.categoriesId.length > 0">
                        <div class="divLeft">
                            <i class="rounded-x fa fa-home" style="margin-right:10px;  margin-left:-2px;"></i>
                        </div>
                        <div class="divRight">
                            <span ng-repeat="category in facility.categoriesId">
                            <a di-href="#!/senior-living/{{removeSpecialChars($root.menuCategoryMap[category].displayMenuName)}}/{{$root.menuCategoryMap[category].id}}/all/">{{$root.menuCategoryMap[category].displayMenuName}}</a><span
                                ng-if="$index<facility.categoriesId.length - 1">,</span></span>
                        </div>
                        <div style="clear: both; height:8px;"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="no-padding profileAddress" ng-if="facility.primaryAddress"
                        format-address="facility.primaryAddress">
                        <div ng-if="facility.primaryAddress.fullAddress">
                            <i class="fa fa-map-marker divLeft" style="margin-right:20px;  color:#A9A9A9;  font-size: 20px; "></i>
                            <ul class="list-inline divRight" style="width:calc(100% - 35px);">
                                <li class="list-inline">
                                    {{facility.primaryAddress.fullAddress}}
                                </li>
                            </ul>
                        </div>
                        <div style="clear: both; height: 6px;"></div>
                    </div>
                    <!--<div class="no-padding profileAddress"-->
                    <!--ng-if="facility.primaryAddress.streetAddress || facility.primaryAddress.locality ||-->
                    <!--facility.primaryAddress.city || facility.primaryAddress.country || facility.primaryAddress.zip">-->
                    <!--<i class="fa fa-map-marker divLeft" style="margin-right:20px;  color:#A9A9A9;  font-size: 20px; "></i>-->
                    <!--<ul class="list-inline divRight" style="width:calc(100% - 35px);">-->
                    <!--<li class="list-inline"-->
                    <!--ng-if="facility.primaryAddress.streetAddress">-->
                    <!--{{facility.primaryAddress.streetAddress}}-->
                    <!--</li>-->
                    <!--<li class="list-inline"-->
                    <!--ng-if="facility.primaryAddress.locality">-->
                    <!--{{facility.primaryAddress.locality}}, &nbsp;-->
                    <!--</li>-->
                    <!--<li class="list-inline"-->
                    <!--ng-if="facility.primaryAddress.city">-->
                    <!--{{facility.primaryAddress.city}}, &nbsp;-->
                    <!--</li>-->
                    <!--<li class="list-inline"-->
                    <!--ng-if="facility.primaryAddress.country">-->
                    <!--{{facility.primaryAddress.country}}&nbsp;-->
                    <!--</li>-->
                    <!--<li class="list-inline"-->
                    <!--ng-if="facility.primaryAddress.zip">-->
                    <!--</li>-->
                    <!--</ul>-->
                    <!--<div style="clear: both; height: 6px;"></div>-->
                    <!--</div>-->
                    <div class="profileRatingHP no-padding" ng-if="institutionProfile.ratingCount > 0">
                        <div class="divLeft">
                            <i class="rounded-x"
                                rate-calculator="{{institutionProfile.ratingPercentage}}"></i>
                        </div>
                        <div class="divRight">
                            Rated by 
                            <a href="">
                                {{institutionProfile.ratingCount}} user
                                <xy ng-if="institutionProfile.ratingCount > 1">s</xy>
                            </a>
                        </div>
                        <div style="clear: both; height: 6px;"></div>
                    </div>
                    <div class="profileRatingHP no-padding" ng-if="institutionProfile.reviewCount > 0">
                        <div class="divLeft">
                            <i class="rounded-x fa fa-review-icon padding42" style="margin-left: 0px;"></i>
                        </div>
                        <div class="divRight">
                            {{institutionProfile.reviewCount}} review
                            <span ng-if="institutionProfile.reviewCount > 1">s</span>
                        </div>
                        <div style="clear: both; height: 6px;"></div>
                    </div>
                    <div class="no-padding profileRatingHP" ng-if="facility.primaryPhoneNo">
                        <div class="divLeft">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="divRight">
                            <span><a href="tel:{{facility.primaryPhoneNo}}">{{facility.primaryPhoneNo}}</a></span>
                            <span ng-repeat="phoneNo in facility.secondaryPhoneNos track by $index"
                                ng-if="phoneNo.trim()!==''"> , <a href="tel:{{phoneNo}}">{{phoneNo}}</a> </span>
                        </div>
                        <div style="clear: both; height: 6px;"></div>
                    </div>
                    <div class="no-padding profileRatingHP" ng-if="facility.primaryEmail">
                        <div class="divLeft">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="divRight">
                            <a href="mailto::{{facility.primaryEmail}}">{{facility.primaryEmail}}</a>
                            <span ng-repeat="mail in facility.secondaryEmails track by $index"
                                ng-if="mail.trim()!==''"> / <a href="mailto:{{mail}}">{{mail}}</a>
                            </span>
                        </div>
                        <div style="clear: both; height: 6px;"></div>
                    </div>
                    <div class="no-padding profileRatingHP" ng-if="facility.website">
                        <div class="divLeft">
                            <i class="fa fa-globe" style="margin-right: 9px;"></i>
                        </div>
                        <div class="divRight" style="text-transform:lowercase;">
                            <a ng-href="http://{{facility.website}}" target="_blank">
                            {{facility.website}} </a>
                        </div>
                        <div style="clear: both; height: 6px;"></div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div ng-if="!facility.description" style="height:10px;"></div>
            <div class="col-md-12 no-padding" ng-if="facility.description && housingFacilityId">
                <div class="col-md-12 no-padding margin-top-20  list-head dp-block fontIndv">
                    About us
                </div>
                <div class="col-md-12 no-padding bg-gray-h1">
                    <div class="bg-green-h2" style="width: 176px;"></div>
                </div>
                <div style="clear: both; height: 20px;"></div>
                <!--  <div class="articles-story" ng-if="facility.shortDescription">
                    <p id="profile-shortDesc">
                        {{facility.shortDescription}}<br/>
                        <a class="divRight by_readmore" ng-click="showMore()">
                            Read More
                            <i class="fa fa-angle-right"
                               style="font-size: 16px; margin-top: -3px; margin-left: 3px;"></i>
                        </a>
                    </p>
                    
                    <p id="profile-desc" style="display: none"
                       ng-bind-html="trustForcefully(facility.description)">
                    </p>
                    </div> -->
                <div class="articles-story row"
                    ng-if="facility.description">
                    <p id="profile-desc"
                        ng-bind-html="trustForcefully(facility.description)">
                    </p>
                </div>
            </div>
            <span ng-if="!housingFacilityId">
                <div class="col-md-12 no-padding  list-head dp-block fontIndv">
                    Corporate Details
                </div>
                <div class="col-md-12 no-padding bg-gray-h1">
                    <div class="bg-green-h2" style="width: 176px;"></div>
                </div>
                <div style="clear: both; height: 22px;"></div>
                <div class="col-md-5 col-xs-5 by_profileWidth"
                    style="margin-right: 20px;">
                    <div class="main-image  " style="padding-left: 0px;">
                        <img class="padding-zero"
                            ng-src="assets/img/profile/Corporate_big.png?versionTimeStamp=%PROJECT_VERSION%"
                            alt="{{housingProfile.basicProfileInfo.firstName}}">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-7 col-xs-7 by_profileInfoWidth by_profileInfoWidth1 by-service-padding no-padding">
                    <h1 class="profileContentTitle" ng-if="housingProfile.basicProfileInfo.firstName">
                        {{housingProfile.basicProfileInfo.firstName.toLowerCase()}}
                        <div style="clear: both; height: 6px;"></div>
                    </h1>
                    <div class="no-padding profileAddress" ng-if="housingProfile.basicProfileInfo.primaryUserAddress"
                        format-address="housingProfile.basicProfileInfo.primaryUserAddress">
                        <div ng-if="housingProfile.basicProfileInfo.primaryUserAddress.fullAddress" >
                            <i class="fa fa-map-marker divLeft" style="margin-right:20px;  color:#A9A9A9;  font-size: 20px; "></i>
                            <ul class="list-inline divRight" style="width:calc(100% - 35px);">
                                <li class="list-inline">
                                    {{housingProfile.basicProfileInfo.primaryUserAddress.fullAddress}}
                                </li>
                            </ul>
                        </div>
                        <div style="clear: both; height: 6px;"></div>
                    </div>
                    <div class="no-padding" ng-if="housingProfile.basicProfileInfo.primaryPhoneNo">
                        <i class="fa fa-phone" style="margin-right: 9px;"></i> <span>{{housingProfile.basicProfileInfo.primaryPhoneNo}}</span>
                        <span ng-repeat="phoneNo in housingProfile.basicProfileInfo.secondaryPhoneNos"
                            ng-if="phoneNo.trim()!==''"> , {{phoneNo}} </span>
                        <div style="clear: both; height: 16px;"></div>
                    </div>
                    <div class="no-padding" ng-if="housingProfile.basicProfileInfo.primaryEmail">
                        <i class="fa fa-envelope" style="margin-right: 9px;"></i>
                        <a href="mailto::{{housingProfile.basicProfileInfo.primaryEmail}}">{{housingProfile.basicProfileInfo.primaryEmail}}</a>
                        <span ng-repeat="mail in housingProfile.basicProfileInfo.secondaryEmails"
                            ng-if="mail.trim()!==''"> / <a href="mailto:{{mail}}">{{mail}}</a>
                        </span>
                        <div style="clear: both; height: 26px;"></div>
                    </div>
                </div>
                <div style="clear: both; height: 26px;"></div>
            </span>
        </div>
        <div ng-if="housingFacilityId">
            <div style="clear:both;" id="userReviews"></div>
            <div ng-if="reviews && reviews.length == 0" class="row">
                <div class="col-md-12 bg-color-grey2" style=" margin-top: 12px; "></div>
            </div>
            <div ng-if="reviews && reviews.length > 0" class="row">
                <div class="col-md-12 bg-color-grey2" style="margin-bottom: 15px; margin-top: 12px; height:1px;"></div>
                <div class="col-md-12  margin-bottom-20 review-rate-header"
                    style="padding-left:21px; padding-right:21px;">
                    <div class="col-md-12 no-padding dp-block" style="border-bottom:1px solid #ccc;" >
                        Reviews
                    </div>
                    <div class="col-md-12 no-padding">
                        <div class="bg-green-h2" style="width: 75px;"></div>
                    </div>
                </div>
                <div ng-repeat="review in reviews" data-index="discussion-articles" data-link="articles.html"
                    ng-include="'app/components/profile/shared/profileReviewCard.html?versionTimeStamp=%PROJECT_VERSION%'"
                    ng-if="review.text && review.text.trim().length > 0">
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row" ng-include="'app/components/profile/shared/reviewRate.html?versionTimeStamp=%PROJECT_VERSION%'"
                ng-if="isAllowedToReview && profileData"></div>
            
        </div>
        <div ng-include="'app/components/profile/shared/contentByUser.html?versionTimeStamp=%PROJECT_VERSION%'" ng-if="!housingFacilityId"></div>
    </div>
    <!--/end profile details-->
</div>
<div class="clearfix"></div>