<div class="col-md-12 discussion-page no-padding" ng-repeat="discuss in discuss" data-index="discussion-articles" data-link="articles.html" style="background:#ffffff;">
    <!-- show if discuss is of type Article -->
    
    <div ng-include="'app/shared/common/template/PostsCard.html?versionTimeStamp=%PROJECT_VERSION%'" ng-if="discuss.discussType == 'P'"></div>
    <div ng-include="'app/shared/common/template/QuestionCard.html?versionTimeStamp=%PROJECT_VERSION%'" ng-if="discuss.discussType == 'Q'"></div>
</div>



<div ng-if="discussPagination.noOfPages > 1">
    <div class="text-left">
        <by-pagination obj="discussPagination" callback="getDiscussData"></by-pagination>
    </div>
</div>