
<div ng-repeat="product in products.products">
	<div class="by_productCard col-md-6">
	<a href="{{productUrl(product.id, product.name, product.categoryName)}}" ng-click="$event.stopPropagation();">
	<div class="by_productCard_Image">
		<img ng-if="product.primaryMedia != null"
		ng-src="{{product.primaryMedia.url || ''}}"
		fallback-src='["assets/img/by.png"]' alt="{{product.name}}">
	</div>
	<div class="by_productCard_title ellipsisHead text-capitalize">{{product.name.toLowerCase()}}</div>
	<div class="ellipsisHead" ng-bind-html="product.productDescription" ng-if="product.productDescription">
    </div>
	<div class="by_productCard_price">
		<span ng-if="product.salePrice && product.salePrice.amount">Our price: <strong>Rs {{product.salePrice.amount}}</strong></span>
		<span ng-if="!product.salePrice || !product.salePrice.amount">Our price: <strong>Rs {{product.retailPrice.amount}}</strong></span>

		<small ng-if="product.retailPrice != null && product.salePrice != null && product.retailPrice.amount != product.salePrice.amount">
			<del>Rs {{product.retailPrice.amount}}</del>
		</small>

		
	</div>

	<div class="clearfix" ></div>
    <span ng-init="getDiscountPercentage(product)">
    <div class="by_productCard_ImageOffer"  ng-if="product.discountPercentage && product.discountPercentage >= 5">{{product.discountPercentage}}% <br/><small>off</small></div>
    </span>
	
	</a>
</div>
</div>

<div ng-if="productPagination.noOfPages > 1">
    <div class="text-left">
        <by-pagination obj="productPagination" callback="getProductsData"></by-pagination>
    </div>
</div>