<div ng-repeat="service in services" class="ng-scope" style="position:relative;">
	<div ng-include="'app/components/find/servicesIndvContentPanel.html?versionTimeStamp=%PROJECT_VERSION%'"
		ng-if="service.userTypes[0] == userTypeConfig.INDIVIDUAL_PROFESSIONAL"></div>

	<div ng-include="'app/components/find/servicesInstContentPanel.html?versionTimeStamp=%PROJECT_VERSION%'"
		ng-if="service.userTypes[0] == userTypeConfig.INSTITUTION_SERVICES"></div>

	<div ng-include="'app/components/find/servicesInstContentPanel.html?versionTimeStamp=%PROJECT_VERSION%'"
		 ng-if="service.userTypes[0] == userTypeConfig.INSTITUTION_BRANCH"></div>


</div>

<div ng-if="servicePagination.noOfPages > 1">
    <div class="text-left">
        <by-pagination obj="servicePagination" callback="getServicesData"></by-pagination>
    </div>
</div>