.by_blog_author img {
	width: 43px;
}

.by_blog_author>img {
	margin-top: 15px !important;
	margin-left: 21px !important;
	border-radius: 2px !important;
}

.by_blog_author .col-md-12 {
	padding-left: 21px;
	padding-right: 21px;
}

.by_blog_author .col-md-12 img {
	width: auto !important;
	max-width: 100% !important;
	margin-left: auto !important;
	margin-right: auto !important;
	text-align: center;
	float: none;
}

.discuss-card-desciption {
	padding-left: 0px;
	padding-top: 5px;
	overflow: hidden;
	font-weight: 400;
	color: #000 !important;
	font-size: 16px !important;
	line-height: 26px;
	margin-bottom: 3px;
}

.discuss-card-desciption  span {
	float: right;
	display: block;
	margin-top: 20px;
	color: #00A24A;
	text-transform: capitalize;
	font-size: 14px;
}

.discuss-card-desciption  span:hover {
	text-decoration: underline;
}

.discuss-card-desciption  span:after {
	content: '\232A';
	font-size: 12px;
	font-weight: bold;
	margin-left: 2px;
}

.imgNone {
	display: none;
}

.by_blog_author {
	/*max-width: 720px;*/
	min-height: auto !important;
	border-radius: 2px !important;
	overflow-wrap: break-word;
	word-break: break-word;
}

.by_blog_author .news-v3 .post-shares li i {
	width: auto;
	height: auto;
	padding: 0px;
	float: left;
	margin-top: 3px;
}

.article-share-links .add-comment {
	height: 28px;
	font-size: 15px;
	padding: 1px 5px 1px 5px !important;
	/*border: 1px solid #ccc;*/
	border-radius: 2px !important;
	min-width: 45px;
	text-align: left;
	margin-left: 2px;
	/*background: url('../img/sprite/button-gray.jpg?versionTimeStamp=%PROJECT_VERSION%')*/
}

.add-comment-FC
{
	/*background:url('../img/sprite/comment_b.jpg?versionTimeStamp=%PROJECT_VERSION%') !important;
	border: 1px solid #007a43 !important;*/
}
.add-comment-FA 
{
	/*background:url('../img/sprite/orange_bg.jpg?versionTimeStamp=%PROJECT_VERSION%') !important;
	border:1px solid #d36e41 !important;*/
}
.news-v3 .post-shares li span {
	font-size: 11px;
    padding: 0px 1px 1px 1px;
    display: inline-block;
    float: left;
    width: auto;
    height: auto;
    border-radius: 7px !important;
    color: #000;
    width: 20px;
    background-color: #E6E6E6;
    position:static;
    margin-top: 0px;
    margin-left: -6px;
    line-height: 11px;
}
.by_blog_author .news-v3 .post-shares li.add-comment
{
	line-height:22px;
}
.news-v3 .post-shares li div.text
{
	display:inline-block;
	margin-left:5px;
	font-size:13px;
}
.news-v3 .post-shares li div.text2
{
	margin-left:8px;
}

.discussion-page .news-v3 .post-shares {
	left: 0px;
	margin-top: 3px;
	padding-right: 21px;
	padding-left: 21px;
	margin-bottom: 13px;
}

.by_modal_body {
	text-align: center;
}



.discussion-page .posted-info {
	line-height: 20px;
}

.news-v3 .post-shares {
	margin: 0px 0px 8px 0px;
}

.commentHeightLine {
	line-height: 24px;
	font-size: 15px;
	padding-right:5px;
}

.by-comment-comment {
	margin-left: 25px;
	margin-right: 10px;
}

.news-v3 {
	background: transparent;
}

.by-commment-bg-gray {
	border-color: #ccc !important;
	margin-left: 20px;
	width: auto !important;
	padding-left: 5px !important;
}

.by-social-border {
	border-top: 1px solid #ececec;
	padding-top: 10px;
	margin-top: 0px;
}

.by_border-tb {
	border-left: 0px;
	border-right: 0px;
}

.article-comments-wrapper {
	margin-top: 20px;
}

.article-comments-wrapper h2 {
	font-family: century_gothic !important;
}

.blog-author-comment-wrapper  .blog-author {
	min-height: 50px !important;
	margin-bottom: 20px !important;
}


.by-more-comment {
	text-align: center;
	margin-top: 10px;
}

.add-comment .rounded-xicon-speech {
	background: url('../img/cooment_normal.png?versionTimeStamp=%PROJECT_VERSION%');
	width: 20px !important;
	height: 17px !important;
	margin-top: 2px;
}

.add-comment .rounded-xicon-heart {
	background: url('../img/like_normal.png?versionTimeStamp=%PROJECT_VERSION%');
	width: 19px !important;
	height: 17px !important;
	margin-top: 2px;
}

.add-comment .rounded-xicon-heartActive {
	background: url('../img/like_active.png?versionTimeStamp=%PROJECT_VERSION%');
}

.add-comment .rounded-xfafa-pencil-square-o {
	background: url('../img/share_active.png?versionTimeStamp=%PROJECT_VERSION%');
	width: 17px !important;
	height: 17px !important;
	margin-top: 2px;
}

.by-commment-bg-gray .news-v3 .post-shares {
	
}

.article-share-links.news-v3 {
	text-align: left !important;
}

.by_story {
	max-height: 160px;
	margin-top: 10px;
	margin-bottom: 0px;
}


.discussion-page .blog-author {
	min-height: 60px !important;
}


.by_blog_author .articles-story p img {
	width: auto !important;
	max-width: 100% !important;
	margin-left: auto !important;
	margin-right: auto !important;
	text-align: center;
	clear: both;
}

.by_blog_author .news-v3 .post-shares li i {
	color: #00af50 !important;
}

.noRadius {
	border-radius: 0px !important;
	border-left: 0px !important;
	border-right: 0px !important;
}

.article-outer-wrapper {
	padding-left: 45px;
	padding-right: 40px;
}

.by_left_panel_fixed {
	left: calc(( 100vw - 960px + 20px)/2) !important;
	width: 235px !important;
}

#sidebar-nav, #sidebar-nav1 {
	width: 235px;
}

.by_submit_btn_latest {
	border-radius: 2px !important;
	color: #000 !important;
	background-color: #ccc !important;
	border: 1px solid #ccc !important;
}

.by_cancel_btn_latest {
	border-radius: 2px !important;
	color: #000 !important;
	background-color: #ccc !important;
	border: 1px solid #ccc !important;
}
.sidebar-nav-v1 li a
{
	overflow-wrap: break-word;
	padding: 8px 10px 8px 10px;
}

@media ( max-width : 992px) {
	.by_left_panel_fixed, #sidebar-nav, #sidebar-nav1 {
		width: 100% !important;
	}
}

.blog-author .blog-author {
	border-top-width: 0px !important;
	padding-bottom: 1px !important;
}

.blog-author .blog-author .blog-author {
	border-top-width: 1px !important;
	padding-bottom: 0px !important;
}



.insideComments .blog-author {
	background: #fff !important;
	margin-bottom: 0px !important;
	margin-right: 10px;
}

.list-inline>li {
	padding-left: 0px;
	padding-right: 0px;
}

.by-first-letter::first-letter {
	text-transform: uppercase;
}

.commentHeightLine img {
	width: auto !important;
	margin-right: 3px;
	float: none;
}

.blog-author {
	padding: 0px !important;
}

.by-card-shareInfo {
	border: 1px solid #DEDEDE;
	/*background-color: #dcdcdc;*/
	margin-left: 20px;
	margin-right: 20px;
}

.by-card-shareInfo .row {
	margin-left: 0px;
	margin-right: 0px;
	/*background: linear-gradient(to right, #FBFBFB 50%, #ffffff 50%);*/
}

.by-card-shareInfo .shareInfo-content {
	padding-top: 15px;
	height:200px;
	background: linear-gradient(to right, #F1F1F1 100%, #ffffff 100%);
}

.by-card-shareInfo .shareInfo-generalImage {
	background-color: #fff;
	height:200px;
	text-align:center;
}

.by_blog_author .shareInfo-image img {
	width: auto !important;
	height: auto;
	max-width: 100%;
}

.by_blog_author .shareInfo-generalImage img {
	width: auto !important;
	height: 100%;
	max-width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	line-height:100%;
	vertical-align:middle;
	float:none;
}

.shareInfo-generalImage iframe {
	width: 100% !important;
	height: auto;
	max-width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
}


.discussRightCategory
{
	margin-right:15px;
	padding-bottom:5px;
}
.article-outer-wrapper a.discussRightCategory:hover
{
	text-decoration:none;
}

.article-outer-wrapper a.selected
{
	border-bottom:1px solid #000;
	text-decoration:none;
}
@media ( max-width : 450px){
	.add-comment-FC
	{
		margin-bottom:5px;
	} 
}
@media ( max-width : 400px){
	.post-shares .add-comment
	{
		margin-bottom:5px;
	} 
	.post-shares
	{
		margin-bottom:10px !important;
	}
}
