<!-- <div class="headerHeightNoBreadCrumb margin-bottom-0"></div>
<div class="container text-center margin-top-40 margin-bottom-40">
   <div class="error-v1">
      <span class="error-v1-title">404</span>
      <span>That's an error!</span>
      <p>The requested URL was not found on this server. That's all we know.</p>
      <a class="btn-u btn-bordered" href="/">Back Home</a>
   </div>
   <div class="clearfix"></div>
</div> -->

<div style="background:#fff;">
	<div class="headerHeightNoBreadCrumb margin-bottom-0"></div>
	<div class="by_contentWrap">
		<div class="by_errorLeft">
			<img src="assets/img/error/emoticon.png?versionTimeStamp=%PROJECT_VERSION%" width="100%" alt="Error" />
		</div>
		<div class="by_errorRight">
			<div class="by_errorRightHead">SORRY!</div>
			<div class="by_errorRightText">
				(for giving you site error)
			</div>
			<div class="by_errorRightTextSmall">
				You may be seeing this error due to <b>broken link</b> or <b>slow internet</b> connection.<br/>
				<b>DON'T WORRY!</b><br/>
				You can click on any of the below links to <a href="/">Go Back</a>.
			</div>
			<div>
				<div class="by_errorRightLinks">
					<a href="">
						<img src="assets/img/error/forum.png?versionTimeStamp=%PROJECT_VERSION%" alt="forum" width="100%" />
						<span>Forum</span>
					</a>
				</div>
				<div class="by_errorRightLinks">
					<a href="">
						<img src="assets/img/error/products.png?versionTimeStamp=%PROJECT_VERSION%" alt="products" width="100%" />
						<span>Products</span>
					</a>
				</div>
				<div class="by_errorRightLinks">
					<a href="">
						<img src="assets/img/error/service.png?versionTimeStamp=%PROJECT_VERSION%" alt="service" width="100%" />
						<span>Services</span>
					</a>
				</div>
				<div class="by_errorRightLinks">
					<a href="">
						<img src="assets/img/error/homemodification.png?versionTimeStamp=%PROJECT_VERSION%" alt="homemodification" width="100%" />
						<span>Home Modifications</span>
					</a>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="by_errorRightCart">
				If you were int he middle of the checkout, call us on <a href="tel:080 6940 0333">080 694 00 333</a>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>