

<!-- <div class="by_callToAction margin-bottom-20">
  <img src="assets/img/logo_symbol.png?versionTimeStamp=%PROJECT_VERSION%" alt="Logo" />We  find <b>best senior care solutions</b> in Bangalore
  <xyz ng-if="$root.windowWidth > 720"> <i class="fa fa-phone2"></i> {{telNo}}</xyz>
  <xyz ng-if="$root.windowWidth < 721">
    <a href="tel:{{telNo}}">
      <div class="by_callToActionButton"><img
        src="assets/img/home/call.png?versionTimeStamp=%PROJECT_VERSION%" alt="BeautifulYears Call"> Call 
      </div>
    </a>
  </xyz>
</div> -->



<div class="by_sectionHeader" ng-if="selectedMenu" >
    <h2>Directory of Senior Living Facilities</h2>
</div>

<div ng-repeat="housing in housing">
	<div ng-click="location($event, housing, {'profileId':housing.userId, 'housingFacilityId':housing.id})"
	class="by_housingCard">
     <div ng-include="'app/shared/common/template/housingCard.html?versionTimeStamp=%PROJECT_VERSION%'"></div>
     </div>
</div>

<div class="by_viewMoreButton" align="center"
	 ng-if=" housing && housing.length > 0 && !pageInfo.lastPage || pageInfo.isQueryInProgress">
	<a ng-if="!pageInfo.isQueryInProgress" ng-click="loadMore()">More <i class="fa fa-angle-right by_moreArrowView"></i></a>
	<img ng-if="pageInfo.isQueryInProgress" src="assets/img/ajax_scroll_loading.gif">
	<!--<img src="assets/img/ajax_scroll_loading.gif" style="margin-bottom: 20px">-->
</div>

<!-- <div class="by_callToAction margin-bottom-20"  >
     Do you <b>provide</b> elder care services? Click to <a href="#!/users/login">REGISTER</a>, or <a href="#!/contactUs">contact us</a>
</div> -->