<!--All classes from Unify start-->
<div class="col-md-12 left-container-img-wrapper no-padding by_left_panel_fixed" >
    <div class="scrollableLeftPanelDiv by-filter-links" style="margin-top: 20px;">
        <ul class="service-filters list-group sidebar-nav-v1 margin-bottom-20 " id="sidebar-nav">

            <!-- ngIf: discuss_counts.z > 0 -->
            <li class="row list-group-item ng-scope" data-index="discussion-articles" style="margin: 0px; margin-top: 5px;">
                <div class="col-md-2 col-sm-2 col-xs-2 no-padding"><a href="#">IN </a></div>
                <div class="col-md-10 col-sm-10 col-xs-10 searchWrapper-find-in" style="margin: 0px; padding:0px; padding-top: 3px;">
                    <div class="row no-padding register-page" style="margin: 0px; ">
                        <div class="col-md-10 col-sm-10 col-xs-10 no-padding">
                            <input type="text"  class="username-textbox textbox ng-pristine ng-valid ng-touched ng-untouched" id="addressCity"
                                   placeholder="City Name " ng-model="address.city" ng-google-location callback="addressCallback" options="cityOptions">
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2" style="padding-left: 3px;">
                            <i class="fa fa-search" ng-click="addressCallback({'name':address.city})"></i>
                        </div>
                    </div>
                </div>
            </li>
            <!-- end ngIf: discuss_counts.z > 0 -->
        </ul>

        <!--All classes from Unify end-->

        <div class="col-md-12 col-xs-12 col-sm-12 margin-top-40 no-padding by_leftPanel_icons" data-link="articles.html" ng-click="add('Question')">
            <i class="sprite sprite-question"></i>
            <span><b>Ask</b> anything about elder care or health</span>
        </div> 
        <div class="col-md-12 col-xs-12 col-sm-12 margin-top-0 no-padding by_leftPanel_icons" data-link="articles.html" ng-click="add('Article')">
            <i class="sprite sprite-story"></i>
            <span><b>Share</b> your stories, experiences, photos</span>
        </div>
       
    </div>
</div>
