




<div class="by_sectionHeader" ng-if="selectedMenu" >
    <h2>Directory of Senior Living Facilities</h2>
</div>

<div ng-repeat="housing in housing">
	<div ng-click="location($event, housing, {'profileId':housing.userId, 'housingFacilityId':housing.id})"
	class="by_housingCard">
     <div ng-include="'app/shared/common/template/housingCard.html?versionTimeStamp=%PROJECT_VERSION%'"></div>
     </div>
</div>

<div class="by_viewMoreButton" align="center"
	 ng-if=" housing && housing.length > 0 && !pageInfo.lastPage || pageInfo.isQueryInProgress">
	<a ng-if="!pageInfo.isQueryInProgress" ng-click="loadMore()">More <i class="fa fa-angle-right by_moreArrowView"></i></a>
	<img ng-if="pageInfo.isQueryInProgress" src="assets/img/ajax_scroll_loading.gif">
	<!--<img src="assets/img/ajax_scroll_loading.gif" style="margin-bottom: 20px">-->
</div>

