<div class="headerHeightNoBreadCrumb margin-bottom-0"></div>

<!--=== Content Part ===-->
<div>
    <!--Housing Menu-->
    <div class="leftPanel" ng-include="'app/components/housing/housingMenu.html'" ng-controller="HousingMenuCtrl"></div>


    <!--Housing Content-->
    <div ng-if="!showEditor && selectedMenu.module == menuConfig.modules['service'].moduleId || selectedMenu.module == menuConfig.modules['housing'].moduleId"
         class="contentPanel" ng-include="housingViews.contentPanel"></div>




    <!--Housing reviews-->
    <div ng-if="!showEditor && selectedMenu.module === menuConfig.modules['discuss'].moduleId" class="contentPanel "
         ng-controller="HousingReviewsCtrl"
         ng-include="'app/components/housing/housingReviewsPanel.html'">
    </div>

</div>


<!--/container-->

