<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <title>Beautiful Years</title>


    <!-- Meta -->
    <meta http-equiv="expires" content="0">
    <meta charset="utf-8">
    <meta name="fragment" content="!">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Caring for your parents? Coping with challenges of ageing? Welcome to the BeautifulYears Community! Ageing. Caring. Sharing.">
    <meta name="keywords" content="Beutifulyears , senior care, ageing">
    <meta name="robots" content="index, follow">

    <meta property="fb:app_id" content="475153235986093"/>
    <meta property="og:title" content="Beautiful Years"/>
    <meta name="twitter:title" content="Beautiful Years"/>
    <meta property="og:image" content="http://www.beautifulyears.com/assets/img/logo-fb.jpg"/>
    <meta name="twitter:image" content="http://www.beautifulyears.com/assets/img/logo-fb.jpg"/>
    <meta property="og:site_name" content="BeautifulYears.com"/>
    <meta property="og:description"
          content="Caring for your parents? Coping with challenges of ageing? Welcome to the BeautifulYears Community! Ageing. Caring. Sharing."/>
    <meta name="twitter:description"
          content="Caring for your parents? Coping with challenges of ageing? Welcome to the BeautifulYears Community! Ageing. Caring. Sharing."/>

    <meta property="og:image:width" content="158"/>
    <meta property="og:image:height" content="158"/>

    <!-- copyrightInfo -->
    <link rel="copyright" href="http://www.beautifulyears.com/index.html#!/termsCondition">

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/img/favicon.ico?versionTimeStamp=%PROJECT_VERSION%">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="lib/unify/plugins/bootstrap/css/bootstrap.min.css?versionTimeStamp=%PROJECT_VERSION%">
    <link rel="stylesheet" href="assets/css/style.css?versionTimeStamp=%PROJECT_VERSION%">
    <link rel="stylesheet" href="lib/jqueryPlugins/jquery-ui-1.11.4.custom/jquery-ui.min.css?versionTimeStamp=%PROJECT_VERSION%">
    <!-- bootstrap -->
    <link rel="stylesheet" href="lib/unify/plugins/bootstrap/css/bootstrap-toggle.min.css">

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="assets/css/headers/header-default.css?versionTimeStamp=%PROJECT_VERSION%">
    <link rel="stylesheet" href="assets/css/by-header.css?versionTimeStamp=%PROJECT_VERSION%">
    <link rel="stylesheet" href="assets/css/footers/footer-v1.css?versionTimeStamp=%PROJECT_VERSION%">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="lib/unify/plugins/animate.css?versionTimeStamp=%PROJECT_VERSION%">
    <link rel="stylesheet" href="lib/unify/plugins/line-icons/line-icons.css?versionTimeStamp=%PROJECT_VERSION%">
    <link rel="stylesheet"
          href="lib/unify/plugins/font-awesome/css/font-awesome.min.css?versionTimeStamp=%PROJECT_VERSION%">

    <link rel="stylesheet" href="lib/unify/plugins/flexslider/flexslider.css?versionTimeStamp=%PROJECT_VERSION%">
    <link rel="stylesheet"
          href="lib/unify/plugins/parallax-slider/css/parallax-slider.css?versionTimeStamp=%PROJECT_VERSION%">
    <link href="lib/unify/css/pages/blog_masonry_3col.css" rel="stylesheet">

    <!-- CSS Page Style -->
    <link rel="stylesheet" href="assets/css/pages/page_log_reg_v1.css?versionTimeStamp=%PROJECT_VERSION%">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="assets/css/main.css?versionTimeStamp=%PROJECT_VERSION%">
    <link rel="stylesheet" href="assets/css/custom.css?versionTimeStamp=%PROJECT_VERSION%">

    <link rel="stylesheet" href="assets/css/psc.css?versionTimeStamp=%PROJECT_VERSION%">

    <link rel="stylesheet" href="lib/tagmanager-master/tagmanager.css?versionTimeStamp=%PROJECT_VERSION%">


    <link rel="stylesheet" href="assets/css/home.css?versionTimeStamp=%PROJECT_VERSION%">

    <link rel="stylesheet" href="assets/css/aboutUs.css?versionTimeStamp=%PROJECT_VERSION%">
    <link rel="stylesheet" href="assets/css/by_editor.css?versionTimeStamp=%PROJECT_VERSION%">
    <link rel="stylesheet" href="assets/css/login.css?versionTimeStamp=%PROJECT_VERSION%">
    <link rel="stylesheet" href="assets/css/discussDetail.css?versionTimeStamp=%PROJECT_VERSION%">
    <link rel="stylesheet" href="assets/css/services.css?versionTimeStamp=%PROJECT_VERSION%">
    <link rel="stylesheet" href="assets/css/profile.css?versionTimeStamp=%PROJECT_VERSION%">
    <link rel="stylesheet" href="assets/css/replyCard.css?versionTimeStamp=%PROJECT_VERSION%">
    <link rel="stylesheet" href="assets/css/productSearch.css?versionTimeStamp=%PROJECT_VERSION%">
    <link rel="stylesheet" href="assets/css/image-gallery.css?versionTimeStamp=%PROJECT_VERSION%">
    <link rel="stylesheet" href="assets/css/by_quad.css?versionTimeStamp=%PROJECT_VERSION%">
    <link rel="stylesheet" href="assets/css/by_section_headers.css?versionTimeStamp=%PROJECT_VERSION%">
    <link rel="stylesheet" href="assets/css/by-menu.css?versionTimeStamp=%PROJECT_VERSION%">
    <link rel="stylesheet" href="assets/css/by-modalLogin.css?versionTimeStamp=%PROJECT_VERSION%">
    <link rel="stylesheet" href="assets/css/by_userType.css?versionTimeStamp=%PROJECT_VERSION%">
    <link rel="stylesheet" href="assets/css/by_regIndvLogin.css?versionTimeStamp=%PROJECT_VERSION%">
    <link rel="stylesheet" href="assets/css/by_sprite.css?versionTimeStamp=%PROJECT_VERSION%">
    <link rel="stylesheet" href="assets/css/discuss_list_grid.css?versionTimeStamp=%PROJECT_VERSION%">
    <link rel="stylesheet" href="assets/css/by_discuss.css?versionTimeStamp=%PROJECT_VERSION%">

    <!-- unify libs and plugins start -->
    <script type="text/javascript" src="lib/unify/plugins/jquery/jquery.min.js?versionTimeStamp=%PROJECT_VERSION%"></script>
    <script type="text/javascript" src="lib/unify/plugins/bootstrap/js/bootstrap.min.js?versionTimeStamp=%PROJECT_VERSION%"></script>
    <script type="text/javascript" src="lib/unify/unify_app.js?versionTimeStamp=%PROJECT_VERSION%"></script>
    <script type="text/javascript" src="lib/unify/plugins/back-to-top.js?versionTimeStamp=%PROJECT_VERSION%"></script>
    <script type="text/javascript" src="lib/unify/plugins/smoothScroll.js?versionTimeStamp=%PROJECT_VERSION%"></script>


    <script type="text/javascript" src="lib/tinymce/tinymce.min.js?versionTimeStamp=%PROJECT_VERSION%"></script>
    <script type="text/javascript" src="lib/jqueryPlugins/jquery.form.js?versionTimeStamp=%PROJECT_VERSION%"></script>
    <script type="text/javascript" src="lib/jqueryPlugins/jquery-ui-1.11.4.custom/jquery-ui.min.js?versionTimeStamp=%PROJECT_VERSION%"></script>
    <script type='text/javascript' src="lib/require.js" data-main="app/shared/main.js"></script>

    <!--<script type="text/javascript" src="lib/unify/plugins/jquery/jquery-migrate.min.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->
    <!--<script type="text/javascript" src="lib/unify/plugins/bootstrap/js/bootstrap-toggle.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->


    <!--<script type="text/javascript" src="lib/unify/js/pages/page_portfolio.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->
    <!--<script type="text/javascript" src="lib/unify/js/plugins/parallax-slider.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->
    <!--<script type="text/javascript" src="lib/unify/plugins/parallax-slider/js/jquery.cslider.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->
    <!--<script type="text/javascript" src="lib/unify/plugins/parallax-slider/js/modernizr.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->


    <!--<script type="text/javascript" src="lib/unify/plugins/jquery.mixitup.min.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->
    <!--<script type="text/javascript" src="lib/unify/plugins/masonry/jquery.masonry.min.js"></script>-->

    <!--[if lt IE 9]>
    <!--<script src="lib/unify/plugins/respond.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->
    <!--<script src="lib/unify/plugins/html5shiv.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->
    <!--<script src="lib/unify/plugins/placeholder-IE-fixes.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->
    <!--<![endif]&ndash;&gt;-->
    <!-- unify libs and plugins end -->


    <!-- tinemce & tagmanager libs and plugins start -->

    <!--<script type="text/javascript" src="lib/tagmanager-master/tagmanager.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->
    <!-- tinemce libs and plugins end -->

    <!-- JQuery libs and plugins start -->

    <!--<script type="text/javascript" src="lib/jqueryPlugins/jquery.dotdotdot.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->
    <!--<script type="text/javascript" src="lib/jqueryPlugins/jquery-ui-1.11.4.custom/jquery-ui.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->
    <!-- JQuery libs and plugins end -->



    <!--&lt;!&ndash; angular libs and plugins start &ndash;&gt;-->
    <!--<script type="text/javascript"  src="lib/angular/angular.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->
    <!--<script type="text/javascript"  src="lib/angular/angular-route.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->
    <!--<script type="text/javascript"  src="lib/angular/angular-resource.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->
    <!--<script type="text/javascript"  src="lib/angular/angular-sanitize.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->
    <!--<script type="text/javascript" src="lib/angular/ng-google-location.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->
    <!--<script type='text/javascript' src='lib/angular/ng-infinite-scroll.js?versionTimeStamp=%PROJECT_VERSION%'></script>-->
    <!--&lt;!&ndash; angular libs and plugins end &ndash;&gt;-->


    <!--&lt;!&ndash; config js files start &ndash;&gt;-->
    <!--<script type="text/javascript"  src="app/components/login/registrationConfig.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->
    <!--<script type="text/javascript"  src="app/shared/common/config/userTypesConfig.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->
    <!--&lt;!&ndash; config js files end &ndash;&gt;-->

    <!--&lt;!&ndash; custom js files start &ndash;&gt;-->
    <!--<script type="text/javascript" src="app/shared/common/js/psc.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->
    <!--<script type="text/javascript"  src="app/shared/editor/byEditor.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->
    <!--<script type="text/javascript"  src="app/shared/util/byUtil.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->

    <!--<script type="text/javascript"  src="app/main/app.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->
    <!--<script type="text/javascript"  src="app/main/appRoute.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->
    <!--<script type="text/javascript"  src="app/main/appResources.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->
    <!--<script type="text/javascript"  src="app/main/appDirectives.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->
    <!--<script type="text/javascript" src="app/components/menu/mainMenuController.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->

    <!--<script type="text/javascript"  src="app/components/login/loginController.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->
    <!--<script type="text/javascript"  src="app/components/home/homeController.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->
    <!--<script type="text/javascript"  src="app/components/discuss/discussController.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->
    <!--<script type="text/javascript"  src="app/components/aboutUs/aboutUsController.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->
    <!--<script type="text/javascript" src="app/components/discussDetail/discussDetailController.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->
    <!--<script type="text/javascript" src="app/components/discussDetail/discussDetailLeftCtrl.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->
    <!--<script type="text/javascript"  src="app/shared/editor/editorController.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->

    <!--<script type="text/javascript"  src="app/shared/footer/contactUsController.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->

    <!--<script type="text/javascript"  src="app/components/login/registrationController.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->
    <!--<script type="text/javascript"  src="app/components/login/regUserTypeController.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->
    <!--<script type="text/javascript"  src="app/components/login/regInstitutionController.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->
    <!--<script type="text/javascript"  src="app/components/login/regIndividualController.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->

    <!--<script type="text/javascript"  src="app/components/find/servicesController.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->

    <!--<script type="text/javascript"  src="app/components/profile/profileController.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->
    <!--<script type="text/javascript"  src="app/components/profile/institutionProfileController.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->
    <!--<script type="text/javascript"  src="app/components/profile/individualProfileController.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->
    <!--<script type="text/javascript"  src="app/components/profile/reviewRateController.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->
    <!--<script type="text/javascript" src="app/shared/common/js/shareController.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->
    <!-- -->
    <!--<script type="text/javascript"  src="app/components/menu/sectionHeaderConfig.js?versionTimeStamp=%PROJECT_VERSION%"></script>-->
</head>

<body>
<div id="fb-root"></div>
<div class="preloader" id="preloader" style="display: none;">
    <div class="preloaderImage"></div>
</div>

<div class="modal fade by-login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id="myModalHorizontal"
     ng-include="'app/components/signup/login/modalLogin.html'" ng-if="$root.inContextLogin">
</div>


<div class="tnymcePopUpwrapper">
    <div class="tnymcePopUpwrapperInside">
        <div class="imagebgNew">
            <div class="tnymcePopUpwrapperInsideTitle divLeft">
                Insert Image
            </div>
            <div class="tnymcePopUpwrapperInsideClose tnymceCloseImage divRight">
                X
            </div>
            <div class="clearfix"></div>
        </div>

        <!-- insert image in tinymce -->
        <form id="UploadImage" action="UploadFile?type=editor&transcoding=false" method="post"
              enctype="multipart/form-data">
            <!-- insert image in tinymce -->

            <div class="tnymcePopUpwrapperInsideLabel divLeft">Image URL</div>
            <div class="tnymcePopUpwrapperInsideUrl divRight">
                <input type="file" name="sp" id="sp" size="100">
            </div>
            <div class="clearfix"></div>
            <div>
                <button type="submit" class="tnymceCloseImageAdd">Ok</button>
                <button type="button" class="tnymceCloseImage tnymceCloseImageButton">Cancel</button>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>

<div class="topScroll"></div>
<div class="wrapper">
    <!--=== Header ===-->
    <div class="header">
        <div class="headerBg">
            <div class="container">
                <!-- Logo -->
                <a class="logo divLeft" di-href="#!/">
                    <img src="assets/img/BY-alpha.png" alt="Logo">
                </a>
                <!-- End Logo -->

                <!-- Topbar -->
                <div class="topbar">
                    <ul class="loginbar pull-right">
                        <li><a di-href="#!/aboutUs" id="aboutUs_placeholder">About us</a></li>
                        <li class="topbar-devider"></li>
                        <li id="profile_placeHolder_li"><a href="#!/users/registrationProfile" id="profile_placeholder">Profile</a>
                        </li>
                        <li id="login_placeHolder_li" class="topbar-devider"></li>
                        <li><a href="#!/users/login" id="login_placeholder">Join us</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <!-- End Topbar -->
                <div class="searchWrapper divRight searchToogle">
                    <div class="searchLeft">
                        <input type="text" placeholder="Search" ng-model="term"
                               onkeydown="if (event.keyCode == 13) document.getElementById('search_link').click()">
                        <a href="#!/search/{{term}}/All" id="search_link"></a>
                    </div>
                    <div class="searchRight" onclick="document.getElementById('search_link').click()">
                        <i class="fa fa-search"></i>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <!-- Toggle get grouped for better mobile display -->

            </div>
            <div class="clearfix"></div>
        </div>

        <div class="container mobileHeader">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
            </button>
            <div class="searchWrapper divRight">
                <div class="searchLeft">
                    <input type="text" placeholder="Search" ng-model="term"
                           onkeydown="if (event.keyCode == 13) document.getElementById('search_link').click()">
                    <a href="#!/search/{{term}}/All" id="search_link"></a>
                </div>
                <div class="searchRight" onclick="document.getElementById('search_link').click()">
                    <i class="fa fa-search"></i>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div ng-controller="MainMenuController">
            <div window-resize callback="windowResize"
                 class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
                <div class="container-fluid" style="max-width: 960px;" ng-include="menuView"></div>
            </div>
            <!--/end container-->
        </div>
        <!--/navbar-collapse-->
    </div>
    <!--=== End Header ===-->

    <div id="mask"></div>
    <ng-view></ng-view>

    <!--=== Footer Version 1 ===-->
    <div class="footer-v1">
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-xs-9">
                        <p>
                            2015 © BeautifulYears Ltd.
                            <a href="#!/privacyPolicy">Privacy Policy </a> <a>|</a> <a
                                href="#!/termsCondition">Terms of Service</a><a>|</a>
                            <a href="#!/contactUs">Contact Us</a>
                        </p>
                    </div>
                    <!-- Social Links -->
                    <div class="col-md-2 col-xs-3 pull-right">
                        <ul class="social-icons pull-right">
                            <li><span>Like us on</span></li>
                            <li><a data-original-title="Facebook" class="social_facebook"
                                   onclick="window.open('http://www.facebook.com/sharer.php?u=www.beautifulyears.com', 'Share on facebook','width=600,height=400')"></a>
                            </li>

                        </ul>
                    </div>
                    <!-- End Social Links -->
                </div>
            </div>
        </div>
    </div>
    <!--/wrapper-->
    <!--</div>-->
</div>


<script type="text/javascript" async defer
        src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&callback=initMap"></script>
<!-- script for inserting images into tinymce -->
<script type="text/javascript">
    var initMap = function () {
    };

    $(document).ready(function () {
        var options1 = {
            beforeSend: function () {
                //$("#progressbox").show();
                // clear everything
                //$("#progressbar").width('0%');
                //$("#message").empty();
                //$("#percent").html("0%");
            },
            uploadProgress: function (event, position, total, percentComplete) {
                //$("#progressbar").width(percentComplete + '%');
                //$("#percent").html(percentComplete + '%');

                // change message text to red after 50%
                //if (percentComplete > 50) {
                //$("#message").html("<font color='red'>File Upload is in progress</font>");
                // }
            },
            success: function () {
                // $("#progressbar").width('100%');
                // $("#percent").html('100%');
            },
            complete: function (response) {
                //tinyMCE.activeEditor.focus();
                //tinyMCE.get('submit-article').getBody().focus();

                //?????var img = "<img style = 'height:80px;width:80px' src = 'http://" + response.responseText + "' />";
                //alert("img path = " + response.responseText.substring(response.responseText.lastIndexOf('/')+1));
                var img = "<img src = '/uploaded_files/" + response.responseText.substring(response.responseText.lastIndexOf('/') + 1) + "' />";
                tinyMCE.activeEditor.execCommand("mceInsertContent", true, img);
                //$("#articlePhotoFilename").val(response.responseText);
            },
            error: function () {
                //$("#articlePhotoFilename").val("<font color='red'> ERROR: unable to upload files</font>");
            }
        };

        $("#UploadImage").ajaxForm(options1);

    });
</script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-65429141-1', 'auto');
    ga('send', 'pageview');


</script>


</body>
</html>

