<div class="clearfix" style="height:15px;"></div>
<div class="col-md-12 margin-bottom-0 darkBgwithText" style="font-size:15px; margin-left:0px;">
    Please edit your shipping address

    <div class="darkBgwithTextArrow">
        <img src="assets/img/icons/login/arrow-icon.png?versionTimeStamp=%PROJECT_VERSION%" alt="">
    </div>
</div>
<div class="clearfix" style="height:10px;"></div>
<form name="editAddressForm" novalidate>
    <div class="by_editAdress_wrap">

        <div class="col-md-12 margin-bottom-20 marginRightMinus5">
            <div class="col-md-5 required">
                First Name
            </div>
            <div class="col-md-7 no-padding-right register-page">
                <input type="text" ng-model="address.firstName" class="username-textbox textbox" name="firstName"
                       placeholder="Please enter a name of your company"
                       required/>
                <span ng-show="editAddressForm.firstName.$invalid && submitted" class="errorRed">Please enter your name</span>
            </div>
        </div>

        <div class="col-md-12 margin-bottom-20 marginRightMinus5">
            <div class="col-md-5">
                Last Name
            </div>
            <div class="col-md-7 no-padding-right register-page">
                <input type="text" class="username-textbox textbox name-textbox" ng-model="address.lastName"
                       name="lastName"/>
            </div>
        </div>

        <div class="col-md-12 margin-bottom-20 marginRightMinus5">
            <div class="col-md-5">
                Country
            </div>
            <div class="col-md-7 no-padding-right register-page">
                <input type="text" ng-model="address.address.country" class="name-textbox textbox"
                       placeholder="Country"/>
            </div>
        </div>

        <div class="col-md-12 margin-bottom-20 marginRightMinus5">
            <div class="col-md-5 required">
                Zip
            </div>
            <div class="col-md-7 no-padding-right register-page zipCodeWrapper">
                <input type="text" class="username-textbox textbox" name="zipcode"
                       ng-model="address.address.zip" style="width:50%;" required/>
                <input type="button" class="btn btn-success pull-right register-btn"
                       value="Get address from zip" style="padding:4px 12px;"
                       ng-click="getLocationByPincode($event, address)"><br/>

                <span ng-show="editAddressForm.zipcode.$invalid && submitted" class="errorRed">Please enter your zip code</span>
            </div>
        </div>

        <div class="col-md-12 margin-bottom-20 marginRightMinus5">
            <div class="col-md-5 required">
                City
            </div>
            <div class="col-md-7 no-padding-right register-page">
                <input type="text" class="username-textbox textbox"
                       ng-model="address.address.city" name="city" required/>
                <span ng-show="editAddressForm.city.$invalid && submitted" class="errorRed">Please enter your city</span>
            </div>
        </div>

        <div class="col-md-12  margin-bottom-20 marginRightMinus5">
            <div class="col-md-5 required">Locality</div>
            <div class="col-md-7 no-padding-right register-page">
                <input type="text" ng-model="address.address.locality" name="locality"
                       class="name-textbox textbox" ng-google-location options="googleLocationOptions" obj="address"
                       callback="addressCallback" id="addressLocality"
                       placeholder="Locality" required/>
                <span ng-show="editAddressForm.locality.$invalid && submitted" class="errorRed">Please enter your locality</span>
            </div>
        </div>

        <div class="col-md-12 margin-bottom-20 marginRightMinus5">
            <div class="col-md-5 required">Address detail</div>
            <div class="col-md-7 no-padding-right register-page">
                <textarea class="textbox " rows="3" ng-model="address.address.streetAddress" name="streetAddress" required></textarea>
                <span ng-show="editAddressForm.streetAddress.$invalid && submitted" class="errorRed">Please enter your street address </span>
            </div>
        </div>

        <div class="col-md-12 margin-bottom-20 marginRightMinus5" style="padding-left: 15px">
            <div class="col-md-5 required">
                Phone Number
            </div>
            <div class="col-md-7 no-padding-right register-page">
                <input type="text" class="username-textbox textbox" name="phoneNumber"
                       ng-model="address.phoneNumber"
                       placeholder="Telephone number" ng-pattern="/^[+\d-]*\d[\d-]$/" maxlength="17" minlength="10" required>
                <span ng-show="(editAddressForm.phoneNumber.$invalid || editAddressForm.phoneNumber.$error.pattern) && submitted" class="errorRed">Not a valid number!</span>
            </div>
        </div>


        <div class="col-md-12 margin-bottom-20 marginRightMinus5" style="padding-left: 15px">
            <div class="col-md-5 required">
                Email ID
            </div>
            <div class="col-md-7 no-padding-right register-page">
                <input type="email" class="username-textbox textbox" name="email" ng-model="address.email"
                       placeholder="Email" required/>
                <span ng-show="editAddressForm.email.$error.email && submitted" class="errorRed">
                    Not valid Email!
                </span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="col-md-12 form-header-content margin-bottom-25 margin-top-20">
        <input type="button" value="Save" class="btn btn-success pull-right register-btn by_btn_submit" ng-click="updateAddress(editAddressForm)" style="padding:5px 40px;"/>
        <input type="button" value="Cancel" class="btn btn-success pull-right by_address_btn_orange register-btn"
                style="margin-right:10px; margin-top:0px; padding:5px 30px;" ng-click="selectAddress()"/>
    </div>
</form>

<div class="clearfix"></div>
<div class="by_cart_call"></div>