<div class="by_sectionHeader" ng-if="selectedMenu && $root.byTopMenuId != selectedMenuId">
    <h2>{{selectedMenu.name}}</h2>
</div>


<div cg-busy="{promise:promise,backdrop:true,templateUrl:'app/shared/common/template/preloader.html'}">
    <div ng-repeat="product in products">

        <div class="by_productCard col-md-6">
            <a href="{{productUrl(product.id, product.name)}}" ng-click="$event.stopPropagation();">
                <div class="by_productCard_Image">
                    <img ng-if="product.primaryMedia != null" ng-src="{{product.primaryMedia.url || ''}}"
                         fallback-src='["assets/img/by.png"]' alt="{{product.name}}">
                </div>
                <!--<div class="by_productCard_divider"></div>-->
                <div class="by_productCard_title ellipsisHead margin-top-10  text-capitalize">{{product.name.toLowerCase()}}</div>
                <!--<div class="by_productCard_price" ng-init="getDiscountPercentage(product)">
                    <div ng-if="product.discountPercentage" class="productDiscount">
                        <del class="greyColor">Rs {{product.retailPrice.amount}}</del>&nbsp;&nbsp;
                        <span class="redColor"><b>({{product.discountPercentage}})% off </b></span><br/>
                    </div>
                    <span ng-if="product.salePrice && product.salePrice.amount">Our price: <strong>Rs
                        {{product.salePrice.amount}}</strong></span>
                    <span ng-if="!product.salePrice || !product.salePrice.amount">Our price: <strong>Rs
                        {{product.retailPrice.amount}}</strong></span><br/>
                </div>-->
                <div class="ellipsisHead" ng-bind-html="product.productDescription" ng-if="product.productDescription">
                </div>
                <div class="by_productCard_price" ng-if="product.salePrice">
                    <span ng-if="product.salePrice.amount">Price: <strong>Rs
                        {{product.salePrice.amount}}</strong></span>
                </div>
                <div class="by_productCard_price" ng-if="!product.salePrice">
                    <span ng-if="product.retailPrice.amount">Price: <strong>Rs
                        {{product.retailPrice.amount}}</strong></span>
                </div>
                <div class="clearfix" ></div>
                <span ng-init="getDiscountPercentage(product)">
                <div class="by_productCard_ImageOffer"  ng-if="product.discountPercentage && product.discountPercentage >= 5">{{product.discountPercentage}}% <br/><small>off</small></div>
                </span>
            </a>
        </div>
    </div>
</div>

<div ng-if="length === 0">
    <div class="col-md-12 product-description margin-bottom-15 white-gray"
         style="margin-top: 10px;">
        <div class="desc padding10 text-justify">
            <p style="text-align: center; margin: 0;">No Product found</p>
        </div>
    </div>
</div>
<div class="clearfix"></div>


<div class="by_viewMoreButton" align="center" ng-if="!lastPage">
    <a ng-click="loadMoreRecords()" ng-if="!isQueryInprogress">More <i
            class="fa fa-angle-right by_moreArrowView"></i></a>
    <img ng-if="isQueryInprogress" src="assets/img/ajax_scroll_loading.gif">
</div>



