


<div class="by_directoryBannerTop" ng-if="selectedMenuId == headerCheck" style="position:relative; border-bottom:4px solid #008000"  >
  <div class="by_productList_banner" ng-controller="ProductMenuCtrl">
    <div class="headerHeightNoBreadCrumb margin-bottom-0"></div>
    <div class="by_productBannerTopText">
           <div class="by_productList_bannerText">
             <h1> Elder care
             <strong>products</strong>
              </h1>
         </div>
    </div>   
    <div class="clearfix"></div>
  </div>
  <div class="by_whiteBg">
       <div class="by_productBannerTopText">
        <div class="by_productList_bannerTextWrap" style="padding:30px 0px; text-align:center;">
         <span>Visit our <a href="#!/experience-center">Experience Store</a></span>   
         to see how our products improve lives of the elderly   
        </div><div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>

<div class="by_productList_bannerImg">
 <img src="assets/img/product/amarnath.png?versionTimeStamp=%PROJECT_VERSION%" width="100%" alt="Product Banner" />
</div>
</div>
<xyz ng-if="productSH[selectedMenuId]" ng-controller="ProductMenuCtrl">
  <div class="headerHeightNoBreadCrumb margin-bottom-0"></div>
  <div class="by_categorySectionHeader"  style='min-height:230px;'>
    <div class="by_categorySectionHeaderText">
      <div class="by_categorySectionHeaderText1">
        <h1>{{productSH[selectedMenuId].sectionHead}}</h1>
      </div>
      <div class="by_categorySectionHeaderText2">
        <h2>{{productSH[selectedMenuId].sectionDesc}}</h2> 
      </div>
    </div>
    <div class="by_categorySectionHeaderImage" >
      <img ng-if="selectedMenuId != '10214' && selectedMenuId != '10212' && selectedMenuId != '10225' && selectedMenuId != '10213'" ng-src="{{productSH[selectedMenuId].sectionImage}}" alt="{{productSH[selectedMenuId].sectionHead}}" />
      <div  ng-if="selectedMenuId == '10214' || selectedMenuId == '10212' || selectedMenuId == '10225' || selectedMenuId == '10213'" style="position:relative; border:1px solid #fff; height:210px; ">
          <iframe id="by_productVideoFrame"  width="100%" height="208" ng-src="{{trustAsResourceUrl(productSH[selectedMenuId].sectionImage)}}" frameborder="0" allowfullscreen></iframe>
          <div class="by_expVideoGrad" ng-click="showVideo();" >
            <div class="by_expVideoShowVideoIcon"></div>
          </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</xyz>
<xyz ng-if="!productSH[selectedMenuId] && (selectedMenuId != headerCheck)"><div class="headerHeightNoBreadCrumb margin-bottom-0"></div></xyz>
<!--=== Content Part ===-->
<div>
    <!--Product Menu-->
    <div class="leftPanel" ng-include="'app/components/product/product-menu/productMenu.html'"
         ng-controller="ProductMenuCtrl"></div>

     <!--Product Home-->
    <div class="contentPanel contentPanelProduct" ng-if="selectedMenu.ancestorIds.length == 0 && !slug"
         ng-include="'app/components/product/productHome/product-home-content-panel.html?versionTimeStamp=%PROJECT_VERSION%'"></div>     

    <!--Product Content-->
    <div class="contentPanel" ng-if=" (selectedMenu.module == menuConfig.modules['product'].moduleId && selectedMenu.ancestorIds.length > 0 ) || slug == 'all'"
         ng-include="'app/components/product/product-listing/product-content-panel.html?versionTimeStamp=%PROJECT_VERSION%'"></div>

    


    <!--Product reviews-->
    <div ng-if="selectedMenu.module ===  menuConfig.modules['discuss'].moduleId"
         class="contentPanel"
         ng-controller="ProductReviewsCtrl"
         ng-include="'app/components/product/product-reviews/productReviewsPanel.html?versionTimeStamp=%PROJECT_VERSION%'">
    </div>

</div>

