<div class="headerHeightNoBreadCrumb margin-bottom-0"></div>

<!-- product banner -->
<!--<div class="by_productBanner">
    <div class="by_productBanner_title">
        Products for seniors
    </div>
    <div class="by_productBanner_desc">
        <img src="assets/img/product/phone.png?versionTimeStamp=%PROJECT_VERSION%"/> Need Help? Call <span
            ng-if="$root.windowWidth < 720"><a ng-href="{{'tel:'+telNo}}">{{telNo}}</a></span> <span
            ng-if="$root.windowWidth > 720">{{telNo}}</span>
    </div>
</div>-->

<!--=== Content Part ===-->


<!--  banner -->
<!--<div class="by_productList_banner" ng-controller="ProductMenuCtrl" ng-if="$root.windowWidth > 720">
  <a href="#!/experience-center">
    <img src="assets/img/product/Product_HomePage_banner.jpg?versionTimeStamp=%PROJECT_VERSION%" width="100%" alt="Experience Store" />
  </a>
</div>

<div ng-if="$root.windowWidth < 721">
  <div class="by_product_home_mobile">
    <a href="#!/experience-center">
      <img src="assets/img/product/Product_HomePage_banner_m.jpg?versionTimeStamp=%PROJECT_VERSION%" width="100%" alt="Experience Store" />
      <div class="by_product_home_expStore">
          <div class="by_product_home_expStore_head">
              Visit our Experience Store
          </div>
          <div class="by_product_home_expStore_text">
              First in Bangalore
          </div>
          <a href="#!/experience-center">
              <div class="by_product_home_expStore_button">
                  More...
              </div>
          </a>
      </div>
    </a>
  </div>
</div>-->
<div class="by_productList_banner" ng-controller="ProductMenuCtrl">
  <div class="container">
         <div class="by_productList_bannerText">
           <h1> Products that improve 
           <strong>lives of the elderly</strong>
            <span>and of those who take care of them</span>
            </h1>
       </div>
       <div class="by_productList_bannerImg">
         <img src="assets/img/product/amarnath.png?versionTimeStamp=%PROJECT_VERSION%" width="100%" alt="Product Banner" />
       </div>
  </div>   
</div>
<!--=== Content Part ===-->
<div>
    <!--Product Menu-->
    <div class="leftPanel" ng-include="'app/components/product/product-menu/productMenu.html'"
         ng-controller="ProductMenuCtrl"></div>

     <!--Product Home-->
    <div class="contentPanel contentPanelProduct" ng-if="selectedMenu.ancestorIds.length == 0 && !slug"
         ng-include="'app/components/product/productHome/product-home-content-panel.html?versionTimeStamp=%PROJECT_VERSION%'"></div>     

    <!--Product Content-->
    <div class="contentPanel" ng-if=" (selectedMenu.module == menuConfig.modules['product'].moduleId && selectedMenu.ancestorIds.length > 0 ) || slug == 'all'"
         ng-include="'app/components/product/product-listing/product-content-panel.html?versionTimeStamp=%PROJECT_VERSION%'"></div>

    <!--<div class="contentPanel" ng-if=" (selectedMenu.module == menuConfig.modules['product'].moduleId && selectedMenu.ancestorIds.length > 0 ) || slug == 'all'"-->
         <!--ng-include="'app/components/product/product-listing/product-content-panel.html?versionTimeStamp=%PROJECT_VERSION%'"-->
         <!--infinite-scroll="loadMoreRecords()" infinite-scroll-distance="0"-->
         <!--infinite-scroll-disabled="lastPage || isQueryInprogress"></div>-->


    <!--Product reviews-->
    <div ng-if="selectedMenu.module ===  menuConfig.modules['discuss'].moduleId"
         class="contentPanel"
         ng-controller="ProductReviewsCtrl"
         ng-include="'app/components/product/product-reviews/productReviewsPanel.html?versionTimeStamp=%PROJECT_VERSION%'">
    </div>

</div>

