<div class="by_contact_works">
    <STRONG>HOW IT WORKS</STRONG>
    <div class="clearfix" style="height:15px;"></div>
    <div class="by_contact_worksLeft">
        <div class="by_contact_worksLeftThumb">
            <div class="by_contact_worksLeftItem">1</div>
            <div class="by_contact_worksLeftText">
                You explain us your needs
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="by_contact_worksLeftThumb">
            <div class="by_contact_worksLeftItem">2</div>
            <div class="by_contact_worksLeftText">
                We explore available options and offer your choices
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="by_contact_worksLeftThumb">
            <div class="by_contact_worksLeftItem">3</div>
            <div class="by_contact_worksLeftText">
                You sing up with a service provider of your choice
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="by_contact_worksLeftThumb">
            <div class="by_contact_worksLeftText">
                Our services are <strong>free of charge</strong>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="by_contact_worksRight">
        <img src="assets/img/aboutUs/sanjukta.png?versionTimeStamp=%PROJECT_VERSION%" width="100%" alt="Sanjukta"/>
    </div>
    <div class="clearfix"></div>
</div>


<div class="by_contactUsGreen">
    <a href="#!/contactUs">Contact us</a> or fill this form, and we will get back to you:
</div>


    
    <div class="by_contactCommon" >

       <span ng-show="errorMsg && errorMsg.length>0" >
        {{errorMsg}}
        </span><div class="clearfix"></div>
         <div class="clearfix" style="height:15px;"></div>
        <div class="by_contactCommonFeilds divLeft">
            <input type="text" class="username-textbox textbox by_homeContactFeildBg by_contactBg" name="username" ng-model="contact.username" placeholder="Name (optional)">
        </div>


        <div class="by_contactCommonFeilds divRight">
            <input type="text" ng-change="contactButton();" ng-init="contactButton();" class="username-textbox textbox by_homeContactFeildBg by_contactBg" name="userPhone" ng-model="contact.userPhone" placeholder="Phone Number">
        </div>

        <div class="clearfix"></div>
        <div class="by_contactCommonFeilds divLeft">
            <input type="text" class="username-textbox textbox by_homeContactFeildBg by_contactBg" name="userEmail" ng-model="contact.userEmail" placeholder="E-mail ID (optional)">
        </div>



        <div class="by_contactCommonFeilds divRight">
            <button disabled class="btn btn-big btn-default pull-right by_btn_submit by-editor-submit-btn" style="width:100%; font-size:16px;  padding:5px 10px; " 
                    ng-click="postContent('F')">Submit
            </button>
        </div>
        <div class="clearfix"></div>

        <div class="by_contactThankYou"><img src="assets/img/logo_symbol_old.png?versionTimeStamp=%PROJECT_VERSION%" alt="Logo" width="30" /> Thank you, We will get back to you shortly.</div>

        
    </div>
