<div class="grid-boxes-in " ng-repeat="discuss in discussList"
     ng-class="discuss.promotion == true? 'grid-boxes-in-two' : ''">
    <div ng-if="$last" ng-init="initGrid($index)"></div>

    <!--Promotion/announcement cards start -->
    <div ng-if="discuss && discuss.promotion == true"
         ng-click="nextLocation($event, discuss, {'id':discuss.id})" class="by-discuss-card by_blog_author">

        <div class="questionTag postTag"
             ng-if="discuss.discussType == 'P' && discuss.featured == true">
        </div>
        <div class="by_discuss_title col-md-12"
             ng-if="discuss.discussType == 'P' && discuss.title"
             style="margin-top: 15px;">
            <div class="article-heading">
                <p style="text-transform: uppercase;">
                    <a ng-href="{{getHref(discuss, {'id':discuss.id})}}" ng-click="$event.stopPropagation();">{{discuss.title}}</a>
                </p>
            </div>
            <div style="clear: both"></div>
        </div>
        <div class="by-quad-image col-md-12 no-padding"
             style="margin-top: -1px;">
            <img ng-if="discuss.discussType == 'P'"
                 ng-src="{{discuss.articlePhotoFilename.original||''}}" alt="{{discuss.title}}"
                 fallback-src='["{{discuss.articlePhotoFilename.original||""}}"]'>

            <div style="clear: both"></div>
        </div>
        <div style="clear: both"></div>
    </div>


    <!-- Post/question cards start -->
    <div ng-if="discuss && discuss.promotion == false"
         ng-click="nextLocation($event, discuss, {'id':discuss.id})" class="by-discuss-card by_blog_author">
        <div class="questionTag" ng-if="discuss.discussType == 'Q' && discuss.featured == true"></div>
        <div class="questionTag postTag" ng-if="discuss.discussType == 'P' && discuss.featured == true"></div>

        <!--Card author profile image-->
        <img class="by_discuss_img" ng-if="discuss.userProfile.basicProfileInfo.profileImage.thumbnailImage"
             ng-src="{{discuss.userProfile.basicProfileInfo.profileImage.thumbnailImage || ''}}"
             fallback-src='["assets/img/by.png"]' alt="article author profileImage">

        <img class="by_discuss_img" ng-if="!discuss.userProfile.basicProfileInfo.profileImage.thumbnailImage"
             ng-src="assets/img/by.png" alt="article author profileImage">


        <!--Author name and created at-->
        <div class="by_discuss_info" style="margin-right: 80px !important;">
            <ul class="list-inline by_discuss_infoList" style="">
                <li ng-if="discuss.discussType == 'Q'">
                    <p>
                        <span class="by_questionLetter">Q</span>uestion by <a validate-user-name="{{discuss.username}}"
                              class="text-capitalize" ng-click="$event.stopPropagation();"
                              ng-href="{{getHrefProfile(discuss, {'profileId':discuss.userId})}}">
                        {{username}}</a>
                    </p>
                </li>
                <li ng-if="discuss.discussType == 'P'">
                    <p>
                        By <a validate-user-name="{{discuss.username}}"
                              class="text-capitalize" ng-click="$event.stopPropagation();"
                              ng-href="{{getHrefProfile(discuss, {'profileId':discuss.userId})}}">
                        {{username}}</a>
                    </p>
                </li>
                <br/>

                <li time-since="{{discuss.createdAt}}"></li>

            </ul>
            <div style="clear: both"></div>
        </div>
        <div style="clear: both"></div>

        <!--Article title-->
        <div class="by_discuss_title col-md-12"
             ng-if="discuss.discussType == 'P'">
            <p class="text-uppercase">
                <a ng-href="{{getHref(discuss, {'id':discuss.id})}}" ng-click="$event.stopPropagation();">
                    {{discuss.title}}
                </a>
            </p>
        </div>
        <div style="clear: both"></div>

        <!--Article image-->
        <div class="by_discuss_image col-md-12">
            <img ng-if="discuss.discussType == 'P' && (discuss.articlePhotoFilename.titleImage || discuss.articlePhotoFilename.original)"
                 ng-src="{{discuss.articlePhotoFilename.titleImage||''}}" alt="{{discuss.title}}"
                 fallback-src='["{{discuss.articlePhotoFilename.original||""}}"]'>

            <div style="clear: both"></div>
        </div>

        <!--external shared article -->
        <div ng-include="'app/shared/common/template/ShareLinkListing.html'"
             ng-if="discuss.linkInfo" ng-init="linkInfo=discuss.linkInfo"
             ng-if="discuss.promotion == false"></div>


        <div class="by_discuss_desc  col-md-12" id="{{discuss.id}}">
            <p class="by_discuss_desciption" ng-if="discuss.shortSynopsis">
                {{discuss.shortSynopsis}}
                <a ng-href="{{getHref(discuss, {'id':discuss.id})}}" ng-click="$event.stopPropagation();"
                   class="divRight by_readmore">More <i class="fa fa-angle-right by_moreArrow"></i></a>
            </p>

            <p class="by_discuss_desciption" ng-if="!discuss.shortSynopsis"
               ng-bind-html="trustForcefully(discuss.text)"></p>
        </div>

        <div style="clear: both; height: 1px;"></div>


        <!--Comment, like, share buttons start-->
        <div class="article-share-links news-v3 by_border">
            <ul class="post-shares post-shares-lg divRight">
                <li class="add-comment" ng-if="discuss.discussType == 'P'">
                    <a ng-href="{{getHref(discuss, {'id':discuss.id, 'comment':'true'})}}"
                       ng-click="$event.stopPropagation();">
                        <i class="rounded-x icon-speech ng-scope" title="Comment"></i>
                        <span ng-if="discuss.aggrReplyCount > 0" class="by_commentSpan">{{discuss.aggrReplyCount}}</span>
                    </a>
                </li>

                <!--<li class="add-comment add-comment-FC"
                    ng-if="discuss.aggrReplyCount == 0 && (discuss.discussType == 'P')">
                    <a ng-href="{{getHref(discuss, {'id':discuss.id, 'comment':'true'})}}"
                       ng-click="$event.stopPropagation();">
                        <i class="rounded-x icon-speech ng-scope" title="Comment"></i>

                        <div class="text">
                            Be the first to comment
                        </div>
                    </a>
                </li>-->
                <li class="add-comment" ng-if="discuss.discussType == 'Q'">
                    <a ng-href="{{getHref(discuss, {'id':discuss.id, 'comment':'true'})}}"
                       ng-click="$event.stopPropagation();">
                        <i class="rounded-x icon-answer ng-scope" title="Answers" ng-if="discuss.directReplyCount == 0"></i>
                         <i class="rounded-x icon-answer-active ng-scope" title="Answers" ng-if="discuss.directReplyCount > 0"></i>
                        <span ng-if="discuss.directReplyCount > 0" class="by_answerSpan">{{discuss.directReplyCount}}</span>
                    </a>
                </li>

                <!--<li class="add-comment add-comment-FA"
                    ng-if="discuss.directReplyCount == 0 && discuss.discussType == 'Q'">
                    <a ng-href="{{getHref(discuss, {'id':discuss.id, 'comment':'true'})}}"
                       ng-click="$event.stopPropagation();">
                        <i class="rounded-x icon-answer ng-scope" title="Answers"></i>

                        <div class="text">
                            Be the first to answer
                        </div>
                    </a>
                </li>-->

                <li class="add-comment" ng-click="$event.stopPropagation();" ng-controller="DiscussLikeController">
                    <a ng-click="likeDiscuss(discuss)">
                        <i class="rounded-x icon-heart-liked"
                           ng-if="beforePost && discuss.aggrLikeCount > 0 && discuss.likedByUser===false"
                           title="Likes"></i>
                        <i class="rounded-x icon-heart-active"
                           ng-if="beforePost && discuss.aggrLikeCount > 0 && discuss.likedByUser===true"
                           title="Likes"></i>
                         <i class="rounded-x icon-heart"
                           ng-if="beforePost && discuss.aggrLikeCount == 0"
                           title="Likes"></i>
                        <i class="rounded-x"
                           ng-if="!beforePost"
                           ng-class="{true:'icon-heart', false:'icon-heart-active'}[likedByUser===false]"
                           title="Likes"></i>
                        <span ng-if="beforePost && discuss.aggrLikeCount > 0" class="by_likeSpan">{{discuss.aggrLikeCount}}</span>
                        <span ng-model="aggrLikeCount" ng-if="!beforePost && aggrLikeCount > 0" class="by_likeSpan">{{aggrLikeCount}}</span>
                    </a>
                </li>

                <li class="add-comment"  ng-controller="ShareController">
                    <a ng-click="openModal($event, discuss)" data-toggle="modal" data-target="#shareModal">
                        <i class="rounded-x icon-share"></i>
                        <span  ng-if="discuss.shareCount > 0" class="by_shareSpan">{{discuss.shareCount}}</span>
                    </a>
                </li>
                <div class="clearfix"></div>
            </ul>
        </div>

        <!--Comment, like, share buttons end-->
        <div style="clear: both"></div>
    </div>

    <div style="clear: both"></div>
    <div id="shareModal" class="modal fade" role="dialog">
        <div ng-include="'app/components/discuss/discussModal.html'"></div>
    </div>
    <div id="shareEmailModal" class="modal fade" role="dialog">
        <div ng-include="'app/components/discuss/shareEmailModal.html'"></div>
    </div>

    <div ng-show="discuss.pendingUserCredential" class="margin-bottom-20">
        <div class="col-md-12 no-padding register-page" style="margin-top:-15px;">
            <input type="email" class="by_registerEmailId" ng-model="userCredential.email"
                   placeholder="Enter your email Id"/><br/>
        </div>
        <div class="clearfix"></div>
         <span ng-show="likeErrMsg">
                <span class='redColor'>{{likeErrMsg}}</span>
            </span>
        <button class="btn btn-sm btn-success comment-submit by_btn_submit by-editor-submit-btn "
                ng-click="setUserCredentialForLike()" type="submit">
            SUBMIT
        </button>
        <button class="btn btn-sm btn-success comment-submit by_btn_cancel" ng-click="cancelSetCredentialForLike()">
            CANCEL
        </button>
        <div class="clearfix"></div>
    </div>


    <div style="clear: both"></div>
</div>