<div>
    <ul class="shop-badge" ng-controller="CartController">
        <li class="paddingBottom0Imp"  ng-click="hideCart();">  
            <div class="by_cart_iconWrap" ng-click="showCart($event);" ng-if="uiData.totalCartItem > 0" style="margin-left:10px;">
                <span ng-if="$root.windowWidth > 720" ><img src="assets/img/product/cart.png?versionTimeStamp=%PROJECT_VERSION%"/></span>
                <span ng-if="$root.windowWidth < 720" style="background:transparent;"><img src="assets/img/product/cart_white.png?versionTimeStamp=%PROJECT_VERSION%" width="25" /></span>
                <span ng-if="$root.windowWidth > 720"> Cart</span>
                <span class="by_cart_count" >{{uiData.totalCartItem}}</span>
            </div>

            <ul class="badge-open"  ng-show="uiData.cartItems.length">

                <div>
                    <div class="headerCartStyle">
                        <li ng-repeat="item in uiData.cartItems">
                            <img ng-src="{{item.primaryMedia.url}}" alt="" class="mCS_img_loaded">
                            <button type="button" class="close" ng-click="removeItemFromCart(item.id)">×</button>
                            <div class="overflow-h text-capitalize">
                                <span>{{item.name.toLowerCase()}}</span>
                                <small>{{item.quantity}} x Rs. {{item.salePrice.amount}}</small>
                            </div>
                        </li>
                    </div>
                    <li class="subtotal">
                        <div class="overflow-h " ng-if="uiData.orderAdjustments.length && uiData.cartItems.length">
                            <span>Subtotal</span>
                            <span class="pull-right subtotal-cost">Rs. {{uiData.subTotalAmount}}</span>
                        </div>
                        <div class="overflow-h" ng-repeat="discount in uiData.orderAdjustments"
                        ng-if="uiData.orderAdjustments.length && uiData.cartItems.length">
                        <span class="max-width-180">Discount
                            <span class="promo-text-cart">(Promo code : <span
                                class="promo-text-cart subtotal-cost no-text-transform">{{uiData.orderAdjustments[0].promoCode}}</span>)</span>
                            </span>
                            <span class="pull-right subtotal-cost"
                            ng-if="discount.discountType === discountType.amountOff">- Rs. {{discount.discountAmount.toFixed(2)}}</span>
                            <span class="pull-right subtotal-cost"
                            ng-if="discount.discountType === discountType.percentOff">-   {{discount.discountAmount.toFixed(2)}} %</span>
                        </div>
                        <div class="overflow-h margin-bottom-10">
                            <span>Total</span>
                            <span class="pull-right subtotal-cost">Rs. {{uiData.totalAmount}}</span>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="#!/cart" class="btn-u btn-brd btn-brd-hover btn-u-sea-shop btn-block">
                                    View Cart
                                </a>
                            </div>
                            <div class="col-xs-6">
                                <a di-href="#!/selectAddress" class="btn-u full-width text-center">Checkout</a><!--  href="shop-ui-add-to-cart.html" -->
                            </div>
                        </div>
                    </li>
                </div>
                <div class="clearfix" style="height:10px;"></div>
            </ul>
        </li>
    </ul>
</div>