<div ng-click="go($event, discuss, {'id':discuss.id})" class="by-discuss-card  by_blog_author" ng-if="discuss" style="background:transparent;">
    <div class="questionTag" ng-if="discuss.discussType == 'Q' && discuss.featured == true"></div>
    <div class="questionTag postTag" ng-if="discuss.discussType == 'P' && discuss.featured == true"></div>
    <img class="by_discuss_img" ng-if="discuss.promotion == false && discuss.userProfile.basicProfileInfo.profileImage"
         ng-src="{{discuss.userProfile.basicProfileInfo.profileImage.thumbnailImage || ''}}"
         fallback-src='["assets/img/by.png"]' alt="Profile Image">
         
          <img class="by_discuss_img" ng-if="discuss.promotion == false && !discuss.userProfile.basicProfileInfo.profileImage"
        ng-src="assets/img/by.png" alt="Profile Image">

    <div class="by_discuss_info" style="margin-right: 80px !important;" ng-if="discuss.promotion == false">
        <ul class="list-inline by_discuss_infoList" style="">
            <li>
                <p>
                    <span class="by_questionLetter">Q</span>uestion by <a validate-user-name="{{discuss.username}}"
                          class="text-capitalize"
                          ng-href="{{getHrefProfile(discuss, {'profileId':discuss.userId})}}" ng-click="$event.stopPropagation();">
                    {{username}}</a> |
                </p>
            </li>

            <li time-since="{{discuss.createdAt}}"></li>

            <li ng-if="discuss.topicId.length > 0">| In</li>

            <li ng-repeat="topicId in discuss.topicId">
                <p class="first-letter-uc by-systemTags">
                    <span ng-if="$index > 0">|</span><a di-href="#!/elder-care-forums/{{removeSpecialChars($root.menuCategoryMap[topicId].displayMenuName)}}/{{$root.menuCategoryMap[topicId].id}}/all">{{$root.menuCategoryMap[topicId].displayMenuName}}</a>
                </p>
            </li>
        </ul>
        <div style="clear: both"></div>
    </div>
    <div style="clear: both"></div>

    <div class="by_discuss_title col-md-12" ng-if="discuss.discussType == 'P' && discuss.promotion == false">
        <p class="text-uppercase">{{discuss.title}}</p>
    </div>
    <div class="by_discuss_title  col-md-12" ng-if="discuss.discussType == 'P' && discuss.promotion == true && discuss.title"
         style="margin-top: 15px;">
        <p class="text-uppercase">{{discuss.title}}</p>
    </div>
    <div style="clear: both"></div>
    <div class="by_discuss_image col-md-12">
        <img ng-if="discuss.discussType == 'P' && discuss.promotion == false"
             ng-src="{{discuss.articlePhotoFilename.titleImage||''}}" alt="{{discuss.title}}"
             fallback-src='["{{discuss.articlePhotoFilename.original||""}}"]'>

        <div style="clear: both"></div>
    </div>
    <div class="by_discuss_image col-md-12 no-padding"
         style="margin-top: -1px;">
        <img ng-if="discuss.discussType == 'P' && discuss.promotion == true"
            ng-src="{{discuss.articlePhotoFilename.original||''}}" alt="{{discuss.title}}"
            fallback-src='["{{discuss.articlePhotoFilename.original||""}}"]'>

        <div style="clear: both"></div>
    </div>
    <div ng-include="'app/shared/common/template/ShareLinkContent.html?versionTimeStamp=%PROJECT_VERSION%'"
         ng-if="discuss.linkInfo" ng-init="linkInfo=discuss.linkInfo"
         ng-if="discuss.promotion == false"></div>

    <div class="by_discuss_desc  col-md-12" ng-if="discuss.promotion == false" id="{{discuss.id}}">
        <p class="by_discuss_desciption" ng-if="discuss.shortSynopsis">
            {{discuss.shortSynopsis}}<a ng-href="{{getHref(discuss, {'id':discuss.id})}}" ng-click="$event.stopPropagation();" class="divRight by_readmore">
            More <i class="fa fa-angle-right by_moreArrow"></i></a>
        </p>

        <p class="by_discuss_desciption" ng-if="!discuss.shortSynopsis" ng-bind-html="trustForcefully(discuss.text)"></p>
    </div>
    <div style="clear: both; height: 1px;"></div>

    <div class="article-share-links news-v3 by_border" ng-if="discuss.promotion == false">
        <ul class="post-shares post-shares-lg">
            
            <li class="add-comment"
                ng-if="discuss.discussType == 'Q'">
                <a ng-href="{{getHref(discuss, {'id':discuss.id, 'comment':'true'})}}" ng-click="$event.stopPropagation();"> 
                <i class="rounded-x icon-answer ng-scope" title="Answers" ng-if="discuss.directReplyCount == 0"></i>
                 <i class="rounded-x icon-answer-active ng-scope" title="Answers" ng-if="discuss.directReplyCount > 0"></i>
                    <span ng-if="discuss.directReplyCount > 0" class="by_answerSpan">{{discuss.directReplyCount}}</span>
                </a>
            </li>

            <li class="add-comment" ng-controller="DiscussLikeController" ng-click="$event.stopPropagation();">
                <a ng-click="likeDiscuss(discuss)">
                    <i class="rounded-x icon-heart-liked"
                    ng-if="beforePost && discuss.aggrLikeCount > 0 && discuss.likedByUser===false"
                    title="Likes"></i>
                    <i class="rounded-x icon-heart-active"
                    ng-if="beforePost && discuss.aggrLikeCount > 0 && discuss.likedByUser===true"
                    title="Likes"></i>
                    <i class="rounded-x icon-heart"
                    ng-if="beforePost && discuss.aggrLikeCount == 0"
                    title="Likes"></i>
                    <i class="rounded-x" ng-if="!beforePost" ng:class="{true:'icon-heart', false:'icon-heart-active'}[likedByUser===false]"
                       title="Likes"></i>
                    <span ng-if="beforePost && discuss.aggrLikeCount > 0" class="by_likeSpan">{{discuss.aggrLikeCount}}</span>
                    <span ng-model="aggrLikeCount" ng-if="!beforePost && aggrLikeCount > 0" class="by_likeSpan">{{aggrLikeCount}}</span>
                </a>
            </li>

            <li class="add-comment"  ng-controller="ShareController" >
                <a ng-click="openModal($event, discuss)" data-toggle="modal" data-target="#shareModal">
                    <i class="rounded-x icon-share"></i>
                    <span ng-if="discuss.shareCount > 0"   class="by_shareSpan">{{discuss.shareCount}}</span>
                    <div class="clearfix"></div>
                </a>
            </li>
            <div class="clearfix"></div>
        </ul>
    </div>
    <div ng-if="$index===discussList.length-1">
    </div>
    <div style="clear: both"></div>
</div>

 <div style="clear: both"></div>
    <div id="shareModal" class="modal fade" role="dialog">
        <div ng-include="'app/components/discuss/discussModal.html'"></div>
    </div>
    <div id="shareEmailModal" class="modal fade" role="dialog">
        <div ng-include="'app/components/discuss/shareEmailModal.html'"></div>
    </div>

<div ng-if="discuss.pendingUserCredential" class="margin-bottom-20">
    <div class="col-md-12 no-padding register-page" style="margin-top:-15px;">
        <input type="email" class="by_registerEmailId"
        placeholder="Enter your email Id" ng-model="userCredential.email"/>
    </div>
    <div class="clearfix"></div>
    <span ng-show="likeErrMsg">
                <span class='redColor'>{{likeErrMsg}}</span>
            </span>
    <button class="btn btn-sm btn-success comment-submit by_btn_submit by-editor-submit-btn "  type="submit"  ng-click="setUserCredentialForLike()">
        SUBMIT
    </button>
    <button class="btn btn-sm btn-success comment-submit by_btn_cancel " ng-click="cancelSetCredentialForLike()">
        CANCEL
    </button>
    <div class="clearfix"></div>
</div>