<div class="replyCard by-commment-bg-gray">
    <img ng-if="reply.userProfile && reply.userProfile.basicProfileInfo.profileImage"
         ng-src="{{reply.userProfile.basicProfileInfo.profileImage.thumbnailImage|| ''}}"
         fallback-src='["assets/img/by.png"]' alt="image" class="replyCardImg">

    <img ng-if="!reply.userProfile || !reply.userProfile.basicProfileInfo.profileImage" ng-src="assets/img/by.png"
         alt="image" class="replyCardImg">

    <div class="replyCard_right">
        <ul class="replyCard_list">
            <li ng-if="reply">By <a validate-user-name="{{reply.userName}}"
                                    ng-href="{{getHrefProfileReply(reply, {'profileId':reply.userId})}}"
                                    ng-click="$event.stopPropagation();">
                {{username}} </a> &nbsp; |
            </li>
            <li time-since="{{reply.createdAt}}"></li>
        </ul>
        <div style="clear: both"></div>
        <ul class="replyCard_list">
            <li>
                <p ng-bind-html="trustForcefully(reply.text)"></p>
            </li>
        </ul>
        <div style="clear: both"></div>
    </div>
    <div style="clear: both"></div>


    <div class="replyCardShare">
        <ul class="replyCardShareList">
            <li ng-if="reply.editableByUser == true">   
                <a ng-click="editComment(reply)" ><i class="fa fa-pencil-square-o" style="font-size:18px;"></i></a>
            </li>
            <li>
                <a ng-click="createNewComment(reply.id)">
                    <i class="rounded-x icon-speech ng-scope" title="Comment"></i>
                    <span ng-if="reply.childrenCount > 0" class="by_commentSpan">{{reply.childrenCount}}</span>
                </a>
            </li>
            <li ng-controller="DiscussLikeController">
                <a ng-click="likeComment(reply)">
                 <i class="rounded-x icon-heart-liked"
                 ng-if="beforePost && reply.likeCount > 0 && reply.likedByUser===false"
                 title="Likes"></i>
                 <i class="rounded-x icon-heart-active"
                 ng-if="beforePost && reply.likeCount > 0 && reply.likedByUser===true"
                 title="Likes"></i>
                 <i class="rounded-x icon-heart"
                 ng-if="beforePost && reply.likeCount == 0"
                 title="Likes"></i>
                    <i class="rounded-x" ng-if="!beforePost"
                       ng-class="{false:'icon-heart', true:'icon-heart-active'}[likedByUser===true]" title="Likes"></i>
                    <span ng-if="beforePost && reply.likeCount > 0" class="by_likeSpan">{{reply.likeCount}}</span>
                    <span ng-model="aggrLikeCount" ng-if="!beforePost && aggrLikeCount > 0" class="by_likeSpan">{{aggrLikeCount}}</span>
                </a>
            </li>
        </ul>
    </div>
    <div style="clear: both"></div>
    <div class="replyCardInsideComment by_editor_wrap by-commment-bg-gray"
         id="commentEditor" ng-show="showEditor && !reply.pendingUserCredential">
        <img src="assets/img/by.png" alt="image" class="replyCardImg">

        <div class="replyCard_right">
            <textarea rows="3" id="{{reply.id}}"></textarea>

            <div class="clearfix" style="height:45px;"></div>

            <div class="col-md-6 no-padding register-page" ng-if="!userSessionType">
                <input type="email" class="by_registerEmailId"
                placeholder="Enter your email Id" ng-model="userCredential.email" name="userEmail" required/>
                <span ng-show="errorMsg" class="errorRed">
                    {{errorMsg}}
                </span>
                <div class="clearfix margin-bottom-20"></div>
            </div>
            
            <div class="col-md-6" ng-class="{'full-width': userSessionType}">
                <button class="inner-comment-submit btn btn-sm btn-success by_btn_submit by-editor-submit-btn" ng-if="editCommentVar ==  false"
                type="submit" disabled ng-click="postComment(reply.discussId, reply.id)">
                SUBMIT
            </button>
            <button ng-if="editCommentVar == true" class="inner-comment-submit btn btn-sm btn-success by_btn_submit by-editor-submit-btn"
                type="submit" disabled ng-click="postEditComment(reply)">
                SUBMIT
            </button>
            <button class="inner-comment-submit btn btn-sm btn-success by_btn_cancel"
            ng-click="disposeComment(reply.id)">CANCEL
        </button>
        <div class="clearfix margin-bottom-20"></div>
    </div>
        </div>
        <div style="clear: both"></div>
        <div class="clearfix"></div>
    </div>


    <!--discuss like user valisation start-->
    <div ng-show="reply.pendingUserCredential" class="replyCardInsideComment by_editor_wrap by-commment-bg-gray">
        <div class="col-md-12 no-padding register-page margin-top-10" >
            <input type="email" class="by_registerEmailId" ng-model="likeActionCredential.email"
                   placeholder="Enter your email Id"/>
        </div>
        <div class="clearfix"></div>
            <span ng-show="likeErrMsg">
                <span class='redColor'>{{likeErrMsg}}</span>
            </span>
        <button class="btn btn-sm btn-success comment-submit by_btn_submit by-editor-submit-btn " type="submit"
                ng-click="setUserCredentialForLike()">
            SUBMIT
        </button>
        <button class="btn btn-sm btn-success comment-submit by_btn_cancel" ng-click="cancelSetCredentialForLike()">
            CANCEL
        </button>
        <div class="clearfix"></div>
    </div>
    <!--discuss like user valisation end-->

    <div ng-if="reply.replies && reply.replies.length > 0">
        <div class="insideComments" ng-repeat="reply in reply.replies"
             ng-controller="DiscussReplyController"
             ng-include="'app/shared/common/template/replyCard.html?versionTimeStamp=%PROJECT_VERSION%'"></div>
    </div>
</div>



