<div class="by-card-shareInfo">
    <div class="row" ng-if="linkInfo.type===0">
        <div class="col-md-6 col-sm-12 col-xs-12 shareInfo-content">
            <p ng-if="linkInfo.title" style="font-weight: bold">
                <a href="{{linkInfo.url}}" target="_blank" ng-click="$event.stopPropagation();">
                    {{linkInfo.title.substring(0, 70)}}
                </a>
            </p>
            <p ng-if="linkInfo.description" ng-bind-html="trustForcefully(linkInfo.description.substring(0, 120))"></p>
            <p class="linkUrl"><a href="{{linkInfo.url}}" target="_blank" ng-click="$event.stopPropagation();"> {{linkInfo.domainName}} </a></p>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 shareInfo-generalImage" ng-if="linkInfo.mainImage">
            <img ng-src="{{linkInfo.mainImage}}" alt="{{linkInfo.title}}">
        </div>

        <div class="col-md-6 shareInfo-generalImage col-sm-12 col-xs-12" ng-if="linkInfo.mainImage===null && linkInfo.otherImages && linkInfo.otherImages.length > 0">
            <img ng-src="{{linkInfo.otherImages[0]}}" alt="{{linkInfo.title}}">
        </div>
    </div>
    <div class="row shareInfo-image" ng-if="linkInfo.type===1">
        <img ng-src="{{linkInfo.mainImage}}" alt="{{linkInfo.title}}">
    </div>
    <div class="row shareInfo-image" ng-if="linkInfo.type===2">
        <div class="col-md-6 col-sm-12 col-xs-12 shareInfo-content">
            <p ng-if="linkInfo.title" style="font-weight: bold">
                <a href="{{linkInfo.url}}" target="_blank" ng-click="$event.stopPropagation();">
                    {{linkInfo.title.substring(0, 70)}}
                </a>
            </p>
            <p ng-if="linkInfo.description" ng-bind-html="trustForcefully(linkInfo.description.substring(0, 120))"></p>
            <p class="linkUrl"><a href="{{linkInfo.url}}" target="_blank" ng-click="$event.stopPropagation();"> {{linkInfo.domainName}} </a></p>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 shareInfo-generalImage">
            <!--<img src="{{linkInfo.mainImage}}">-->
            <iframe ng-src="{{trustAsResourceUrl(linkInfo.embeddedVideo)}}" frameborder="0" allowfullscreen>
            </iframe>
        </div>
    </div>
</div>