<div class="by_directoryBanner" >
  <div class="headerHeightNoBreadCrumb margin-bottom-0" ></div>
  <div class="container">
         <div class="by_contact_bannerText">
           <h1> We would love to
           <strong>Keep in touch</strong>
           <span>with you!</span>
            </h1>
       </div>
       <div class="by_contact_bannerImg">
         <img src="assets/img/footer/contactAunty.png?versionTimeStamp=%PROJECT_VERSION%" width="100%" alt="Contact Banner" />
       </div>
       <div class="clearfix"></div>
  </div>   
</div>

<!--=== End Breadcrumbs ===-->

<div class="container content discussion-page breadCrumbMargin" style="padding-top:20px; padding-bottom:0px;">

    <div class="col-md-12 no-padding both-container by_editor_wrap by_contactForm">

        <span ng-show="errorMsg && errorMsg.length>0" class="help-block">
            {{errorMsg}}
        </span><div class="clearfix"></div>

        <div class="col-md-12 no-padding margin-bottom-15">
            <textarea  class="textbox about-dependent by_homeContactFeildBg by_contactBg" ng-change="showSelectInputF()" placeholder="Write to us" rows="3" ng-model="contact.text" style="height:100px; resize:none;"></textarea>
        </div>

        <span ng-if="showSelectInput == true" >

        <div class="col-md-12 no-padding form-header-content margin-bottom-15">
            <select ng-model="contact.subjectTitle" class="by_homeContactFeildBg by_contactBg" ng-options="value for (key, value) in subjectOptionsMap">
                <option value="">Please select your subject here</option>
            </select>
        </div>

        <div class="col-md-6 no-padding" style="margin-bottom:20px;">
            <input type="text" class="username-textbox textbox by_homeContactFeildBg by_contactBg" name="username" ng-model="contact.username" placeholder="Name">
        </div>
        <div class="col-md-6 no-padding marginLeft20" style="margin-bottom:20px;" ng-show="!isLoggedIn">
            <input type="text" class="username-textbox textbox by_homeContactFeildBg by_contactBg" name="userEmail" ng-model="contact.userEmail" placeholder="E-mail ID">
        </div>

        <div class="col-md-6 no-padding" style="margin-bottom:20px;">
            <input type="text" class="username-textbox textbox by_homeContactFeildBg by_contactBg" name="username" ng-model="contact.userPhone" placeholder="Phone Number (optional)">
        </div>

        

        </span>
        


        <div class="col-md-12 no-padding margin-bottom-35">
            <button class="btn btn-big btn-default pull-right by_btn_submit by-editor-submit-btn" 
                    ng-click="postContent('F')">Submit
            </button>
        </div>

        <div class="clearfix"></div>
        <div class="col-md-12 no-padding margin-top-20">
            <div class="by_contact_footerLeft">
                <div class="by_contactPhoneComm">
                    <div class="by_contactPhoneCommImg">
                        <img src="assets/img/footer/mail.png?versionTimeStamp=%PROJECT_VERSION%" alt="mail" width="100%" />
                    </div>
                    <div class="by_contactPhoneCommText"><strong>Email us:</strong> <u><a href="mailto:contactus@beautifulyears.com">ContactUs@BeautifulYears.com</a></u></div>
                    <div class="clearfix"></div>
                </div>
                <div class="by_contactPhoneComm">
                    <div class="by_contactPhoneCommImg">
                        <img src="assets/img/footer/phone_icon.png?versionTimeStamp=%PROJECT_VERSION%" alt="phone" width="100%" />
                    </div>
                    <div class="by_contactPhoneCommText">
                    <strong>Call us:</strong> <a href="tel:{{telNo}}">{{telNo}}</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="by_contactPhoneComm">
                    <div class="by_contactPhoneCommImg">
                        <img src="assets/img/footer/home.png?versionTimeStamp=%PROJECT_VERSION%" alt="home" width="100%" />
                    </div>
                    <div class="by_contactPhoneCommText"> 
                    <strong>Visit us:</strong> #48, 2nd Main, Koramangala 1st block (near Wipro park),   Bangalore - 560034
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="by_contactPhoneComm">
                    <div class="by_contactPhoneCommImg">
                        <img src="assets/img/footer/clock.png?versionTimeStamp=%PROJECT_VERSION%" alt="clock" width="100%" />
                    </div>
                    <div class="by_contactPhoneCommText">
                    <strong>Opening hours:</strong> 10:30AM - 7:30PM<br/>
                    <xyz ng-if="$root.windowWidth > 440">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp; &nbsp; Sunday: by appointment
                    </xyz>
                    <xyz ng-if="$root.windowWidth < 440">
                    Sunday: by appointment
                    </xyz>                    
                    </div>
                    <div class="clearfix"></div>
                </div>
                
            </div>
            <div class="by_contact_footerRight no-padding">
                <div class="by_contactPhoneComm" style="padding-bottom:10px;">
                    <div class="by_contactPhoneCommImg">
                        <img src="assets/img/footer/google-map.png?versionTimeStamp=%PROJECT_VERSION%" alt="google map" width="100%" />
                    </div>
                    <div class="by_contactPhoneCommText">
                    <strong><u><a href="https://goo.gl/sSu4BB" target="_blank">Google Maps</a></u></strong> 
                    </div>
                    <div class="clearfix"></div>
                </div>
                <a href="https://goo.gl/sSu4BB" target="_blank">
                    <img src="assets/img/footer/map.png?versionTimeStamp=%PROJECT_VERSION%" alt="Maps" width="100%" />
                </a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    
        var init = initialize();
        function initialize() {
            $(".by_header").removeClass("by_header_image"); 
            $(".by_header").addClass("by_headerBoder");
            $(window).scroll(function () {
                var headerHeight = $(".by_header").height();
                if ((document.body.scrollTop || document.documentElement.scrollTop || window.pageYOffset) >= headerHeight) {
                    BY.byUtil.changeHeaderImage();
                    $(".by_header").addClass("by_header_image"); 
                    $(".by_header").removeClass("by_headerBoder");
                } else {
                    BY.byUtil.changeHeaderImage();
                    $(".by_header").removeClass("by_header_image"); 
                    $(".by_header").addClass("by_headerBoder");
                }
                    
            });
        }
</script>