<div class="headerHeightNoBreadCrumb margin-bottom-0"></div>

<!--=== End Breadcrumbs ===-->

<div class="container content discussion-page breadCrumbMargin">

    <div class="row both-container by_editor_wrap" style="margin-top: 50px;">
        <div class="col-md-12 no-padding margin-bottom-35">

            <div class="col-md-6 no-padding  list-head dp-block">CONTACT US
            </div>

            <div class="col-md-12 no-padding bg-gray-h1">
                <div class="bg-green-h2" style="width: 216px;"></div>
            </div>
        </div>


        <div class="col-md-6 no-padding margin-bottom-35 register-page">
            <span ng-show="errorMsg && errorMsg.length>0" class="help-block">
                    {{errorMsg}}
                </span>
            <input type="text" class="username-textbox textbox " name="username" ng-model="username" placeholder="name">
        </div>
        <div class="col-md-6 no-padding margin-bottom-35 register-page" ng-show="!isLoggedIn">
            <input type="text" class="username-textbox textbox " name="userEmail" ng-model="userEmail" placeholder="email">
        </div>

        <div class="col-md-12 no-padding form-header-content margin-bottom-15">
            <select ng-model="subjectTitle" ng-options="value for (key, value) in subjectOptionsMap">
                <option value="">Please select your subject here</option>
            </select>
        </div>


        <div class="col-md-12 no-padding margin-bottom-35 byEditor">
            <textarea id="feedback_textArea" class="textbox about-dependent" rows="3" ng-model="editor.text"></textarea>
        </div>


        <div class="col-md-12 no-padding margin-bottom-35">
            <button class="btn btn-big btn-default pull-right by_btn_submit by-editor-submit-btn" disabled
                    ng-click="postContent('F')">submit
            </button>
        </div>
    </div>
</div>

<script type="text/javascript">
    var tinyEditor = BY.byEditor.addEditor({"editorTextArea": "feedback_textArea"});
</script>