<div class="by_footer_text" style="background:#FBFAFA;">
    <div class="container">
        <div class="row  margin-top-20">
            <div class="by_contact_footerLeft">
                <div class="by_contactPhoneComm">
                    <div class="by_contactPhoneCommImg">
                        <img src="assets/img/footer/mail.png?versionTimeStamp=%PROJECT_VERSION%" alt="mail" width="100%" />
                    </div>
                    <div class="by_contactPhoneCommText"><strong>Email us:</strong> <u><a href="mailto:contactus@beautifulyears.com">ContactUs@BeautifulYears.com</a></u></div>
                    <div class="clearfix"></div>
                </div>
                <div class="by_contactPhoneComm">
                    <div class="by_contactPhoneCommImg">
                        <img src="assets/img/footer/phone_icon.png?versionTimeStamp=%PROJECT_VERSION%" alt="phone" width="100%" />
                    </div>
                    <div class="by_contactPhoneCommText">
                    <strong>Call us:</strong> <a href="tel:{{telNo}}">{{telNo}}</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="by_contactPhoneComm">
                    <div class="by_contactPhoneCommImg">
                        <img src="assets/img/footer/home.png?versionTimeStamp=%PROJECT_VERSION%" alt="home" width="100%" />
                    </div>
                    <div class="by_contactPhoneCommText"> 
                    <strong>Visit us:</strong> #48, 2nd Main, Koramangala 1st block (near Wipro park),   Bangalore - 560034
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="by_contactPhoneComm">
                    <div class="by_contactPhoneCommImg">
                        <img src="assets/img/footer/clock.png?versionTimeStamp=%PROJECT_VERSION%" alt="clock" width="100%" />
                    </div>
                    <div class="by_contactPhoneCommText">
                    <strong>Opening hours:</strong> 10:30AM - 7:30PM<br/>
                    <xyz ng-if="$root.windowWidth > 440">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp; &nbsp; Sunday: by appointment
                    </xyz>
                    <xyz ng-if="$root.windowWidth < 440">
                    Sunday: by appointment
                    </xyz>                    
                    </div>
                    <div class="clearfix"></div>
                </div>
                
            </div>
            <div class="by_contact_footerRight no-padding">
                <div class="by_contactPhoneComm" style="padding-bottom:10px;">
                    <div class="by_contactPhoneCommImg">
                        <img src="assets/img/footer/google-map.png?versionTimeStamp=%PROJECT_VERSION%" alt="google map" width="100%" />
                    </div>
                    <div class="by_contactPhoneCommText">
                    <strong><u><a href="https://goo.gl/sSu4BB" target="_blank">Google Maps</a></u></strong> 
                    </div>
                    <div class="clearfix"></div>
                </div>
                <a href="https://goo.gl/sSu4BB" target="_blank">
                    <img src="assets/img/footer/map.png?versionTimeStamp=%PROJECT_VERSION%" alt="Maps" width="100%" />
                </a>
            </div>
        </div>
    </div>
</div>