
<div class="by_registerLogin" ng-controller="LoginController">
	
	
	<div class="by_registerLogin_left" ng-class="{'by_registerLogin_left_full': uniqueLoginId.id}">
		<form class="" name="userForm" ng-submit="createNewUser(userForm.$valid)" novalidate>
			<div class="by_registerLogin_head">Register</div>

			<div class=" col-md-12 no-padding margin-bottom-10 register-page">
				<input type="text" class="username-textbox textbox text-center"
					placeholder="User Name (optional)"
					ng-model="newUser.userName">
			</div>

			<div ng-if="createUserError">
				<span class='redColor'>{{createUserError}}</span>
			</div>



			<div ng-if="emailError!==''">
				<span class='redColor'>{{emailError}}</span>
			</div>
			<div class=" col-md-12 no-padding margin-bottom-10 register-page">
				<input type="text" class="username-textbox textbox text-center"
					placeholder="Enter your e-mail ID " ng-model="uniqueRegId.id">
			</div>


			

			<div ng-if="pwdError!==''">
				<span class='redColor'>{{pwdError}}</span>
			</div>
			<div class=" col-md-12 no-padding margin-bottom-10 register-page">
				<input type="password" class="username-textbox textbox text-center"
					placeholder="Select your password"
					ng-model="newUser.password">
			</div>
			
			<div class="col-md-12 by-register-button no-padding" style="margin-top:12px;">
				<button class="btn btn-success pull-right register-btn by_btn_submit" style="width:100%; border-radius:3px !important;">REGISTER</button>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</form>
	</div>
	<xyz ng-if="!uniqueLoginId.id || uniqueLoginId.id.trim().length === 0">
		<div class="or-divider mobileSite"></div>
		<div class="by_registerLogin_right">
			Use your social network <br/>account to register<br/>
			<div class="clearfix" style="height: 20px;"></div>
			<div class="dp-inline-block" ng-click="fbLogin()">
				<img src="assets/img/icons/fb-login.png" width="97" height="23"
					 class="post-text">
			</div>
			<div class="dp-inline-block padding-left-5" ng-click="ggLogin()">
				<img src="assets/img/icons/googleplus-login.png" width="82"
					 height="23" class="post-text">
			</div>
			<div class="clearfix" style="height: 20px;"></div>
			<span class="lock-icon"><img src="assets/img/icons/lock.png" width="8" height="11"></span>
			<span class="by_registerLogin_center2">BeautifulYears do not <br/>share your information</span>
		</div>

		<div class="or-divider desktopSite"></div>
	</xyz>

	<div class="clearfix"></div>
	<div class="by_registerLogin_divider"></div>
	<div class="by_registerLogin_center">
		Already a BeautifulYears member? <div ng-click="byLoginPage();">Login</div>
	</div>
</div>



<div class="clearfix" style="height:20px;"></div>