<div class="headerHeightNoBreadCrumb margin-bottom-0"></div>
<div >
<div class="leftPanel"  >
        <div ng-include="'app/components/announcements/announcementLeftPanel.html?versionTimeStamp=%PROJECT_VERSION%'"></div>
    </div>
<div class="contentPanel">
	<div class="clearfix" id="AnnouncementCard"></div>
	<div  ng-include="'app/components/announcements/announcementDetail.html?versionTimeStamp=%PROJECT_VERSION%'"
		 ng-controller="DiscussReplyController"></div>
	<div class="clearfix" id="AnnouncementEditor"></div>
	<div class="by_editorButtonWrap">
		<div class="col-md-12 col-xs-12 col-sm-12  by_editorButtonWrap_thumb">
			<i class="sprite sprite-story divLeft"></i>
			<span class="divLeft by_editorButtonHead">Share</span>

			<div class="clearfix"></div>
			<div class="by_editorButtonText ArticlehidePanel col-md-12" ng-click="showEditorPage('Article')">
				Type here
				<span ng-if="selectedMenu.ancestorIds.length === 0">senior care and ageing</span>
				<span ng-if="selectedMenu.ancestorIds.length > 0">{{selectedMenu.displayMenuName}}</span>
			</div>
			<div ng-if="editorPostCategories" class="ArticleshowPanel"
				 ng-include="'app/shared/editor/shareEditor.html?versionTimeStamp=%PROJECT_VERSION%'"></div>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="clearfix margin-top-20" id="AnnouncementSubmission">&nbsp;</div>
	<div ng-if="discussList && discussList.length > 0">
		<div class="blog_masonry_3col">
			<div class="grid-boxes by_discuss_listing">
				<div ng-include="'app/shared/common/template/discussGridCard.html?versionTimeStamp=%PROJECT_VERSION%'"></div>
				<div style="clear: both"></div>
			</div>
		</div>
	</div>
</div>
</div>